<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form role="form" action="/members/new" th:object="${memberForm}" method="post">
        <div class="form-group">
            <label th:for="zipcode">우편번호</label>
            <input type="text" class="form-control" placeholder="우편번호를 입력하세요" readonly onclick="findAddr()">
        </div>
        <div class="form-group">
            <label th:for="streetAdr">도로명 주소</label>
            <input type="text"class="form-control" placeholder="도로명 주소를 입력하세요" readonly>
        </div>
        <div class="form-group">
            <label th:for="detailAdr">상세주소</label>
            <input type="text"class="form-control" placeholder="상세주소를 입력하세요">
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">입력</button>
    </form>
    <br/>
</div>
</body>
<script>
    function findAddr() {
        new daum.Postcode({
            oncomplete: function(data) {

                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                if(data.userSelectedType === 'R'){
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    document.getElementById("detailAdr").value = extraAddr;
                } else {
                    document.getElementById("detailAdr").value = '';
                }
                document.getElementById('zipcode').value = data.zonecode;
                document.getElementById("streetAdr").value = addr;
                document.getElementById("detailAdr").focus();
            }
        }).open();
    }
</script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</html>