<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/manager_header :: header}">
<meta charset="UTF-8">
<title>Create Class</title>
</head>
<head>
<link th:href="@{/css/admin/class_form.css}" rel="stylesheet">
<link href="/css/datepicker.css" rel="stylesheet" tyfpe="text/css"
	media="all">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Air datepicker css -->
<script src="/js/datepicker.js"></script>
<!-- Air datepicker js -->
<script src="/js/datepicker.ko.js"></script>
<!-- 달력 한글 추가를 위해 커스텀 -->
</head>
<body>
	<!-- 서브바-->
	<div th:replace="~{/include/manager_subbar :: subbar}"></div>
	<!-- 서브바 -->

	<!-- Content Wrap -->
	<div class="home-section">

		<!-- Content Top -->
		<div class="content_top">
			<!-- Title -->
			<div class="title" th:text="${title}">title</div>
			<!-- Route -->
			<div class="route">
				<a th:href="@{/admin}">대시보드</a> > <a
					th:href="@{/admin/class/list/1}">교육과정 관리</a> > <a
					th:href="@{/admin/class/__${act}__}" th:text="${title}">title</a>
			</div>
		</div>
		<!-- Content Top -->

		<!-- Content Middle-->
		<div class="content_middle">

			<!-- 컨텐츠 내용 부분 -->
			<form th:action="@{/admin/class/__${act}__}" method="post"
				onsubmit="return insertClass(event);" enctype="multipart/form-data"
				autocomplete=off>
				<div class="class_form_content">

					<!-- 첫번째 줄 -->
					<div class="row">
						<input type="hidden" name="clssId" th:value="${classVO.clssId}">

						<div class="col">
							<div class="col_title">
								교육과정명<span th:if="${act=='insert' or act=='update'}"
									class="star">*</span>
							</div>
							<div class="col_content">
								<input style="width: 100%;" th:if="${act}=='insert'"
									class="essential_input" type="text" th:name="clssNm" required>
								<input style="width: 100%;" th:if="${act}=='update'"
									class="essential_input" type="text" th:name="clssNm"
									th:value="${classVO.clssNm}" required> <span
									style="width: 300px;" th:if="${act}=='select'"
									th:text="${classVO.clssNm}"></span>
							</div>

						</div>

						<div class="col">
							<div class="col_title">
								지원 기간<span th:if="${act=='insert' or act=='update'}"
									class="star">*</span>
							</div>
							<div class="col_content">
								<input th:if="${act}=='insert'"
									class="essential_input aply_start_dt" type="datetime-local"
									style="width: 40%;" th:name="aplyStartDt" th:value="null"
									required> <input th:if="${act}=='update'"
									class="essential_input aply_start_dt" type="datetime-local"
									style="width: 40%;" th:name="aplyStartDt"
									th:value="${classVO.aplyStartDt}" required> <span
									th:if="${act}=='select'"
									th:text="${#dates.format(classVO.aplyStartDt, 'yyyy-MM-dd HH:mm')}"></span>
								~ <input th:if="${act}=='insert'"
									class="essential_input aply_end_dt" type="datetime-local"
									style="width: 40%;" th:name="aplyEndDt" th:value="null"
									required> <input th:if="${act}=='update'"
									class="essential_input aply_end_dt" type="datetime-local"
									style="width: 40%;" th:name="aplyEndDt"
									th:value="${classVO.aplyEndDt}" required> <span
									th:if="${act}=='select'"
									th:text="${#dates.format(classVO.aplyEndDt, 'yyyy-MM-dd HH:mm')}"></span>
							</div>
						</div>

						<div class="col">
							<div class="col_title">
								교육 기간<span th:if="${act=='insert' or act=='update'}"
									class="star">*</span>
							</div>
							<div class="col_content">
								<input th:if="${act}=='insert'"
									class="essential_input clss_start_dd" id="datepicker1"
									type="text" style="width: 40%;" th:name="clssStartDd"
									th:value="null" placeholder="연도-월-일" required> <input
									th:if="${act}=='update'" class="essential_input clss_start_dd"
									id="datepicker1" type="text" style="width: 40%;"
									th:name="clssStartDd" th:value="${classVO.clssStartDd}"
									required> <span th:if="${act}=='select'"
									th:text="${classVO.clssStartDd}"></span> ~ <input
									th:if="${act}=='insert'" class="essential_input"
									id="datepicker2" type="text" style="width: 40%;"
									th:name="clssEndDd" th:value="null" placeholder="연도-월-일"
									required> <input th:if="${act}=='update'"
									class="essential_input" id="datepicker2" type="text"
									style="width: 40%;" th:name="clssEndDd"
									th:value="${classVO.clssEndDd}" required> <span
									th:if="${act}=='select'" th:text="${classVO.clssEndDd}"></span>

							</div>
						</div>
					</div>
					<!-- 첫번째 줄 -->

					<!-- 두번째 줄 -->
					<div class="row">
						<div class="col">
							<div class="col_title">
								교육 시간<span th:if="${act=='insert' or act=='update'}"
									class="star">*</span>
							</div>
							<div class="col_content">
								<input th:if="${act}=='insert'" class="essential_input"
									type="time" th:name="setInTm" th:value="null" required>
								<input th:if="${act}=='update'" class="essential_input"
									type="time" th:name="setInTm"
									th:value="${#dates.format(classVO.setInTm, 'HH:mm:ss')}"
									required> <span style="width: 300px;"
									th:if="${act}=='select'"
									th:text="${#dates.format(classVO.setInTm, 'HH:mm')}"></span> ~

								<input th:if="${act}=='insert'" class="essential_input"
									type="time" th:name="setOutTm" th:value="null" required>
								<input th:if="${act}=='update'" class="essential_input"
									type="time" th:name="setOutTm"
									th:value="${#dates.format(classVO.setOutTm, 'HH:mm:ss')}"
									required> <span style="width: 300px;"
									th:if="${act}=='select'"
									th:text="${#dates.format(classVO.setOutTm, 'HH:mm')}"></span>
							</div>
						</div>

						<div class="col">
							<div class="col_title">교육 장소</div>
							<div class="col_content" style="width: 80%;">
								<input style="width: 100%;" th:if="${act}=='insert'" type="text"
									th:name="clssAdr"> <input style="width: 100%;"
									th:if="${act}=='update'" type="text" th:name="clssAdr"
									th:value="${classVO.clssAdr}"> <span
									th:if="${act}=='select'"
									th:text="${classVO.clssAdr} ? ${classVO.clssAdr} : '미정'"></span>
							</div>
						</div>

						<div class="col">
							<div class="col_title">
								교육 상태<span th:if="${act=='insert' or act=='update'}"
									class="star">*</span>
							</div>
							<div class="col_content">
								<select th:if="${act}=='insert'" th:name="clssCd">
									<option th:each="classCommonCode: ${classCommonCodeList}"
										th:value="${classCommonCode.cmcdId}"
										th:text="${classCommonCode.cmcdNm}"></option>
								</select> <select th:if="${act}=='update'" th:name="clssCd">
									<option th:each="classCommonCode: ${classCommonCodeList}"
										th:value="${classCommonCode.cmcdId}"
										th:text="${classCommonCode.cmcdNm}"
										th:selected="${classCommonCode.cmcdId == classVO.clssCd}"></option>
								</select> <span th:if="${act}=='select'" th:text="${classVO.cmcdNm} "></span>
							</div>
						</div>


					</div>

					<!-- 세번째 줄 -->
					<div class="row">
						<div class="col">
							<div class="col_title">기업</div>
							<div class="col_content">
								<div class="col_content_wrap" th:if="${act}=='insert'">
									<input type="hidden" name="cmpyId"> <input type="text"
										readonly value='미정'>
									<button type="button" class="search_btn search_company_btn"
										onclick="showSelectCompanyPopuup(this)">
										<img th:src="@{/img/search_white.png}"> <span>조회</span>
									</button>
								</div>

								<div class="col_content_wrap" th:if="${act}=='update'">
									<input type="hidden" name="cmpyId" th:value="${classVO.cmpyId}">
									<input type="text" th:value="${classVO.cmpyNm}" readonly>
									<button type="button" class="search_btn search_company_btn"
										onclick="showSelectCompanyPopuup(this)">
										<img th:src="@{/img/search_white.png}"> <span>조회</span>
									</button>
								</div>

								<span th:if="${act}=='select'"
									th:text="${classVO.cmpyNm} ? ${classVO.cmpyNm} : '미정'"></span>
							</div>
						</div>

						<div class="col">
							<div class="col_title">인원</div>
							<div class="col_content">
								<input th:if="${act}=='insert'" type="number" th:name="limitCnt"
									th:value="0"> <input th:if="${act}=='update'"
									type="number" th:name="limitCnt" th:value="${classVO.limitCnt}">
								<a th:href="@{/admin/class/__${classVO.clssId}__/applicant}"><span
									th:if="${act}=='select'" th:text="${classVO.limitCnt}"></span></a>
							</div>

						</div>

						<div class="col">
							<div class="col_title">업무 담당자</div>
							<div class="col_content">
								<div class="col_content_wrap" th:if="${act}=='insert'">
									<input type="hidden" name="mngrId"> <input type="text"
										readonly value='미정'>
									<button type="button" class="search_btn search_company_btn"
										onclick="showSelectManagerPopuup(this)">
										<img th:src="@{/img/search_white.png}"> <span>조회</span>
									</button>
								</div>

								<div class="col_content_wrap" th:if="${act}=='update'">
									<input type="hidden" name="mngrId" th:value="${classVO.mngrId}">
									<input type="text" th:value="${classVO.mngrNm}" readonly>
									<button type="button" class="search_btn search_company_btn"
										onclick="showSelectManagerPopuup(this)">
										<img th:src="@{/img/search_white.png}"> <span>조회</span>
									</button>
								</div>

								<span th:if="${act}=='select'"
									th:text="${classVO.mngrNm} ? ${classVO.mngrNm} : '미정' "></span>
							</div>
						</div>
					</div>

					<div class="row2">
						<div class="col2" style="width: 66%;">
							<div class="col_title">교육 개요</div>
							<div class="col_content" style="width: 90%;">
								<div>
									<input th:if="${act}=='insert'" type="text"
										style="width: 100%;" th:name="clssContent"> <input
										th:if="${act}=='update'" type="text" style="width: 100%;"
										th:name="clssContent" th:value="${classVO.clssContent}">
									<span th:if="${act}=='select'" th:text="${classVO.clssContent}"></span>
								</div>
							</div>
						</div>
						<div class="col2" style="width: 34%;">
							<div class="col_title">지원금</div>
							<div class="col_content">
								<div>
									<input th:if="${act}=='insert'" class="subsidy" type="text"
										style="width: 100%;" th:name="clssSubsidy"
										placeholder="최대 99,999,999원" maxlength="10" value="0">
									<input th:if="${act}=='update'" class="subsidy" type="text"
										style="width: 100%;" th:name="clssSubsidy"
										th:value="${classVO.sSubsidy}" maxlength="10"> <span
										class="span_subsidy" th:if="${act}=='select'"
										th:text="${classVO.sSubsidy}"></span>
								</div>
							</div>
						</div>
					</div>

					<div class="row3">
						<div class="col3">
							<div class="col_title">
								강의 내용<span th:if="${act=='insert' or act=='update'}"
									class="star">*</span>
							</div>
							<div class="col_content col_lecture">
								<div>
									<div th:if="${act=='insert' or act=='update'}"
										class="content_info_btn_wrap" style="font-size: 14px;">
										<!-- 선택삭제 버튼 -->
										<div onclick="deleteSelectedRows()">
											<img th:src="@{/img/minus_white.png}"><span>선택삭제</span>
										</div>

										<!-- 추가하기 버튼 -->
										<div onclick="showSelectLecturePopup()">
											<img th:src="@{/img/plus_white.png}"><span>추가하기</span>
										</div>
									</div>
									<div>
										<table class="lecture_table">
											<thead>
												<tr class="content_list_th">
													<th style="width: 5%;"><input type="checkbox"
														name="lecture_select_all" onclick="lectureSelectAll(this)"
														class="lecture_checkbox_all"></th>
													<th style="width: 35%;">강의명</th>
													<th style="width: 20%;">과목명</th>
													<th style="width: 10%;">강사명</th>
													<th style="width: 5%;">이수시간</th>
													<th style="width: 25%;">기타사항</th>
												</tr>
											</thead>
											<tbody class="lecture_tbody">
												<!-- update시 등록된 강의 -->
												<tr th:if="${act}=='update'" class="lecture_row" th:each="lecture, iterStat : ${curriculumDetailList}">
													<td class="td_lecture_check_box"><input
														type="checkbox" name="lecture_select"
														onclick="lectureCheckSelectAll()"
														th:value="${lecture.lctrId}" class="lecture_checkbox_item">
														<input type="hidden" class="lecture_update_yn" value="N">
													</td>
													<td class="td_lecture_nm"><span class="lecture_span"
														th:text="${lecture.lctrNm}"></span></td>
													<td class="td_lecture_subject"><span
														class="lecture_span" th:text="${lecture.sbjtNm}"></span></td>
													<td class="td_lecture_professor"><span
														class="lecture_span" th:text="${lecture.profNm}"></span></td>
													<td class="td_lecture_tm"><span class="lecture_span"
														th:text="${lecture.lctrTm}"></span></td>
													<td class="td_lecture_etc"><span class="lecture_span"
														th:text="${lecture.lctrEtc}"></span></td>
												</tr>

												<!-- select시 등록된 강의 -->
												<tr th:if="${act}=='select'" class="lecture_row"
													th:each="lecture : ${curriculumDetailList}">
													<td class="td_lecture_check_box"><input
														type="checkbox" name="lecture_select"
														onclick="lectureCheckSelectAll()"
														th:value="${lecture.lctrId}" class="lecture_checkbox_item">
														<input type="hidden" class="lecture_update_yn" value="N">
													</td>
													<td class="td_lecture_nm"><span class="lecture_span"
														th:text="${lecture.lctrNm}"></span></td>
													<td class="td_lecture_subject"><span
														class="lecture_span" th:text="${lecture.sbjtNm}"></span></td>
													<td class="td_lecture_professor"><span
														class="lecture_span" th:text="${lecture.profNm}"></span></td>
													<td class="td_lecture_tm"><span class="lecture_span"
														th:text="${lecture.lctrTm}"></span></td>
													<td class="td_lecture_etc"><span class="lecture_span"
														th:text="${lecture.lctrEtc}"></span></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div>
									<!-- 총 이수시간을 저장할 숨겨진 입력 필드 -->
									<input type="hidden" id="clss_total_tm" th:name="clssTotalTm"
										th:value="${classVO.clssTotalTm}">
									<div style="font-weight: bold;">
										총 이수시간 : <span th:if="${act}=='insert'" class="class_total_tm">0</span>
										<span th:if="${act=='update' or act=='select'}"
											class="class_total_tm" th:text="${classVO.clssTotalTm}"></span>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row3">
						<div class="col3">
							<div class="col_title">첨부 파일</div>
							<div class="col_content">
								<div th:if="${act=='select'}">
									<div th:if="${classVO.fileId} == null">첨부파일 없음</div>
									<div class="file_wrap" th:each="file: ${fileList}">
										<img class="file_img" th:src="@{/img/file.png}"> <a
											th:href="@{/download/file/__${file.fileId}__/__${file.fileSubId}__}"
											th:text="${file.fileNm}"></a>
									</div>
								</div>

								<div th:if="${act=='update' or act=='insert'}">
									<button class="add_file" onclick="addFile(this)" type="button">
										<img class="add_file_img" th:src="@{/img/plus_navy.png}">
										파일추가
									</button>
									<input type="hidden" class="upload_file_cnt"
										th:value="${#lists.size(fileList)}">
									<div>
										<div th:each="file: ${fileList}" class="file_wrap">
											<input type="hidden" th:value="${file.fileSubId}"> <img
												class="file_img" th:src="@{/img/file.png}"> <span
												th:text="${file.fileNm}"></span>
											<button class="delete_file" type="button"
												onclick="deleteFile(this)">삭제</button>
										</div>
									</div>
									<input type="file" name="files">
								</div>
							</div>
						</div>
						<div class="col3">
							<div class="col_title">기타</div>
							<div class="col_content" style="width: 90%; height: 100%;">
								<div style="width: 100%; height: 100%;">
									<input th:if="${act}=='insert'" type="text" th:name="clssEtc"
										style="width: 100%; height: 100%;"> <input
										th:if="${act}=='update'" type="text" th:name="clssEtc"
										style="width: 100%; height: 100%;"
										th:value="${classVO.clssEtc}"> <span
										th:if="${act}=='select'" th:text="${classVO.clssEtc}"></span>
								</div>
							</div>
						</div>
					</div>
				</div>


				<!-- create / update일 때 -->
				<div th:if="${act=='insert' or act=='update'}"
					style="display: flex; justify-content: center;">
					<button class="cancel_btn" type="button"
						th:onclick="'location.href=\'' + @{/admin/class/list/1} + '\''">취소</button>
					<input class="submit_btn" type="submit" value="저장">
				</div>
				<!-- select일 때 -->
				<div th:if="${act}=='select'"
					style="display: flex; justify-content: center;">
					<div class="delete_btn" onclick="deleteClass()">삭제</div>
					<div class="submit_btn"
						th:onclick="'location.href=\'' + @{/admin/class/update/__${classVO.clssId}__} + '\''">수정</div>
					<div class="submit_btn"
						th:onclick="'location.href=\'' + @{/admin/class/list/1} + '\''">목록</div>
				</div>
			</form>
		</div>
		<!-- Content Middle-->
	</div>
	<!-- Content Wrap -->
	<script>
		//추가된 파일 개수
		var fileCnt = Number(document.querySelector(".upload_file_cnt").value);

		aplyEndDt = '';

		//지원시작날짜 설정 시 지원마감날짜 min추가
		$('.aply_start_dt').on("change", function() {
			$('.aply_end_dt').prop("min", $('.aply_start_dt').val());
		});

		//지원마감날짜 설정 시 교육시작날짜에 min 추가
		$('.aply_end_dt').on("change", function() {
			console.log("변경");
			console.log($('.aply_end_dt').val());
			aplyEndDt = new Date($('.aply_end_dt').val().split('T')[0]);
			console.log(aplyEndDt);
			datePickerSet($("#datepicker1"), $("#datepicker2"), true);
		});

		//달력생성기
		datePickerSet($("#datepicker1"), $("#datepicker2"), true); //다중은 시작하는 달력 먼저, 끝달력 2번째
		function datePickerSet(sDate, eDate, flag) {

			//시작 ~ 종료 2개 짜리 달력 datepicker	
			if (!isValidStr(sDate) && !isValidStr(eDate) && sDate.length > 0
					&& eDate.length > 0) {
				var sDay = sDate.val();
				var eDay = eDate.val();

				if (flag && !isValidStr(sDay) && !isValidStr(eDay)) { //처음 입력 날짜 설정, update...			
					var sdp = sDate.datepicker().data("datepicker");
					sdp.selectDate(new Date(sDay.replace(/-/g, "/"))); //익스에서는 그냥 new Date하면 -을 인식못함 replace필요

					var edp = eDate.datepicker().data("datepicker");
					edp.selectDate(new Date(eDay.replace(/-/g, "/"))); //익스에서는 그냥 new Date하면 -을 인식못함 replace필요
				}

				//시작일자 세팅하기 날짜가 없는경우엔 제한을 걸지 않음
				if (!isValidStr(eDay)) {
					sDate.datepicker({
						maxDate : new Date(eDay.replace(/-/g, "/"))
					});
				}
				sDate.datepicker({
					minDate : new Date(aplyEndDt), // 최소 날짜 설정
					language : 'ko',
					autoClose : true,
					onSelect : function() {
						datePickerSet(sDate, eDate);
					}
				});

				//종료일자 세팅하기 날짜가 없는경우엔 제한을 걸지 않음
				if (!isValidStr(sDay)) {
					eDate.datepicker({
						minDate : new Date(sDay.replace(/-/g, "/"))
					});
				}

				eDate.datepicker({
					language : 'ko',
					autoClose : true,
					onSelect : function() {
						datePickerSet(sDate, eDate);
					}
				});

			}

			function isValidStr(str) {
				if (str == null || str == undefined || str == "")
					return true;
				else
					return false;
			}
		}

		//금액 입력 시 , 추가
		const input = document.querySelector('.subsidy');
		input.addEventListener('keyup', function(e) {
			let value = e.target.value;
			value = Number(value.replaceAll(',', ''));
			if (isNaN(value)) {
				input.value = 0;
			} else {
				const formatValue = value.toLocaleString('ko-KR');
				input.value = formatValue;
			}
		});
		
		//강의 전체선택
		function lectureSelectAll(selectAll){
			//모든 체크박스들
			const checkboxes = document.querySelectorAll('input[name="lecture_select"]');
			checkboxes.forEach((checkbox) => {
				checkbox.checked = selectAll.checked;
			});
		}
		
		//강의 개별 선택
		function lectureCheckSelectAll(){
			//전체선택 체크박스
			const selectAll = document.querySelector('input[name="lecture_select_all"]');
			//모든 체크박스
			const checkboxes = document.querySelectorAll('input[name="lecture_select"]');
			//선택된 체크박스
			const checked = document.querySelectorAll('input[name="lecture_select"]:checked');
			
			if(checkboxes.length == checked.length){
				selectAll.checked = true;
			}else{
				selectAll.checked = false;
			}
		}

		//선택삭제 버튼 이벤트
		function deleteSelectedRows() {
			var selectedRows = document
					.querySelectorAll('.lecture_row input[type="checkbox"]:checked');

			// 선택된 행 삭제
			selectedRows.forEach(function(checkbox) {
				var row = checkbox.closest('tr'); // checkbox가 속한 가장 가까운 <tr> 태그 찾기
				row.remove(); // 해당 <tr> 태그 삭제
			});

			//한 row안에 input hidden 애들만 가져와서 더하기
			var lctrTmInputList = document
					.querySelectorAll('.lecture_row input[type="hidden"]');
			var clssTotalTm = 0; // 초기값 설정

			lctrTmInputList.forEach(function(lctrTmInput) {
				var lctrTmValue = parseInt(lctrTmInput.value); // 문자열을 정수로 변환
				clssTotalTm += lctrTmValue;
			});

			console.log('총 이수시간: ' + clssTotalTm);

			$(".class_total_tm").text(clssTotalTm);
			//clss_total_tm값 변경하면서 input의 value값 변경
			$("#clss_total_tm").val(clssTotalTm);
		}

		//update일 때 '파일추가'버튼 클릭하면 파일 추가하기
		function addFile(button){
			console.log(fileCnt);
			if(fileCnt < 4){
				var divParent = button.closest('div');
				var inputFile = document.createElement('input');
				inputFile.type = 'file';
				inputFile.name = 'files';
				divParent.appendChild(inputFile);
				fileCnt =  fileCnt + 1;
			}else{
				alert("파일은 최대 5개까지만 등록 가능합니다.");
			}
			
		}
		
		//update일 때 파일 '삭제'버튼 클릭하면 input type="hidden"에 name 추가
		function deleteFile(button) {
			var divParent = button.closest('div');
			var inputHidden = divParent.querySelector('input');
			inputHidden.name = 'deleteFiles';
			console.log(inputHidden.value);
			divParent.style.display = 'none';
			fileCnt = fileCnt - 1;
		}

		//삭제하기
		function deleteClass() {
			var classId = document.querySelector("#clssId").value;
			
			if(!confirm("삭제하시겠습니까?")){
				//아니오
			}else{
				$.ajax({
					url : "/admin/class/delete/" + classId, // 컨트롤러 엔드포인트
					type : "POST",
					success : function(response) {
						alert("삭제되었습니다.");
						location.href = "/admin/class/list";
					},
					error : {}
				});
			}
		}

		//제출 전 확인
		function insertClass(event) {
			var trLecture = document.querySelectorAll(".lecture_tbody tr");
			
			if (trLecture.length < 1) {
				//강의 개수 불충분
				event.preventDefault();
				alert("강의를 최소 1개 선택해주세요.");
				return false;
			} else {
				alert("강의가 저장되었습니다.")
				return true;
			}
		}

		//기업 선택하기
		function showSelectCompanyPopuup(button) {
			var divParent = button.closest('div');

			// 팝업 창을 열기
			var popup = window.open("/admin/class/select/company", "기업 선택",
					"width=500, height=800, left=800, top=300");
			window.addEventListener("message", function(event) {
				if (event.data && event.data.event) {
					if (event.data.event === 'companySelected') {

						var cmpyId = event.data.cmpyId;
						var cmpyNm = event.data.cmpyNm;

						// 업무담당자 선택 팝업에서의 처리
						if (cmpyNm === '미정') {
							cmpyId = '';
						}
						
						var hiddenInput = divParent
								.querySelector("input[type='hidden']");
						var textInput = divParent
								.querySelector("input[type='text']");

						hiddenInput.value = cmpyId;
						textInput.value = cmpyNm;

					}
				}
			});
		}

		//업무담당자 선택하기
		function showSelectManagerPopuup(button) {
			var divParent = button.closest('div');

			// 팝업 창을 열기
			var popup = window.open("/admin/class/select/manager", "업무담당자 선택",
					"width=500, height=800, left=800, top=300");

			window.addEventListener("message", function(event) {
				if (event.data && event.data.event) {
					if (event.data.event === 'managerSelected') {
						var mngrId = event.data.mngrId;
						var mngrNm = event.data.mngrNm;

						// 업무담당자 선택 팝업에서의 처리
						if (mngrNm === '미정') {
							mngrId = '';
						}

						var hiddenInput = divParent
								.querySelector("input[type='hidden']");
						var textInput = divParent
								.querySelector("input[type='text']");

						hiddenInput.value = mngrId;
						textInput.value = mngrNm;
					}
				}
			});
		}

		var lectureCnt = 0;
		//강의 선택하기
		function showSelectLecturePopup() {
			if (lectureCnt > 4) {
				//강의 5개 모두 채움
				alert("강의는 최대 5개까지만 가능합니다.");
			}else{
				//강의 개수 0~5개
				var popup = window.open("/admin/class/select/lecture", "강의 선택",
				"width=800, height=720, left=800, top=300");
		
				lectureCnt += 1;
			}
		}
		
		window.addEventListener("message", function(event) {
			if (event.data && event.data.event) {
				if (event.data.event === 'lectureSelected') {
					//선택한 강의의 데이터
					var lctrId = event.data.lctrId;
					var lctrNm = event.data.lctrNm;
					var sbjtNm = event.data.sbjtNm;
					var profNm = event.data.profNm;
					var lctrTm = event.data.lctrTm;
					var lctrEtc = event.data.lctrEtc;

					//tr한 줄 추가하기
					var tbody = document.querySelector(".lecture_tbody");
					
					var tr = '';
					tr=document.createElement('tr');
					
					//checkbox
					var tdCheckbox = document.createElement('td');
					var hiddenCheckbox = document.createElement('input');
					hiddenCheckbox.type="hidden";
					hiddenCheckbox.name = "lctrId";
					hiddenCheckbox.value = lctrId;
					var inputCheckbox = document.createElement('input');
					inputCheckbox.type="checkbox";
					inputCheckbox.name="lecture_select";
					inputCheckbox.onclick = function(){
						lectureCheckSelectAll();
					}
					inputCheckbox.value = lctrId;
					inputCheckbox.className = "lecture_checkbox_item";
					tdCheckbox.appendChild(hiddenCheckbox);
					tdCheckbox.appendChild(inputCheckbox);
					tr.appendChild(tdCheckbox);
					
					//lctrNm
					var tdLctrNm = document.createElement('td');
					tdLctrNm.className ='td_lecture_nm';
					var spanLctrNm = document.createElement('span');
					spanLctrNm.className ='lecture_span';
					spanLctrNm.textContent = lctrNm;
					tdLctrNm.appendChild(spanLctrNm);
					tr.appendChild(tdLctrNm);
					
					//sbjtNm
					var tdSbjtNm = document.createElement('td');
					tdSbjtNm.className = 'td_lecture_subject';
					var spanSbjtNm = document.createElement('span');
					spanSbjtNm.className = 'lecture_span';
					spanSbjtNm.textContent = sbjtNm;
					tdSbjtNm.appendChild(spanSbjtNm);
					tr.appendChild(tdSbjtNm);
					
					//profNm
					var tdProfNm = document.createElement('td');
					tdProfNm.className = 'td_lecture_professor';
					var spanProfNm = document.createElement('span');
					spanProfNm.className = 'lecture_span';
					spanProfNm.textContent = profNm;
					tdProfNm.appendChild(spanProfNm);
					tr.appendChild(tdProfNm);
					
					//lctrTm
					var tdLctrTm = document.createElement('td');
					tdLctrTm.className = 'td_lecture_tm';
					var spanLctrTm = document.createElement('span');
					spanLctrTm.className ='lecture_span';
					spanLctrTm.textContent = lctrTm;
					tdLctrTm.appendChild(spanLctrTm);
					tr.appendChild(tdLctrTm);
					
					//lctrEtc
					var tdLctrEtc = document.createElement('td');
					tdLctrEtc.className = 'td_lecture_etc';
					var spanLctrEtc = document.createElement('span');
					spanLctrEtc.className = 'lecture_span';
					spanLctrEtc.textContent = lctrEtc;
					tdLctrEtc.appendChild(spanLctrEtc);
					tr.appendChild(tdLctrEtc);
					
					tbody.appendChild(tr);
					
					//총 이수시간 계산
					var spanTotalTm = document.querySelector(".class_total_tm");
					var hiddenTotalTm = document.querySelector("#clss_total_tm");
					var totalTm = spanTotalTm.innerHTML;
					
					var afterTotalTm = Number(totalTm)+Number(lctrTm);
					spanTotalTm.textContent = afterTotalTm;
					hiddenTotalTm.value = afterTotalTm;
				}
			}
		});
	</script>
</body>
</html>