<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/manager_header :: header}">
<meta charset="UTF-8">
<title>Manager Class List</title>
</head>
<head>
<link th:href="@{/css/admin/class_list.css}" rel="stylesheet">
<link href="/css/datepicker.css" rel="stylesheet" type="text/css"
	media="all">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Air datepicker css -->
<script src="/js/datepicker.js"></script>
<!-- Air datepicker js -->
<script src="/js/datepicker.ko.js"></script>
<!-- 달력 한글 추가를 위해 커스텀 -->
<script>
		$(document).ready(function(){
			//교육과정명 검색
			$('#class_name').on('input', function() {
                var searchTerm = $(this).val();
                if (searchTerm.length >= 1) {
                    $.ajax({
                        url: '/admin/class/autocomplete', // 서버의 엔드포인트 URL
                        method: 'GET',
                        data: { term: searchTerm },
                        success: function(response) {
                            $('#search_option').html(response);
                        }
                    });
                } else {
                    $('#search_option').empty();
                }
			});
		});
</script>
</head>
<body>
	<!-- 서브바-->
	<div th:replace="~{/include/manager_subbar :: subbar}"></div>
	<!-- 서브바 -->

	<!-- Content Wrap -->
	<div class="home-section">

		<!-- Content Top -->
		<div class="content_top">
			<!-- Title -->
			<div class="title">교육과정 관리</div>
			<!-- Route -->
			<div class="route">
				<a th:href="@{/admin}">대시보드</a> > <a
					th:href="@{/admin/class/list/1}">교육과정 관리</a>
			</div>
		</div>
		<!-- Content Top -->

		<!-- Content Middle-->
		<div class="content_middle">
			<!-- Search Filter wrap -->
			<div class="search_filter_wrap">
				<!-- 교육과정명 -->
				<div class="filter_box">
					<div class="filter_box_title">교육과정명</div>
					<div>
						<input class="search_input" id="class_name" placeholder="교육과정명"
							value="" type="text" list="search_option" required>
						<datalist id="search_option">
						</datalist>
					</div>
				</div>

				<!-- 교육과정상태 -->
				<div class="filter_box">
					<div class="filter_box_title">상태</div>
					<div>
						<select id="class_status" class="search_select_input">
							<option value="all" th:text="전체">전체</option>
							<option th:each="classCommonCode: ${classCommonCodeList}"
								th:value="${classCommonCode.cmcdId}"
								th:text="${classCommonCode.cmcdNm}"></option>
						</select>
					</div>
				</div>

				<!-- 지원기간 -->
				<div class="filter_box">
					<div class="filter_box_title">지원기간</div>
					<div>
						<input id="aply_start_dt" class="search_input" type="text"
							placeholder="연도-월-일" style="width: 100px;"> <span>
							~ </span> <input id="aply_end_dt" class="search_input" type="text"
							placeholder="연도-월-일" style="width: 100px;">
					</div>
				</div>

				<!-- 교육기간 -->
				<div class="filter_box">
					<div class="filter_box_title">교육기간</div>
					<div>
						<input id="class_start_dd" class="search_input" type="text"
							placeholder="연도-월-일" style="width: 100px;"> <span>
							~ </span> <input id="class_end_dd" class="search_input" type="text"
							placeholder="연도-월-일" style="width: 100px;">
					</div>
				</div>

				<!-- 기업명 -->
				<div class="filter_box">
					<div class="filter_box_title">기업</div>
					<div>
						<select id="company" class="search_select_input">
							<option value="all" th:text="전체">전체</option>
							<option th:each="company: ${companyList}"
								th:value="${company.cmpyId}" th:text="${company.cmpyNm}"></option>
						</select>
					</div>
				</div>
			</div>
			<!-- Search Filter wrap -->

			<!-- Search Button wrap -->
			<div class="search_filter_btn_wrap">
				<button type="button" class="search_reset_btn"
					onclick="resetInput()">
					<img th:src="@{/img/reset_white.png}"> <span>초기화</span>
				</button>
				<button type="button" id="search_btn" class="search_filter_btn">
					<img th:src="@{/img/search_white.png}"> <span>조회</span>
				</button>
			</div>
			<!-- Search Button wrap -->
		</div>
		<!-- Content Middle-->

		<!-- Content Bottom-->
		<div class="content_bottom">
			<form th:action="@{/admin/cls/delete}" method="post"
				onsubmit="return beforeSubmit();">
				<!-- 컨텐츠 개수와 버튼 wrap -->
				<div class="content_info_wrap">
					<div class="content_info">
						<span>총 <span class="class_list_cnt" th:text="${classCnt}">classListCnt</span>
							건
						</span>
					</div>
					<div class="content_info_btn_wrap">
						<!-- 엑셀 다운로드 버튼 -->
						<button type="button" id="excel_btn"
							onclick="location.href='/excel/admin/class'">
							<img th:src="@{/img/excel.png}"><span>엑셀</span>
						</button>

						<!-- 선택삭제 버튼 -->
						<button type="submit">
							<img th:src="@{/img/minus_white.png}"><span>선택삭제</span>
						</button>

						<!-- 등록하기 버튼 -->
						<button type="button"
							onclick="location.href='/admin/class/insert' ">
							<img th:src="@{/img/plus_white.png}"><span>등록하기</span>
						</button>
					</div>
				</div>
				<!-- 컨텐츠 개수와 버튼 wrap -->

				<!-- 컨텐츠 리스트 부분 -->
				<div class="content_list">
					<table class="content_list_table" id="class_list_table">
						<thead>
							<tr class="content_list_th">
								<th style="width: 2%;"><input style="width: 30px;"
									onclick="selectAll(this)" type="checkbox" id="chkAll"
									name="select_all"></th>
								<th style="width: 2%;">순번</th>
								<th style="width: 5%;">ID</th>
								<th style="width: 19%;">교육과정명</th>
								<th style="width: 5%;">기업</th>
								<th style="width: 5%;">교육상태</th>
								<th style="width: 5%;">수강 인원</th>
								<th style="width: 5%;">지원 인원</th>
								<th style="width: 15%;">지원기간</th>
								<th style="width: 10%;">교육기간</th>
								<th style="width: 5%;">교육시간</th>
								<th style="width: 12%;">교육장소</th>
								<th style="width: 5%;">업무담당자</th>
								<th style="width: 8%;">지원금(&#8361;)</th>
							</tr>
						</thead>
						<tbody id="class_list_tbody">
							<tr id="class_list" th:each="class, iterStat:${classList}">
								<td class="class_check"><input type="checkbox"
									name="select" onclick="checkSelectAll()"
									th:value="${class.clssId}"></td>
								<td class="class_num" th:text="${class.rowNum}"></td>
								<td class="class_id" th:text="${class.clssId}"></td>
								<td><a class="class_name" th:text="${class.clssNm}"
									th:href="@{/admin/class/view/__${class.clssId}__}"></a></td>
								<td th:text="${class.cmpyNm} ? ${class.cmpyNm} : '-'"></td>
								<td class="class_status" th:text="${class.cmcdNm}">status</td>
								<td class="limit_cnt"><a
									th:href="@{/admin/class/__${class.clssId}__/registant}"
									th:text="${class.limitCnt}"></a></td>
								<td class="limit_cnt"><a
									th:href="@{/admin/class/__${class.clssId}__/applicant}"><span
										th:text="${class.aplyCnt}"></span></a></td>
								<td class="aply_dt"
									th:text="|${#dates.format(class.aplyStartDt, 'yyyy-MM-dd HH:mm')} ~ 
							${#dates.format(class.aplyEndDt, 'yyyy-MM-dd HH:mm')}|"></td>
								<td class="class_dt"
									th:text="|${class.clssStartDd} ~ ${class.clssEndDd}|"></td>
								<td class="set_tm"
									th:text="|${#dates.format(class.setInTm,'HH:mm')} ~ ${#dates.format(class.setOutTm,  'HH:mm')}|"></td>
								<td th:text="${class.clssAdr} ? ${class.clssAdr} : '-'">class
									address</td>

								<td class="manager_name"
									th:text="${class.mngrNm} ? ${class.mngrNm} :'-'"></td>
								<td class="class_subsidy"
									th:text="${#numbers.formatDecimal(class.clssSubsidy,3,'COMMA',0,'POINT')}"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- 컨텐츠 리스트 부분 -->
			</form>
		</div>
		<!-- Content Bottom-->

		<!-- Paging -->
		<nav class="page_nav" aria-label="Page navigation">
			<ul class="pagination">
				<li th:if="${nowPageBlock>1}"><a
					th:href="@{/admin/class/list/__${startPage-1}__}"
					aria-label="Previous">이전</a></li>

				<li th:each="i: ${#numbers.sequence(startPage, endPage)}"
					th:classappend="${i==nowPage}?active"><a
					th:href="@{/admin/class/list/__${i}__}">[[${i}]]</a></li>

				<li th:if="${nowPageBlock<totalPageBlock}"><a
					th:href="@{/admin/class/list/__${endPage+1}__}" aria-label="Next">다음</a></li>
			</ul>
		</nav>
		<!-- Paging -->
	</div>

	<script>
	//전체선택
	function selectAll(selectAll){
		//모든 체크박스들
		const checkboxes = document.querySelectorAll('input[name="select"]');
		checkboxes.forEach((checkbox) => {
			checkbox.checked = selectAll.checked;
		});
	}
	
	//개별 선택
	function checkSelectAll(){
		//전체선택 체크박스
		const selectAll = document.querySelector('input[name="select_all"]');
		//모든 체크박스
		const checkboxes = document.querySelectorAll('input[name="select"]');
		//선택된 체크박스
		const checked = document.querySelectorAll('input[name="select"]:checked');
		
		if(checkboxes.length == checked.length){
			selectAll.checked = true;
		}else{
			selectAll.checked = false;
		}
	}
		
		//form submit버튼 클릭시 선택한 값이 있는지 확인
		function beforeSubmit(){
			//checked되어 있는 input들 선택
	        const checkboxes = document.querySelectorAll('input[type="checkbox"][name="select"]:checked');
	        
	    	//만약 아무것도 선택되어있지 않다면
	        if (checkboxes.length === 0) {
	            alert("삭제할 강의를 선택해주세요.");
	            event.preventDefault();//submit취소
	        }else{
	        	if(!confirm("삭제하시겠습니까?")){
	        		return false;
	        	}else{
	        		alert("선택한 강의가 삭제되었습니다.");
	        	}
	        }
		}
		
		//날짜 형식
		function formatTimestamp(timestamp) {

			const date = new Date(timestamp);

			const year = date.getFullYear();
			const month = String(date.getMonth() + 1).padStart(2, '0');
			const day = String(date.getDate()).padStart(2, '0');
			const hours = String(date.getHours()).padStart(2, '0');
			const minutes = String(date.getMinutes()).padStart(2, '0');
			const seconds = String(date.getSeconds()).padStart(2, '0');
			const milliseconds = date.getMilliseconds();

			formattedTimestamp = `${year}-${month}-${day} ${hours}:${minutes}`;

			return formattedTimestamp;
		}
		
		//시간 형식
		function formatTm(timestamp){
			const date = new Date(timestamp);
			const year = date.getFullYear();
			const month = String(date.getMonth() + 1).padStart(2, '0');
			const day = String(date.getDate()).padStart(2, '0');
			const hours = String(date.getHours()).padStart(2, '0');
			const minutes = String(date.getMinutes()).padStart(2, '0');
			const seconds = String(date.getSeconds()).padStart(2, '0');
			const milliseconds = date.getMilliseconds();

			formattedTimestamp = `${hours}:${minutes}`;

			return formattedTimestamp;
		}
		
		//검색 클릭 이벤트
		const searchBtn = document.querySelector("#search_btn");
		searchBtn.addEventListener("click", () => {
			//교육과정명
			var clssNm = document.querySelector("#class_name").value;
						
			//교육과정 상태ID
			var clssCd = document.querySelector("#class_status").value;
			
			//교육과정 지원 시작
			var aplyStartDt = document.querySelector("#aply_start_dt").value;
			
			//교육과정 지원 마감
			var aplyEndDt = document.querySelector("#aply_end_dt").value;
			
			//교육과정 시작일
			var clssStartDd = document.querySelector("#class_start_dd").value;
			
			//교육과정 종료일
			var clssEndDd = document.querySelector("#class_end_dd").value;

			//기업ID
			var cmpyId = document.querySelector("#company").value;
			$.ajax({
				url: '/admin/class/search',
				async: true,
				method: 'GET',
				data: {
					clssNm: clssNm, 
					clssCd: clssCd,
					aplyStartDt: aplyStartDt,
					aplyEndDt: aplyEndDt,
					clssStartDd: clssStartDd,
					clssEndDd: clssEndDd,
					cmpyId: cmpyId
				},
				success: function(response) {
					var classListTbody = document.querySelector("#class_list_tbody");
					$("#class_list_tbody").empty();
					
					//총 개수 update
					var classListCnt = document.querySelector(".class_list_cnt");
					classListCnt.textContent = response.length;
					
					//리스트 초기화
					excelClassList = response;
					
					for(var i = 0; i < response.length; i++){
						var clss = response[i];
						
						var tr = document.createElement("tr");
						tr.id='class_list';
										
						//체크박스
                 		var tdCheck =  document.createElement("td");
	                    tdCheck.className="class_check";
	                    var inputCheck = document.createElement("input");
	                    inputCheck.type="checkbox";
	                    inputCheck.name="select";
	                    inputCheck.value=clss.clssId;
	                    inputCheck.onclick=function(){
	                    	checkSelectAll();
	                    }
	                    tdCheck.appendChild(inputCheck);
	                    tr.appendChild(tdCheck);
	                    
	                    //순번
	                    var tdNum = document.createElement("td");
	                    tdNum.className =" class_num";
	          			tdNum.textContent = response.length-i;
	          			tr.appendChild(tdNum);
	                       
	          			//clssId
	          			var tdClssId = document.createElement("td");
	          			tdClssId.className = "class_id";
	          			tdClssId.textContent = clss.clssId;
	          			tr.appendChild(tdClssId);
	          			
	          			//교육과정명
	          			var tdClssNm = document.createElement("td");
	          			var aClssNm = document.createElement("a");
	          			aClssNm.className="class_name";
	          			aClssNm.textContent = clss.clssNm;
	          			aClssNm.href='/admin/class/view/'+clss.clssId;
	          			tdClssNm.appendChild(aClssNm);
	          			tr.appendChild(tdClssNm);
	          			
	          			//업체명
	          			var tdCmpyNm = document.createElement("td");
	          			if(clss.cmpyNm === null){
	          				tdCmpyNm.textContent = '-';
	          			}else {
	          				tdCmpyNm.textContent = clss.cmpyNm;
	          			}
	          			tr.appendChild(tdCmpyNm);
	          			
	          			//교육상태
	          			var tdStatus = document.createElement("td");
	          			tdStatus.className="class_status";
	          			tdStatus.textContent = clss.cmcdNm;
	          			if(clss.cmcdNm == '접수중' || clss.cmcdNm == '교육중'){
	          				tdStatus.classList.add('blue');	
	          			}else if(clss.cmcdNm == '접수마감' || clss.cmcdNm == '교육완료'){
	          				tdStatus.classList.add('red');
	          			}
	          			
	          			tr.appendChild(tdStatus);
	          			
	          			//수강 인원
	          			var tdLimitCnt = document.createElement("td");
	          			tdLimitCnt.className="limit_cnt";
	          			var aLimitCnt = document.createElement("a");
	          			aLimitCnt.href = '/admin/class/'+clss.clssId+'/registant';
	          			aLimitCnt.textContent = clss.limitCnt;
	          			tdLimitCnt.appendChild(aLimitCnt);
	          			tr.appendChild(tdLimitCnt);
	          			
	          			//지원한 인원
	          			var tdLimitCnt = document.createElement("td");
	          			tdLimitCnt.className="limit_cnt";
	          			var aLimitCnt = document.createElement("a");
	          			aLimitCnt.href = '/admin/class/'+clss.clssId+'/applicant';
	          			aLimitCnt.textContent = clss.aplyCnt;
	          			tdLimitCnt.appendChild(aLimitCnt);
	          			tr.appendChild(tdLimitCnt);
	          			
	          			
	          			//지원기간
	          			var tdAplyDt = document.createElement("td");
	          			tdAplyDt.className ="aply_dt";
	          			tdAplyDt.textContent = formatTimestamp(clss.aplyStartDt)+' ~ '+formatTimestamp(clss.aplyEndDt);
	          			tr.appendChild(tdAplyDt);
	          			
	          			//교육기간
	          			var tdClassDd = document.createElement("td");
	          			tdClassDd.className="class_dt";
	          			tdClassDd.textContent = clss.clssStartDd+' ~ '+clss.clssEndDd;
	          			tr.appendChild(tdClassDd);
	          			
	          			//교육시간
	          			var tdSetTm = document.createElement("td");
	          			tdSetTm.className="set_tm";
	          			tdSetTm.textContent = formatTm(clss.setInTm)+' ~ '+formatTm(clss.setOutTm);
	          			tr.appendChild(tdSetTm);
	          			
	          			//교육장소
	          			var tdAdr = document.createElement("td");
	          			if(clss.clssAdr === null){
	          				tdAdr.textContent = '-';
	          			}else{
	          				tdAdr.textContent = clss.clssAdr;
	          			}
	          			tr.appendChild(tdAdr);
	          			
	          			
	          			
	          			//업무담당자
	          			var tdMngrNm = document.createElement("td");
	          			tdMngrNm.className="manager_name";
	          			if(clss.mngrNm=== null){
	          				tdMngrNm.textContent = '-';
	          			}else{
	          				tdMngrNm.textContent = clss.mngrNm;
	          			}
	          			tr.appendChild(tdMngrNm);
	          			
	          			//지원금
						var options = {
								  minimumFractionDigits: 0, // 소수점 이하 최소 3자리까지 표시
								  useGrouping: true, // 천 단위 구분 기호 사용 (COMMA)
								};
						var formatter = new Intl.NumberFormat('en-US', options);
						
						var tdSubsidy = document.createElement('td');
						tdSubsidy.className = 'class_subsidy';
						tdSubsidy.textContent = formatter.format(clss.clssSubsidy).replace(/,/g, ',');
						tr.appendChild(tdSubsidy);

	                    classListTbody.appendChild(tr);
	                }
                },
				error: function(error){
					console.log("error: ", error);
				}
			});
		});
		
		//초기화 버튼
		function resetInput() {
			// 모든 요소를 선택
		    const inputElements = document.querySelectorAll(".search_input");

		    // 각 요소의 값을 초기화
		    inputElements.forEach(function(element) {
		        element.value = "";
		    });
		    
		    const inputSelectElement = document.querySelectorAll(".search_select_input");
		    inputSelectElement.forEach((select)=> select.value="all");
        }
		
		
		/*
		 * 달력 생성기
		 * @param sDate 파라미터만 넣으면 1개짜리 달력 생성
		 * @example   datePickerSet($("#datepicker"));
		 * @param sDate, 
		 * @param eDate 2개 넣으면 연결달력 생성되어 서로의 날짜를 넘어가지 않음
		 * @example   datePickerSet($("#datepicker1"), $("#datepicker2"));
		 */
		//시작일과 종료일 input 요소
		var aplyStartDateInput = $("#aply_start_dt");
		 var aplyEndDateInput = $("#aply_end_dt");
		
		 var classStartDateInput = $("#class_start_dd");
		 var classEndDateInput = $("#class_end_dd");
		 
		 // datepicker 설정
		 datePickerSet(aplyStartDateInput, aplyEndDateInput, true);
		 datePickerSet(classStartDateInput, classEndDateInput, true);
		 datePickerSet(aplyEndDateInput, classStartDateInput, true);

		function datePickerSet(sDate, eDate, flag) {

			//시작 ~ 종료 2개 짜리 달력 datepicker	
			if (!isValidStr(sDate) && !isValidStr(eDate) && sDate.length > 0
					&& eDate.length > 0) {
				var sDay = sDate.val();
				var eDay = eDate.val();

				if (flag && !isValidStr(sDay) && !isValidStr(eDay)) { //처음 입력 날짜 설정, update...			
					var sdp = sDate.datepicker().data("datepicker");
					sdp.selectDate(new Date(sDay.replace(/-/g, "/"))); //익스에서는 그냥 new Date하면 -을 인식못함 replace필요

					var edp = eDate.datepicker().data("datepicker");
					edp.selectDate(new Date(eDay.replace(/-/g, "/"))); //익스에서는 그냥 new Date하면 -을 인식못함 replace필요
				}

				//시작일자 세팅하기 날짜가 없는경우엔 제한을 걸지 않음
				if (!isValidStr(eDay)) {
					sDate.datepicker({
						maxDate : new Date(eDay.replace(/-/g, "/"))
					});
				}
				sDate.datepicker({
					language : 'ko',
					autoClose : true,
					onSelect : function() {
						datePickerSet(sDate, eDate);
					}
				});

				//종료일자 세팅하기 날짜가 없는경우엔 제한을 걸지 않음
				if (!isValidStr(sDay)) {
					eDate.datepicker({
						minDate : new Date(sDay.replace(/-/g, "/"))
					});
				}
				eDate.datepicker({
					language : 'ko',
					autoClose : true,
					onSelect : function() {
						datePickerSet(sDate, eDate);
					}
				});

				//한개짜리 달력 datepicker
			} else if (!isValidStr(sDate)) {
				var sDay = sDate.val();
				if (flag && !isValidStr(sDay)) { //처음 입력 날짜 설정, update...			
					var sdp = sDate.datepicker().data("datepicker");
					sdp.selectDate(new Date(sDay.replace(/-/g, "/"))); //익스에서는 그냥 new Date하면 -을 인식못함 replace필요
				}

				sDate.datepicker({
					language : 'ko',
					autoClose : true
				});
			}

			function isValidStr(str) {
				if (str == null || str == undefined || str == "")
					return true;
				else
					return false;
			}
		}
		
		//상태에 따라 다른 색상
		var statusNms = document.querySelectorAll('.class_status');
		statusNms.forEach((statusNm) => {
	  	if (statusNm.textContent === '접수중' || statusNm.textContent === '교육중') {
	  		statusNm.classList.add('blue');
	  	}else if(statusNm.textContent === '접수마감' || statusNm.textContent === '교육완료'){
	  		statusNm.classList.add('red');
	  	}
		});
	</script>
</body>
</html>