<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/manager_header :: header}">
<meta charset="UTF-8">
<title>기업 관리</title>
</head>
<head>
<link th:href="@{/css/admin/commoncode_list.css}" rel="stylesheet">
</head>
<body>
	<!-- 서브바-->
	<div th:replace="~{/include/manager_subbar :: subbar}"></div>
	<!-- 서브바 -->

	<!-- Content Wrap -->
	<div class="home-section">

		<!-- Content Top -->
		<div class="content_top">
			<!-- Title -->
			<div class="title">기준정보 관리</div>
			<!-- Route -->
			<div class="route">
				<a th:href="@{/admin}">대시보드</a> > <a
					th:href="@{/admin/commoncode/list}">기준정보 관리</a>
			</div>
		</div>
		<!-- Content Top -->

		<!-- Content Middle-->
		<div class="content_middle">
			<!-- left section -->
			<div class="left_section">
				<!-- 그룹코드 관리 -->
				<div class="lecture_wrap" style="height: 100%;">

					<!-- 총 개수 및 버튼-->
					<div class="content_info_wrap">
						<div>
							공통코드 총 <span class="cnt" th:text="${#lists.size(groupCodeList)}"></span>
							건
						</div>
						<div class="content_info_btn_wrap">
							<button id="group_delete_btn">
								<img th:src="@{/img/minus_white.png}">선택삭제
							</button>
							
							<button id="group_update_btn" onclick="enterGroupEditMode()">
								<img th:src="@{/img/update_white.png}">
								<span>수정하기</span>
							</button>
							
							<button id="group_cancel_btn" onclick="cancelGroupEditMode()" style="display:none;">
								<img th:src="@{/img/x_white.png}">
								<span>수정취소</span>
							</button>
							
							<button id="group_save_btn" style="display:none;">
								<img th:src="@{/img/save_white.png}">
								<span>저장하기</span>
							</button>
						</div>
					</div>
					<!-- 총 개수 및 버튼-->

					<!-- 그룹코드 등록하기 -->
					<div class="insert_lecture insert" style="padding: 5px;">
						<div>
							<span>코드구분<span class="red">*</span></span> <input type="text" class="group_code_tpcd_id"
								placeholder="ex)NTC" maxlength="3"> <span>코드구분명<span class="red">*</span></span> <input
								type="text" class="group_code_cmcd_nm" placeholder="ex)ㅇㅇㅇㅇ상태">
						</div>
						<div>
							<button class="insert_btn" type="button"
								onclick="insertGroupCode()">등록하기</button>
						</div>
					</div>
					<!-- 그룹코드 등록하기 -->

					<!-- 리스트 -->
					<div class="table_wrap"
						style="height: 80%; border: 1px solid #CFDEE6;">
						<table>
							<thead>
								<tr class="content_list_th">
									<th style="width: 5%;"><input type="checkbox" onclick="groupSelectAll(this)"
										id="groupChkAll" name="group_select_all" class="lecture_checkbox_all"></th>
									<th style="width: 10%;">번호</th>
									<th style="width: 25%;">공통코드ID</th>
									<th style="width: 25%;">코드구분</th>
									<th style="width: 25%;">코드구분명</th>
									<th style="width: 10%;">사용여부</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="groupCode,iterStat : ${groupCodeList}">
									<td class="td_group_check_box"><input type="checkbox" onclick="groupCheckSelectAll()"
										class="group_chk" name="group_select"
										th:value="${groupCode.cmcdId}">
										<input type="hidden" class="group_update_yn" value="N">	
									</td>
									<td class="td_num" th:text="${iterStat.index + 1}"></td>
									<td class="td_cmcd_id"><div onclick="detailCodeList(this)"
											class="group_code_id" th:text="${groupCode.cmcdId}"></div></td>
									<td class="td_tpcd_id">
										<div class="group_div" th:text="${groupCode.tpcdId}"></div>
										<input class="group_input group_tpcd_id" type="text" th:value="${groupCode.tpcdId}" style="display: none;">
									</td>
									<td class="td_cmcd_nm">
										<div class="group_div" th:text="${groupCode.cmcdNm}"></div>
										<input class="group_input group_cmcd_nm" type="text" th:value="${groupCode.cmcdNm}" style="display: none;">
									</td>
									<td class="td_use_yn" >
										<div class="group_div" th:text="${groupCode.useYn}"></div>
										<select class="group_input group_use_yn" style="display:none;">
											<option value="Y" th:selected="${groupCode.useYn == 'Y'}">Y</option>
											<option value="N" th:selected="${groupCode.useYn == 'N'}">N</option>
										</select>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- 리스트 -->
				</div>
				<!-- 그룹코드 관리 -->
			</div>
			<!-- left section -->

			<!-- right section -->
			<div class="right_section">
				<!-- 상세코드 관리 -->
				<div class="lecture_wrap" style="height: 100%;">

					<!-- 총 개수 및 버튼-->
					<div class="content_info_wrap">
						<div>
							상세코드 총 <span class="detailCodeCnt"
								th:text="${#lists.size(detailCodeList)}">0</span> 건
						</div>
						<div class="content_info_btn_wrap">
							<button type="button" id="detail_delete_btn" style="display:none;"> 
								<img th:src="@{/img/minus_white.png}">선택삭제
							</button>
							
							<button id="detail_update_btn" onclick="enterDetailEditMode()" style="display:none;">
								<img th:src="@{/img/update_white.png}">
								<span>수정하기</span>
							</button>
							
							<button id="detail_cancel_btn" onclick ="cancelDetailEditMode()" style="display:none;">
								<img th:src="@{/img/x_white.png}">
								<span>수정취소</span>
							</button>
							
							<button id="detail_save_btn" style="display:none;">
								<img th:src="@{/img/save_white.png}">
								<span>저장하기</span>
							</button>
						</div>
					</div>
					<!-- 총 개수 및 버튼-->

					<!-- 상세코드 등록하기 -->
					<div class="insert_lecture insert" style="padding: 5px;">
						<div>
							<span>공통코드<span class="red">*</span></span> <select id="group_code_select">
								<option value="all">선택</option>
								<option th:each="groupCode: ${groupCodeList}"
									th:value="${groupCode.cmcdId}" th:text="${groupCode.cmcdNm}"></option>
							</select> <span>상세코드명<span class="red">*</span></span> <input class="detailCmcdNm" type="text"
								placeholder="상세코드명">
						</div>
						<div>
							<button class="insert_btn" type="button"
								onclick="insertdetailCode()">등록하기</button>
						</div>
					</div>
					<!-- 상세코드 등록하기 -->

					<!-- 리스트 -->
					<div class="table_wrap"
						style="height: 80%; border: 1px solid #CFDEE6;">

						<div>
							<div class="error_div"
								th:if="${#lists.size(detailCodeList) == 0}">조회 결과가 없습니다.</div>
							<table style="display: none; width: 100%;"
								class="detail_code_table">
								<thead>
									<tr class="content_list_th">
										<th style="width: 10%;"><input type="checkbox" name="detail_select_all" onclick="detailSelectAll(this)"
											id="detailChkAll"></th>
										<th style="width: 10%;">번호</th>
										<th style="width: 30%;">상세코드ID</th>
										<th style="width: 30%;">상세코드명</th>
										<th style="width: 10%;">우선순위</th>
										<th style="width: 10%;">사용여부</th>
									</tr>
								</thead>
								<tbody>

								</tbody>
							</table>
						</div>
					</div>
					<!-- 리스트 -->
				</div>
				<!-- 상세코드 관리 -->
			</div>
			<!-- right section -->
		</div>
		<!-- Content Middle-->
	</div>

	<script>
	/*
	*전체 선택 및 개별 선택
	*/
	//그룹코드 전체선택
	function groupSelectAll(selectAll){
		//모든 체크박스들
		const checkboxes = document.querySelectorAll('input[name="group_select"]');
		checkboxes.forEach((checkbox) => {
			checkbox.checked = selectAll.checked;
		});
	}
	
	//그룹코드 개별 선택
	function groupCheckSelectAll(){
		//전체선택 체크박스
		const selectAll = document.querySelector('input[name="group_select_all"]');
		//모든 체크박스
		const checkboxes = document.querySelectorAll('input[name="group_select"]');
		//선택된 체크박스
		const checked = document.querySelectorAll('input[name="group_select"]:checked');
		
		if(checkboxes.length == checked.length){
			selectAll.checked = true;
		}else{
			selectAll.checked = false;
		}
	}
	
	//상세코드 전체선택
	function detailSelectAll(selectAll){
		//모든 체크박스들
		const checkboxes = document.querySelectorAll('input[name="detail_select"]');
		checkboxes.forEach((checkbox) => {
			checkbox.checked = selectAll.checked;
		});
	}
	
	//상세코드 개별 선택
	function detailCheckSelectAll(){
		//전체선택 체크박스
		const selectAll = document.querySelector('input[name="detail_select_all"]');
		//모든 체크박스
		const checkboxes = document.querySelectorAll('input[name="detail_select"]');
		//선택된 체크박스
		const checked = document.querySelectorAll('input[name="detail_select"]:checked');
		
		if(checkboxes.length == checked.length){
			selectAll.checked = true;
		}else{
			selectAll.checked = false;
		}
	}

	/*
	* 선택삭제 이벤트
	*/
		//그룹코드 선택삭제
		document
				.querySelector("#group_delete_btn")
				.addEventListener(
						"click",
						function() {
							console.log("dmd");
							var selectedGroupCodeIds = [];

							// 선택된 체크박스를 모두 선택합니다.
							var selectedCheckboxes = document
									.querySelectorAll(".group_chk:checked");

							// 선택된 체크박스의 값을 배열에 추가합니다.
							selectedCheckboxes.forEach(function(checkbox) {
								selectedGroupCodeIds.push(checkbox.value);
							});

							console.log(selectedGroupCodeIds);
							// Ajax 요청에서 selectedLectureIds를 배열로 전송합니다.
							$
									.ajax({
										url : '/admin/commoncode/delete/groupcode',
										method : 'POST',
										data : {
											selectedGroupCodeIds : selectedGroupCodeIds
										},
										success : function(response) {
											console.log(response);
											if (response == "success") {
												alert("선택한 그룹코드가 미사용으로 설정되었습니다.");
												window.location.href = "/admin/commoncode/list";
											} else {
												alert("삭제할 그룹코드를 선택해주세요.");
											}
										}
									});
						});
		
		//상세코드 선택삭제
		document.querySelector("#detail_delete_btn").addEventListener(
				"click",
				function() {
					var selectedDetailCodeIds = [];

					// 선택된 체크박스를 모두 선택합니다.
					var selectedCheckboxes = document
							.querySelectorAll(".detail_chk:checked");

					// 선택된 체크박스의 값을 배열에 추가합니다.
					selectedCheckboxes.forEach(function(checkbox) {
						selectedDetailCodeIds.push(checkbox.value);
					});

					console.log(selectedDetailCodeIds);
					// Ajax 요청에서 selectedLectureIds를 배열로 전송합니다.
					$.ajax({
						url : '/admin/commoncode/delete/detailcode',
						method : 'POST',
						data : {
							selectedDetailCodeIds : selectedDetailCodeIds
						},
						success : function(response) {
							console.log(response);
							if (response == "fail") {
								alert("삭제할 그룹코드를 선택해주세요.");
							} else {
								alert("선택한 상세코드가 미사용으로 설정되었습니다.");
								selectDetailCodeList(response);
							}
						}
					});
				});

		
		/*
		*그룹코드 및 상세코드 등록
		*/
		//그룹코드 등록
		function insertGroupCode() {
			//그룹코드 tpcdId
			var tpcdId = document.querySelector(".group_code_tpcd_id").value;
			//그룹코드 cmcdNm
			var cmcdNm = document.querySelector(".group_code_cmcd_nm").value;

			$.ajax({
				url : '/admin/commoncode/insert/groupcode',
				method : 'POST',
				data : {
					tpcdId : tpcdId,
					cmcdNm : cmcdNm
				},
				success : function(response) {
					console.log(response);
					if (response == "success") {
						alert("그룹코드가 생성되었습니다.");
						window.location.href = "/admin/commoncode/list";
					} else {
						alert("코드 구분명이 중복됩니다.");
					}
				}
			});

		}
		//상세코드 등록
		function insertdetailCode() {
			//그룹코드 cmcdId값
			var cmcdIdSelect = document.getElementById("group_code_select")
			var cmcdId = cmcdIdSelect.value;
			//상세코드명
			var cmcdNmInput = document.querySelector(".detailCmcdNm");
			var cmcdNm = cmcdNmInput.value;

			console.log(cmcdId);

			$.ajax({
				url : '/admin/commoncode/insert/detailcode',
				method : 'POST',
				data : {
					cmcdId : cmcdId,
					cmcdNm : cmcdNm
				},
				success : function(response) {
					console.log(response);
					if (response == "fail") {
						alert("상세코드가 이미 존재합니다.");
					} else {
						alert("상세코드가 추가되었습니다.");
						selectDetailCodeList(response);

						cmcdIdSelect.value = "all";
						cmcdNmInput.value = "";

					}
				}
			});
		}
		
		
		/*
		*그룹코드에 맞는 상세코드 리스트 뿌리기
		*/
		
		//cmcdId값에 맞는 상세코드 가져오기
		function selectDetailCodeList(cmcdId) {
			//버튼 보이게 하기
			const deleteBtn = document.querySelector('#detail_delete_btn');
	        const updateBtn = document.querySelector('#detail_update_btn');
	        const cancelBtn = document.querySelector('#detail_cancel_btn');
	        const saveBtn = document.querySelector('#detail_save_btn');

	        //버튼 display 수정
	        deleteBtn.style.display = 'flex';
	        updateBtn.style.display = 'flex';
	        cancelBtn.style.display = 'none';
	        saveBtn.style.display = 'none';
			
			
			
			//해당 id값에 맞는 상세코드 가져와서 뿌리기
			$
					.ajax({
						url : '/admin/commoncode/view/' + cmcdId,
						method : 'GET',
						data : {
							cmcdId : cmcdId
						},
						success : function(response) {
							var detailCodeList = response.detailCodeList;

							//결과 없음 페이지
							var errorDiv = document.querySelector(".error_div");

							//table선택
							var table = document
									.querySelector(".detail_code_table");

							if (detailCodeList.length > 0) {
								var cnt = document
										.querySelector(".detailCodeCnt");
								cnt.textContent = detailCodeList.length;

								//table아래의 <tbody> 요소를 선택
								var tbody = table.querySelector("tbody");

								//모든 <tr> 요소 제거
								tbody.innerHTML = "";

								// detailCodeList를 순회하며 <tr> 요소를 생성하여 추가
								for (var i = 0; i < detailCodeList.length; i++) {
									var detailCode = detailCodeList[i];

									// <tr> 요소 생성
									var tr = document.createElement("tr");

									// <td> 요소 생성 및 추가 (이 부분을 detailCode 객체의 필드에 따라 조정)
									var td1 = document.createElement("td");
									td1.className = "td_detail_check_box";
									td1.innerHTML = '<input type="checkbox" name="detail_select" onclick ="detailCheckSelectAll()" class="detail_chk" value="' + detailCode.cmcdId + '">'+
													'<input type="hidden" class="detail_update_yn" value="N">';

									var tdNum = document.createElement("td");
									tdNum.className="td_num";
									tdNum.innerHTML = i + 1;

									var td2 = document.createElement("td");
									td2.className = 'td_cmcd_id';
									td2.innerHTML = detailCode.cmcdId;

									var td3 = document.createElement("td");
									td3.innerHTML = '<div class="detail_div">'
											+ detailCode.cmcdNm
											+ '</div><input class="detail_input detail_cmcd_nm" type="text" value="' + detailCode.cmcdNm + '" style="display: none;">';

									var td4 = document.createElement("td");
									td4.className = "td_order";
									td4.innerHTML = '<div class="detail_div">'
											+ detailCode.cmcdOrder
											+ '</div><input class="detail_input detail_cmcd_order" type="number" value="' + detailCode.cmcdOrder + '" style="display: none;">';

									var td5 = document.createElement("td");
									td5.className = "td_use_yn";
									td5.innerHTML = '<div class="detail_div">'
											+ detailCode.useYn + '</div>';

									// <select> 요소 생성
									var select = document
											.createElement("select");
									select.className = "detail_input detail_use_yn";
									select.style.display = "none";

									// "Y" 옵션 추가
									var optionY = document
											.createElement("option");
									optionY.value = "Y";
									optionY.text = "Y";
									if (detailCode.useYn === "Y") {
										optionY.selected = true;
									}
									select.appendChild(optionY);

									// "N" 옵션 추가
									var optionN = document
											.createElement("option");
									optionN.value = "N";
									optionN.text = "N";
									if (detailCode.useYn === "N") {
										optionN.selected = true;
									}
									select.appendChild(optionN);

									td5.appendChild(select);

									// <tr> 요소에 <td> 요소들 추가
									tr.appendChild(td1);
									tr.appendChild(tdNum);
									tr.appendChild(td2);
									tr.appendChild(td3);
									tr.appendChild(td4);
									tr.appendChild(td5);

									// <tr> 요소를 <tbody>에 추가
									tbody.appendChild(tr);

									errorDiv.style.display = "none";
									//테이블 보이게
									table.style.display = "table";
								}
							} else {
								var cnt = document
										.querySelector(".detailCodeCnt");
								cnt.textContent = 0;

								table.style.display = "none";
								errorDiv.style.display = "block";
							}
							
							
							
							//상세코드 input에 수정 발생시 해당 tr update_yn = Y로 변경
							var detailInputs = document.querySelectorAll('.detail_input');
							detailInputs.forEach(function(detailInput) {
							    // onchange 이벤트를 추가합니다.
							    detailInput.addEventListener("change", function() {
							    	const parentTr = detailInput.closest('tr');
							    	var updateYnInput = parentTr.querySelector(".td_detail_check_box .detail_update_yn");
							    	updateYnInput.value = "Y";
							    });
							});
						}
					});
		}

		//그룹코드 클릭 => 상세코드 리스트 보기
		function detailCodeList(div) {
			var cmcdId = div.textContent;
			console.log(cmcdId);

			selectDetailCodeList(cmcdId);
		}
		// <select> 요소에 onchange 이벤트 핸들러를 할당
		document.getElementById("group_code_select").onchange = function handleSelectChange() {
			var cmcdId = document.getElementById("group_code_select").value;
			// 선택한 옵션의 값에 대한 처리를 여기에 추가하세요.
			console.log("선택한 값:", cmcdId);
			// 여기에서 필요한 동작을 수행하세요.

			selectDetailCodeList(cmcdId);
		};
		
		/*
		*수정하기 버튼 클릭시 수정모드로 전환
		*/
		//그룹코드 수정 버튼
		function enterGroupEditMode() {
			const deleteBtn = document.querySelector('#group_delete_btn');
	        const updateBtn = document.querySelector('#group_update_btn');
	        const cancelBtn = document.querySelector('#group_cancel_btn');
	        const saveBtn = document.querySelector('#group_save_btn');

	        //버튼 display 수정
	        deleteBtn.style.display = 'none';
	        updateBtn.style.display = 'none';
	        cancelBtn.style.display = 'flex';
	        saveBtn.style.display = 'flex';
	        
	      	//본래의 div 숨기기
	        const detailDivs = document.querySelectorAll('.group_div');
	        detailDivs.forEach((detailDiv)=>{
	        	detailDiv.style.display = 'none';
	        });
	        
	        //editInput 보이게 하기
	        const detailInputs = document.querySelectorAll('.group_input');
	        detailInputs.forEach((detailInput)=>{
	        	detailInput.style.display = 'block';
	        });
		}
		

		//상세코드 수정 버튼
		function enterDetailEditMode() {
			const deleteBtn = document.querySelector('#detail_delete_btn');
	        const updateBtn = document.querySelector('#detail_update_btn');
	        const cancelBtn = document.querySelector('#detail_cancel_btn');
	        const saveBtn = document.querySelector('#detail_save_btn');

	        //버튼 display 수정
	        deleteBtn.style.display = 'none';
	        updateBtn.style.display = 'none';
	        cancelBtn.style.display = 'flex';
	        saveBtn.style.display = 'flex';
	        
	      	//본래의 div 숨기기
	        const detailDivs = document.querySelectorAll('.detail_div');
	        detailDivs.forEach((detailDiv)=>{
	        	detailDiv.style.display = 'none';
	        });
	        
	        //editInput 보이게 하기
	        const detailInputs = document.querySelectorAll('.detail_input');
	        detailInputs.forEach((detailInput)=>{
	        	detailInput.style.display = 'block';
	        });
		}
		
		
		/*
		*수정취소 버튼 클릭시 수정모드 취소
		*/
		//그룹코드 수정하기 취소
		function cancelGroupEditMode(){
			const deleteBtn = document.querySelector('#group_delete_btn');
	        const updateBtn = document.querySelector('#group_update_btn');
	        const cancelBtn = document.querySelector('#group_cancel_btn');
	        const saveBtn = document.querySelector('#group_save_btn');

	        //버튼 display 수정
	        deleteBtn.style.display = 'flex';
	        updateBtn.style.display = 'flex';
	        cancelBtn.style.display = 'none';
	        saveBtn.style.display = 'none';
	        
	      	//본래의 div 보이기
	        const detailDivs = document.querySelectorAll('.group_div');
	        detailDivs.forEach((detailDiv)=>{
	        	detailDiv.style.display = 'block';
	        });
	        
	        //editInput 숨기기
	        const detailInputs = document.querySelectorAll('.group_input');
	        detailInputs.forEach((detailInput)=>{
	        	detailInput.style.display = 'none';
	        });
		}
		
		
		//상세코드 수정하기 취소
		function cancelDetailEditMode(){
			const deleteBtn = document.querySelector('#detail_delete_btn');
	        const updateBtn = document.querySelector('#detail_update_btn');
	        const cancelBtn = document.querySelector('#detail_cancel_btn');
	        const saveBtn = document.querySelector('#detail_save_btn');

	        //버튼 display 수정
	        deleteBtn.style.display = 'flex';
	        updateBtn.style.display = 'flex';
	        cancelBtn.style.display = 'none';
	        saveBtn.style.display = 'none';
	        
	      	//본래의 div 나타내기
	        const detailDivs = document.querySelectorAll('.detail_div');
	        detailDivs.forEach((detailDiv)=>{
	        	detailDiv.style.display = 'block';
	        });
	        
	        //editInput 숨기기
	        const detailInputs = document.querySelectorAll('.detail_input');
	        detailInputs.forEach((detailInput)=>{
	        	detailInput.style.display = 'none';
	        });
		}
		
	/*
	*수정모드에서 값 변경시 update_yn=Y로 변경하기
	*/
	//그룹코드 input에 수정 발생시 해당 tr update_yn = Y로 변경
	var groupInputs = document.querySelectorAll('.group_input');
	groupInputs.forEach(function(groupInput) {
	    // onchange 이벤트를 추가합니다.
	    groupInput.addEventListener("change", function() {
	    	const parentTr = groupInput.closest('tr');
	    	var updateYnInput = parentTr.querySelector(".td_group_check_box .group_update_yn");
	    	updateYnInput.value = "Y";
	    });
	});
	
	//상세코드 input에 수정 발생시 해당 tr update_yn = Y로 변경
	var detailInputs = document.querySelectorAll('.detail_input');
	detailInputs.forEach(function(detailInput) {
	    // onchange 이벤트를 추가합니다.
	    detailInput.addEventListener("change", function() {
	    	console.log("바뀜요");
	    	const parentTr = detailInput.closest('tr');
	    	var updateYnInput = parentTr.querySelector(".td_detail_check_box .detail_update_yn");
	    	updateYnInput.value = "Y";
	    });
	});
	
	/*
	*	저장하기 이벤트
	*/
	//그룹코드 저장하기 버튼 클릭
	
	</script>
</body>
</html>