<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/manager_header :: header}">
<meta charset="UTF-8">
</head>
<head>
<link th:href="@{/css/admin/inquiry_list.css}" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
	<!-- 서브바-->
	<div th:replace="~{/include/manager_subbar :: subbar}"></div>
	<!-- 서브바 -->

	<!-- Content Wrap -->
	<div class="home-section">

		<!-- Content Top -->
		<div class="content_top">
			<!-- Title -->
			<div class="title">문의사항 관리</div>
			<!-- Route -->
			<div class="route">
				<a th:href="@{/admin}">대시보드</a> > <a
					th:href="@{/admin/inquiry/list}">문의사항 관리</a>
			</div>
		</div>
		<!-- Content Top -->

		<!-- Content Middle-->
		<div class="content_middle">
			<!-- Search Filter wrap -->
			<div class="search_filter_wrap">
				<!-- 문의사항 명 -->
				<div class="filter_box">
					<div class="filter_box_title">
						<select class="search_input_category">
							<option th:value="post_title" th:text="제목"></option>
							<option th:value="post_content" th:text="내용"></option>
						</select>
					</div>
					<div>
						<input class="search_input" type="text" id="search_input" value="">
					</div>
				</div>

				<!-- 문의사항 상태 -->
				<div class="filter_box">
					<div class="filter_box_title">답변상태</div>
					<div>
						<select class="search_input_status">
							<option value="all" th:text="전체">전체</option>
							<option th:each="classCommonCode: ${classCommonCodeList}"
								th:value="${classCommonCode.cmcdId}"
								th:text="${classCommonCode.cmcdNm}"></option>

						</select>
					</div>
				</div>
			</div>
			<!-- Search Filter wrap -->

			<!-- Search Button wrap -->
			<div class="search_filter_btn_wrap">
				<button type="button" class="reset_btn" onclick="resetInput()">
					<img th:src="@{/img/reset_white.png}"> <span>초기화</span>
				</button>
				<button type="button" class="search_btn" onclick="search()">
					<img th:src="@{/img/search_white.png}"> <span>조회</span>
				</button>
			</div>
			<!-- Search Button wrap -->
		</div>
		<!-- Content Middle-->

		<!-- Content Bottom-->
		<div class="content_bottom">
			<!-- 컨텐츠 개수와 버튼 wrap -->
			<div class="content_info_wrap">
				<div class="content_info">
					<span>총 <span class="inquiry_list_cnt"
						th:text="${#lists.size(inquiryList)}"></span> 건
					</span>
				</div>
				<div class="content_info_btn_wrap">
					<!-- 엑셀 다운로드 버튼 -->
					<button type="button" id="excel_btn" onclick="location.href='/excel/admin/inquiry'">
						<img th:src="@{/img/excel.png}"><span>엑셀 다운로드</span>
					</button>
				
					<!-- 선택삭제 버튼 -->
					<button type="button" id="delete_btn">
						<img th:src="@{/img/minus_white.png}"><span>선택삭제</span>
					</button>
				</div>
			</div>
			<!-- 컨텐츠 개수와 버튼 wrap -->

			<!-- 컨텐츠 리스트 부분 -->
			<div class="content_list">
				<table class="content_list_table" id="class_list_table">
					<thead>
						<tr class="content_list_th">
							<th style="width: 3%;"><input type="checkbox"
								name="select_all" onclick="selectAll(this)"></th>
							<th style="width: 5%;">번호</th>
							<th style="width: 62%;">제목</th>
							<th style="width: 5%;">첨부파일</th>
							<th style="width: 5%;">작성자</th>
							<th style="width: 10%;">등록일시</th>
							<th style="width: 5%;">조회수</th>
							<th style="width: 5%;">답변상태</th>
						</tr>
					</thead>
					<tbody>
						<tr class="content_list_td"
							th:each="inquiry, iterStat: ${inquiryList}">
							<td class="inquiry_check"><input class="input_check"
								type="checkbox" name="select" onclick="checkSelectAll()"
								th:value="${inquiry.postId}"></td>
							<td class="inquiry_num" th:text="${#lists.size(inquiryList)-iterStat.index}"></td>
							<td><a class="inquiry_title"
								th:href="@{/admin/inquiry/view/__${inquiry.postId}__}"
								th:text="${inquiry.postTitle}"></a></td>
							<td class="inquiry_file"><img
								th:if="${inquiry.fileId!=null}" class="file_img"
								th:src="@{/img/file.png}"></td>
							<td class="rgster_nm"><span
								th:if="${inquiry.mngrNm == null}" th:text="${inquiry.stdtNm}"></span>
								<span th:if="${inquiry.stdtNm == null}"
								th:text="${inquiry.mngrNm}"></span></td>
							<td class="rgst_dd" th:text="${#dates.format(inquiry.rgstDt, 'yyyy-MM-dd')}"></td>
							<td class="inquiry_hit" th:text="${inquiry.postHit}"></td>
							<td class="inquiry_status" th:text="${inquiry.cmcdNm}"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- 컨텐츠 리스트 부분 -->
		</div>
		<!-- Content Bottom-->
	</div>
	<script>
	//전체선택
	function selectAll(selectAll){
		//모든 체크박스들
		const checkboxes = document.querySelectorAll('input[name="select"]');
		checkboxes.forEach((checkbox) => {
			checkbox.checked = selectAll.checked;
		});
	}
	
	//개별 선택
	function checkSelectAll(){
		//전체선택 체크박스
		const selectAll = document.querySelector('input[name="select_all"]');
		//모든 체크박스
		const checkboxes = document.querySelectorAll('input[name="select"]');
		//선택된 체크박스
		const checked = document.querySelectorAll('input[name="select"]:checked');
		
		if(checkboxes.length == checked.length){
			selectAll.checked = true;
		}else{
			selectAll.checked = false;
		}
	}

		//선택삭제
		document.querySelector("#delete_btn").addEventListener(
				"click",
				function() {
					var selectedInquiryIds = [];

					// 선택된 체크박스를 모두 선택합니다.
					var selectedCheckboxes = document
							.querySelectorAll(".input_check:checked");

					// 선택된 체크박스의 값을 배열에 추가합니다.
					selectedCheckboxes.forEach(function(checkbox) {
						selectedInquiryIds.push(checkbox.value);
					});
					
					//만약 아무것도 선택되어있지 않다면
			        if (selectedCheckboxes.length === 0) {
			            alert("삭제할 문의를 선택해주세요.");
			            
			        }else{
			        	console.log(selectedInquiryIds);
						// Ajax 요청에서 selectedLectureIds를 배열로 전송합니다.
						$.ajax({
							url : '/admin/inquiry/delete',
							method : 'POST',
							data : {
								selectedInquiryIds : selectedInquiryIds
							},
							success : function(response) {
								console.log(response);
								if (response == "success") {
									alert("선택한 문의가 삭제되었습니다.");
									window.location.href = "/admin/inquiry/list";
								}
							}
						});
			        }
				});

		//초기화 버튼
		function resetInput() {
			// 모든 요소를 선택
			const inputElement1 = document
					.querySelector(".search_input_category");
			inputElement1.value = "post_title";

			// 모든 요소를 선택
			const inputElement2 = document.querySelector(".search_input");
			inputElement2.value = "";

			// 모든 요소를 선택
			const inputElement3 = document
					.querySelector(".search_input_status");
			inputElement3.value = "all";
		}

		//조회 버튼
		function search() {
			//input값 비어있으면 모두 입력하라고 알리기
			var searchInput = document.querySelector("#search_input").value;
			if (searchInput.value === null) {
				alert("모든 요소를 입력하세요.");
			} else {
				var searchInputCategory = document
						.querySelector(".search_input_category").value;
				var searchInputStatus = document
						.querySelector(".search_input_status").value;

				console.log(searchInput + searchInputCategory
						+ searchInputStatus);

				var postStatusList = [];
				if (searchInputStatus == "all") {
					postStatusList.push('PST0000003');
					postStatusList.push('PST0000004');
					console.log(postStatusList);
				} else {
					postStatusList.push(searchInputStatus);
					console.log(postStatusList);
				}

				$
						.ajax({
							url : '/admin/inquiry/search',
							method : 'POST',
							data : {
								searchInputCategory : searchInputCategory,
								searchInput : searchInput,
								postStatusList : postStatusList
							},
							success : function(response) {
								console.log("성공");
								var inquiryList = response.inquiryList;
								
								//건수 초기화
								var cnt = document.querySelector(".inquiry_list_cnt");
								cnt.innerHTML = inquiryList.length;

								// tbody 요소 찾기
								var tbody = document.querySelector("tbody");

								// tbody 내용 지우기
								while (tbody.firstChild) {
									tbody.removeChild(tbody.firstChild);
								}

								// inquiryList를 이용하여 새로운 tr 요소 추가
								for (var i = 0; i < inquiryList.length; i++) {
									var inquiry = inquiryList[i];

									//tr 생성
									var tr = document.createElement("tr");
									tr.className = "content_list_td";

									// td 요소 추가 및 값 설정

									//input type="check"
									var tdCheck = document.createElement("td");
									tdCheck.className = "inquiry_check";
									var inputCheck = document
											.createElement("input");
									inputCheck.className = "input_check";
									inputCheck.type = "checkbox";
									inputCheck.name = "select";
									inputCheck.value = inquiry.postId;
									tdCheck.appendChild(inputCheck);
									tr.appendChild(tdCheck);

									//num
									var tdNum = document.createElement("td");
									tdNum.className = "inquiry_num";
									tdNum.textContent = inquiryList.length - i;
									tr.appendChild(tdNum);

									//inquiryTitle
									var tdPostTitle = document
											.createElement("td");
									var aPostTitle = document
											.createElement("a");
									aPostTitle.className = "inquiry_title";
									aPostTitle.href = "/admin/inquiry/view/"
											+ inquiry.postId;
									aPostTitle.textContent = inquiry.postTitle;
									tdPostTitle.appendChild(aPostTitle);
									tr.appendChild(tdPostTitle);

									//file
									var tdFile = document.createElement("td");
									tdFile.className = "inquiry_file";
									if (inquiry.fileId != null) {
										var fileImg = document
												.createElement("img");
										fileImg.className = "file_img";
										fileImg.src = "/img/file.png";
										tdFile.appendChild(fileImg);
									}
									tr.appendChild(tdFile);

									//rgster_nm
									var tdRgster = document.createElement("td");
									tdRgster.className="rgster_nm";
									if(inquiry.mngrNm == null){
										tdRgster.textContent=inquiry.stdtNm;
									} else {
										tdRgster.textContent=inquiry.mngrNm;
									}
									tr.appendChild(tdRgster);

									//rgstDt
									var tdRgstDt = document.createElement("td");
									tdRgstDt.className = "rgst_dd";
									tdRgstDt.textContent = formatTimestamp(inquiry.rgstDt);
									tr.appendChild(tdRgstDt);

									//hits
									var tdHit = document.createElement("td");
									tdHit.className="inquiry_hit";
									tdHit.textContent = inquiry.postHit;
									tr.appendChild(tdHit);

									//status
									var tdStatus = document.createElement("td");
									tdStatus.className ="inquiry_status";
									tdStatus.textContent = inquiry.cmcdNm;
									
									if(inquiry.cmcdNm =='답변대기'){
										tdStatus.classList.add('blue');
									}
									tr.appendChild(tdStatus);

									tbody.appendChild(tr);
								}
							}
						});

			}
		}

		//날짜 형식
		function formatTimestamp(timestamp) {
			const date = new Date(timestamp);

			const year = date.getFullYear();
			const month = String(date.getMonth() + 1).padStart(2, '0');
			const day = String(date.getDate()).padStart(2, '0');
			const hours = String(date.getHours()).padStart(2, '0');
			const minutes = String(date.getMinutes()).padStart(2, '0');
			const seconds = String(date.getSeconds()).padStart(2, '0');
			const milliseconds = date.getMilliseconds();

			const formattedTimestamp = `${year}-${month}-${day}`;

			return formattedTimestamp;
		}
		
	//상태값마다 다른 색상
	var statusNms = document.querySelectorAll('.inquiry_status');
	statusNms.forEach((statusNm) => {
  	if (statusNm.textContent === '답변대기') {
  		statusNm.classList.add('blue');
  	}
	});
	</script>
</body>
</html>