<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/manager_header :: header}">
<meta charset="UTF-8">
</head>
<head>
<link th:href="@{/css/admin/insert_manager_popup.css}" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
	<h2>강의 등록</h2>
	<div class="insert_wrap">
		<table>
			<tr class="input_wrap">
				<th><span class="title">강의명<span class="red">*</span></span></th>
				<td><input type="text"
					onkeyup="if(window.event.keyCode==13){insertLecture()}"
					id="lecture_nm_input" placeholder="강의명(최대 30자)" maxlength="30"></td>
			</tr>
			<tr class="input_wrap">
				<th><span class="title">과목명<span class="red">*</span></span></th>
				<td><input type="hidden" id="subject_id_input"> <input
					type="text" onkeyup="if(window.event.keyCode==13){insertLecture()}"
					id="subject_nm_input" placeholder="과목을 선택해주세요." readonly
					onclick="showSelectSubjectPopup(this)"></td>
			</tr>
			<tr class="input_wrap">
				<th><span class="title">강사명<span class="red">*</span></span></th>
				<td><input type="hidden" id="professor_id_input"> <input
					type="text" onkeyup="if(window.event.keyCode==13){insertLecture()}"
					id="professor_nm_input" placeholder="강사를 선택해주세요." readonly
					onclick="showSelectProfessorPopup(this)"></td>
			</tr>
			<tr class="input_wrap">
				<th><span class="title">이수시간<span class="red">*</span></span></th>
				<td><input type="number" id="lecture_tm_input" 
					onkeyup="if(window.event.keyCode==13){insertLecture()}"
					placeholder="최대 500시간" min="0" max="500"></td>
			</tr>
			<tr class="input_wrap">
				<th><span class="title">기타사항</span></th>
				<td><input type="text" id="lecture_etc_input"
					onkeyup="if(window.event.keyCode==13){insertLecture()}"
					placeholder="기타사항"></td>
			</tr>
		</table>
	</div>

	<div class="btn_wrap">
		<button class="btn" onclick="self.close();">취소</button>
		<button class="btn" onclick="insertLecture();">확인</button>
	</div>
	<script>
		//과목 팝업 띄우기
		function showSelectSubjectPopup(input) {
			var tdParent = input.closest('td');

			// 팝업 창을 열기
			var popup = window.open("/admin/lecture/select/subject", "과목 선택",
					"width=800, height=720, left=800, top=300");

			window.addEventListener("message", function(event) {
				if (event.data && event.data.event) {
					if (event.data.event === 'classSelected') {
						var clssId = event.data.clssId;
						var clssNm = event.data.clssNm;

						var hiddenInput = tdParent
								.querySelector("input[type='hidden']");
						var textInput = tdParent
								.querySelector("input[type='text']");

						hiddenInput.value = sbjtId;
						textInput.value = sbjtNm;

					}
				}
			});
		}

		//강사 팝업 띄우기
		function showSelectProfessorPopup(input) {
			var tdParent = input.closest('td');

			// 팝업 창을 열기
			var popup = window.open("/admin/lecture/select/professor", "강사 선택",
					"width=800, height=720, left=800, top=300");

			window.addEventListener("message", function(event) {
				if (event.data && event.data.event) {
					if (event.data.event === 'professorSelected') {
						var profId = event.data.profId;
						var profNm = event.data.profNm;

						var hiddenInput = tdParent
								.querySelector("input[type='hidden']");
						var textInput = tdParent
								.querySelector("input[type='text']");

						hiddenInput.value = profId;
						textInput.value = profNm;

					}
				}
			});
		}	

		//등록하기
		function insertLecture() {
			var lectureNm = document.querySelector("#lecture_nm_input").value;
			var subjectId = document.querySelector("#subject_id_input").value;
			var professorId = document.querySelector("#professor_id_input").value;
			var lectureTm = document.querySelector("#lecture_tm_input").value;
			var lectureEtc = document.querySelector("#lecture_etc_input").value;			

			//모두 입력했는지 확인
			if (lectureNm === "" || subjectId === "" || professorId === ""
					|| lectureTm === "") {
				alert("필수 입력값을 모두 입력해주세요.");
			} else {
				//값을 모두 보내고 lectureNm으로 중복확인
				$.ajax({
					url : '/admin/lecture/insert',
					method : 'POST',
					data : {
						lectureNm: lectureNm,
						subjectId : subjectId,
						professorId : professorId,
						lectureTm : lectureTm,
						lectureEtc : lectureEtc
					},
					success : function(response) {
						//실패면 alert(중복)띄우기
						if (response == "fail") {
							alert("이미 존재하는 강의입니다.");
						} else if (response == "success") {
							//성공하면 강의가 추가되었습니다. alert띄우고 location여기로 다시 이동
							alert("강의가 등록되었습니다.");
							opener.location.href = "/admin/lecture/list/1";
							self.close();//팝업창 닫기
						}
					}
				});
			}
		}
	</script>
</body>
</html>