<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/manager_header :: header}">
<meta charset="UTF-8">
<title>강사 관리</title>
</head>
<head>
<link th:href="@{/css/admin/lecture_list.css}" rel="stylesheet">
</head>
<body>
	<!-- 서브바-->
	<div th:replace="~{/include/manager_subbar :: subbar}"></div>
	<!-- 서브바 -->

	<!-- Content Wrap -->
	<div class="home-section">

		<!-- Content Top -->
		<div class="content_top">
			<!-- Title -->
			<div class="title">강의 관리</div>
			<!-- Route -->
			<div class="route">
				<a th:href="@{/admin}">대시보드</a> > <a
					th:href="@{/admin/lecture/list/1}">강의 관리</a>
			</div>
		</div>
		<!-- Content Top -->

		<!-- Content Middle-->
		<div class="content_middle">
			<!-- 강의 관리 -->
			<div class="lecture_wrap">
				<!-- search -->
				<div class="search_wrap">
					<!-- Search Filter wrap -->
					<div class="search_filter_wrap">
						<!-- 강의명 -->
						<div class="filter_box">
							<div class="filter_box_title">강의명</div>
							<div>
								<input class="lctr_nm" type="text" id="search_input" value=""
									onkeyup="if(window.event.keyCode==13){search();}">
							</div>
						</div>
						<!-- 강의명 -->

						<!-- 과목명 -->
						<div class="filter_box">
							<div class="filter_box_title">과목명</div>
							<div>
								<input type="hidden" class="sbjt_id"> <input type="text"
									class="sbjt_nm" placeholder="과목을 선택해주세요."
									onclick="selectSbjtNm(this)" readonly>
							</div>

						</div>
						<!-- 과목명-->

						<!-- 강사명 -->
						<div class="filter_box">
							<div class="filter_box_title">강사명</div>
							<div>
								<input type="hidden" class="prof_id"> <input type="text"
									class="prof_nm" placeholder="강사를 선택해주세요."
									onclick="selectProfNm(this)" readonly>
							</div>
						</div>
						<!-- 강사명-->
					</div>
					<!-- Search Filter wrap -->

					<!-- Search Button wrap -->
					<div class="search_filter_btn_wrap">
						<button type="button" class="search_reset_btn"
							onclick="resetInput()">
							<img th:src="@{/img/reset_white.png}"> <span>초기화</span>
						</button>
						<button type="button" id="search_btn" class="search_filter_btn"
							onclick="search()">
							<img th:src="@{/img/search_white.png}"> <span>조회</span>
						</button>
					</div>
					<!-- Search Button wrap -->
				</div>
				<!-- search -->

				<!-- 총 개수 및 버튼-->
				<div class="content_info_wrap">
					<div style="display: flex; align-items: center;">
						<span>총 <span class="lecture_cnt cnt"
							th:text="${#lists.size(lectureListAll)}"></span> 건
						</span>
					</div>
					<div class="content_info_button_wrap">
						<!-- 엑셀 다운로드 버튼 -->
						<button type="button" id="excel_btn"
							onclick="location.href='/excel/admin/lecture'">
							<img th:src="@{/img/excel.png}"><span>엑셀</span>
						</button>
						<!-- 엑셀 다운로드 버튼 -->
						
						<button class="insert_btn" type="button"
							onclick="showInsertLecturePopup()" style="display: flex;">
							<img th:src="@{/img/plus_white.png}" style="width: 20px;">
							등록하기
						</button>

						<button id="lecture_delete_btn">
							<img th:src="@{/img/minus_white.png}" style="width: 20px;">
							<span>선택삭제</span>
						</button>

						<button id="lecture_update_btn" onclick="enterLectureEditMode()">
							<img th:src="@{/img/update_white.png}" style="width: 20px;">
							<span>수정하기</span>
						</button>

						<button id="lecture_cancel_btn" onclick="cancelLectureEditMode()"
							style="display: none;">
							<img th:src="@{/img/x_white.png}" style="width: 20px;"> <span>수정취소</span>
						</button>

						<button id="lecture_save_btn" onclick="saveLecture()"
							style="display: none;">
							<img th:src="@{/img/save_white.png}" style="width: 20px;">
							<span>저장하기</span>
						</button>
					</div>
				</div>
				<!-- 총 개수 및 버튼-->

				<!-- 리스트 -->
				<div class="table_wrap lecture_table">
					<table>
						<thead>
							<tr class="content_list_th">
								<th style="width: 5%;"><input type="checkbox"
									name="lecture_select_all" onclick="lectureSelectAll(this)"
									class="lecture_checkbox_all"></th>
								<th style="width: 5%;">번호</th>
								<th style="width: 30%;">강의명</th>
								<th style="width: 20%;">과목명</th>
								<th style="width: 10%;">강사명</th>
								<th style="width: 5%;">이수시간</th>
								<th style="width: 25%;">기타사항</th>
							</tr>
						</thead>
						<tbody class="lecture_tbody">
							<tr th:each="lecture, iterStat : ${lectureList}">
								<td class="td_lecture_check_box"><input type="checkbox"
									name="lecture_select" onclick="lectureCheckSelectAll()"
									th:value="${lecture.lctrId}" class="lecture_checkbox_item">
									<input type="hidden" class="lecture_update_yn" value="N">
								</td>
								<td class="td_lecture_num" th:text="${iterStat.index+1}"></td>
								<td class="td_lecture_nm"><span class="lecture_span"
									th:text="${lecture.lctrNm}"></span> <input
									style="display: none;" class="lecture_input lecture_nm"
									type="text" th:value="${lecture.lctrNm}"></td>

								<td class="td_lecture_subject"><span class="lecture_span"
									th:text="${lecture.sbjtNm}"></span> <select
									class="lecture_select lecture_sbjt" style="display: none;">
										<option th:each="subject: ${subjectList}"
											th:value="${subject.sbjtId}" th:text="${subject.sbjtNm}"
											th:selected="${subject.sbjtId == lecture.sbjtId}">
								</select></td>

								<td class="td_lecture_professor"><span class="lecture_span"
									th:text="${lecture.profNm}"></span> <select
									class="lecture_select lecture_prof" style="display: none;">
										<option th:each="professor: ${professorList}"
											th:value="${professor.profId}" th:text="${professor.profNm}"
											th:selected="${professor.profId == lecture.profId}">
								</select></td>

								<td class="td_lecture_tm"><span class="lecture_span"
									th:text="${lecture.lctrTm}"></span> <input
									style="display: none; width: 80px;"
									class="lecture_input lecture_tm" type="number"
									th:value="${lecture.lctrTm}"></td>

								<td class="td_lecture_etc"><span class="lecture_span"
									th:text="${lecture.lctrEtc}"></span> <input
									style="display: none;" class="lecture_input lecture_etc"
									type="text" th:value="${lecture.lctrEtc}"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- 리스트 -->
			</div>
			<!-- 강의 관리 -->
		</div>
		<!-- Content Middle-->

		<!-- Paging -->
		<nav class="page_nav" aria-label="Page navigation">
			<ul class="pagination">
				<li th:if="${nowPageBlock>1}"><a
					th:href="@{/admin/lecture/list/__${startPage-1}__}"
					aria-label="Previous">이전</a></li>

				<li th:each="i: ${#numbers.sequence(startPage, endPage)}"
					th:classappend="${i==nowPage}?active"><a
					th:href="@{/admin/lecture/list/__${i}__}">[[${i}]]</a></li>

				<li th:if="${nowPageBlock<totalPageBlock}"><a
					th:href="@{/admin/lecture/list/__${endPage+1}__}" aria-label="Next">다음</a></li>
			</ul>
		</nav>
		<!-- Paging -->
	</div>
	<script>
	//강의 전체선택
	function lectureSelectAll(selectAll){
		//모든 체크박스들
		const checkboxes = document.querySelectorAll('input[name="lecture_select"]');
		checkboxes.forEach((checkbox) => {
			checkbox.checked = selectAll.checked;
		});
	}
	
	//강의 개별 선택
	function lectureCheckSelectAll(){
		//전체선택 체크박스
		const selectAll = document.querySelector('input[name="lecture_select_all"]');
		//모든 체크박스
		const checkboxes = document.querySelectorAll('input[name="lecture_select"]');
		//선택된 체크박스
		const checked = document.querySelectorAll('input[name="lecture_select"]:checked');
		
		if(checkboxes.length == checked.length){
			selectAll.checked = true;
		}else{
			selectAll.checked = false;
		}
	}
	
	//강의 등록하기 버튼(팝업 띄우기)
	var popup;
	function showInsertLecturePopup(){
		popup = window.open(
				"/admin/lecture/insert", "insertlecture", 
				"width=500, height=350, left=800, top=400"		
		);
	}
	
	//검색필터 - 과목 선택 버튼(팝업띄우기)
	function selectSbjtNm(input){
		var divParent = input.closest('div');

		// 팝업 창을 열기
		var popup = window.open("/admin/lecture/select/subject", "과목 선택",
				"width=800, height=720, left=800, top=300");

		window.addEventListener("message", function(event) {
			if (event.data && event.data.event) {
				if (event.data.event === 'subjectSelected') {
					var sbjtId = event.data.sbjtId;
					var sbjtNm = event.data.sbjtNm;

					var hiddenInput = divParent
							.querySelector("input[type='hidden']");
					var textInput = divParent
							.querySelector("input[type='text']");

					hiddenInput.value = sbjtId;
					textInput.value = sbjtNm;

				}
			}
		});
	}
	
	//검색필터 - 강사 선택 버튼(팝업띄우기)
	function selectProfNm(input){
		var divParent = input.closest('div');

		// 팝업 창을 열기
		var popup = window.open("/admin/lecture/select/professor", "강사 선택",
				"width=800, height=720, left=800, top=300");

		window.addEventListener("message", function(event) {
			if (event.data && event.data.event) {
				if (event.data.event === 'professorSelected') {
					var profId = event.data.profId;
					var profNm = event.data.profNm;
					
					console.log(profNm+"아아악");

					var hiddenInput = divParent
							.querySelector("input[type='hidden']");
					var textInput = divParent
							.querySelector("input[type='text']");

					hiddenInput.value = profId;
					input.value = profNm;

				}
			}
		});
	}
	
	// 강의 선택삭제 버튼 이벤트
	document
			.querySelector("#lecture_delete_btn")
			.addEventListener(
					"click",
					function() {
						var selectedLectureIds = [];

						// 선택된 체크박스를 모두 선택합니다.
						var selectedCheckboxes = document
								.querySelectorAll(".lecture_checkbox_item:checked");

						// 선택된 체크박스의 값을 배열에 추가합니다.
						selectedCheckboxes.forEach(function(checkbox) {
							selectedLectureIds.push(checkbox.value);
						});
						
						if(selectedLectureIds.length ===0){
							alert("삭제할 강의를 선택해주세요.")
						}else{
							if(!confirm("삭제하시겠습니까?")){
								//아니오
							}else{
								// Ajax 요청에서 selectedLectureIds를 배열로 전송합니다.
								$
										.ajax({
											url : '/admin/lecture/lecture/deleteall',
											method : 'POST',
											data : {
												selectedLectureIds : selectedLectureIds
											},
											success : function(response) {
												console.log(response);
												if (response == "success") {
													alert("선택한 강의가 삭제되었습니다.");
													window.location.href = "/admin/lecture/list/1";
												}
											}
										});
							}
						}
					});

	//강의 수정하기 모드
	function enterLectureEditMode(){
		const deleteBtn = document.querySelector('#lecture_delete_btn');//강의 선택삭제 버튼
        const updateBtn = document.querySelector('#lecture_update_btn');//강의 수정하기 버튼
        const cancelBtn = document.querySelector('#lecture_cancel_btn');//강의 수정취소 버튼
        const saveBtn = document.querySelector('#lecture_save_btn');//강의 저장하기 버튼

        //버튼 display 수정
        deleteBtn.style.display = 'none';
        updateBtn.style.display = 'none';
        cancelBtn.style.display = 'flex';
        saveBtn.style.display = 'flex';
        
        //본래의 span 숨기기
        const lectureSpans = document.querySelectorAll('.lecture_span');
        lectureSpans.forEach((lectureSpan)=>{
        	lectureSpan.style.display = 'none';
        });
        
        //editInput과 editSelect 보이게 하기
        const lectureEdits = document.querySelectorAll('.lecture_input, .lecture_select');
        lectureEdits.forEach((lectureEdit)=>{
        	lectureEdit.style.display = 'block';
        });
	}
	
	//강의 수정하기 취소
    function cancelLectureEditMode() {
    	const deleteBtn = document.querySelector('#lecture_delete_btn');//강의 선택삭제 버튼
        const updateBtn = document.querySelector('#lecture_update_btn');//강의 수정하기 버튼
        const cancelBtn = document.querySelector('#lecture_cancel_btn');//강의 수정취소 버튼
        const saveBtn = document.querySelector('#lecture_save_btn');//강의 저장하기 버튼

      	//버튼 display 수정
        deleteBtn.style.display = 'flex';
        updateBtn.style.display = 'flex';
        cancelBtn.style.display = 'none';
        saveBtn.style.display = 'none';
        
      	//본래의 span 보이기
        const lectureSpans = document.querySelectorAll('.lecture_span');
        lectureSpans.forEach((lectureSpan)=>{
        	lectureSpan.style.display = 'block';
        });
        
        //editInput과 editSelect 숨기기
        const lectureEdits = document.querySelectorAll('.lecture_input, .lecture_select');
        lectureEdits.forEach((lectureEdit)=>{
        	lectureEdit.style.display = 'none';
        });
    }

	//강의 input(강의명, 시간, 기타사항)에 수정 발생시 해당 tr update_yn = Y로 변경
	var lectureInputs = document.querySelectorAll(".lecture_input");
	lectureInputs.forEach(function(lectureInput) {
	    // onchange 이벤트를 추가합니다.
	    lectureInput.addEventListener("change", function() {
	    	const parentTr = lectureInput.closest('tr');
	    	var updateYnInput = parentTr.querySelector(".td_lecture_check_box .lecture_update_yn");
	    	updateYnInput.value = "Y";
	    });
	});
	//강의 select에 수정 발생시 해당 tr update_yn = Y로 변경
	var lectureSelects = document.querySelectorAll(".lecture_select");
	lectureSelects.forEach(function(lectureSelect) {
	    // onchange 이벤트를 추가합니다.
	    lectureSelect.addEventListener("change", function() {
	    	const parentTr = lectureSelect.closest('tr');
	    	var updateYnInput = parentTr.querySelector(".td_lecture_check_box .lecture_update_yn");
	    	updateYnInput.value = "Y";
			console.log(updateYnInput);
	    });
	});
	
	//과목, 강사
	var changeLectures = document.querySelectorAll(".change_lecture");
	changeLectures.forEach(function(changeLecture) {
	    // onchange 이벤트를 추가합니다.
	    changeLecture.addEventListener("change", function() {
	    	console.log("오마갓");
	    	const parentTr = changeLecture.closest('tr');
	    	var updateYnInput = parentTr.querySelector(".td_lecture_check_box .lecture_update_yn");
	    	updateYnInput.value = "Y";
	    });
	});
	
	//강의 저장하기 버튼 클릭
	function saveLecture(){
		//수정된 강의리스트를 담을 배열 선언
		var updateLectureList = [];
		
		//tr .td_lecture_check_box .lecture_update_yn인 input의 값이 Y인 것의 tr들을 가져오기 
		//한 행씩 딕셔너리 만들어서 배열에 넣기
		var hiddenInputs = document.querySelectorAll('tr .td_lecture_check_box .lecture_update_yn[value=Y]');
		hiddenInputs.forEach((input)=>{
			//수정된 강의객체를 담을 딕셔너리 선언
			var lecture = {};
			
			//updateYn = 'Y'인 인풋의 부모 tr찾기
			var parentTr = input.closest('tr');
			console.log(parentTr);
			
			//id와 수정가능한 input의 값들 뽑기
			var lctrId = parentTr.querySelector('.td_lecture_check_box .lecture_checkbox_item').value;
			var lctrNm = parentTr.querySelector('.td_lecture_nm .lecture_nm').value;
			var sbjtId = parentTr.querySelector('.td_lecture_subject .lecture_sbjt').value;
			var profId = parentTr.querySelector('.td_lecture_professor .lecture_prof').value;
			var lctrTm = parentTr.querySelector('.td_lecture_tm .lecture_tm').value;
			var lctrEtc = parentTr.querySelector('.td_lecture_etc .lecture_etc').value;
			
						
			//딕셔너리의 키값에 값 넣기
			lecture['lctrId'] = lctrId;
			lecture['lctrNm'] = lctrNm;
			lecture['sbjtId'] = sbjtId;
			lecture['profId'] = profId;
			lecture['lctrTm'] = lctrTm;
			lecture['lctrEtc'] = lctrEtc;
			
			//배열에 push하기
			updateLectureList.push(lecture);
		});
		
		if(updateLectureList.length == 0){
			alert("수정사항이 없습니다.");
		}else{
			if(!confirm("수정하시겠습니까?")){
				//아니오
			}else{
				//객체 배열을 json문자열로 직렬화 하기
				var jsonData = JSON.stringify(updateLectureList);
				
				//비동기로 배열 전달하기
				fetch('/admin/lecture/update', {
		    		method: 'POST',
		    		headers: {
		        		'Content-Type': 'application/json',
		    		},
		    		body: jsonData,
				})
				.then(response =>response.json())
				.then(data => {
					console.log(data);
					if (data.message === "success") {
						
				        const deleteBtn = document.querySelector('#lecture_delete_btn');//강의 선택삭제 버튼
				        const updateBtn = document.querySelector('#lecture_update_btn');//강의 수정하기 버튼
				        const cancelBtn = document.querySelector('#lecture_cancel_btn');//강의 수정취소 버튼
				        const saveBtn = document.querySelector('#lecture_save_btn');//강의 저장하기 버튼

				        //버튼 display 수정
				        deleteBtn.style.display = 'flex';
				        updateBtn.style.display = 'flex';
				        cancelBtn.style.display = 'none';
				        saveBtn.style.display = 'none';
				        
				        alert("강의가 수정되었습니다.");
				        //강의 리스트 다시 불러오기
				        location.href='/admin/lecture/list/1';
				    } else {
				    	alert("실패했습니다. 다시 시도해주세요.");
				    }
				})
				.catch(error => {
		    		// 오류 처리
				});
			}
		}
	}
	
	//초기화
	function resetInput(){
		var lctrNm = document.querySelector(".lctr_nm");
			
		var sbjtHidden = document.querySelector(".sbjt_id");
		var sbjtInput = document.querySelector(".sbjt_nm");
		
		var profHidden = document.querySelector(".prof_id");
		var profInput = document.querySelector(".prof_nm");
		
		lctrNm.value='';
		sbjtHidden.value='';
		sbjtInput.value='';
		profHidden.value='';
		profInput.value='';
	}
	
	//검색
	function search(){
		var lctrNm = document.querySelector(".lctr_nm").value;
		var sbjtId = document.querySelector(".sbjt_id").value;
		var profId = document.querySelector(".prof_id").value;
		
		$.ajax({
			url:'/admin/lecture/search',
			method:"GET",
			data:{
				lctrNm :lctrNm,
				sbjtId : sbjtId,
				profId : profId
			},
			success: function(response){
				lectureList = response.lectureList;
				subjectList = response.subjectList;
				professorList = response.professorList;
				
				console.log(professorList);
				
				//tbody 비우기
				const lectureTbody = document.querySelector('.lecture_tbody');
				$('.lecture_tbody').empty();
					
				//lecture cnt 변경
				var lectureCnt = document.querySelector('.lecture_cnt');
				lectureCnt.textContent = lectureList.length;
				
				for(var i=0; i<lectureList.length; i++){
					const lecture = lectureList[i];
					
					//tr생성
					var tr = document.createElement('tr');
					
					var tdCheck = document.createElement('td');
					tdCheck.className = "td_lecture_check_box";
					var inputCheck = document.createElement('input');
					inputCheck.type="checkbox";
					inputCheck.name = "lecture_select";
					inputCheck.onclick = function(){
						lectureCheckSelectAll();
					}
					inputCheck.value = lecture.lctrId;
					inputCheck.className = "lecture_checkbox_item";
					var inputHidden = document.createElement('input');
					inputHidden.type="hidden";
					inputHidden.className = "lecture_update_yn";
					inputHidden.value="N";
					tdCheck.appendChild(inputCheck);
					tdCheck.appendChild(inputHidden);
					tr.appendChild(tdCheck);
					
					var tdNum = document.createElement('td');
					tdNum.className = "td_lecture_num";
					tdNum.textContent = i+1;
					tr.appendChild(tdNum);
					
					var tdLectureNm = document.createElement('td');
					tdLectureNm.className = "td_lecture_nm";
					var spanLectureNm = document.createElement('span');
					spanLectureNm.className = "lecture_span";
					spanLectureNm.textContent = lecture.lctrNm;
					var inputLectureNm = document.createElement('input');
					inputLectureNm.className = "lecture_input lecture_nm";
					inputLectureNm.style.display = 'none';
					inputLectureNm.type="text";
					inputLectureNm.value = lecture.lctrNm;
					tdLectureNm.appendChild(spanLectureNm);
					tdLectureNm.appendChild(inputLectureNm);
					tr.appendChild(tdLectureNm);
					
					var tdSubject = document.createElement('td');
					tdSubject.className = 'td_lecture_subject';
					var spanSubject = document.createElement('span');
					spanSubject.className ="lecture_span";
					spanSubject.textContent = lecture.sbjtNm;
					var selectSubject = document.createElement('select');
					selectSubject.className = 'lecture_select lecture_sbjt';
					selectSubject.style.display ='none';
					for(var j=0; j<subjectList.length;j++){
						var subject = subjectList[j];
						
						var optionSubject = document.createElement('option');
						optionSubject.value = subject.sbjtId;
						optionSubject.textContent = subject.sbjtNm;
						
						selectSubject.appendChild(optionSubject);
					}
					selectSubject.value = lecture.sbjtId;
					tdSubject.appendChild(spanSubject);
					tdSubject.appendChild(selectSubject);
					tr.appendChild(tdSubject);
					
					var tdProfessor = document.createElement('td');
					tdProfessor.className = 'td_lecture_professor';
					var spanProfessor = document.createElement('span');
					spanProfessor.className ="lecture_span";
					spanProfessor.textContent = lecture.profNm;
					var selectProfessor = document.createElement('select');
					selectProfessor.className = 'lecture_select lecture_prof';
					selectProfessor.style.display ='none';
					for(var j=0; j<professorList.length;j++){
						var professor = professorList[j];
						
						var optionProfessor = document.createElement('option');
						optionProfessor.value = professor.profId;
						optionProfessor.textContent = professor.profNm;
						
						selectProfessor.appendChild(optionProfessor);
					}
					selectProfessor.value = lecture.profId;
					tdProfessor.appendChild(spanProfessor);
					tdProfessor.appendChild(selectProfessor);
					tr.appendChild(tdProfessor);
					
					var tdLctrTm = document.createElement('td');
					tdLctrTm.className ='td_lecture_tm';
					var spanLctrTm = document.createElement('span');
					spanLctrTm.className = 'lecture_span';
					spanLctrTm.textContent = lecture.lctrTm;
					var inputLctrTm = document.createElement('input');
					inputLctrTm.style.display = 'none';
					inputLctrTm.style.width = '80px';
					inputLctrTm.className ="lecture_input lecture_tm";
					inputLctrTm.type="number";
					inputLctrTm.value = lecture.lctrTm;
					tdLctrTm.appendChild(spanLctrTm);
					tdLctrTm.appendChild(inputLctrTm);
					tr.appendChild(tdLctrTm);
					
					var tdLctrEtc = document.createElement('td');
					tdLctrEtc.className = 'td_lecture_etc';
					var spanLctrEtc = document.createElement('span');
					spanLctrEtc.className = 'lecture_span';
					spanLctrEtc.textContent = lecture.lctrEtc;
					var inputLctrEtc = document.createElement('input');
					inputLctrEtc.style.display = 'none';
					inputLctrEtc.className = 'lecture_input lecture_etc';
					inputLctrEtc.type='text';
					inputLctrEtc.value = lecture.lctrEtc;
					tdLctrEtc.appendChild(spanLctrEtc);
					tdLctrEtc.appendChild(inputLctrEtc);
					tr.appendChild(tdLctrEtc);
					
					lectureTbody.appendChild(tr);
				}
				
				//강의 input에 수정 발생시 해당 tr update_yn = Y로 변경
				var lectureInputs = document.querySelectorAll(".lecture_input");
				lectureInputs.forEach(function(lectureInput) {
				    // onchange 이벤트를 추가합니다.
				    lectureInput.addEventListener("change", function() {
				    	const parentTr = lectureInput.closest('tr');
				    	var updateYnInput = parentTr.querySelector(".td_lecture_check_box .lecture_update_yn");
				    	updateYnInput.value = "Y";
				    });
				});
				//강의 select에 수정 발생시 해당 tr update_yn = Y로 변경
				var lectureSelects = document.querySelectorAll(".lecture_select");
				lectureSelects.forEach(function(lectureSelect) {
				    // onchange 이벤트를 추가합니다.
				    lectureSelect.addEventListener("change", function() {
				    	const parentTr = lectureSelect.closest('tr');
				    	var updateYnInput = parentTr.querySelector(".td_lecture_check_box .lecture_update_yn");
				    	updateYnInput.value = "Y";
						console.log(updateYnInput);
				    });
				});
			}
			
		});
		
	}
	</script>
</body>
</html>