<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/manager_header :: header}">
<meta charset="UTF-8">
</head>
<head>
<link th:href="@{/css/admin/manager_list.css}" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
	<!-- 서브바-->
	<div th:replace="~{/include/manager_subbar :: subbar}"></div>
	<!-- 서브바 -->

	<!-- Content Wrap -->
	<div class="home-section">

		<!-- Content Top -->
		<div class="content_top">
			<!-- Title -->
			<div class="title">업무담당자 관리</div>
			<!-- Route -->
			<div class="route">
				<a th:href="@{/admin}">대시보드</a> > <a
					th:href="@{/admin/manager/list}">업무담당자 관리</a>
			</div>
		</div>
		<!-- Content Top -->

		<!-- Content Middle-->
		<div class="content_middle">
			<!-- Search Filter wrap -->
			<div class="search_filter_wrap">
				<!-- 업무담당자 명 -->
				<div class="filter_box">
					<div class="filter_box_title">
						<select class="search_input_category">
							<option th:value="mngr_nm" th:text="이름"></option>
							<option th:value="user_email" th:text="이메일"></option>
						</select>
					</div>
					<div>
						<input class="search_input" type="text" id="search_input" value="">
					</div>
				</div>
			</div>
			<!-- Search Filter wrap -->

			<!-- Search Button wrap -->
			<div class="search_filter_btn_wrap">
				<button type="button" class="search_reset_btn"
					onclick="resetInput()">
					<img th:src="@{/img/reset_white.png}"> <span>초기화</span>
				</button>
				<button type="button" id="search_btn" class="search_filter_btn"
					onclick="search()">
					<img th:src="@{/img/search_white.png}"> <span>조회</span>
				</button>
			</div>
			<!-- Search Button wrap -->
		</div>

		<!-- 업무담당자 등록하기 -->
		<div class="insert_manager" style="padding: 5px;">
			<div class="input_wrap" style="display: flex;">
				<div class="filter_box">
					<div class="filter_box_title">
						이름<span class="red">*</span>
					</div>
					<div>
						<input class="input_manager_name" type="text" placeholder="이름">
					</div>
				</div>
				<div class="filter_box">
					<div class="filter_box_title">
						이메일<span class="red">*</span>
					</div>
					<div>
						<input class="input_manager_email" type="text" placeholder="이메일">
					</div>
				</div>
				<div class="filter_box">
					<div class="filter_box_title">
						비밀번호<span class="red">*</span>
					</div>
					<div>
						<input class="input_manager_pwd" type="text" placeholder="비밀번호">
					</div>
				</div>
				<div class="filter_box">
					<div class="filter_box_title">
						전화번호<span class="red">*</span>
					</div>
					<div>
						<input class="input_manager_tel" type="text" placeholder="전화번호">
					</div>
				</div>
			</div>
			<div>
				<!-- 등록하기 버튼 -->
				<button class="insert_btn" type="submit" onclick="insertManager()">
					<img style="width: 20px;" th:src="@{/img/plus_white.png}"><span>등록하기</span>
				</button>
			</div>
		</div>
		<!-- 업무담당자 등록하기 -->


		<!-- Content Middle-->

		<!-- Content Bottom-->
		<div class="content_bottom">
			<!-- 컨텐츠 개수와 버튼 wrap -->
			<div class="content_info_wrap">
				<div class="content_info">
					<span>총 <span class="manager_list_cnt"
						th:text="${#lists.size(managerList)}"></span> 명
					</span>
				</div>
				<div class="content_info_btn_wrap">
					<!-- 엑셀 다운로드 버튼 -->
					<button type="button" id="excel_btn" onclick="location.href='/excel/admin/manager'">
						<img th:src="@{/img/excel.png}"><span>엑셀 다운로드</span>
					</button>
				
					<!-- 선택삭제 버튼 -->
					<button id="delete_btn">
						<img th:src="@{/img/minus_white.png}"><span>선택삭제</span>
					</button>
				</div>
			</div>
			<!-- 컨텐츠 개수와 버튼 wrap -->

			<!-- 컨텐츠 리스트 부분 -->
			<div class="content_list">
				<table class="content_list_table" id="class_list_table">
					<thead>
						<tr class="content_list_th">
							<th style="width: 5%;"><input type="checkbox" id="chkAll"
								name="select_all" onclick="selectAll(this)"></th>
							<th style="width: 5%;">번호</th>
							<th style="width: 10%;">업무담당자 이름</th>
							<th style="width: 20%;">전화번호</th>
							<th style="width: 20%;">이메일</th>
							<th style="width: 10%;">계정상태</th>
							<th style="width: 20%;">마지막 로그인 일시</th>
							<th style="width: 10%;">버튼</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="manager, iterStat: ${managerList}">
							<td class="input_check_td"><input class="input_check"
								type="checkbox" name="select" onclick="checkSelectAll()"
								th:value="${manager.mngrId}"></td>
							<td class="manager_num" th:text="${#lists.size(managerList) - iterStat.index}"></td>
							<td class="manager_name">
								<div class="update_div" th:text="${manager.mngrNm}"></div> <input
								type="text" class="update_input mngr_nm_input"
								style="display: none;" th:value="${manager.mngrNm}">
							</td>
							<td class="manager_tel">
								<div class="update_div" th:text="${manager.mngrTel}"></div> <input
								type="text" class="update_input mngr_tel_input"
								style="display: none;" th:value="${manager.mngrTel}">
							</td>
							<td th:text="${manager.userEmail}"></td>
							<td>
								<div class="update_div mngr_status" th:text="${manager.cmcdNm}"></div>
								<select class="update_input mngr_status_input"
								style="display: none;" th:value="${manager.userCd}">
									<option th:each="mngrCommonCode: ${mngrCommonCodeList}"
										th:value="${mngrCommonCode.cmcdId}"
										th:text="${mngrCommonCode.cmcdNm}"
										th:selected="${mngrCommonCode.cmcdId == manager.userCd}"></option>
							</select>
							</td>
							<td class="last_login_dt"
								th:text="${#dates.format(manager.lastLoginDt,'yyyy-MM-dd hh:mm:ss')}">
							</td>
							<td class="btn_td">
								<button class="update_btn" type="button" onclick="editRow(this)">수정</button>
								<button class="save_btn" type="button" style="display: none;"
									onclick="saveRow(this)">저장</button>
								<button class="cancel_btn" type="button" style="display: none;"
									onclick="cancelEdit(this)">취소</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- 컨텐츠 리스트 부분 -->
		</div>
		<!-- Content Bottom-->
	</div>
	<script>
	//전체선택
	function selectAll(selectAll){
		//모든 체크박스들
		const checkboxes = document.querySelectorAll('input[name="select"]');
		checkboxes.forEach((checkbox) => {
			checkbox.checked = selectAll.checked;
		});
	}
	
	//개별 선택
	function checkSelectAll(){
		//전체선택 체크박스
		const selectAll = document.querySelector('input[name="select_all"]');
		//모든 체크박스
		const checkboxes = document.querySelectorAll('input[name="select"]');
		//선택된 체크박스
		const checked = document.querySelectorAll('input[name="select"]:checked');
		
		if(checkboxes.length == checked.length){
			selectAll.checked = true;
		}else{
			selectAll.checked = false;
		}
	}

		//선택삭제
		document.querySelector("#delete_btn").addEventListener(
				"click",
				function() {
					var selectedManagerIds = [];

					// 선택된 체크박스를 모두 선택합니다.
					var selectedCheckboxes = document
							.querySelectorAll(".input_check:checked");

					// 선택된 체크박스의 값을 배열에 추가합니다.
					selectedCheckboxes.forEach(function(checkbox) {
						selectedManagerIds.push(checkbox.value);
					});

					if(selectedManagerIds.length == 0){
						alert("삭제할 업무담당자를 선택해주세요.")
					}else{

						// Ajax 요청에서 selectedLectureIds를 배열로 전송합니다.
						$.ajax({
							url : '/admin/manager/delete',
							method : 'POST',
							data : {
								selectedManagerIds : selectedManagerIds
							},
							success : function(response) {
								console.log(response);
								if (response == "success") {
									alert("선택한 업무담당자가 비활성화되었습니다.");
									window.location.href = "/admin/manager/list";
								}
							}
						});
					}
				});

		//초기화 버튼
		function resetInput() {
			// 모든 요소를 선택
			const inputElement1 = document
					.querySelector(".search_input_category");
			inputElement1.value = "mngr_nm";

			// 모든 요소를 선택
			const inputElement2 = document.querySelector(".search_input");
			inputElement2.value = "";
		}

		//등록하기
		function insertManager(){
			var managerNm = document.querySelector(".input_manager_name").value;
			var managerEmail = document.querySelector(".input_manager_email").value;
			var managerPwd = document.querySelector(".input_manager_pwd").value;
			var managerTel = document.querySelector(".input_manager_tel").value;
			
			// 이메일 형식 검사
			var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
			
			//모두 입력했는지 확인
			if (managerNm === "" || managerEmail === "" || managerPwd === "" || managerTel === "") {
    			alert("입력 필드를 모두 채워주세요.");
			} else if (!emailPattern.test(managerEmail)) {
			    alert("올바른 이메일 형식을 입력하세요.");
			} else {
				//이메일 유효성 검사
				$.ajax({
            					url: '/admin/manager/check_email',
            					async:true,
            					method: 'POST',
            					data: {
            						managerEmail : managerEmail
            					},
            					success : function(response){
            						if(response == 'fail'){
            							alert("이미 존재하는 이메일 주소입니다.");
            						}else if(response == 'success'){
            							//모두 완벽하다면
                        				$.ajax({
                        					url: '/admin/manager/insert',
                        					async:true,
                        					method: 'POST',
                        					data: {
                        						managerNm : managerNm,
                        						managerEmail : managerEmail,
                        						managerPwd : managerPwd,
                        						managerTel : managerTel
                        					},
                        					success : function(response){
                        						if(response == 'success'){
                        							alert("업무담당자가 등록되었습니다.");
                        							window.location.href = "/admin/manager/list";
                        						}
                        					}
                        				});
            						}
            					}
            				});
			}
		}
		
		//조회
		function search() {
			//input값 비어있으면 모두 입력하라고 알리기
			var searchInput = document.querySelector("#search_input").value;
			if (searchInput.value === null) {
				alert("모든 요소를 입력하세요.");
			} else{
				var searchInputCategory = document
				.querySelector(".search_input_category").value;
				
				console.log(searchInput + searchInputCategory);

			$
					.ajax({
						url : '/admin/manager/search',
						async : true,
						method : 'POST',
						data : {
							searchInputCategory : searchInputCategory,
							searchInput : searchInput,
						},
						success : function(response) {
							var managerList = response.managerList;
							console.log(managerList);
							
							//건수 초기화
							var cnt = document.querySelector(".manager_list_cnt");
							cnt.innerHTML = managerList.length;
							
							
							// tbody 요소 찾기
							var tbody = document.querySelector("tbody");

							// tbody 내용 지우기
							while (tbody.firstChild) {
								tbody.removeChild(tbody.firstChild);
							}

							// managerList를 이용하여 새로운 tr 요소 추가
							for (var i = 0; i < managerList.length; i++) {
								var manager = managerList[i];

								//tr 생성
								var tr = document.createElement("tr");

								// td 요소 추가 및 값 설정

								//input type="check"
								var tdCheck = document.createElement("td");
								tdCheck.className = "input_check_td";
								var inputCheck = document
										.createElement("input");
								inputCheck.className = "input_check";
								inputCheck.type = "checkbox";
								inputCheck.name = "chk";
								inputCheck.value = manager.mngrId;
								tdCheck.appendChild(inputCheck);
								tr.appendChild(tdCheck);
								
								//Num
								var tdNum = document.createElement("td");
								tdNum.className ="manager_num";
								tdNum.innerText = managerList.length - i;
								tr.appendChild(tdNum);

								//mngrNm
								var tdMngrNm = document.createElement("td");
								tdMngrNm.className="manager_name";
								var divMngrNm = document.createElement("div");
								divMngrNm.className = "update_div";
								divMngrNm.textContent = manager.mngrNm;
								var inputMngrNm = document
										.createElement("input");
								inputMngrNm.type = "text";
								inputMngrNm.className = "update_input mngr_nm_input";
								inputMngrNm.style.display = "none";
								inputMngrNm.value = manager.mngrNm;

								tdMngrNm.appendChild(divMngrNm);
								tdMngrNm.appendChild(inputMngrNm);
								tr.appendChild(tdMngrNm);

								//mngrTel
								var tdMngrTel = document.createElement("td");
								tdMngrTel.className="manager_tel";
								var divMngrTel = document.createElement("div");
								divMngrTel.className = "update_div";
								divMngrTel.textContent = manager.mngrTel;
								var inputMngrTel = document
										.createElement("input");
								inputMngrTel.type = "text";
								inputMngrTel.className = "update_input mngr_tel_input";
								inputMngrTel.style.display = "none";
								inputMngrTel.value = manager.mngrTel;

								tdMngrTel.appendChild(divMngrTel);
								tdMngrTel.appendChild(inputMngrTel);
								tr.appendChild(tdMngrTel);

								//mngrEmail
								var tdMngrEmail = document.createElement("td");
								tdMngrEmail.textContent = manager.userEmail;
								tr.appendChild(tdMngrEmail);

								//status
								var tdStatus = document.createElement("td");
								var divStatus = document.createElement("div");
								divStatus.className = "update_div mngr_status";
								divStatus.textContent = manager.cmcdNm;
								if(manager.cmcdNm == '휴면'){
									divStatus.classList.add('blue');
								}else if(manager.cmcdNm == '탈퇴'){
									divStatus.classList.add('red');
								}
								
								
								
								var selectStatus = document
										.createElement("select");
								selectStatus.className = "update_input mngr_status_input";
								selectStatus.style.display = "none";
								var option1 = document.createElement("option");
								option1.value = "USR0000001";
								option1.text = "활성화";
								var option2 = document.createElement("option");
								option2.value = "USR0000002";
								option2.text = "휴면";
								selectStatus.appendChild(option1);
								selectStatus.appendChild(option2);
								selectStatus.value = manager.userCd;

								tdStatus.appendChild(divStatus);
								tdStatus.appendChild(selectStatus);
								tr.appendChild(tdStatus);

								//lastLoginDt
								var tdLastLogin = document.createElement("td");
								tdLastLogin.className="last_login_dt";
								if (manager.lastLoginDt != null) {
									tdLastLogin.textContent = formatTimestamp(manager.lastLoginDt);
								}
								tr.appendChild(tdLastLogin);

								//updateBtn
								var tdButton = document.createElement("td");
								tdButton.className = "btn_td";

								//수정 버튼 생성
								var updateBtn = document
										.createElement("button");
								updateBtn.className = "update_btn";
								updateBtn.type = "button";
								updateBtn.textContent = "수정";
								updateBtn.onclick = function() {
									editRow(this);
								};

								// 저장 버튼 생성
								var saveButton = document
										.createElement("button");
								saveButton.className = "save_btn";
								saveButton.type = "button";
								saveButton.style.display = "none"; // 초기에는 숨겨진 상태
								saveButton.textContent = "저장";
								saveButton.onclick = function() {
									saveRow(this);
								};

								// 취소 버튼 생성
								var cancelButton = document
										.createElement("button");
								cancelButton.className = "cancel_btn";
								cancelButton.type = "button";
								cancelButton.style.display = "none"; // 초기에는 숨겨진 상태
								cancelButton.textContent = "취소";
								cancelButton.onclick = function() {
									cancelEdit(this);
								};

								tdButton.appendChild(updateBtn);
								tdButton.appendChild(saveButton);
								tdButton.appendChild(cancelButton);
								tr.appendChild(tdButton);

								tbody.appendChild(tr);
							}

						}
					});
			}

		}

		//날짜 형식
		function formatTimestamp(timestamp) {

			const date = new Date(timestamp);

			const year = date.getFullYear();
			const month = String(date.getMonth() + 1).padStart(2, '0');
			const day = String(date.getDate()).padStart(2, '0');
			const hours = String(date.getHours()).padStart(2, '0');
			const minutes = String(date.getMinutes()).padStart(2, '0');
			const seconds = String(date.getSeconds()).padStart(2, '0');
			const milliseconds = date.getMilliseconds();

			formattedTimestamp = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;

			return formattedTimestamp;
		}

		//수정 버튼
		function editRow(button) {
			var row = button.closest("tr"); // 클릭한 버튼이 속한 <tr> 요소 선택
			row.classList.add("editing"); // 수정 중인 행으로 표시

			// 수정 모드에서 보이는 입력란과 데이터 표시 요소를 토글
			var inputs = row.querySelectorAll(".update_input");
			var dataElements = row.querySelectorAll(".update_div");

			for (var i = 0; i < inputs.length; i++) {
				inputs[i].style.display = "block";
			}

			for (var i = 0; i < dataElements.length; i++) {
				dataElements[i].style.display = "none";
			}

			// 수정 버튼, 저장 버튼, 취소 버튼 표시 제어
			row.querySelector(".update_btn").style.display = "none";
			row.querySelector(".save_btn").style.display = "block";
			row.querySelector(".cancel_btn").style.display = "block";
		}

		//저장 버튼
		function saveRow(button) {
			var row = button.closest("tr"); // 클릭한 버튼이 속한 <tr> 요소 선택

			var mngrId = row.querySelector(".input_check").value;
			var mngrNm = row.querySelector(".mngr_nm_input").value;
			var mngrTel = row.querySelector(".mngr_tel_input").value;
			var mngrStatus = row.querySelector(".mngr_status_input").value;
			console.log(mngrId);
			console.log(mngrNm);
			console.log(mngrTel);
			console.log(mngrStatus);

			$.ajax({
				url : '/admin/manager/update',
				method : 'POST',
				data : {
					mngrId : mngrId,
					mngrNm : mngrNm,
					mngrTel : mngrTel,
					mngrStatus : mngrStatus
				},
				success : function(response) {
					console.log(response);
					if (response == "success") {
						alert("수정되었습니다.");
						window.location.href = "/admin/manager/list";
					}
				}
			});

			// 수정 모드 종료
			cancelEdit(button);
		}

		//취소버튼
		function cancelEdit(button) {
			var row = button.closest("tr"); // 클릭한 버튼이 속한 <tr> 요소 선택
			row.classList.remove("editing"); // 수정 모드 종료

			// 수정 모드에서 보이는 입력란과 데이터 표시 요소를 토글
			var inputs = row.querySelectorAll(".update_input");
			var dataElements = row.querySelectorAll(".update_div");

			for (var i = 0; i < inputs.length; i++) {
				inputs[i].style.display = "none";
			}

			for (var i = 0; i < dataElements.length; i++) {
				dataElements[i].style.display = "block";
			}

			// 수정 버튼, 저장 버튼, 취소 버튼 표시 제어
			row.querySelector(".update_btn").style.display = "block";
			row.querySelector(".save_btn").style.display = "none";
			row.querySelector(".cancel_btn").style.display = "none";
		}
	
		//계정 상태에 따라 다른 색상
		var statusNms = document.querySelectorAll('.mngr_status');
	statusNms.forEach((statusNm) => {
  	if (statusNm.textContent === '휴면') {
  		statusNm.classList.add('blue');
  	}else if(statusNm.textContent === '탈퇴'){
  		statusNm.classList.add('red');
  	}
	});
	</script>
</body>
</html>