<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/manager_header :: header}">
<meta charset="UTF-8">
<title>강사 관리</title>
</head>
<head>
<link th:href="@{/css/admin/professor_list.css}" rel="stylesheet">
</head>
<body>
	<!-- 서브바-->
	<div th:replace="~{/include/manager_subbar :: subbar}"></div>
	<!-- 서브바 -->

	<!-- Content Wrap -->
	<div class="home-section">

		<!-- Content Top -->
		<div class="content_top">
			<!-- Title -->
			<div class="title">강사 관리</div>
			<!-- Route -->
			<div class="route">
				<a th:href="@{/admin}">대시보드</a> > <a th:href="@{/admin/professor}">강사
					관리</a>
			</div>
		</div>
		<!-- Content Top -->

		<!-- Content Middle-->
		<div class="content_middle">
			<!-- Search Filter wrap -->
			<div class="search_filter_wrap">
				<!-- 강사 이름 -->
				<div class="filter_box">
					<div class="filter_title">이름</div>
					<div class="filter_input">
						<input type="text">
					</div>
				</div>

				<!-- 강사 핸드폰 번호 -->
				<div class="filter_box">
					<div class="filter_title">전화번호</div>
					<div class="filter_input">
						<input type="text">
					</div>
				</div>

				<!-- 강사 이메일 -->
				<div class="filter_box">
					<div class="filter_title">이메일</div>
					<div class="filter_input">
						<input type="text">
					</div>
				</div>
			</div>
			<!-- Search Filter wrap -->

			<!-- Search Button wrap -->
			<div class="search_filter_btn_wrap">
				<button type="button" class="search_reset_btn"
					onclick="resetInput()">
					<img th:src="@{/img/reset_white.png}"> <span>초기화</span>
				</button>
				<button type="button" id="search_btn" class="search_filter_btn">
					<img th:src="@{/img/search_white.png}"> <span>조회</span>
				</button>
			</div>
			<!-- Search Button wrap -->
		</div>
		<!-- Content Middle-->

		<!-- Content Bottom-->
		<div class="content_bottom">
			<div class="new_professor">
				<!-- Insert Professor wrap -->
				<div class="insert_professor_wrap">
					<!-- 강사 이름 -->
					<div class="filter_box">
						<div class="filter_title">이름</div>
						<div class="filter_input">
							<input type="text" disabled>
						</div>
					</div>

					<!-- 강사 핸드폰 번호 -->
					<div class="filter_box">
						<div class="filter_title">전화번호</div>
						<div class="filter_input">
							<input type="text" disabled>
						</div>
					</div>

					<!-- 강사 이메일 -->
					<div class="filter_box">
						<div class="filter_title">이메일</div>
						<div class="filter_input">
							<input type="text" disabled>
						</div>
					</div>
				</div>
				<!-- Insert Professor wrap -->

				<!-- 등록하기 버튼 -->
				<button type="button">
					<img th:src="@{/img/plus_white.png}"><span>등록하기</span>
				</button>
			</div>

			<!-- 컨텐츠 개수와 버튼 wrap -->
			<div class="content_info_wrap">
				<div class="content_info">
					<span>강사 총 <span class="professor_list_cnt"
						th:text="${#lists.size(professorList)}">classListCnt</span>명
					</span>
				</div>
				<div class="content_info_btn_wrap">
					<!-- 선택삭제 버튼 -->
					<button type="submit">
						<img th:src="@{/img/minus_white.png}"><span>선택삭제</span>
					</button>
				</div>
			</div>
			<!-- 컨텐츠 개수와 버튼 wrap -->

			<!-- 컨텐츠 리스트 부분 -->
			<div class="content_list">
				<table class="content_list_table" id="class_list_table">
					<tr class="content_list_th">
						<th><input type="checkbox" id="chkAll"></th>
						<th>ID</th>
						<th>이름</th>
						<th>전화번호</th>
						<th>이메일</th>
						<th>등록일시</th>
						<th>관리</th>
					</tr>
					<tr id="professor_list" th:each="professor:${professorList}">
							<td style="text-align:center;"><input type="checkbox" name="chk"
								th:value="${professor.profId}"></td>
							<td th:text="${professor.profId}"></td>
							<td th:text="${professor.profNm}"></td>
							<td th:text="${professor.profTel}"></td>
							<td th:text="${professor.profEmail}"></td>
							<td th:text="${professor.rgstDt}"></td>
							<td class="list_btn" style="width:10%; text-align:center;">
								<button class="update">수정</button>
								<button class="delete">삭제</button>
							</td>
						</tr>
				</table>
			</div>
			<!-- 컨텐츠 리스트 부분 -->
		</div>
		<!-- Content Bottom -->

	</div>
</body>
</html>