<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/manager_header :: header}">
<meta charset="UTF-8">
<title>KOSA 교육지원시스템</title>
</head>
<head>
<link th:href="@{/css/admin/select_company_popup.css}" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
	<h2>기업을 선택하세요.</h2>

	<div class="select_wrap">
		<div class="search_wrap">
			<input type="text" placeholder="기업명을 입력하세요.">
			<button class="search_btn">조회</button>
		</div>
		<div class="company_list_wrap">
			<div class="company_nm" onclick="selectCompany(this)">
				<input type="hidden" value="">
				<span>미정</span> 
			</div>
			<div class="company_nm" onclick="selectCompany(this)"
				th:each="company: ${companyList}">
				<input type="hidden" th:value="${company.cmpyId}"> <span
					th:text="${company.cmpyNm}"></span>
			</div>
		</div>

		<div class="btn_wrap">
			<button type="button" class="btn" onclick="self.close();">취소</button>
		</div>
	</div>
	<script>
		function selectCompany(company) {
			var cmpyId = company.querySelector('input').value;
			var cmpyNm = company.querySelector('span').textContent;

			// 값을 부모 창으로 JSON 객체로 전달
			var values = {
				cmpyId : cmpyId,
				cmpyNm : cmpyNm
			};
			window.opener.postMessage(values, "*");
			window.close(); // 팝업 창 닫기
		}
	</script>
</body>
</html>