<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/manager_header :: header}">
<meta charset="UTF-8">
</head>
<head>
<link th:href="@{/css/admin/student_list.css}" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
	<!-- 서브바-->
	<div th:replace="~{/include/manager_subbar :: subbar}"></div>
	<!-- 서브바 -->

	<!-- Content Wrap -->
	<div class="home-section">

		<!-- Content Top -->
		<div class="content_top">
			<!-- Title -->
			<div class="title">교육생 관리</div>
			<!-- Route -->
			<div class="route">
				<a th:href="@{/admin}">대시보드</a> > <a
					th:href="@{/admin/student/list/1}">교육생 관리</a>
			</div>
		</div>
		<!-- Content Top -->

		<!-- Content Middle-->
		<div class="content_middle">
			<!-- Search Filter wrap -->
			<div class="search_filter_wrap">
				<!-- 교육생 이름 -->
				<div class="filter_box">
					<div class="filter_box_title">교육생 이름</div>
					<div>
						<input class="search_stdt_nm_input" type="text" id="search_input"
							value="">
					</div>
				</div>

				<!-- 교육과정 -->
				<div class="filter_box">
					<div class="filter_box_title">교육과정</div>
					<div>
						<select class="search_clss_nm_select">
							<option value="all" th:text="전체">전체</option>
							<option th:each="class: ${classList}" th:value="${class.clssId}"
								th:text="|${class.clssNm}(${class.clssId})|"></option>
						</select>
					</div>
				</div>

				<!-- 성별 -->
				<div class="filter_box">
					<div class="filter_box_title">성별</div>
					<div>
						<select class="search_gender_select">
							<option value="all" th:text="전체">전체</option>
							<option th:each="gender: ${genderList}"
								th:value="${gender.cmcdId}" th:text="${gender.cmcdNm}"></option>
						</select>
					</div>
				</div>

				<!-- 직업 -->
				<div class="filter_box">
					<div class="filter_box_title">직업</div>
					<div>
						<select class="search_job_select">
							<option value="all" th:text="전체">전체</option>
							<option th:each="job: ${jobList}" th:value="${job.cmcdId}"
								th:text="${job.cmcdNm}"></option>
						</select>
					</div>
				</div>

				<!-- 계정상태 -->
				<div class="filter_box">
					<div class="filter_box_title">계정상태</div>
					<div>
						<select class="search_status_select">
							<option value="all" th:text="전체">전체</option>
							<option th:each="status: ${statusList}"
								th:value="${status.cmcdId}" th:text="${status.cmcdNm}"></option>
						</select>
					</div>
				</div>
			</div>
			<!-- Search Filter wrap -->

			<!-- Search Button wrap -->
			<div class="search_filter_btn_wrap">
				<button type="button" class="reset_btn" onclick="resetInput()">
					<img th:src="@{/img/reset_white.png}"> <span>초기화</span>
				</button>
				<button type="button" class="search_btn" onclick="search()">
					<img th:src="@{/img/search_white.png}"> <span>조회</span>
				</button>
			</div>
			<!-- Search Button wrap -->
		</div>
		<!-- Content Middle-->

		<!-- Content Bottom-->
		<div class="content_bottom">
			<!-- 컨텐츠 개수와 버튼 wrap -->
			<div class="content_info_wrap">
				<div class="content_info">
					<span>총 <span class="student_list_cnt"
						th:text="${studentCnt}"></span> 건
					</span>
				</div>
				<div class="content_info_btn_wrap">
					<!-- 엑셀 다운로드 버튼 -->
					<button type="button" id="excel_btn" onclick="location.href='/excel/admin/student'">
						<img th:src="@{/img/excel.png}"><span>엑셀</span>
					</button>

					<!-- 선택삭제 버튼 -->
					<button type="button" id="delete_btn" onclick="deleteStudents()">
						<img th:src="@{/img/minus_white.png}"><span>선택삭제</span>
					</button>
				</div>
			</div>
			<!-- 컨텐츠 개수와 버튼 wrap -->

			<!-- 컨텐츠 리스트 부분 -->
			<div class="content_list">
				<table class="content_list_table" id="class_list_table">
					<thead>
						<tr class="content_list_th">
							<th style="width: 3%;"><input type="checkbox"
								name="select_all" onclick="selectAll(this)"></th>
							<th style="width: 5%;">번호</th>
							<th style="width: 10%;">이름</th>
							<th style="width: 22%;">이메일</th>
							<th style="width: 5%;">성별</th>
							<th style="width: 10%;">생년월일</th>
							<th style="width: 10%;">연락처</th>
							<th style="width: 5%;">직업</th>
							<th style="width: 10%;">계정상태</th>
							<th style="width: 20%;">마지막 로그인 일시</th>
						</tr>
					</thead>
					<tbody id="tbody">
						<tr th:each="student, iterStat: ${studentList}">
							<td class="student_check"><input class="input_check"
								type="checkbox" name="select" onclick="checkSelectAll()"
								th:value="${student.stdtId}"></td>
							<td class="student_num" th:text="${student.rowNum}"></td>
							<td class="student_name"><a
								th:href="@{/admin/student/view/__${student.stdtId}__}"
								th:text="${student.stdtNm}"></a></td>
							<td class="student_email" th:text="${student.userEmail}"></td>
							<td class="student_gender" th:text="${student.genderNm}"></td>
							<td class="student_birthday"
								th:text="${#dates.format(student.birthDd, 'yyyy-MM-dd')}"></td>
							<td class="student_tel" th:text="${student.stdtTel}"></td>
							<td class="student_job" th:text="${student.jobNm}"></td>
							<td class="student_status" th:text="${student.userNm}"></td>
							<td class="last_login_dt"
								th:text="${#dates.format(student.lastLoginDt, 'yyyy-MM-dd hh:mm:ss')}"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- 컨텐츠 리스트 부분 -->
		</div>
		<!-- Content Bottom-->
		
		<!-- Paging -->
		<nav class="page_nav" aria-label="Page navigation">
			<ul class="pagination">
				<li th:if="${nowPageBlock>1}"><a
					th:href="@{/admin/student/list/__${startPage-1}__}"
					aria-label="Previous">이전</a></li>

				<li th:each="i: ${#numbers.sequence(startPage, endPage)}"
					th:classappend="${i==nowPage}?active"><a
					th:href="@{/admin/student/list/__${i}__}">[[${i}]]</a></li>

				<li th:if="${nowPageBlock<totalPageBlock}"><a
					th:href="@{/admin/student/list/__${endPage+1}__}"
					aria-label="Next">다음</a></li>
			</ul>
		</nav>
		<!-- Paging -->
	</div>

	<script>
	//전체선택
	function selectAll(selectAll){
		//모든 체크박스들
		const checkboxes = document.querySelectorAll('input[name="select"]');
		checkboxes.forEach((checkbox) => {
			checkbox.checked = selectAll.checked;
		});
	}
	
	//개별 선택
	function checkSelectAll(){
		//전체선택 체크박스
		const selectAll = document.querySelector('input[name="select_all"]');
		//모든 체크박스
		const checkboxes = document.querySelectorAll('input[name="select"]');
		//선택된 체크박스
		const checked = document.querySelectorAll('input[name="select"]:checked');
		
		if(checkboxes.length == checked.length){
			selectAll.checked = true;
		}else{
			selectAll.checked = false;
		}
	}
	
	//날짜 형식
	function formatTimestamp(timestamp) {

		const date = new Date(timestamp);

		const year = date.getFullYear();
		const month = String(date.getMonth() + 1).padStart(2, '0');
		const day = String(date.getDate()).padStart(2, '0');
		const hours = String(date.getHours()).padStart(2, '0');
		const minutes = String(date.getMinutes()).padStart(2, '0');
		const seconds = String(date.getSeconds()).padStart(2, '0');
		const milliseconds = date.getMilliseconds();

		formattedTimestamp = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;

		return formattedTimestamp;
	}
	
	//검색한 학생 리스트 다시 띄우기
	function updateStudentList(studentList){
		//tbody
		var tbody = document.querySelector(".content_list_table tbody");
		$("#tbody").empty();
		
		//총 개수 변경
		var studentCnt = document.querySelector(".student_list_cnt");
		studentCnt.textContent = studentList.length;
		
		for(var i=0; i<studentList.length; i++){
			var student = studentList[i];
			
			var trStudent = document.createElement("tr");
			trStudent.className = "content_list_td"	
			var tdCheck = document.createElement("td");
			tdCheck.className="student_check";
			var inputCheck = document.createElement("input");
			inputCheck.className ="input_check";
			inputCheck.type="checkbox";
			inputCheck.name="select";
			inputCheck.onclick = function(){
				checkSelectAll();
			}
			inputCheck.value = student.stdtId;
			tdCheck.appendChild(inputCheck);
			trStudent.appendChild(tdCheck);
			
			var tdNum = document.createElement("td");
			tdNum.className = "student_num";
			tdNum.textContent = studentList.length-i;
			trStudent.appendChild(tdNum);
			
			var tdName = document.createElement("td");
			tdName.className ="student_name";
			var aName = document.createElement("a");
			aName.href = '/admin/student/view/'+student.stdtId;
			aName.textContent = student.stdtNm;
			tdName.appendChild(aName);
			trStudent.appendChild(tdName);
			
			var tdEmail = document.createElement("td");
			tdEmail.className = "student_email";
			tdEmail.textContent = student.userEmail;
			trStudent.appendChild(tdEmail);
			
			var tdGender = document.createElement("td");
			tdGender.className ="student_gender";
			tdGender.textContent = student.genderNm;
			trStudent.appendChild(tdGender);
			
			var tdBirthDd = document.createElement("td");
			tdBirthDd.className ="student_birthday";
			tdBirthDd.textContent = student.birthDd;
			trStudent.appendChild(tdBirthDd);
			
			var tdTel = document.createElement("td");
			tdTel.className="student_tel";
			tdTel.textContent = student.stdtTel;
			trStudent.appendChild(tdTel);
			
			var tdJob = document.createElement("td");
			tdJob.className = "student_job";
			tdJob.textContent = student.jobNm;
			trStudent.appendChild(tdJob);
			
			var tdStatus = document.createElement("td");
			tdStatus.className = "student_status";
			tdStatus.textContent = student.userNm;
			if(student.userNm == '휴면'){
				tdStatus.classList.add('blue');	
			}else if(student.userNm == '탈퇴'){
				tdStatus.classList.add('red');
			}
			trStudent.appendChild(tdStatus);
			
			var tdLastLoginDt = document.createElement("td");
			tdLastLoginDt.className ="last_login_dt";
			tdLastLoginDt.textContent =formatTimestamp(student.lastLoginDt);
			trStudent.appendChild(tdLastLoginDt);
			
			tbody.appendChild(trStudent);
			
		}
	}
	
	
	//선택삭제
	function deleteStudents(){
		//선택된 교육생의 id
		var selectedStudentIds = [];
		
		//선택된 체크박스 모두 선택
		var selectedCheckboxes = document.querySelectorAll(".input_check:checked");
				
		//체크박스의 value값 배열에 추가
		selectedCheckboxes.forEach(function(checkbox) {
			selectedStudentIds.push(checkbox.value);
		});
		
		// Ajax 요청에서 selectedLectureIds를 배열로 전송합니다.
		$.ajax({
			url : '/admin/student/delete',
			method : 'POST',
			data : {
				selectedStudentIds : selectedStudentIds
			},
			success : function(response) {
				console.log(response);
				if (response == "success") {
					alert("선택한 교육생이 탈퇴처리 되었습니다.");
					window.location.href = "/admin/student/list";
				}
			}
		});
	}
	
	//초기화 버튼
	function resetInput(){
		var stdtNmInput = document.querySelector(".search_stdt_nm_input");
		var clssNmSelect = document.querySelector(".search_clss_nm_select");
		var genderSelect = document.querySelector(".search_gender_select");
		var jobSelect = document.querySelector(".search_job_select");
		var statusSelect = document.querySelector(".search_status_select");
		
		stdtNmInput.value = "";
		clssNmSelect.value="all";
		genderSelect.value="all";
		jobSelect.value="all";
		statusSelect.value="all";
	}
	
	//조회 버튼
	function search(){
		var stdtNm = document.querySelector(".search_stdt_nm_input").value;
		var clssId = document.querySelector(".search_clss_nm_select").value;
		var genderCd = document.querySelector(".search_gender_select").value;
		var jobCd = document.querySelector(".search_job_select").value;
		var userCd = document.querySelector(".search_status_select").value;
		
		//ajax로 보내서 검색 리스트 받아오기
		$.ajax({
			url: '/admin/student/search',
			method: 'GET',
			data:{
				stdtNm : stdtNm,
				clssId : clssId,
				genderCd : genderCd,
				jobCd : jobCd,
				userCd : userCd
			},
			success: function(studentList){
				updateStudentList(studentList);
			}
		});
		//성공하면 input다 ㄱ초기화 하기
		
		//tbody 비우고 리스트 비우기
	}
	
	//상태값마다 다른 색상
	var statusNms = document.querySelectorAll('.student_status');
	statusNms.forEach((statusNm) => {
  	if (statusNm.textContent === '휴면') {
  		statusNm.classList.add('blue');
  	}else if(statusNm.textContent === '탈퇴'){
  		statusNm.classList.add('red');
  	}
	});
	
	</script>
</body>
</html>