<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Manager MainPage</title>
</head>
<body th:fragment="subbar" id="page-top">
	<div class="sidebar">
		<div class="logo-details">
			<i class='bx bxl-c-plus-plus icon'></i>
			<div class="logo_name">
				<img class="logo" th:src="@{/img/logo_text.png}">
			</div>
			<i class='bx bx-menu' id="btn"><img class="open_icon"
				th:src="@{/img/open.png}"></i>
		</div>
		<ul class="nav-list">
			<li><a class="icon_img" th:href="@{/__${session.role}__}"> <i
					class='bx bx-grid-alt'> <img th:src="@{/img/main_white.png}">
				</i> <span class="links_name">메인</span>
			</a> <span class="tooltip">메인</span></li>
			<li><a class="icon_img" th:href="@{/__${session.role}__/notice}"> <i
					class='bx bx-user'><img th:src="@{/img/notice_white.png}"></i>
					<span class="links_name">공지사항 관리</span>
			</a> <span class="tooltip">공지사항 관리</span></li>
			<li><a class="icon_img" th:href="@{/__${session.role}__/inquiry}"> <i
					class='bx bx-chat'><img th:src="@{/img/inquiry_white.png}"></i>
					<span class="links_name">문의 관리</span>
			</a> <span class="tooltip">문의 관리</span></li>
			<li><a class="icon_img" th:href="@{/__${session.role}__/manager}"> <i
					class='bx bx-pie-chart-alt-2'><img
						th:src="@{/img/manager_white.png}"></i> <span class="links_name">업무
						담당자 관리</span>
			</a> <span class="tooltip">업무 담당자 관리</span></li>
			<li><a class="icon_img" th:href="@{/__${session.role}__/company}"> <i
					class='bx bx-pie-chart-alt-2'><img
						th:src="@{/img/company_white.png}"></i> <span class="links_name">기업
						관리</span>
			</a> <span class="tooltip">기업 관리</span></li>
			<li><a class="icon_img" th:href="@{/__${session.role}__/professor}"> <i
					class='bx bx-pie-chart-alt-2'><img
						th:src="@{/img/professor_white.png}"></i> <span
					class="links_name">강사 관리</span>
			</a> <span class="tooltip">강사 관리</span></li>
			<li><a class="icon_img" th:href="@{/__${session.role}__/lecture}"> <i
					class='bx bx-pie-chart-alt-2'><img
						th:src="@{/img/lecture_white.png}"></i> <span class="links_name">과목
						관리</span>
			</a> <span class="tooltip">과목 관리</span></li>
			<li><a class="icon_img" th:href="@{/__${session.role}__/commoncode}"> <i
					class='bx bx-folder'><img th:src="@{/img/commoncode_white.png}"></i>
					<span class="links_name">기준 정보 관리</span>
			</a> <span class="tooltip">기준 정보 관리</span></li>
			<li><a class="icon_img" th:href="@{/__${session.role}__/class}"> <i
					class='bx bx-cart-alt'><img th:src="@{/img/class_white.png}"></i>
					<span class="links_name">교육과정 관리</span>
			</a> <span class="tooltip">교육과정 관리</span></li>
			<li><a class="icon_img" th:href="@{/__${session.role}__/student}"> <i
					class='bx bx-heart'><img th:src="@{/img/student_white.png}"></i>
					<span class="links_name">교육생 관리</span>
			</a> <span class="tooltip">교육생 관리</span></li>
			<!--  
			<li><a href="#"> <i class='bx bx-cog'></i> <span
					class="links_name">출퇴근 관리</span>
			</a> <span class="tooltip">출퇴근 관리</span></li>
			<li><a href="#"> <i class='bx bx-cog'></i> <span
					class="links_name">만족도 조사 관리</span>
			</a> <span class="tooltip">만족도 조사 관리</span></li>
			-->
			<li class="profile">
				<div class="profile-details">
					<img th:src="@{/img/manager_navy.png}" alt="profileImg">
					<div class="name_job">
						<div class="name" th:text="${session.userEmail}">userEmail</div>
						<div class="job" th:text="${session.lastLoginDt}">lastLoginDt</div>
						<div class="logout" >
							
						</div>
					</div>
					<i class='bx bx-log-out' id="log_out"><a onclick="logout()"><img
								style="width: 35px; object-fit: contain;margin-top: 5px;" class='bx bx-log-out'
								id="log_out" th:src="@{/img/logout_white.png}"></a></i>
				</div>
			</li>
		</ul>
	</div>
	<script>
		//사이드바 open/close
  		let sidebar = document.querySelector(".sidebar");
  		let closeBtn = document.querySelector("#btn");
  		closeBtn.addEventListener("click", ()=>{
    		sidebar.classList.toggle("open");
    		menuBtnChange();//calling the function(optional)
  		});
  		// following are the code to change sidebar button(optional)
  		function menuBtnChange() {
   			if(sidebar.classList.contains("open")){
     			closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
   			}else {
     			closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
   			}
  		}
  
		//서브바 메뉴 event
		const listItem = document.querySelectorAll('.nav-list li a');//모든 li안의 있는 a태그
		
		listItem.forEach(item => {
			//한 a태그의 자식 img객체를 얻어와야됨.
			const img = item.querySelector('i img');
			
			// 이미지의 원본 소스 및 현재 소스 가져오기
			const originalSrc = img.getAttribute('src');
			const currentSrc = img.getAttribute('src');
			
			//hover event
			item.addEventListener('mouseenter', () => {
      			const newSrc = originalSrc.replace('_white', '_navy'); // Assuming you have separate hover images 
      			img.setAttribute('src', newSrc);
    		});

			item.addEventListener('mouseleave', () => {
				// 클릭한 후에는 현재 상태를 고정
			    if (!currentSrc.includes('_navy')) {
			      img.setAttribute('src', originalSrc);
			    }
    		});
  		});
		
		function logout() {
	        if (!confirm("로그아웃 하시겠습니까?")) {
	        	//원래 화면으로
	        } else {
	        	location.replace("/login");
	        }
	    }
  </script>
</body>
</html>