<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Manager MainPage</title>
</head>
<body>
	<div class="sidebar" th:fragment="subbar">
		<ul>
			<li class="active" data-image="/img/user_white.png"
				data-original-image="/img/user_navy.png"><img
				th:src="@{/img/user_navy.png}"><span>개인 정보 조회/수정</span></li>
			<li data-image="/img/list_white.png"
				data-original-image="/img/list_navy.png"><img
				th:src="@{/img/list_navy.png}"><span>교육 과정 지원 내역</span></li>
			<li data-image="/img/print_white.png"
				data-original-image="/img/print_navy.png"><img
				th:src="@{/img/print_navy.png}"><span>교육 과정 이수 내역</span></li>
			<li data-image="/img/worklog_white.png"
				data-original-image="/img/worklog_navy.png"><img
				th:src="@{/img/worklog_navy.png}"><span>출퇴근 관리</span></li>
			<li data-image="/img/inquiry_white.png"
				data-original-image="/img/inquiry_navy.png"><img
				th:src="@{/img/inquiry_white.png}"><span>문의 내역</span></li>
		</ul>
	</div>
</body>
</html>