<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="header">
<head>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link rel="icon" href="/img/icon.png" />
<title>KOSA 교육 지원 시스템</title>
</head>
<div>
	<header>
		<div class="container">
			<a th:href="@{/student}"> <img th:src="@{/img/logo.png}"
				style="height: 60px;" />
			</a>

			<div th:if="${session.userEmail==null}">
				<!-- 로그인을 하지 않은 경우의 헤더 -->

				<nav>
					<ul class="barlist">
						<li><a th:href="@{/student/class/list}">교육과정지원</a></li>
						<li><a th:href="@{/student/notice/list}">공지사항</a></li>
						<li><a th:href="@{/student/inquiry/list}">문의사항</a></li>
						<li><a class="mypage" th:href="@{/login}"
							style="display: flex; align-items: center; width: 100%;">로그인
								<img th:src="@{/img/in.png}"
								style="height: 30px; margin-left: 5%;">
						</a></li>
					</ul>
				</nav>

			</div>
			<div th:if="${session.userEmail!=null}">
				<!-- 로그인 후의 헤더 -->
				<nav>
					<ul class="barlist">
						<li><a th:href="@{/student/class/list}">교육과정지원</a></li>
						<li><a th:href="@{/student/notice/list}">공지사항</a></li>
						<li><a th:href="@{/student/inquiry/list}">문의사항</a></li>
						<li><a class="mypage gomypage" >마이페이지</a></li>
						<li><a class="mypage" onclick="logout()"
							style="display: flex; align-items: center; width: 100%;">로그아웃
								<img th:src="@{/img/out.png}"
								style="height: 30px; margin-left: 5%;">
						</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
</div>
<script>
const gomypage = document.querySelector('.gomypage');

gomypage.addEventListener('click', () => {
	const selectParam = 1; // 이동하려는 페이지에서 원하는 select 매개변수 값을 설정하세요.
	const newUrl = '/student/mypage?select=' + selectParam;
	window.location.href = newUrl;
});

function logout() {
    if (!confirm("로그아웃 하시겠습니까?")) {
    	//원래 화면으로
    } else {
    	location.replace("/logout");
    }
}
</script>
</html>