<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
	<footer>
		<div class="container" style="margin: 0; padding-bottom:0;">
			<div class="footerBody">
				<div class="footerImg">
					<a th:href="@{/student}"><img th:src="@{/img/logo_white.png}"
						style="height: 100px;"></a>
				</div>
				<div class="links">
					<h2>Links</h2>
					<ul>
						<li><img th:src="@{/img/education.png}"><a
							th:href="@{/student/class/list}"><span>교육과정지원</span></a></li>
						<li><img th:src="@{/img/notice.png}"><a
							th:href="@{/student/notice/list}"><span>공지사항</span></a></li>
						<li><img th:src="@{/img/inquiry.png}"><a
							th:href="@{/student/inquiry/list}"><span>문의사항</span></a></li>
					</ul>
				</div>
				<div class="contact" style="width: 30%;">
					<h2>Contact</h2>
					<ul>
						<li><img th:src="@{/img/ping.png}"><span
							style="width: 80px;">주소 </span><span>서울시 용산구 청파로 61길 5
								6F~8F</span></li>
						<li><img th:src="@{/img/phone.png}"><span
							style="width: 80px;">전화번호 </span><span>010-5744-9937</span></li>
						<li><img th:src="@{/img/email.png}"><span
							style="width: 80px;">이메일 </span><span>tess@gmail.com</span></li>
					</ul>
				</div>
				<div class="emailJoin">
					<label for="email"
						style="padding-bottom: 20%; color: #E7EFF3; font-weight: bold; font-size: 18px;">협회
						소식을 받아보세요.</label> <!-- <input type="email" placeholder="이메일을 입력하세요."
						id="email" style="width: 80%;"> -->
					<button type="submit" onclick="subscribe()">구독하기</button>
				</div>
			</div>
		</div>
		<div class="footerFoot">
			&copy; TESS Template by <a th:href="@{/student}">5</a>
		</div>
	</footer>
</div>
</html>