<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finalprj.kess.repository.IAdminRepository">

	<select id="getCommonCode" parameterType="string"
		resultType="string">
	<![CDATA[
		(select tpcd_id||cmcd_id as "CommonCodeId"
		from cmcd
		where cmcd_nm=#{commonCodeName})
	]]>
	</select>

	<select id="getWaitInquiryCnt" resultType="int">
	<![CDATA[
		select count(post_id) as "waitInquiryCnt"
		from post
		where post_cd=
		(select tpcd_id||cmcd_id
		from cmcd
		where cmcd_nm='답변대기')and post_id like 'INQ%'
	]]>
	</select>

	<select id="getWaitClassCnt" resultType="int">
	<![CDATA[
		select count(clss_id) as "waitClassCnt"
		from clss
		where clss_cd=
		(select tpcd_id||cmcd_id
		from cmcd
		where cmcd_nm='접수중')
	]]>
	</select>

	<select id="getCompleteClassCnt" resultType="int">
	<![CDATA[
		select count(clss_id) as "completeClassCnt"
		from clss
		where clss_cd=
		(select tpcd_id||cmcd_id
		from cmcd
		where cmcd_nm='교육완료' and tpcd_id='GRP0002')
	]]>
	</select>

</mapper>