<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finalprj.kess.repository.IAdminRepository">

	<select id="getNoticeCnt" resultType="int">
	<![CDATA[
		select count(post_id)
		from post
		where post_id like 'NOTC%' and delete_yn='N'
	]]>
	</select>

	<select id="getInquiryCnt" resultType="int">
	<![CDATA[
		select count(post_id)
		from post
		where post_id like 'INQY%' and delete_yn='N'
	]]>
	</select>

	<select id="getCompanyCnt" resultType="int">
	<![CDATA[
		select count(cmpy_id)
		from cmpy
		where delete_yn = 'N'
	]]>
	</select>

	<select id="getSubjectCnt" resultType="int">
	<![CDATA[
		select count(sbjt_id)
		from sbjt
		where delete_yn = 'N'
	]]>
	</select>

	<select id="getStudentCnt" resultType="int">
	<![CDATA[
		select count(stdt_id)
		from stdt
		join lgin on lgin.user_email = stdt.user_email
		where user_cd = 'USR0000001'
	]]>
	</select>

	<select id="getClassCnt" resultType="int">
	<![CDATA[
		select count(clss_id)
		from clss
		where delete_yn='N' 
	]]>
	</select>

	<select id="getProfesserCnt" resultType="int">
	<![CDATA[
		select count(prof_id)
		from prof
		where delete_yn = 'N'
	]]>
	</select>

	<select id="getManagerCnt" resultType="int">
	<![CDATA[
		select count(mngr_id) 
		from mngr
		join lgin on lgin.user_email = mngr.user_email
		where role_cd = 'ROL0000003' and user_cd = 'USR0000001'
	]]>
	</select>

	<select id="getWaitInquiryCnt" resultType="int">
	<![CDATA[
		select count(post_id)
		from post
		where post_id like 'INQY%' and post_cd = 'PST0000003'
	]]>
	</select>

	<select id="getWaitInquiryList"
		resultType="com.finalprj.kess.model.PostVO">
	<![CDATA[
		select *
		from post
		where post_id like 'INQY%' and post_cd = 'PST0000003'
	]]>
	</select>

	<select id="getCompleteClassCnt" resultType="int">
	<![CDATA[
		select count(clss_id) 
		from clss
		where clss_cd = 'CLS0000005'
	]]>
	</select>

	<select id="getCompleteClassList"
		resultType="com.finalprj.kess.model.ClassVO">
	<![CDATA[
		select *
		from clss
		where clss_cd = 'CLS0000005'
	]]>
	</select>

	<select id="getClassList" parameterType="int"
		resultType="com.finalprj.kess.model.ClassVO">
	<![CDATA[
		select *
		from (
        select row_number() over(order by clss.clss_id desc) as row_num,
		clss.clss_id,
		clss.mngr_id,
		clss.cmpy_id,
		clss.clss_nm,
		clss.clss_content,
		clss.limit_cnt,
		clss.aply_start_dt,
		clss.aply_end_dt,
		clss.clss_start_dd,
		clss.clss_end_dd,
		clss.set_in_tm,
		clss.set_out_tm,
		clss.clss_adr,
		clss.clss_total_tm,
		clss.clss_etc,
		clss.rgst_dt,
		clss.rgster_id,
		clss.updt_dt,
		clss.updter_id,
		clss.delete_yn,
		clss.clss_subsidy,
		cmcd.cmcd_nm,
		mngr.mngr_nm,
		mngr.user_email		
		from clss
		left join mngr on mngr.mngr_id = clss.mngr_id
		left join cmpy on cmpy.cmpy_id = clss.cmpy_id
		join cmcd on cmcd.cmcd_id = clss.clss_cd
		where clss.delete_yn='N'
		)
        where row_num between #{start} and #{end}
	]]>
	</select>

	<select id="getClassCodeNameList" resultType="string">
	<![CDATA[
		select cmcd_nm 
		from cmcd
		where tpcd_id = 'GRP0000002'
	]]>
	</select>

	<select id="getMaxClassId" resultType="string">
	<![CDATA[
		select 'CLSS'||LPAD((max(cast(substr(clss_id,5) as number(6)))+1),6,'0')
		from clss
	]]>
	</select>

	<select id="getCompanyList" parameterType="int"
		resultType="com.finalprj.kess.model.CompanyVO">
	<![CDATA[
		select *
		from (
        select row_number() over(order by cmpy_id) as row_num,
        cmpy_id,
        cmpy_nm,
        cmpy_tel,
        cmpy_adr,
        file_id,
        rgst_dt,
        rgster_id,
        updt_dt,
        updter_id,
        delete_yn
		from cmpy
		where delete_yn = 'N' and cmpy_id != 'CMPY000000'
		)
        where row_num between #{start} and #{end}
	]]>
	</select>

	<select id="getManagerList" parameterType="int"
		resultType="com.finalprj.kess.model.ManagerVO">
	<![CDATA[
		select *
		from (
        select row_number() over(order by mngr_nm) as row_num,
		mngr.mngr_id,
		mngr.user_email,
		mngr.mngr_nm,
		mngr.mngr_tel,
		mngr.rgst_dt,
		mngr.rgster_id,
		mngr.updt_dt, 
		mngr.updter_id,
		cmcd.cmcd_id,
		cmcd.cmcd_nm,
		lgin.role_cd,
		lgin.user_pwd,
		lgin.user_cd,
		lgin.last_login_dt
		from mngr
		join lgin on lgin.user_email = mngr.user_email
		join cmcd on cmcd.cmcd_id = lgin.user_cd
		where role_cd = 'ROL0000003'
		)
        where row_num between #{start} and #{end}
	]]>
	</select>

	<select id="getLectureList"
		resultType="com.finalprj.kess.model.LectureVO">
	<![CDATA[
		select *
		from lctr
		join sbjt on sbjt.sbjt_id = lctr.sbjt_id
		join prof on prof.prof_id = lctr.prof_id
		where lctr.delete_yn = 'N'
		order by lctr_id
	]]>
	</select>

	<select id="getSubject"
		resultType="com.finalprj.kess.model.SubjectVO" parameterType="string">
	<![CDATA[
		select * 
		from sbjt
		where sbjt_id = (
		select sbjt_id from lctr where lctr_id=#{lectureId}
		)
	]]>
	</select>

	<select id="getProfessor"
		resultType="com.finalprj.kess.model.ProfessorVO"
		parameterType="string">
	<![CDATA[
		select * 
		from prof
		where prof_id = (
		select prof_id from lctr where lctr_id=#{lectureId}
		)
	]]>
	</select>

	<select id="getLecture"
		resultType="com.finalprj.kess.model.LectureVO" parameterType="string">
	<![CDATA[
		select * 
		from lctr
		where lctr_id = #{lectureId}
	]]>
	</select>

	<select id="getCommonCodeList"
		resultType="com.finalprj.kess.model.CommonCodeVO"
		parameterType="string">
	<![CDATA[
		select * 
		from cmcd
		where tpcd_id = #{tpcdId}
		order by cmcd_id
	]]>
	</select>

	<insert id="insertClassVO"
		parameterType="com.finalprj.kess.model.ClassVO">
	<![CDATA[
		insert into clss (
			clss_id, 
			mngr_id, 
			cmpy_id, 
			clss_nm, 
			clss_content, 
			limit_cnt, 
			aply_start_dt, 
			aply_end_dt, 
			clss_start_dd, 
			clss_end_dd, 
			set_in_tm, 
			set_out_tm, 
			clss_cd,
			clss_adr, 
			clss_total_tm, 
			file_id, 
			clss_etc, 
			rgster_id,
			clss_subsidy)
		values(
			#{clssId}, 
			#{mngrId},
			#{cmpyId},
			#{clssNm},
			#{clssContent},
			#{limitCnt},
			#{aplyStartDt},
			#{aplyEndDt},
			#{clssStartDd},
			#{clssEndDd},
			#{setInTm},
			#{setOutTm},
			#{clssCd},
			#{clssAdr},
			#{clssTotalTm},
			#{fileId},
			#{clssEtc}, 
			#{rgsterId},
			#{clssSubsidy})		
	]]>
	</insert>

	<insert id="insertCurriculumVO"
		parameterType="com.finalprj.kess.model.CurriculumVO">
		<![CDATA[
        insert into crcl (
        	clss_id,
        	lctr_id,
        	rgster_id)
        VALUES(
        	#{clssId},
        	#{lctrId},
        	#{rgsterId}
        	)
		]]>
	</insert>

	<select id="getClass" parameterType="string"
		resultType="com.finalprj.kess.model.ClassVO">
	<![CDATA[
		select *
		from clss
		left join mngr on mngr.mngr_id = clss.mngr_id
		left join cmpy on cmpy.cmpy_id = clss.cmpy_id
		join cmcd on cmcd.cmcd_id = clss.clss_cd
		where clss_id = #{clssId}
	]]>
	</select>

	<select id="getCurriculumList" parameterType="string"
		resultType="com.finalprj.kess.model.CurriculumVO">
	<![CDATA[
		select *
		from crcl
		where clss_id = #{clssId}
	]]>
	</select>

	<select id="getCurriculumDetail" parameterType="string"
		resultType="com.finalprj.kess.dto.CurriculumDetailDTO">
	<![CDATA[
		select lctr.lctr_id, lctr.lctr_nm, lctr.lctr_tm, sbjt.sbjt_id, sbjt.sbjt_nm, prof.prof_id, prof.prof_nm
		from lctr
		join sbjt on sbjt.sbjt_id = lctr.sbjt_id
		join prof on prof.prof_id = lctr.prof_id
		where lctr.lctr_id = #{lctrId}
	]]>
	</select>

	<update id="deleteFile" parameterType="string">
		<foreach collection="fileSubIds" item="subId"
			open="DECLARE BEGIN" separator=";" close="; END;">
			update flup
			set delete_yn =
			'Y'
			where file_id=#{fileId} and file_sub_id =#{subId}
		</foreach>
	</update>

	<select id="getMaxFileSubId" parameterType="string"
		resultType="Integer">
	<![CDATA[
		select max(file_sub_id)+1
		from flup
		where file_id=#{fileId}
		]]>
	</select>

	<update id="updateClassVO"
		parameterType="com.finalprj.kess.model.ClassVO">
	<![CDATA[
		update clss
		set 
			mngr_id = #{mngrId},
			cmpy_id = #{cmpyId},
			clss_nm = #{clssNm},
			clss_content = #{clssContent},
			limit_cnt = #{limitCnt},
			aply_start_dt = #{aplyStartDt},
			aply_end_dt = #{aplyEndDt},
			clss_start_dd = #{clssStartDd},
			clss_end_dd = #{clssEndDd},
			set_in_tm = #{setInTm},
			set_out_tm = #{setOutTm},
			clss_cd = #{clssCd},
			clss_adr = #{clssAdr},
			clss_total_tm = #{clssTotalTm},
			clss_etc = #{clssEtc},
			updt_dt = systimestamp,
			updter_id = #{updterId},
			clss_subsidy = #{clssSubsidy}
		where clss_id=#{clssId}
	]]>
	</update>

	<delete id="deleteCurriculum" parameterType="string">
	<![CDATA[
		delete from crcl
		where clss_id=#{clssId}
	]]>
	</delete>

	<select id="getApplyDetailDTOList" parameterType="string"
		resultType="com.finalprj.kess.dto.ApplyDetailDTO">
	<![CDATA[
		select *
		from aply
		join stdt on stdt.stdt_id = aply.stdt_id
		join cmcd on cmcd.cmcd_id = aply.aply_cd
		join flup on flup.file_id = aply.file_id
		where clss_id = #{clssId} and aply_cd != 'APL0000001'
	]]>
	</select>

	<update id="updateAplyPass" parameterType="java.util.List">
		<foreach collection="aplyIds" item="item" open="DECLARE BEGIN"
			separator=";" close="; END;">
			update aply
			set
			aply_cd = 'APL0000003',
			updt_dt =
			SYSTIMESTAMP,
			updter_id = 'MNGR000001'
			where aply_id = #{item}
		</foreach>
	</update>

	<update id="updateAplyFail" parameterType="java.util.List">
		<foreach collection="aplyIds" item="item" open="DECLARE BEGIN"
			separator=";" close="; END;">
			update aply
			set
			aply_cd = 'APL0000004',
			updt_dt =
			SYSTIMESTAMP,
			updter_id = 'MNGR000001'
			where aply_id = #{item}
		</foreach>
	</update>

	<update id="deleteClass" parameterType="java.util.List">
		<foreach collection="clssIds" item="item" open="DECLARE BEGIN"
			separator=";" close="; END;">
			update clss
			set
			delete_yn = 'Y',
			updt_dt =
			SYSTIMESTAMP,
			updter_id = 'MNGR000001'
			where clss_id = #{item}
		</foreach>
	</update>

	<select id="getSearchClassVOList"
		resultType="com.finalprj.kess.model.ClassVO" parameterType="hashmap">
	<![CDATA[
	SELECT *
	FROM
	    clss
	left join cmcd on cmcd.cmcd_id = clss.clss_cd
	WHERE
        clss_nm LIKE CONCAT(#{className}, '%')
        AND clss_cd IN
    ]]>
		<foreach collection="status" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	<![CDATA[
        AND ((aply_start_dt >= #{aplyStartDt} AND aply_end_dt <= #{aplyEndDt}) or aply_start_dt is null or aply_end_dt is null)
        AND ((clss_start_dd >= #{classStartDd} AND clss_end_dd <= #{classEndDd}) or clss_start_dd is null or clss_end_dd is null)
	ORDER BY
		clss_id
	]]>
	</select>

	<select id="getProfessorList"
		resultType="com.finalprj.kess.model.ProfessorVO">
	<![CDATA[
		select *
		from prof
		where delete_yn='N'
		order by prof_nm
	]]>
	</select>

	<select id="getSubjectList"
		resultType="com.finalprj.kess.model.SubjectVO">
	<![CDATA[
		select *
		from sbjt
		where delete_yn='N'
		order by sbjt_nm
	]]>
	</select>

	<select id="getSubjectNmCnt" parameterType="string"
		resultType="int">
	<![CDATA[
	select count(sbjt_id)
	from sbjt
	where REPLACE(UPPER(sbjt_nm), ' ', '') = REPLACE(UPPER(#{sbjtNm}), ' ', '')
		and delete_yn='N'
	]]>
	</select>

	<select id="getMaxSubjectId" resultType="string">
	<![CDATA[
		select 'SBJT'||LPAD((max(cast(substr(sbjt_id,5) as number(6)))+1),6,'0')
		from sbjt
	]]>
	</select>

	<insert id="insertSubjectVO"
		parameterType="com.finalprj.kess.model.SubjectVO">
	<![CDATA[
	insert into sbjt (
		sbjt_id,
		sbjt_nm,
		rgster_id)
	values (
		#{sbjtId}, 
		#{sbjtNm}, 
		'MNGR000001')
	]]>
	</insert>

	<select id="getProfTelCnt" parameterType="string"
		resultType="int">
	<![CDATA[
	select count(prof_id)
	from prof
	where prof_tel = #{profTel}
	]]>
	</select>

	<select id="getMaxProfId" resultType="string">
	<![CDATA[
		select 'PROF'||LPAD((max(cast(substr(prof_id,5) as number(6)))+1),6,'0')
		from prof
	]]>
	</select>

	<insert id="insertProfessorVO"
		parameterType="com.finalprj.kess.model.ProfessorVO">
	<![CDATA[
	insert into prof (
		prof_id,
		prof_nm,
		prof_tel,
		prof_email,
		rgster_id)
	values (
		#{profId}, #{profNm}, #{profTel}, #{profEmail},'MNGR000001')
	]]>
	</insert>

	<select id="getLctrNmCnt" parameterType="string"
		resultType="int">
	<![CDATA[
	select count(lctr_id)
	from lctr
	where REPLACE(UPPER(lctr_nm), ' ', '')= REPLACE(UPPER(#{lctrNm}), ' ', '')
	]]>
	</select>

	<select id="getMaxLectureId" resultType="string">
	<![CDATA[
		select 'LCTR'||LPAD((max(cast(substr(lctr_id,5) as number(6)))+1),6,'0')
		from lctr
	]]>
	</select>

	<insert id="insertLectureVO"
		parameterType="com.finalprj.kess.model.LectureVO">
	<![CDATA[
	insert into lctr (
		lctr_id, sbjt_id, prof_id, lctr_nm, lctr_tm, rgst_etc, rgster_id
	)
	values (#{lctrId}, #{sbjtId}, #{profId}, #{lctrNm}, #{lctrTm}, null, 'MNGR000001')
	]]>
	</insert>

	<update id="deleteLecture" parameterType="java.util.List">
		<foreach collection="lectureIds" item="item"
			open="DECLARE BEGIN" separator=";" close="; END;">
			update lctr
			set
			delete_yn =
			'Y',
			updt_dt = SYSTIMESTAMP,
			updter_id = 'MNGR000001'
			where lctr_id =
			#{item}
		</foreach>
	</update>

	<update id="deleteSubject" parameterType="java.util.List">
		<foreach collection="selectedSubjectIds" item="item"
			open="DECLARE BEGIN" separator=";" close="; END;">
			update sbjt
			set
			delete_yn =
			'Y',
			updt_dt = SYSTIMESTAMP,
			updter_id = 'MNGR000001'
			where sbjt_id =
			#{item}
		</foreach>
	</update>

	<update id="deleteProfessor" parameterType="java.util.List">
		<foreach collection="selectedProfessorIds" item="item"
			open="DECLARE BEGIN" separator=";" close="; END;">
			update prof
			set
			delete_yn =
			'Y',
			updt_dt = SYSTIMESTAMP,
			updter_id = 'MNGR000001'
			where prof_id =
			#{item}
		</foreach>
	</update>

	<select id="getNoticeList" parameterType="int"
		resultType="com.finalprj.kess.model.PostVO">
	<![CDATA[
		select *
		from (
        select row_number() over(order by post_cd,post_id desc) as row_num,
        post_id,
        master_id,
        post_title,
        post_content,
        post_hit, 
        post_cd,
        post.file_id,
        post.rgst_dt,
        post.rgster_id,
        post.updt_dt,
        post.updter_id,
        post.delete_yn,
        cmcd.cmcd_id,
        cmcd.tpcd_id,
        cmcd.cmcd_nm,
        mngr.mngr_nm
        from post
		join cmcd on cmcd.cmcd_id = post.post_cd
		join mngr on mngr.mngr_id = post.rgster_id
		where post.post_id like 'NOTC%' and post.delete_yn='N'
		)
        where row_num between #{start} and #{end}
	]]>
	</select>

	<select id="getInquiryList" parameterType="int"
		resultType="com.finalprj.kess.model.PostVO">
	<![CDATA[		
	select *
		from (
        select row_number() over(order by post_cd,post_id desc) as row_num,
        	post_id,
		    post_title,
		    post_content,
		    post_cd,
		    post_hit,
		    file_id,
		    post.rgst_dt as "rgstDt",
		    stdt_nm as "stdtNm",
			mngr_nm as "mngrNm",
			cmcd.cmcd_nm
		FROM post
		JOIN cmcd ON cmcd.cmcd_id = post.post_cd
		LEFT JOIN stdt on stdt.stdt_id = post.RGSTER_ID
		LEFT JOIN mngr on mngr.mngr_id = post.RGSTER_ID
		WHERE post_id LIKE 'INQY%' AND post.delete_yn = 'N'
		)
		where row_num between #{start} and #{end}
		]]>
	</select>

	<select id="getNoticeCommonCodeList"
		resultType="com.finalprj.kess.model.CommonCodeVO"
		parameterType="string">
	<![CDATA[
		select * 
		from cmcd
		where tpcd_id = #{tpcdId} and cmcd_id in ('PST0000001', 'PST0000002')
	]]>
	</select>

	<select id="getInquriyCommonCodeList"
		resultType="com.finalprj.kess.model.CommonCodeVO"
		parameterType="string">
	<![CDATA[
		select * 
		from cmcd
		where tpcd_id = #{tpcdId} and cmcd_id in ('PST0000003', 'PST0000004')
	]]>
	</select>

	<update id="deleteAllNotice" parameterType="java.util.List">
		<foreach collection="selectedNoticeIds" item="item"
			open="DECLARE BEGIN" separator=";" close="; END;">
			update post
			set
			delete_yn =
			'Y',
			updt_dt = SYSTIMESTAMP,
			updter_id = 'MNGR000001'
			where post_id =
			#{item}
		</foreach>
	</update>

	<select id="getGroupCodeList"
		resultType="com.finalprj.kess.model.CommonCodeVO">
	<![CDATA[
	select *
	from cmcd
	where cmcd_id like 'GRP%' and delete_yn ='N'
	order by cmcd_id
	]]>
	</select>

	<select id="getMaxNoticeId" resultType="string">
	<![CDATA[
		select 'NOTC'||LPAD((max(cast(substr(post_id,5) as number(6)))+1),6,'0')
		from post
		where post_id like 'NOTC%'
	]]>
	</select>

	<insert id="insertNoticeVO"
		parameterType="com.finalprj.kess.model.PostVO">
	<![CDATA[
		insert into post (
			post_id,
			post_title,
			post_content,
			post_cd,
			file_id,
			rgster_id
		)
		values(
			#{postId},
			#{postTitle}, 
			#{postContent},
			'PST0000001', 
			#{fileId},
			#{rgsterId})
	]]>
	</insert>

	<select id="getPostVO" parameterType="string"
		resultType="com.finalprj.kess.model.PostVO">
	<![CDATA[
		select *
		from post
		join cmcd on cmcd.cmcd_id = post.post_cd
		left join stdt on stdt.stdt_id = post.rgster_id
		left join mngr on mngr.mngr_id = post.rgster_id
		where post_id = #{postId}
	]]>
	</select>

	<update id="deleteAllInquiry" parameterType="java.util.List">
		<foreach collection="selectedInquiryIds" item="item"
			open="DECLARE BEGIN" separator=";" close="; END;">
			update post
			set
			delete_yn =
			'Y',
			updt_dt = SYSTIMESTAMP,
			updter_id = 'MNGR000001'
			where post_id =
			#{item}
		</foreach>
	</update>

	<update id="updateNoticeVO"
		parameterType="com.finalprj.kess.model.PostVO">
	<![CDATA[
		update post
		set post_title = #{postTitle},
			post_content = #{postContent},
			post_cd = #{postCd},
			file_id = #{fileId},
			updt_dt = systimestamp,
			updter_id = 'MNGR000001'
		where post_id=#{postId}
	]]>
	</update>

	<select id="getSearchPostList"
		resultType="com.finalprj.kess.model.PostVO"> 
	<![CDATA[
	SELECT 
		    post_id,
		    post_title,
		    post_content,
		    post_cd,
		    post_hit,
		    file_id,
		    post.rgst_dt as "rgstDt",
		    stdt_nm as "stdtNm",
			mngr_nm as "mngrNm",
			cmcd.cmcd_nm
		FROM post
		JOIN cmcd ON cmcd.cmcd_id = post.post_cd
		LEFT JOIN stdt on stdt.stdt_id = post.RGSTER_ID
		LEFT JOIN mngr on mngr.mngr_id = post.RGSTER_ID
		where 
			delete_yn='N'
			and post_cd in
	]]>
		<foreach collection="postStatusList" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
		<choose>
			<when test="searchInputCategory == 'post_title'">
				AND post_title LIKE '%'||#{searchInput}||'%'
			</when>
			<when test="searchInputCategory == 'post_content'">
				AND post_content LIKE '%'||#{searchInput}||'%'
			</when>
		</choose>
		and post_id not like 'RPLY%'
		order by post_cd, post_id desc
	</select>

	<select id="getReplyList" parameterType="string"
		resultType="com.finalprj.kess.model.PostVO">
	<![CDATA[
		select *
		from post
		where master_id =#{postId} and delete_yn='N'
		order by rgst_dt
	]]>
	</select>

	<select id="getMaxReplyId" resultType="string">
	<![CDATA[
		select 'RPLY'||LPAD((max(cast(substr(post_id,5) as number(6)))+1),6,'0')
		from post
		where post_id like 'RPLY%'
	]]>
	</select>

	<insert id="insertReplyVO"
		parameterType="com.finalprj.kess.model.PostVO">
	<![CDATA[
		insert into post (
			post_id,
			master_id,
			post_title,
			post_content,
			post_cd,
			rgster_id
		)
		values(
			#{postId}, 
			#{masterId}, 
			#{postTitle}, 
			#{postContent},
			'PST0000001',
			#{rgsterId})
	]]>
	</insert>

	<update id="updateInquiryStatus" parameterType="string">
	<![CDATA[
		update post
		set post_cd = 'PST0000004'
		where post_id = #{postId}
	]]>
	</update>

	<select id="getMaxManagerId" resultType="string">
	<![CDATA[
		select 'MNGR'||LPAD((max(cast(substr(mngr_id,5) as number(6)))+1),6,'0')
		from mngr
	]]>
	</select>

	<insert id="insertLgin"
		parameterType="com.finalprj.kess.model.ManagerVO">
	<![CDATA[
	insert into lgin (
		user_email,
		user_pwd,
		role_cd,
		user_cd
	)
	values(
		#{userEmail}, 
		#{userPwd},
		'ROL0000003', 
		'USR0000001')
	]]>
	</insert>

	<insert id="insertManager"
		parameterType="com.finalprj.kess.model.ManagerVO">
	<![CDATA[
	insert into mngr (
		mngr_id,
		user_email,
		mngr_nm,
		mngr_tel,
		rgster_id
	)
	values(
		#{mngrId}, 
		#{userEmail}, 
		#{mngrNm}, 
		#{mngrTel},
		'MNGR000001')
	]]>
	</insert>

	<select id="getSearchManagerList" parameterType="string"
		resultType="com.finalprj.kess.model.ManagerVO">
	<![CDATA[
		select * 
		from mngr
		join lgin on lgin.user_email = mngr.user_email
		join cmcd on cmcd.cmcd_id = lgin.user_cd
		where lgin.role_cd = 'ROL0000003'
		]]>
		<choose>
			<when test="searchInputCategory == 'mngr_nm'">
				AND mngr_nm LIKE '%'||#{searchInput}||'%'
			</when>
			<when test="searchInputCategory == 'user_email'">
				AND mngr.user_email LIKE '%'||#{searchInput}||'%'
			</when>
		</choose>
		order by mngr_id
	</select>

	<update id="deleteLgin" parameterType="java.util.List">
		<foreach collection="selectedManagerIds" item="item"
			open="DECLARE BEGIN" separator=";" close="; END;">
			update lgin
			set
			user_cd =
			'USR0000003'
			where user_email = (select user_email from mngr where
			mngr_id = #{item})
		</foreach>
	</update>

	<update id="deleteManagerList" parameterType="java.util.List">
		<foreach collection="selectedManagerIds" item="item"
			open="DECLARE BEGIN" separator=";" close="; END;">
			update mngr
			set
			updt_dt =
			SYSTIMESTAMP,
			updter_id = 'MNGR000001'
			where mngr_id = #{item}
		</foreach>
	</update>

	<select id="getManager" parameterType="string"
		resultType="com.finalprj.kess.model.ManagerVO">
	<![CDATA[
	select * 
	from mngr
	join lgin on lgin.user_email = mngr.user_email
	where mngr.mngr_id = #{mngrId}
	]]>
	</select>

	<update id="updateLgin"
		parameterType="com.finalprj.kess.model.ManagerVO">
	<![CDATA[
	update lgin
	set user_cd = #{userCd}
	where user_email=(select user_email from mngr where mngr_id = #{mngrId})
	]]>
	</update>

	<update id="updateManager"
		parameterType="com.finalprj.kess.model.ManagerVO">
	<![CDATA[
	update mngr
	set 
		mngr_nm = #{mngrNm},
		mngr_tel = #{mngrTel}
	where mngr_id = #{mngrId}
	]]>
	</update>

	<select id="getSubjectVO" parameterType="string"
		resultType="com.finalprj.kess.model.SubjectVO">
	<![CDATA[
		select *
		from sbjt
		where sbjt_id = #{subjectId}
	]]>
	</select>

	<select id="getProfessorVO" parameterType="string"
		resultType="com.finalprj.kess.model.ProfessorVO">
	<![CDATA[
	select *
	from prof
	where prof_id = #{profId}
	]]>
	</select>

	<select id="getMaxCompanyId" resultType="string">
	<![CDATA[
		select 'CMPY'||LPAD((max(cast(substr(cmpy_id,5) as number(6)))+1),6,'0')
		from cmpy
	]]>
	</select>

	<insert id="insertCompanyVO"
		parameterType="com.finalprj.kess.model.CompanyVO">
	<![CDATA[
		insert into cmpy (
			cmpy_id,
			cmpy_nm,
			cmpy_tel,
			cmpy_adr,
			file_id,
			rgster_id
		)
		values(
			#{cmpyId}, 
			#{cmpyNm}, 
			#{cmpyTel}, 
			#{cmpyAdr}, 
			#{fileId},
			'MNGR000001')
	]]>
	</insert>

	<select id="getCompanyVO" parameterType="string"
		resultType="com.finalprj.kess.model.CompanyVO">
	<![CDATA[
	select *
	from cmpy
	where cmpy_id = #{cmpyId} 
	]]>
	</select>

	<update id="deleteCompany" parameterType="java.util.List">
		<foreach collection="selectedCompanyIds" item="item"
			open="DECLARE BEGIN" separator=";" close="; END;">
			update cmpy
			set
			delete_yn =
			'Y',
			updt_dt =
			SYSTIMESTAMP,
			updter_id = 'MNGR000001'
			where cmpy_id =
			#{item}
		</foreach>
	</update>

	<select id="getTpcdIdCnt" parameterType="string"
		resultType="int">
	<![CDATA[
		select COALESCE(COUNT(cmcd_id), 0)
		from cmcd
		where cmcd_id like 'GRP%' and tpcd_id = #{tpcdId} and delete_yn='N'
	]]>
	</select>

	<select id="getMaxGroupCodeId" resultType="string">
	<![CDATA[
		select 'GRP'||LPAD((max(cast(substr(cmcd_id,4) as number(7)))+1),7,'0')
		from cmcd
		where cmcd_id like 'GRP%'
	]]>
	</select>

	<insert id="insertGroupCode"
		parameterType="com.finalprj.kess.model.CommonCodeVO">
	<![CDATA[
		insert into cmcd (
			cmcd_id,
			tpcd_id,
			cmcd_nm,
			rgster_id
		)
		values(
			#{cmcdId}, 
			#{tpcdId}, 
			#{cmcdNm},
			'MNGR000001')
	]]>
	</insert>

	<update id="deleteGroupCode" parameterType="java.util.List">
		<foreach collection="selectedGroupCodeIds" item="item"
			open="DECLARE BEGIN" separator=";" close="; END;">
			update cmcd
			set
			delete_yn = 'Y',
			updt_dt = SYSTIMESTAMP,
			updter_id = 'MNGR000001'
			where cmcd_id =
			#{item}
		</foreach>
	</update>

	<select id="getDetailCodeList" parameterType="string"
		resultType="com.finalprj.kess.model.CommonCodeVO">
	<![CDATA[
		select *
		from cmcd
		where tpcd_id = #{cmcdId} and delete_yn='N'
		order by cmcd_id
	]]>
	</select>

	<select id="getGroupCodeId" parameterType="string"
		resultType="string">
	<![CDATA[
	select tpcd_id
	from cmcd
	where cmcd_id = #{cmcdId}
	]]>
	</select>

	<select id="getDetailCodeNmCnt" parameterType="string"
		resultType="int">
	<![CDATA[
	select COALESCE(COUNT(cmcd_id), 0)
	from cmcd
	where tpcd_id = #{cmcdId} and cmcd_nm =#{cmcdNm} and delete_yn='N'
	]]>
	</select>

	<select id="getMaxDetailCodeId" parameterType="string"
		resultType="string">
	<![CDATA[
		select tpcd_id|| (select LPAD((COALESCE(max(cast(substr(d.cmcd_id,4) as number(7))),0)+1),7,'0')
			from cmcd d
			join cmcd g on g.cmcd_id = d.tpcd_id
			where d.tpcd_id = #{cmcdId})
    	from cmcd where cmcd_id=#{cmcdId}
	]]>
	</select>

	<insert id="insertDetailcode"
		parameterType="com.finalprj.kess.model.CommonCodeVO">
	<![CDATA[
	insert into cmcd (
		cmcd_id,
		tpcd_id,
		cmcd_nm,
		cmcd_order,
		rgst_dt,
		rgster_id
	)
	values(
		#{cmcdId}, 
		#{tpcdId}, 
		#{cmcdNm},
		#{cmcdOrder},
		systimestamp,
		'MNGR000001')
	]]>
	</insert>

	<select id="getStudentEmailByAplyId" parameterType="string"
		resultType="string">
		select user_email from stdt
		where stdt_id = (select stdt_id
		from aply where aply_id=#{aplyId})
	</select>

	<select id="getClssNmByAplyId" parameterType="string"
		resultType="string">
		select clss_nm
		from clss
		where clss_id = (select clss_id from
		aply where aply_id=#{aplyId})
	</select>

	<update id="deleteInquiryReply" parameterType="string">
	<![CDATA[
	update post
	set 
		delete_yn='Y',
		updt_dt = systimestamp,
		updter_id = 'MNGR000001'
	where post_id = #{replyId}
	
	]]>
	</update>

	<select id="getFileCnt" parameterType="string" resultType="int">
	<![CDATA[
		select count(file_sub_id)
		from flup
		where file_id = #{fileId} and delete_yn='N'
	]]>
	</select>

	<select id="getStudentList"
		resultType="com.finalprj.kess.model.StudentVO">
	<![CDATA[
	select 
    stdt.stdt_id,
    lgin.user_email,
    stdt.stdt_nm,
    b.cmcd_nm as "genderNm",
    stdt.birth_dd,
    stdt.stdt_tel,
    c.cmcd_nm as "jobNm",
    a.cmcd_nm as  "userNm",
    lgin.last_login_dt
from stdt
left join lgin on lgin.user_email = stdt.user_email
left join cmcd a on a.cmcd_id = lgin.user_cd
left join cmcd b on b.cmcd_id = stdt.gender_cd
left join cmcd c on c.cmcd_id = stdt.job_cd
order by stdt.stdt_nm
	]]>
	</select>

	<select id="getManagerEmailCnt" parameterType="string"
		resultType="int">
	<![CDATA[
		select count(user_email)
		from lgin
		where user_email = #{managerEmail} and role_cd = 'ROL0000003' and user_cd != 'USR0000003'
	]]>
	</select>

	<update id="updateCompany"
		parameterType="com.finalprj.kess.model.CompanyVO">
	<![CDATA[
	 update cmpy
	 set
	 	cmpy_nm = #{cmpyNm},
	 	cmpy_tel = #{cmpyTel},
	 	cmpy_adr = #{cmpyAdr},
	 	file_id = #{fileId},
	 	updt_dt = systimestamp,
	 	updter_id = 'MNGR000001'
	 where cmpy_id = #{cmpyId}
	]]>
	</update>

	<select id="getSearchStudentList" parameterType="string"
		resultType="com.finalprj.kess.model.StudentVO">
		select distinct
		stdt.stdt_id,
		stdt.user_email,
		stdt.stdt_nm,
		stdt.gender_cd,
		stdt.birth_dd,
		stdt.stdt_tel,
		stdt.job_cd,
		lgin.user_cd,

		stdt.rgst_dt,
		stdt.rgster_id,
		stdt.updt_dt,
		stdt.updter_id,

		u.cmcd_nm as
		"userNm",
		g.cmcd_nm as "genderNm",
		j.cmcd_nm as "jobNm",
		lgin.last_login_dt
		from stdt
		left join lgin on lgin.user_email =
		stdt.user_email
		left join
		cmcd u on u.cmcd_id = lgin.user_cd
		left join
		cmcd g on g.cmcd_id =
		stdt.gender_cd
		left join cmcd j on j.cmcd_id =
		stdt.job_cd
		left join
		rgst on rgst.stdt_id = stdt.stdt_id

		where
		stdt.stdt_nm like '%'||#{stdtNm}||'%'
		<if test="clssId != 'all'">
			AND rgst.clss_id = #{clssId}
		</if>
		<if test="genderCd != 'all'">
			AND stdt.gender_cd = #{genderCd}
		</if>
		<if test="jobCd != 'all'">
			AND stdt.job_cd = #{jobCd}
		</if>
		<if test="userCd != 'all'">
			AND lgin.user_cd = #{userCd}
		</if>
		order by stdt.stdt_nm
	</select>

	<update id="deleteLginStudent" parameterType="java.util.List">
		<foreach collection="selectedStudentIds" item="item"
			open="DECLARE BEGIN" separator=";" close="; END;">
			update lgin
			set
			user_cd =
			'USR0000003'
			where user_email = (select user_email from stdt where
			stdt_id = #{item})
		</foreach>
	</update>

	<update id="deleteStudentList" parameterType="java.util.List">
		<foreach collection="selectedStudentIds" item="item"
			open="DECLARE BEGIN" separator=";" close="; END;">
			update stdt
			set
			updt_dt =
			SYSTIMESTAMP,
			updter_id = 'MNGR000001'
			where stdt_id=#{item}
		</foreach>
	</update>

	<select id="getStudent" parameterType="string"
		resultType="com.finalprj.kess.model.StudentVO">
	<![CDATA[
		select 
    		stdt.stdt_id,
    		lgin.user_email,
    		stdt.stdt_nm,
    		b.cmcd_nm as "genderNm",
    		stdt.birth_dd,
    		stdt.stdt_tel,
    		c.cmcd_nm as "jobNm",
    		a.cmcd_nm as  "userNm",
    		lgin.last_login_dt
		from stdt
		left join lgin on lgin.user_email = stdt.user_email
		left join cmcd a on a.cmcd_id = lgin.user_cd
		left join cmcd b on b.cmcd_id = stdt.gender_cd
		left join cmcd c on c.cmcd_id = stdt.job_cd
		where stdt.stdt_id = #{stdtId}
	]]>
	</select>

	<select id="getApplyListByStudent" parameterType="string"
		resultType="com.finalprj.kess.model.ApplyVO">
	<![CDATA[
		select *
		from aply
		left join flup on flup.file_id = aply.file_id
		left join clss on clss.clss_id = aply.clss_id
		left join cmcd on cmcd.cmcd_id = aply.aply_cd
		where stdt_id = #{stdtId}
	]]>
	</select>

	<select id="getRegistListByStudent" parameterType="string"
		resultType="com.finalprj.kess.model.RegistrationVO">
	<![CDATA[
		select 
			rgst.rgst_id,
			rgst.stdt_id,
			rgst.clss_id,
			rgst.rgst_cd,
			rgst.cmpt_cd,
			rgst.rgst_dt,
			rgst.rgster_id,
			rgst.updt_dt,
			rgst.updter_id,
			rgst.file_id,
			flup.file_sub_id,
			flup.file_nm,
			clss.clss_nm,
			c.cmcd_nm	as "rgstNm",
			r.cmcd_nm	as "cmptNm"
		from rgst
		left join flup on flup.file_id = rgst.file_id
		left join clss on clss.clss_id = rgst.clss_id
		left join cmcd c on c.cmcd_id = clss.clss_cd
		left join cmcd r on r.cmcd_id = rgst.cmpt_cd
		where rgst.stdt_id = #{stdtId}
	]]>
	</select>

	<select id="getClassSearch" parameterType="string"
		resultType="string">
	<![CDATA[
		SELECT clss_nm
		FROM (
    		SELECT clss_nm
    		FROM clss
   			WHERE clss_nm LIKE CONCAT(#{term}, '%')
		) WHERE ROWNUM <= 10
	]]>
	</select>

	<select id="getSearchClassList" parameterType="string"
		resultType="com.finalprj.kess.model.ClassVO">
	<![CDATA[
		select *
		from clss
		left join mngr on mngr.mngr_id = clss.mngr_id
		left join cmpy on cmpy.cmpy_id = clss.cmpy_id
		join cmcd on cmcd.cmcd_id = clss.clss_cd
		where clss.delete_yn='N'
			and clss.clss_nm like '%'||#{clssNm}||'%'
	]]>
		<if test="clssCd != 'all'">
			AND clss.clss_cd = #{clssCd}
		</if>
		<if test="aplyStartDt != ''">
			AND clss.aply_start_dt <![CDATA[>=]]>
			to_date(#{aplyStartDt}, 'YYYY-MM-DD')
		</if>
		<if test="aplyEndDt != ''">
			AND clss.aply_end_dt <![CDATA[<=]]>
			to_date(#{aplyEndDt}, 'YYYY-MM-DD')
		</if>
		<if test="clssStartDd != ''">
			AND clss.clss_start_dd <![CDATA[>=]]>
			to_date(#{clssStartDd}, 'YYYY-MM-DD')
		</if>
		<if test="clssEndDd != ''">
			AND clss.clss_end_dd <![CDATA[<=]]>
			to_date(#{clssEndDd}, 'YYYY-MM-DD')
		</if>
		<if test="cmpyId != 'all'">
			AND clss.cmpy_id = #{cmpyId}
		</if>	
	<![CDATA[	
		order by clss.clss_id desc
	]]>
	</select>


	<update id="updateLecture" parameterType="java.util.List">
		<foreach collection="lectureList" item="item"
			open="DECLARE BEGIN" separator=";" close="; END;">
			update lctr
			set
			lctr_nm = #{item.lctrNm},
			sbjt_id = #{item.sbjtId},
			prof_id = #{item.profId},
			lctr_tm = #{item.lctrTm},
			updt_dt = SYSTIMESTAMP,
			updter_id = 'MNGR000001'
			where lctr_id = #{item.lctrId}
		</foreach>
	</update>

	<update id="updateSubject" parameterType="java.util.List">
		<foreach collection="updateSubjectList" item="item"
			open="DECLARE BEGIN" separator=";" close="; END;">
			update sbjt
			set
			sbjt_nm = #{item.sbjtNm},
			updt_dt = SYSTIMESTAMP,
			updter_id= 'MNGR000001'
			where sbjt_id = #{item.sbjtId}
		</foreach>
	</update>

	<update id="updateProfessor" parameterType="java.util.List">
		<foreach collection="updateProfessorList" item="item"
			open="DECLARE BEGIN" separator=";" close="; END;">
			update prof
			set
			prof_nm = #{item.profNm},
			prof_tel = #{item.profTel},
			prof_email = #{item.profEmail},
			updt_dt = SYSTIMESTAMP,
			updter_id= 'MNGR000001'
			where prof_id = #{item.profId}
		</foreach>
	</update>

	<update id="updateDetailCode" parameterType="java.util.List">
		<foreach collection="updateDetailList" item="item"
			open="DECLARE BEGIN" separator=";" close="; END;">
			update cmcd
			set
			cmcd_nm = #{item.cmcdNm},
			cmcd_order = #{item.cmcdOrder},
			use_yn = #{item.useYn},
			updt_dt = SYSTIMESTAMP,
			updter_id = 'MNGR000001'
			where cmcd_id = #{item.cmcdId}
		</foreach>
	</update>

	<update id="updateGroupCode" parameterType="java.util.List">
		<foreach collection="updateGroupList" item="item"
			open="DECLARE BEGIN" separator=";" close="; END;">
			update cmcd
			set
			cmcd_nm = #{item.cmcdNm},
			use_yn = #{item.useYn},
			updt_dt = SYSTIMESTAMP,
			updter_id = 'MNGR000001'
			where cmcd_id = #{item.cmcdId}
		</foreach>
	</update>
	
	<update id="updateUseYnDetailCode" parameterType="java.util.List">
		<foreach collection="updateGroupList" item="item"
			open="DECLARE BEGIN" separator=";" close="; END;">
			update cmcd
			set
			use_yn = #{item.useYn},
			updt_dt = SYSTIMESTAMP,
			updter_id = 'MNGR000001'
			where tpcd_id = #{item.cmcdId}
		</foreach>
	</update>

	<select id="getSearchDetailCodeList" parameterType="string" resultType="com.finalprj.kess.model.CommonCodeVO">
	<![CDATA[
		select *
		from cmcd
		where delete_yn='N' and tpcd_id = #{tpcdId} and cmcd_nm like '%'||#{cmcdNm}||'%'
	]]>
	</select>
	
	<select id="getSearchGroupCodeList" parameterType="string" resultType="com.finalprj.kess.model.CommonCodeVO">
	<![CDATA[
		select *
		from cmcd
		where cmcd_id like 'GRP%' and delete_yn='N' 
		and tpcd_id like '%'||#{tpcdId}||'%'
		and cmcd_nm like '%'||#{cmcdNm}||'%'
		and use_yn like '%'||#{useYn}||'%'
		
	]]>
	</select>
































	<select id="getWaitClassCnt" resultType="int">
	<![CDATA[
		select count(clss_id) as "waitClassCnt"
		from clss
		where clss_cd=
		(select tpcd_id||cmcd_id
		from cmcd
		where cmcd_nm='접수중')
	]]>
	</select>


</mapper>