<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finalprj.kess.repository.IManagerRepository">

	<select id="getClassListByMngrId" parameterType="string" resultType="com.finalprj.kess.model.ClassVO">
		<![CDATA[
			SELECT
				clss_Id, mngr_Id, cmpy_id, clss_Nm, clss_Content,
				limit_Cnt, aply_Start_Dt, aply_End_Dt, clss_Start_Dd, clss_End_Dd,
				set_In_Tm, set_Out_Tm, m1.cmcd_nm as clss_Cd, clss_Adr, clss_Total_Tm,
				c.file_Id, clss_Etc, clss_subsidy
			FROM clss c
				JOIN cmcd m1 ON c.clss_cd = m1.cmcd_id
			WHERE
				mngr_id = #{mngrId}
		]]>
		<choose>
			<when test='sortBy.equalsIgnoreCase("name")'>
				ORDER BY clss_id
			</when>
			<otherwise>
				ORDER BY clss_id
			</otherwise>
		</choose>
		<if test='order.equalsIgnoreCase("DESC")'>
			DESC
		</if>
	</select>

	<select id="getApplyCountByClssId" parameterType="string" resultType="int">
	<![CDATA[
	SELECT COUNT(stdt_id)
	FROM aply
	WHERE
		clss_id = #{clss_id}
	]]>
	</select>
	<select id="getRgstCountByClssId" parameterType="string" resultType="int">
	<![CDATA[
	SELECT COUNT(stdt_id)
	FROM rgst
	WHERE
		clss_id = #{clss_id}
	]]>
	</select>
	
	<select id="getCodeNameListByKeyword" resultType="com.finalprj.kess.model.CommonCodeVO">
		<![CDATA[
			SELECT *
			FROM cmcd
			WHERE cmcd_id like trim(#{keyword}) ||'%'
				AND use_yn = 'Y'
			ORDER BY cmcd_order
		]]>
	</select>
	
	<select id="getClassDetailByClssId" resultType="com.finalprj.kess.model.ClassVO" parameterType="string">
		<![CDATA[
			SELECT
				clss.clss_Id, mngr.mngr_Nm AS mngrId, NVL(cmpy.cmpy_nm,'') as cmpy_Id, clss_Nm, clss_Content,
				limit_Cnt, aply_Start_Dt, aply_End_Dt, clss_Start_Dd, clss_End_Dd,
				set_In_Tm, set_Out_Tm, m.cmcd_nm as clss_Cd, clss.clss_Adr, clss_Total_Tm,
				clss.file_Id, clss_Etc, clss_subsidy
			FROM clss
				JOIN cmcd m ON clss.clss_cd = m.cmcd_id
				JOIN mngr ON mngr.mngr_id=clss.mngr_id
				LEFT JOIN cmpy ON clss.cmpy_id = cmpy.cmpy_id
			WHERE clss_id= #{clssId}
		]]>
	</select>

	<select id="getFileSubIdListByFileId" parameterType="string" resultType="int">
		<![CDATA[
			SELECT file_sub_id
			FROM flup
			WHERE file_id = #{fileId}
				AND DELETE_YN = 'N'
			ORDER BY file_sub_id
		]]>
	</select>
	
	<select id="getFileByIds" resultType="com.finalprj.kess.model.FileVO">
		<![CDATA[
			SELECT
				*
			FROM flup
			WHERE
				file_id=#{fileId}
				AND file_sub_id=#{fileSubId}
				AND DELETE_YN = 'N'
		]]>
	</select>
	
	<select id="getFileInfoByIds" resultType="com.finalprj.kess.model.FileVO">
		<![CDATA[
			SELECT
				file_id, file_sub_id, file_nm, file_Size, file_type
			FROM flup
			WHERE file_id=#{fileId} AND file_sub_id=#{fileSubId} AND DELETE_YN = 'N'
		]]>
	</select>
	
	<select id="getStudentListByClssId" resultType="com.finalprj.kess.dto.StudentInfoDTO">
		<![CDATA[
			SELECT
				s.stdt_Id,
				s.user_Email,
				s.stdt_Nm,
				c1.cmcd_nm AS gender_Cd,
				s.birth_Dd,
				s.stdt_Tel,
				r.cmpt_cd AS job_Cd
			FROM stdt s
				JOIN cmcd c1 ON s.gender_cd = c1.cmcd_id
				JOIN (SELECT rgst.stdt_id, rgst.cmpt_cd as cmptCd, rgst.clss_id, cmcd.cmcd_nm AS cmpt_cd FROM rgst JOIN cmcd ON cmcd.cmcd_id = rgst.cmpt_cd) r ON s.stdt_id = r.stdt_id
			WHERE s.stdt_id in (SELECT stdt_id FROM rgst WHERE clss_id = #{clssId})
				AND r.clss_id = #{clssId}
				AND cmptCd IN 
		]]>
		<foreach collection="cmptList" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
		<if test='keyword != null'>
			<![CDATA[
				AND ((stdt_nm like '%'||trim(#{keyword})||'%')OR(user_email like '%'||trim(#{keyword})||'%'))
			]]>
		</if>
		<![CDATA[
			ORDER BY s.stdt_nm
		]]>
	</select>
	
	<select id="getClassNameByClssId" resultType="string" parameterType="string">
		<![CDATA[
			SELECT
				clss_nm
			FROM clss WHERE clss_id = #{clssId}
		]]>
	</select>

	<select id="getCountByClssIdWlogCdStdtId" resultType="int">
		<![CDATA[
			SELECT
				count(stdt_id) wlogCnt
			FROM wlog
			WHERE
				clss_id=#{clssId}
				AND wlog_cd=#{wlogCd}
				AND stdt_id=#{stdtId}
				AND delete_yn = 'N'
		]]>
		<if test='startDate!=""'>
			<![CDATA[
				AND in_tm > to_date(#{startDate}, 'YYYY-MM-DD')
			]]>
		</if>
		<if test='startDate!=""'>
			<![CDATA[
				AND out_tm <= to_date(#{endDate}, 'YYYY-MM-DD') + 1
			]]>
		</if>
	</select>
	
	<select id="getLatestClassIdByMngrId" resultType="string">
		<![CDATA[
			SELECT max(clss_id)
			FROM clss
			WHERE
				mngr_id = #{mngrId}
		]]>
	</select>
	
	<select id="getFilteredClassListByMngrId" resultType="com.finalprj.kess.model.ClassVO">
		<![CDATA[
		SELECT
			clss_Id, mngr_Id, cmpy_id, clss_Nm, clss_Content,
			limit_Cnt, aply_Start_Dt, aply_End_Dt, clss_Start_Dd, clss_End_Dd,
			set_In_Tm, set_Out_Tm, 
			m1.cmcd_nm as clss_Cd
			, clss_Adr, clss_Total_Tm,
			c.file_Id, clss_Etc, clss_subsidy
		FROM clss c
			JOIN cmcd m1 ON c.clss_cd = m1.cmcd_id
		WHERE
			mngr_id = #{mngrId}
			AND c.clss_cd IN 
		]]>
		<foreach collection="filterString" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
		<if test="searchKeyword!=null">
		<![CDATA[
			AND c.clss_nm like '%'|| #{searchKeyword} ||'%'
		]]>
		</if>
		<![CDATA[
			ORDER BY clss_id
		]]>
	</select>
	
	<update id="updateStdtCmptCd">
		<![CDATA[
			UPDATE rgst
			SET
				CMPT_cd=#{targetCmptId}
				,updt_dt=systimestamp
				,updter_id=#{mngrId}
			WHERE CLSS_ID=#{clssId}
				AND STDT_ID=#{stdtId}
		]]>
	</update>
	
	<update id="deleteWlog">
		<![CDATA[
			UPDATE wlog
			SET
				delete_yn='Y'
			WHERE
				wlog_ID=#{wlogId}
		]]>
	</update>
	
	<update id="updateManagerInfo" parameterType="com.finalprj.kess.model.ManagerVO">
		<![CDATA[
			UPDATE mngr
			SET
				mngr_tel = #{mngrTel}
				,mngr_Nm = #{mngrNm}
			WHERE
				user_email=#{userEmail}
		]]>
	</update>
	<update id="updateManagerLoginInfo" parameterType="com.finalprj.kess.model.ManagerVO">
		<![CDATA[
			UPDATE lgin
			SET
				user_pwd=#{userPwd}
			WHERE
				user_email=#{userEmail}
		]]>
	</update>
	
	<update id="updateResnCd">
		<![CDATA[
			UPDATE resn
			SET
				resn_cd=#{resnCd}
				,updt_dt=systimestamp
				,updter_id=#{mngrId}
			WHERE resn_id=#{resnId}
		]]>
	</update>
	<update id="updateWlogCd">
		<![CDATA[
			UPDATE wlog
			SET
				wlog_cd=#{wlogCd}
				,updt_dt=systimestamp
				,updter_id=#{mngrId}
			WHERE wlog_id=#{wlogId}
		]]>
	</update>
	
	<select id="getTotalTmByClssId">
		<![CDATA[
			SELECT sum(lctr_tm)
			FROM LCTR l
				JOIN CRCL c on l.lctr_id = c.lctr_id
			WHERE clss_id = #{clssId}
		]]>
	</select >
	
	<select id="getStudentTmSumByIds">
		<![CDATA[
		SELECT nvl(sum(nvl(wlog_total_tm,0)),0)
		FROM wlog w
			JOIN clss c ON w.clss_id = c.clss_id
		WHERE w.clss_id = #{classId}
			AND w.stdt_id = #{stdtId}
			AND w.in_tm > c.clss_start_dd
			AND w.out_tm < c.clss_end_dd
		]]>
	</select >
	
	<select id="getWlogListByClssIds" resultType="com.finalprj.kess.dto.WorklogDTO">
		<![CDATA[
			SELECT
				w.wlog_id
				, s.stdt_id AS stdtid --id
				, s.stdt_nm AS stdtNm --이름
				, s.user_email AS userEmail --이메일
				, in_tm --출근
				, out_tm --퇴근
				, wlog_total_tm --출석 인정 시간
				, c1.cmcd_nm as wlogCd --출석 상태
				, w.delete_yn --삭제 여부
				, resn_id --사유서 id
				, resn_cd
				, c2.cmcd_nm as prcsCd --처리 상태
				, clss_nm
			FROM wlog w
				JOIN stdt s ON w.stdt_id = s.stdt_id
				JOIN cmcd c1 ON w.wlog_cd = c1.cmcd_id
				JOIN clss ON w.clss_id = clss.clss_id
				LEFT JOIN resn r ON r.wlog_id = w.wlog_id
				LEFT JOIN cmcd c2 ON r.resn_cd = c2.cmcd_id
			WHERE
				w.clss_id in (select clss_id from clss WHERE mngr_id = #{mngrId})
		]]>
		<if test='startDate!=""'>
			<![CDATA[
				AND in_tm >= to_date(#{startDate}, 'YYYY-MM-DD')
			]]>
		</if>
		<if test='endDate!=""'>
			<![CDATA[
				AND out_tm <= to_date(#{endDate}, 'YYYY-MM-DD')
			]]>
		</if>
		<if test='isDelete eq "false" or isDelete eq null'>
			<![CDATA[
				AND w.delete_yn='N'
			]]>
		</if>
		<if test='resnOnly eq "true"'>
			<![CDATA[
				AND w.wlog_id in (SELECT wlog_id FROM resn WHERE delete_yn='N')
			]]>
		</if>
		<if test='clssId!=""'>
			<![CDATA[
				AND w.clss_id=#{clssId}
			]]>
		</if>
		<if test='keyword!=""'>
			<![CDATA[
				AND w.stdt_id in (SELECT stdt_id FROM stdt WHERE ((s.stdt_nm like '%'||trim(#{keyword})||'%' ) OR (s.user_email like '%'||trim(#{keyword})||'%')))
			]]>
		</if>
		<if test='filterString!=null'>
		<if test='filterString!=""'>
			AND w.wlog_cd IN
			<foreach collection="filterString" item="item" open="(" separator="," close=")">
				<![CDATA[
					 #{item}
				]]>
			</foreach>
		</if>
		</if>
		<![CDATA[
			ORDER BY in_tm DESC, stdtNm
		]]>
	</select>
	
	<select id="getStudentListByOnlyClssId" resultType="com.finalprj.kess.dto.StudentInfoDTO">
		<![CDATA[
			SELECT
				s.stdt_Id,
				s.user_Email,
				s.stdt_Nm,
				c1.cmcd_nm AS gender_Cd,
				s.birth_Dd,
				s.stdt_Tel,
				r.cmpt_cd AS job_Cd
			FROM stdt s
				JOIN cmcd c1 ON s.gender_cd = c1.cmcd_id
				JOIN (SELECT stdt_id, clss_id, cmcd.cmcd_nm AS cmpt_cd FROM rgst JOIN cmcd ON cmcd.cmcd_id = rgst.cmpt_cd) r ON s.stdt_id = r.stdt_id
			WHERE s.stdt_id in (SELECT stdt_id FROM rgst WHERE clss_id = #{clssId})
				AND r.clss_id = #{clssId}
			ORDER BY s.stdt_nm
		]]>
	</select>
	
	<select id="getResnDetailByResnId" resultType="com.finalprj.kess.dto.ReasonDTO">
		<![CDATA[
			SELECT
				resn_id
				,resn_content
				,r.file_id
				,resn_cd
				,c1.cmcd_nm as prcsNm
				,r.rgst_dt
				,r.updt_dt
				,r.updter_id
				,r.delete_yn
				
				,r.rgster_id
				,s.stdt_nm
				,s.user_email
				
				,r.wlog_id
				,w.clss_id
				,cl.clss_nm
				,in_tm --AS strInTmDd
				,out_tm --AS strOutTmDd
				,wlog_cd
				,c2.cmcd_nm as wlogNm
			FROM resn r
				JOIN cmcd c1 ON c1.cmcd_id = resn_cd
				JOIN stdt s ON s.stdt_id = r.rgster_id
				JOIN wlog w ON w.wlog_id = r.wlog_id
				JOIN cmcd c2 ON c2.cmcd_id = w.wlog_cd
				JOIN clss cl ON cl.clss_id = w.clss_id
			WHERE
				resn_id=#{resnId}
				AND r.delete_yn = 'N'
		]]>
	</select>
	
	<select id="getSubsidyList" resultType="com.finalprj.kess.dto.SubsidyDTO">
		<![CDATA[
			SELECT 
				rowNum
				,m.sbsd_id
				,m.clss_id
				,clss_nm
				,clss_subsidy
				,m.stdt_id
				,stdt_nm
				,user_email
				,sbsd_cd
				,c1.cmcd_nm as sbsd_nm
				,paid_dd
				,payment
				,subsidy_dd
				,max_wlog_cnt
				,wlog_cnt
				,m.rgst_dt
				,m.rgster_id
				,m.updt_dt
				,m.updter_id
			FROM sbsd m 
				JOIN stdt s ON m.stdt_id=s.stdt_id 
				JOIN clss c ON m.clss_id=c.clss_id
				JOIN cmcd c1 ON m.sbsd_cd=c1.cmcd_id
			WHERE m.clss_id in (SELECT clss_id FROM clss WHERE mngr_id = #{mngrId})
		]]>
		<if test='clssId!=""'>
			<![CDATA[
				AND m.clss_id = #{clssId}
			]]>
		</if>
		<if test='startDate!=""'>
			<![CDATA[
				AND subsidy_Dd >= to_date(#{startDate}, 'YYYY-MM-DD')
			]]>
		</if>
		<if test='endDate!=""'>
			<![CDATA[
				AND subsidy_Dd <= to_date(#{endDate}, 'YYYY-MM-DD')
			]]>
		</if>
		<if test='keyword!=""'>
			<![CDATA[
				AND m.stdt_id in (SELECT stdt_id FROM stdt WHERE ((stdt_nm like '%'||trim(#{keyword})||'%' ) OR (user_email like '%'||trim(#{keyword})||'%')))
			]]>
		</if>
		<if test='filterString!=""'>
		<if test='filterString!=null'>
			AND sbsd_cd IN
			<foreach collection="filterString" item="item" open="(" separator="," close=")">
				<![CDATA[
					 #{item}
				]]>
			</foreach>
		</if>
		</if>
	</select>
	<insert id="insertSubsidy">
		<![CDATA[
			INSERT INTO sbsd VALUES
		]]>
	</insert>
	<select id="getCodeVO">
		<![CDATA[
			SELECT * FROM CMCD WHERE cmcd_id = #{resnCd}
		]]>
	</select>
</mapper>