<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finalprj.kess.repository.IManagerRepository">


	<select id="getClassList" parameterType="string" resultType="com.finalprj.kess.model.ClassVO">
	<![CDATA[
	SELECT
	    clss_id AS clssId,
	    clss_nm AS clssNm,
	    clss_start_dd AS clssStartDd,
	    clss_end_dd AS clssEndDd,
	    clss_adr AS clssAdr,
	    limit_cnt AS limitCnt,
	    substr(clss_cd,-3,3) AS clssCd
	FROM
	    clss
	WHERE
	    mngr_id = #{mngrId}
	ORDER BY
		clss_id
	]]>
	</select>

	<select id="getApplyCount" parameterType="string" resultType="int">
	<![CDATA[
	SELECT COUNT(stdt_id)
	FROM aply
	WHERE
	    clss_id = #{clss_id}
	]]>
	</select>
	
	<select id="getClassCodeName" parameterType="string" resultType="string">
	<![CDATA[
	SELECT cmcd_nm
	FROM cmcd
	WHERE tpcd_id = 'GRP0002' AND cmcd_id = #{clss_cd}
	]]>
	</select>
	
	<select id="getClassCodeNameList" resultType="string">
	<![CDATA[
	SELECT cmcd_nm
	FROM cmcd
	WHERE tpcd_id = 'GRP0002'
	]]>
	</select>
	
	<select id="getClassDetail" resultType="com.finalprj.kess.model.ClassVO" parameterType="string">
	<![CDATA[
	SELECT
		clss_id AS clssId,
	    clss_nm AS clssNm,
	    aply_start_dt AS aplyStartDt,
	    aply_end_dt AS aplyEndDt,
	    clss_start_dd AS clssStartDd,
	    clss_end_dd AS clssEndDd,
	    clss_adr AS clssAdr,
	    set_in_tm AS setInTm,
	    set_out_tm AS setOutTm,
	    limit_cnt AS limitCnt,
	    substr(clss_cd,-3,3) AS clssCd,
	    mngr_id AS mngrId,
	    clss_content AS clssContent
	FROM clss
	WHERE clss_id= #{classId}
	]]>
	</select>
	
	<select id="getFileIdList" resultType="com.finalprj.kess.model.FileVO" parameterType="string">
	<![CDATA[
	select file_id from flup WHERE post_id=#{classId}
	]]>
	</select>
	
	<select id="getFile" resultType="string" parameterType="string">
	<![CDATA[
	select file_id from flup WHERE post_id=#{classId}
	--수정필요
	]]>
	</select>
</mapper>