<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.finalprj.kess.repository.IStudentRepository">
	<resultMap id="studentResult"
		type="com.finalprj.kess.model.StudentVO">
		<result property="stdtId" column="STDT_ID" />
		<result property="stdtEmail" column="STDT_EMAIL" />
		<result property="stdtPwd" column="STDT_PWD" />
		<result property="stdtNm" column="STDT_NM" />
		<result property="genderCd" column="GENDER_CD" />
		<result property="birthDd" column="BIRTH_DD" />
		<result property="stdtTel" column="STDT_TEL" />
		<result property="jobCd" column="JOB_CD" />
		<result property="roleCd" column="ROLE_CD" />
		<result property="stdtCd" column="STDT_CD" />
		<result property="rgstDt" column="RGST_DT" />
		<result property="rgsterId" column="RGSTER_ID" />
		<result property="updtDt" column="UPDT_DT" />
		<result property="updterId" column="UPDTER_ID" />
	</resultMap>

	<!-- 교육생 회원가입 -->
	<insert id="insertStudent"
		parameterType="com.finalprj.kess.model.StudentVO">
		<![CDATA[
		INSERT INTO stdt
			(stdt_id, stdt_email, stdt_pwd, stdt_nm, gender_cd, birth_dd, stdt_tel,
			job_cd, role_cd, stdt_cd, rgst_dt, rgster_id, updt_dt, updter_id)
		VALUES
			(#{stdtId}, #{stdtEmail}, #{stdtPwd}, #{stdtNm}, #{genderCd}, #{birthDd}, #{stdtTel},
			#{jobCd}, #{roleCd}, #{stdtCd}, #{rgstDt}, #{rgsterId}, #{updtDt}, #{updterId})
		]]>
	</insert>

	<!-- 교육생 로그인 -->
	<select id="selectStudent" parameterType="string"
		resultType="com.finalprj.kess.model.StudentVO"
		resultMap="studentResult">
		<![CDATA[
		SELECT *
		FROM stdt
		WHERE stdt_email=#{stdtEmail}
		]]>
	</select>

	<!-- 교육생 개인정보 수정 -->
	<update id="updateStudent"
		parameterType="com.finalprj.kess.model.StudentVO">
		<![CDATA[
		UPDATE stdt
		SET stdt_pwd=#{stdtPwd}, stdt_nm=#{stdtNm}, gender_cd=#{genderCd}, birth_dd=#{birthDd}, stdt_tel=#{stdtTel}, job_cd=#{jobCd}
		WHERE stdt_id=#{stdtId}
		]]>
	</update>
	
	<!-- 교육생 탈퇴 -->
	<delete id="deleteStudent"
		parameterType="com.finalprj.kess.model.StudentVO">
		<![CDATA[
		DELETE FROM stdt
		WHERE stdt_id=#{stdtId} AND stdt_pwd=#{stdtPwd}
		]]>
	</delete>

	<!-- 비밀번호 확인 -->
	<select id="getPassword" parameterType="string"
		resultType="string">
		<![CDATA[
		SELECT stdt_pwd
		FROM stdt
		WHERE stdt_id=#{stdtId}
		]]>
	</select>

	<!-- 공지사항 목록 조회 (메인) -->
	<select id="selectNoticeMain" parameterType="string"
		resultType="com.finalprj.kess.model.PostVO">
		<![CDATA[
		SELECT *
			  FROM (
					SELECT 
						post_id as "postId",
						post_title as "postTitle",
						post_cd as "postCd",
						rgst_dt as "rgstDd"
					FROM post
					WHERE post_id LIKE 'NTC%' and post_cd=
					(select tpcd_id||cmcd_id
					from cmcd
					where cmcd_nm='공개')
					ORDER BY rgst_dt DESC
				)
				WHERE ROWNUM <= 5
		]]>
	</select>

	<!-- 공지사항 목록 조회 -->
	<select id="selectAllNotice" parameterType="string"
		resultType="com.finalprj.kess.model.PostVO">
		<![CDATA[
				SELECT 
					post_id as "postId",
					post_title as "postTitle",
					post_hit as "postHit",
					post_cd as "postCd",
					rgst_dt as "rgstDd"
				FROM post
				WHERE post_id LIKE 'NTC%' and post_cd=
				(select tpcd_id||cmcd_id
				from cmcd
				where cmcd_nm='공개')
				ORDER BY rgst_dt DESC

		]]>
	</select>

	<!-- 공지사항 상세 조회 -->
	<select id="selectNotice" parameterType="string"
		resultType="com.finalprj.kess.model.PostVO">
		<![CDATA[
		SELECT *
		FROM post
		WHERE post_id=#{postId}
		]]>
	</select>

	<!-- 문의사항 전체목록 조회 -->
	<select id="selectAllInquiry" parameterType="string"
		resultType="com.finalprj.kess.model.PostVO">
		<![CDATA[
			SELECT 
					post_id as "postId",
					post_title as "postTitle",
					post_hit as "postHit",
					post_cd as "postCd",
					rgster_id as "rgsterId", 
					rgst_dt as "rgstDd"
				FROM post
				WHERE post_id LIKE 'INQ%'
				ORDER BY rgst_dt DESC
		]]>
	</select>

	<!-- 문의사항 상세 조회 -->
	<select id="selectInquiry" parameterType="string"
		resultType="com.finalprj.kess.model.PostVO">
		<![CDATA[
			SELECT *
			FROM post
			WHERE post_id=#{postId}
		]]>
	</select>

	<!-- 교육지원목록 조회 (메인) -->
	<select id="selectClassMain" parameterType="string"
		resultType="com.finalprj.kess.model.ClassVO">
		<![CDATA[
			SELECT *
			  FROM (
				SELECT
				    clss_id as "clssId",
				    clss_nm as "clssNm",
				    aply_start_dt as "aplyStartDd",
				    aply_end_dt as "aplyEndDd",
				    clss_cd as "clssCd"
				FROM clss
				WHERE clss_cd=
					(select tpcd_id||cmcd_id
					from cmcd
					where cmcd_nm='접수중')
			)
			WHERE ROWNUM <= 15
		]]>
	</select>

	<!-- 교육지원목록 조회 -->
	<select id="selectAllClass" parameterType="string"
		resultType="com.finalprj.kess.model.ClassVO">
		<![CDATA[
			SELECT
			   clss_id as "clssId",
		       clss_nm as "clssNm",
		       aply_start_dt as "aplyStartDd",
		       aply_end_dt as "aplyEndDd",
		       clss_start_dd AS "clssStartDd",
		       clss_end_dd AS "clssEndDd",
		       substr(clss_adr, 1, 3) AS "clssAdr",
		       cmcd.cmcd_nm AS "clssCd",
		       flup.file_nm as "cmpyId"
		   FROM
		       clss
		   JOIN cmcd on cmcd.tpcd_id||cmcd.cmcd_id = clss.clss_cd
		   JOIN flup on flup.post_id = clss.cmpy_id
		   ORDER BY clss_id
		]]>
	</select>

	<!-- 교육지원 상세 조회 -->
	<select id="selectClass" parameterType="string"
		resultType="com.finalprj.kess.model.ClassVO">
		<![CDATA[
			SELECT 
				clss_id as "clssId",
				clss_nm as "clssNm",
				aply_start_dt as "aplyStartDd",
				aply_end_dt as "aplyEndDd",
				clss_start_dd as "clssStartDd",
				clss_end_dd as "clssEndDd",
				clss_adr as "clssAdr",
				limit_cnt as "limitCnt",
				set_in_tm as "setInTm",
				set_out_tm as "setOutTm",
 				cmcd.cmcd_nm as "clssCd",
				cmpy_id as "cmpyId"
			FROM clss
			JOIN (cmcd on cmcd.tpcd_id||cmcd.cmcd_id = clss.clss_cd)
			WHERE clss_id=#{classId}
		]]>
	</select>



	<!-- 이수완료건 출력 -->
	<select id="getCmptClass" parameterType="string"
		resultType="int">
	<![CDATA[
		select count(clss_id) as "cmptClassCnt"
			from rgst
			where stdt_id= (
				SELECT stdt_id
			FROM stdt
			WHERE stdt_email=#{stdtEmail}
			)
	            and cmpt_CD=
			(select tpcd_id||cmcd_id
			from cmcd
			where cmcd_nm='이수완료')
	]]>
	</select>


	<!-- 지원완료건 출력 -->
	<select id="getAplyClass" parameterType="string"
		resultType="int">
	<![CDATA[
		select count(clss_id) as "aplyClassCnt"
			from aply
			where stdt_id= (
				SELECT stdt_id
			FROM stdt
			WHERE stdt_email=#{stdtEmail}
			)
	]]>
	</select>

</mapper>