<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.finalprj.kess.repository.IStudentRepository">
	<resultMap id="studentResult"
		type="com.finalprj.kess.model.StudentVO">
		<result property="stdtId" column="STDT_ID" />
		<result property="userEmail" column="STDT_EMAIL" />
		<result property="stdtNm" column="STDT_NM" />
		<result property="genderCd" column="GENDER_CD" />
		<result property="birthDd" column="BIRTH_DD" />
		<result property="stdtTel" column="STDT_TEL" />
		<result property="jobCd" column="JOB_CD" />
		<result property="rgstDt" column="RGST_DT" />
		<result property="rgsterId" column="RGSTER_ID" />
		<result property="updtDt" column="UPDT_DT" />
		<result property="updterId" column="UPDTER_ID" />
	</resultMap>

	<!-- 교육생 회원가입 -->
	<insert id="insertStudent"
		parameterType="com.finalprj.kess.model.StudentVO">
		<![CDATA[
		INSERT INTO stdt
			(stdt_id, stdt_email, stdt_pwd, stdt_nm, gender_cd, birth_dd, stdt_tel,
			job_cd, role_cd, stdt_cd, rgst_dt, rgster_id, updt_dt, updter_id)
		VALUES
			(#{stdtId}, #{stdtEmail}, #{stdtPwd}, #{stdtNm}, #{genderCd}, #{birthDd}, #{stdtTel},
			#{jobCd}, #{roleCd}, #{stdtCd}, #{rgstDt}, #{rgsterId}, #{updtDt}, #{updterId})
		]]>
	</insert>

	<!-- 교육생 로그인 -->
	<select id="selectUser" parameterType="string"
		resultType="com.finalprj.kess.model.StudentVO"
		resultMap="studentResult">
		<![CDATA[
		select *
		from stdt
		join lgin on lgin.user_email = stdt.user_email
		where stdt.user_email=#{email}
		]]>
	</select>

	<!-- 마지막 로그인 일시 불러오기 -->
	<select id="getlastLogTime" parameterType="string"
		resultType="java.sql.Timestamp">
		<![CDATA[
		SELECT LAST_LOGIN_DT
		FROM lgin
		WHERE USER_EMAIL = (select stdt.user_email
		from stdt
		where stdt_id = #{stdtId})
		]]>
	</select>

	<!-- 교육생 개인정보 수정 -->
	<update id="updateStudent"
		parameterType="com.finalprj.kess.model.StudentVO">
		<![CDATA[
		UPDATE stdt
		SET stdt_pwd=#{stdtPwd}, stdt_nm=#{stdtNm}, gender_cd=#{genderCd}, birth_dd=#{birthDd}, stdt_tel=#{stdtTel}, job_cd=#{jobCd}
		WHERE stdt_id=#{stdtId}
		]]>
	</update>

	<!-- 교육생 탈퇴 -->
	<delete id="deleteStudent"
		parameterType="com.finalprj.kess.model.StudentVO">
		<![CDATA[
		DELETE FROM stdt
		WHERE stdt_id=#{stdtId} AND stdt_pwd=#{stdtPwd}
		]]>
	</delete>

	<!-- 비밀번호 확인 -->
	<select id="getPassword" parameterType="string"
		resultType="string">
		<![CDATA[
		SELECT user_pwd
		FROM lgin
		where user_email = (SELECT user_email
		from stdt
		WHERE stdt_id=#{stdtId})
		]]>
	</select>

	<!-- 공지사항 목록 조회 (메인) -->
	<select id="selectNoticeMain" parameterType="string"
		resultType="com.finalprj.kess.model.PostVO">
		<![CDATA[
		SELECT *
			  FROM (
					SELECT 
						post_id,
						post_title,
						post_cd,
						rgst_dt as "rgstDd"
					FROM post
					WHERE post_id LIKE 'NOTC%' and post_cd=
						(select cmcd_id
						from cmcd
						where cmcd_id='PST0000001')
					ORDER BY rgst_dt DESC
				)
				WHERE ROWNUM <= 5
		]]>
	</select>

	<!-- 공지사항 목록 조회 -->
	<select id="selectAllNotice" parameterType="string"
		resultType="com.finalprj.kess.model.PostVO">
		<![CDATA[
				 SELECT 
					post_id,
					post_title,
					post_cd,
					post_hit,
					post.rgst_dt as "rgstDd",
					mngr_nm as "mngrNm",
					cmcd.cmcd_nm
				FROM post
				JOIN cmcd ON cmcd.cmcd_id = post.post_cd
				LEFT JOIN mngr on mngr.mngr_id = post.rgster_id
				WHERE post_id LIKE 'NOTC%' and post_cd=
					(select cmcd_id
					from cmcd
					where cmcd_id='PST0000001')
				ORDER BY post.rgst_dt DESC

		]]>
	</select>

	<!-- 공지사항 목록 검색 -->
	<select id="searchNotices" parameterType="string"
		resultType="com.finalprj.kess.model.PostVO">
		<![CDATA[
				 SELECT 
					post_id,
					post_title,
					post_cd,
					post_hit,
					post.rgst_dt as "rgstDd",
					mngr_nm as "mngrNm",
					cmcd.cmcd_nm
				FROM post
				JOIN cmcd ON cmcd.cmcd_id = post.post_cd
				LEFT JOIN mngr on mngr.mngr_id = post.rgster_id
				WHERE post_id LIKE 'NOTC%' and post_cd=
					(select cmcd_id
					from cmcd
					where cmcd_id='PST0000001') and post_title LIKE ('%'|| UPPER(#{keyword}) ||'%')
				ORDER BY post.rgst_dt DESC
		]]>
	</select>

	<!-- 공지사항 상세 조회 -->
	<select id="selectNotice" parameterType="string"
		resultType="com.finalprj.kess.model.PostVO">
		<![CDATA[
		SELECT 
			post_id,
			post_title,
			post_content,
			post_hit,
			rgst_dt as "rgstDd"
		FROM post
		WHERE post_id=#{postId}
		]]>
	</select>

	<!-- 공지사항 상세 조회(이미지) -->
	<select id="selectAllNoticeFile" parameterType="string"
		resultType="com.finalprj.kess.model.FileVO">
		<![CDATA[
		SELECT
		    file_id,
		    file_sub_id,
		    file_nm,
		    file_content,
		    file_size,
		    file_type,
		    SUBSTR(file_type, 1, INSTR(file_type, '/') - 1) as "fType"
		FROM flup
		WHERE file_id = (
		    SELECT file_id
		    FROM post
			WHERE post_id=#{postId}
		) and flup.delete_yn= 'N'
		ORDER BY
	    CASE
	        WHEN file_type LIKE 'application%' THEN 0
	        WHEN file_type LIKE 'text%' THEN 1
	        ELSE 2
	    END
		]]>
	</select>


	<!-- 조회수 업데이트 -->
	<update id="incrementHit" parameterType="string">
	<![CDATA[
		update post
		set 
			post_hit = post_hit + 1
		where post_id=#{postId}
	]]>
	</update>


	<!-- 문의사항 전체목록 조회 -->
	<select id="selectAllInquiry" parameterType="string"
		resultType="com.finalprj.kess.model.PostVO">
		<![CDATA[
		SELECT 
		    post_id,
		    post_title,
		    post_cd,
		    post_hit,
		    post.rgst_dt as "rgstDd",
		    stdt_nm as "stdtNm",
			mngr_nm as "mngrNm",
			cmcd.cmcd_nm
		FROM post
		JOIN cmcd ON cmcd.cmcd_id = post.post_cd
		LEFT JOIN stdt on stdt.stdt_id = post.RGSTER_ID
		LEFT JOIN mngr on mngr.mngr_id = post.RGSTER_ID
		WHERE post_id LIKE 'INQY%' AND post_cd IN (
		    SELECT cmcd_id
		    FROM cmcd
		    WHERE cmcd_id IN ('PST0000003', 'PST0000004')
		) and delete_yn = 'N'
		ORDER BY post.rgst_dt DESC
		]]>
	</select>

	<!-- 문의사항 목록 검색 -->
	<select id="searchInquiries" parameterType="string"
		resultType="com.finalprj.kess.model.PostVO">
		<![CDATA[
		SELECT 
		    post_id,
		    post_title,
		    post_cd,
		    post_hit,
		    post.rgst_dt as "rgstDd",
		    stdt_nm as "stdtNm",
			mngr_nm as "mngrNm",
			cmcd.cmcd_nm
		FROM post
		JOIN cmcd ON cmcd.cmcd_id = post.post_cd
		LEFT JOIN stdt on stdt.stdt_id = post.RGSTER_ID
		LEFT JOIN mngr on mngr.mngr_id = post.RGSTER_ID
		WHERE post_id LIKE 'INQY%' AND post_cd IN (
		    SELECT cmcd_id
		    FROM cmcd
		    WHERE cmcd_id IN ('PST0000003', 'PST0000004')
		) and delete_yn = 'N' and (post_title LIKE ('%'|| UPPER(#{keyword}) ||'%') or stdt_nm LIKE ('%'|| UPPER(#{keyword}) ||'%'))
		ORDER BY post.rgst_dt DESC
		]]>
	</select>


	<!-- 문의사항 상세 조회 -->
	<select id="selectInquiry" parameterType="string"
		resultType="com.finalprj.kess.model.PostVO">
		<![CDATA[
		SELECT 
			post_id,
			master_id,
			cmcd.cmcd_nm,
			post_title,
			post_content,
			post_hit,
			stdt_nm as "stdtNm",
			mngr_nm as "mngrNm",
			post.rgst_dt as "rgstDd"
		FROM post
		JOIN cmcd ON cmcd.cmcd_id = post.post_cd
		LEFT JOIN stdt on stdt.stdt_id = post.RGSTER_ID
		LEFT JOIN mngr on mngr.mngr_id = post.RGSTER_ID
		WHERE post_id=#{postId}
		]]>
	</select>

	<!-- 문의 사항 상세 조회(이미지) -->
	<select id="selectAllInquiryFile" parameterType="string"
		resultType="com.finalprj.kess.model.FileVO">
		<![CDATA[
		SELECT
		    file_id,
		    file_sub_id,
		    file_nm,
		    file_content,
		    file_size,
		    file_type,
		    SUBSTR(file_type, 1, INSTR(file_type, '/') - 1) as "fType"
		FROM flup
		WHERE file_id = (
		    SELECT file_id
		    FROM post
			WHERE post_id=#{postId}
		) and flup.delete_yn= 'N'
		ORDER BY
	    CASE
	        WHEN file_type LIKE 'application%' THEN 0
	        WHEN file_type LIKE 'text%' THEN 1
	        ELSE 2
	    END
		]]>
	</select>

	<!-- 답변 상세 조회 -->
	<select id="selectReply" parameterType="string"
		resultType="com.finalprj.kess.model.PostVO">
		<![CDATA[
		SELECT 
			post_id,
			master_id,
			post_title,
			post_content,
			stdt_nm as "stdtNm",
			mngr_nm as "mngrNm",
			post.rgst_dt as "rgstDd"
		FROM post
		JOIN cmcd ON cmcd.cmcd_id = post.post_cd
		LEFT JOIN stdt on stdt.stdt_id = post.RGSTER_ID
		LEFT JOIN mngr on mngr.mngr_id = post.RGSTER_ID
		WHERE master_id=#{postId} 
		]]>
	</select>

	<!-- 교육지원목록 조회 (메인) -->
	<select id="selectClassMain" parameterType="string"
		resultType="com.finalprj.kess.model.ClassVO">
		<![CDATA[
			SELECT *
			  FROM (
				SELECT
				    clss_id,
				    clss_nm,
				    aply_start_dt as "aplyStartDd",
			    	aply_end_dt as "aplyEndDd",
				    clss_cd
				FROM clss
				WHERE clss_cd=
					(select cmcd_id
					from cmcd
					where cmcd_id='CLS0000002')
					ORDER BY rgst_dt DESC
			)
			WHERE ROWNUM <= 5
		]]>
	</select>

	<!-- 교육지원목록 조회 -->
	<select id="selectAllClass" parameterType="string"
		resultType="com.finalprj.kess.model.ClassVO">
		<![CDATA[
			SELECT
			   clss_id,
		       clss_nm,
		       clss.cmpy_id,
		       aply_start_dt as "aplyStartDd",
			   aply_end_dt as "aplyEndDd",
		       clss_start_dd,
		       clss_end_dd,
		       substr(clss_adr, 1, 3) as "clssAdr", 
		       limit_cnt,
		       clss_cd,
			   cmcd.cmcd_nm,
		       flup.file_id,
		        flup.file_sub_id
		   FROM clss
		   JOIN cmcd on cmcd.cmcd_id = clss.clss_cd
		   LEFT JOIN cmpy on cmpy.cmpy_id = clss.cmpy_id
		   LEFT JOIN flup on flup.file_id = cmpy.file_id
		   WHERE clss.delete_yn= 'N' and clss.clss_cd <> 'CLS0000007'
		   ORDER BY clss.rgst_dt DESC
		]]>
	</select>


	<!-- 교육지원목록 검색 -->
	<select id="searchClasses" parameterType="string"
		resultType="com.finalprj.kess.model.ClassVO">
		<![CDATA[
			SELECT
			    clss_id,
			    clss_nm,
			    clss.cmpy_id,
			    aply_start_dt as "aplyStartDd",
			    aply_end_dt as "aplyEndDd",
			    clss_start_dd,
			    clss_end_dd,
			    substr(clss_adr, 1, 3) as "clssAdr", 
			    limit_cnt,
			    clss_cd,
			    cmcd.cmcd_nm,
			    flup.file_id,
		        flup.file_sub_id
			FROM clss
			JOIN cmcd on cmcd.cmcd_id = clss.clss_cd
			LEFT JOIN cmpy on cmpy.cmpy_id = clss.cmpy_id
			LEFT JOIN flup on flup.file_id = cmpy.file_id
			WHERE clss_nm LIKE ('%'|| UPPER(#{keyword}) ||'%') and clss_cd LIKE (#{ingClass} ||'%') and clss.delete_yn= 'N' and clss.clss_cd <> 'CLS0000007'
			ORDER BY clss.rgst_dt DESC
		]]>
	</select>

	<!-- 교육지원 상세 조회 -->
	<select id="selectClass" parameterType="string"
		resultType="com.finalprj.kess.model.ClassVO">
		<![CDATA[
			SELECT
			    clss_id,
			    clss_nm,
			    clss_content,
			    aply_start_dt as "aplyStartDd",
			    aply_end_dt as "aplyEndDd",
			    clss_start_dd,
			    clss_end_dd,
			    clss_adr,
			    limit_cnt,
			    TO_CHAR(set_in_tm, 'HH24') as "setInTime",
    			TO_CHAR(set_out_tm, 'HH24') as "setOutTime",
    			clss_total_tm,
			    clss_etc,
			    clss_cd,
			    mngr.mngr_nm ,
			    cmpy.cmpy_nm ,
			    cmcd.cmcd_nm 
			FROM clss
			JOIN cmcd ON cmcd.cmcd_id = clss.clss_cd
			LEFT JOIN MNGR on mngr.mngr_id = clss.mngr_id
			LEFT JOIN cmpy ON cmpy.cmpy_id = clss.cmpy_id
			WHERE clss.clss_id = #{clssId}
		]]>
	</select>

	<!-- 교육지원 커리큘럼 -->
	<select id="getCurriculumList" parameterType="string"
		resultType="com.finalprj.kess.dto.CurriculumDetailDTO">
	<![CDATA[
		select lctr.lctr_nm, lctr.lctr_tm, sbjt.sbjt_nm, prof.prof_nm
		from crcl
        join lctr on lctr.lctr_id = crcl.lctr_id
        join sbjt on sbjt.sbjt_id = lctr.sbjt_id
        join prof on prof.prof_id = lctr.prof_id
        WHERE crcl.clss_id = #{clssId}
	]]>
	</select>


	<!-- 교육지원 상세 조회(이미지) -->
	<select id="selectAllClassFile" parameterType="string"
		resultType="com.finalprj.kess.model.FileVO">
		<![CDATA[
		SELECT
		    file_id,
		    file_sub_id,
		    file_nm,
		    file_content,
		    file_size,
		    file_type,
		    SUBSTR(file_type, 1, INSTR(file_type, '/') - 1) as "fType"
		FROM flup
		WHERE file_id = (
		    SELECT file_id
		    FROM clss
		    WHERE clss_id = #{clssId}
		) and flup.delete_yn= 'N'
		ORDER BY
	    CASE
	        WHEN file_type LIKE 'application%' THEN 0
	        WHEN file_type LIKE 'text%' THEN 1
	        ELSE 2
	    END
		]]>
	</select>

	<!-- 검색내역 리스트 -->
	<select id="selectviewClass" parameterType="string"
		resultType="com.finalprj.kess.model.ClassVO">
		<![CDATA[
			SELECT
			   clss_id,
		       clss_nm,
		       clss.cmpy_id,
		       clss_cd,
			   cmcd.cmcd_nm,
		   		flup.file_id,
		        flup.file_sub_id
		   FROM clss
		   JOIN cmcd on cmcd.cmcd_id = clss.clss_cd
		   LEFT JOIN cmpy on cmpy.cmpy_id = clss.cmpy_id
		   LEFT JOIN flup on flup.file_id = cmpy.file_id
		   WHERE clss.clss_id = #{viewClass}
		]]>
	</select>

	<!-- 개인정보 조회하기 -->
	<select id="getstdtInfo" parameterType="string"
		resultType="com.finalprj.kess.model.StudentVO">
	<![CDATA[
		select stdt_id, 
		user_email, 
		stdt_nm, 
		(select cmcd_nm from cmcd where cmcd.cmcd_id = stdt.gender_cd) as "genderNm",
		(select cmcd_nm from cmcd where cmcd.cmcd_id = stdt.job_cd) as "jobNm",
		birth_dd,
		stdt_tel,
		rgst_dt
			from stdt
			where stdt_id = #{stdtId}
	]]>
	</select>

	<!-- 중복지원 내역 확인하기 -->
	<select id="getAplyYN" parameterType="string" resultType="int">
	<![CDATA[
		select COALESCE(COUNT(aply_id), 0) as "applyYN"
			from aply
			where stdt_id = #{stdtId}
				and clss_id = #{classId}
	]]>
	</select>

	<!-- 이수 테이블 aplyId MAX값 가져오기 -->
	<select id="getMaxAplyId" resultType="string">
	<![CDATA[
		select 'APLY'||LPAD((max(cast(substr(aply_id,5) as number(6)))+1),6,'0')
		from aply
	]]>
	</select>

	<!-- 지원서 파일 업로드 -->
	<insert id="uploadAplyFile">
	<![CDATA[
		insert into aply
		(aply_id, stdt_id, clss_id, aply_cd, file_id, rgster_id)
		values(#{aplyId}, #{stdtId}, #{clssId}, #{aplyCd}, #{fileId},#{rgsterId})
	]]>
	</insert>



	<!-- 이수완료건 출력 -->
	<select id="getCmptClass" parameterType="string"
		resultType="int">
	<![CDATA[
		select COALESCE(COUNT(clss_id), 0) as "cmptClassCnt"
			from rgst
			where stdt_id= #{stdtId}
	            and cmpt_cd='CMP0000002'
	]]>
	</select>


	<!-- 지원완료건 출력 -->
	<select id="getAplyClass" parameterType="string"
		resultType="int">
	<![CDATA[
		select COALESCE(COUNT(clss_id), 0) as "aplyClassCnt"
			from aply
			where stdt_id= (
				SELECT stdt_id
			FROM stdt
			WHERE stdt_id=#{stdtId}
			) and aply_cd='APL0000002'
	]]>
	</select>

	<!-- 수강중인 수업VO 출력 -->
	<select id="getIngClass" parameterType="string"
		resultType="com.finalprj.kess.model.ClassVO">
	<![CDATA[
		select 
		clss_id,
		clss_nm,
		clss_start_dd,
		clss_end_dd, 
		set_in_tm,
		set_out_tm 
		from clss
		where clss_id =(
			select clss_id
			from rgst
			where stdt_id= #{stdtId}
		            and cmpt_cd ='CMP0000001'
					and rgst_cd ='CLS0000005') 
	]]>
	</select>

	<!-- 지원내역 조회 -->
	<select id="searchAplyList" parameterType="string"
		resultType="com.finalprj.kess.dto.ApplyDetailDTO">
	<![CDATA[
		select 
			aply_id,
			clss_nm,
			aply_cd,
			aply_end_dt,
			aply_start_dt as "aplyStartDd",
			aply_end_dt as "aplyEndDd",
			clss_start_dd,
			clss_end_dd,
			limit_cnt,
			aply_cd,
			cmcd.cmcd_nm,
			aply.rgst_dt as "rgstDd",
			aply.updt_dt as "updtDd"
			FROM aply
			JOIN cmcd on cmcd.cmcd_id = aply.aply_cd
			JOIN clss on clss.clss_id = aply.clss_id
			WHERE stdt_id=#{stdtId}
			ORDER BY aply.rgst_dt DESC
	]]>
	</select>

	<!-- 마이페이지 지원상태 수정 -->
	<update id="updateaply"
		parameterType="com.finalprj.kess.model.ApplyVO">
	<![CDATA[
		update aply
		set 
			aply_cd = #{aplyCd}
		where aply_id=#{aplyId}
	]]>
	</update>

	<!-- 수강 테이블 RegistrationId MAX값 가져오기 -->
	<select id="getMaxRegistrationId" resultType="string">
	<![CDATA[
		select 'RGST'||LPAD((max(cast(substr(rgst_id,5) as number(6)))+1),6,'0')
		from rgst
	]]>
	</select>


	<!-- 마이페이지 수강내역 추가 -->
	<insert id="insertRgst"
		parameterType="com.finalprj.kess.model.RegistrationVO">
		<![CDATA[
		INSERT into rgst
		(rgst_id, stdt_id, clss_id, rgst_cd,cmpt_cd, rgster_id )
		values(#{maxRgstId}, #{stdtId}, (select
            clss_id
           from aply
       where aply_id = #{aplyId}),(select 
       clss_cd
       from clss
       where clss_id =
       (select
            clss_id
           from aply
       where aply_id = #{aplyId})),
        'CMP0000001',systimestamp, #{stdtId})
        
		]]>
	</insert>

	<!-- 지원 테이블 fileSubId MAX값 가져오기 -->
	<select id="getmaxSubId" resultType="int">
	<![CDATA[
		select LPAD(max (FILE_SUB_ID), 1, '0')
		from flup
		where file_id = (select file_id
							from aply
							where aply_id =#{aplyId})
	]]>
	</select>

	<!-- 지원 테이블 파일 수정 -->
	<update id="updateAplyFile"
		parameterType="com.finalprj.kess.model.FileVO">
	<![CDATA[
		update flup
			set 
			file_sub_id = #{maxFileSubId},
			file_nm = #{fileVO.fileNm},
			file_content = #{fileVO.fileContent},
			file_size = #{fileVO.fileSize},
			file_type = #{fileVO.fileType}
			where file_id=
				(select file_id
				from aply
				where aply_id = #{aplyId}	
				)	
	]]>
	</update>

	<!-- 지원 수정 날짜 업데이트 -->
	<update id="updateAplydt">
	<![CDATA[
		update aply
		set 
			updter_id = #{stdtId},
			updt_dt = systimestamp
		where aply_id = #{aplyId}	
	]]>
	</update>


	<!-- 이수내역 조회 -->
	<select id="searchRgstList" parameterType="string"
		resultType="com.finalprj.kess.model.RegistrationVO">
	<![CDATA[
		  select 
			rgst_id,
			clss.clss_id,
			clss.clss_nm,
			clss.clss_start_dd,
			clss.clss_end_dd,
			rgst_cd,
			cmpt_cd,
			(select cmcd_nm from cmcd where cmcd.cmcd_id = rgst.rgst_cd) as "rgstNm",
			(select cmcd_nm from cmcd where cmcd.cmcd_id = rgst.cmpt_cd) as "cmptNm",
			flup.file_id,
			flup.file_sub_id,
			flup.file_nm,
            rgst.rgst_dt,
			rgst.rgst_dt as "rgstDd"
			FROM rgst
			JOIN clss on clss.clss_id = rgst.clss_id
			LEFT JOIN flup on flup.file_id = rgst.file_id
			WHERE stdt_id=#{stdtId}
			ORDER BY rgst.rgst_dt DESC
	]]>
	</select>


	<!-- 수강중인 수업VO 출력 -->
	<select id="getWlogClass" parameterType="string"
		resultType="com.finalprj.kess.model.ClassVO">
	<![CDATA[
		select 
		clss_id,
		clss_nm,
		clss_start_dd,
		clss_end_dd, 
		set_in_tm,
		set_out_tm 
		from clss
		where clss_id = #{clssId} 
	]]>
	</select>


	<!-- 이수중인 교육 내역 유무 -->
	<select id="getRgstIngCnt" resultType="int">
	<![CDATA[
		select COALESCE(COUNT(rgst_id), 0) as "RgstIngCnt"
		from rgst
		WHERE stdt_id=#{stdtId} and (rgst_cd = 'CLS0000004'or rgst_cd = 'CLS0000005')
	]]>
	</select>

	<!-- 출퇴근 내역 조회 -->
	<select id="searchWlogList" parameterType="string"
		resultType="com.finalprj.kess.model.WorklogVO">
	<![CDATA[
		select 
			wlog.wlog_id,
			clss.clss_nm,
			resn.resn_id,
			in_tm,
			out_tm,
			wlog_cd,
			(select cmcd_nm from cmcd where cmcd.cmcd_id = wlog.wlog_cd) as "wlogNm",
			(select cmcd_nm from cmcd where cmcd.cmcd_id = resn.resn_cd) as "resnNm",
			wlog.rgst_dt as "rgstDd"
			FROM wlog
			JOIN cmcd on cmcd.cmcd_id = wlog.wlog_cd
			JOIN clss on clss.clss_id = wlog.clss_id
			LEFT JOIN resn on resn.wlog_id = wlog.wlog_id
			WHERE stdt_id=#{stdtId}
			ORDER BY wlog.rgst_dt DESC
	]]>
	</select>


	<!-- 사유서 Id MAX값 가져오기 -->
	<select id="getMaxResnId" resultType="string">
	<![CDATA[
		SELECT 'RESN' || LPAD(
    COALESCE(MAX(CAST(SUBSTR(resn_id, 5) AS NUMBER(6))), 0) + 1, 6, '0')
	FROM resn
	]]>
	</select>

	<!-- 사유서 제출 -->
	<insert id="uploadResnFile">
	<![CDATA[
		INSERT into resn
		(resn_id, wlog_id, resn_content, resn_cd, file_id, rgster_id)
		values(#{resnId}, #{wlogId}, #{resnContent}, #{resnCd},#{fileId},#{rgsterId}) 
	]]>
	</insert>

	<!-- 사유서 테이블 파일 수정 -->
	<update id="updateResnFile"
		parameterType="com.finalprj.kess.model.FileVO">
	<![CDATA[
		update flup
			set 
			file_nm = #{fileVO.fileNm},
			file_content = #{fileVO.fileContent},
			file_size = #{fileVO.fileSize},
			file_type = #{fileVO.fileType}
			where file_id=
				(select file_id
				from resn
				where resn_id = #{resnId}	
				)	
	]]>
	</update>

	<!-- 사유서 수정 날짜 업데이트 -->
	<update id="updateResndt">
	<![CDATA[
		update resn
		set 
			resn_content = #{resnText},
			updter_id = #{stdtId},
			updt_dt = systimestamp
		where resn_id = #{resnId}	
	]]>
	</update>

	<!-- 출퇴근 Id개수 가져오기 -->
	<select id="getWlogIdCnt" resultType="int">
	<![CDATA[
		select COALESCE(COUNT(wlog_id), 0) as "countwlogId"
		from wlog
		where stdt_id = #{stdtId} and clss_id = #{clssId} and delete_yn ='N'
	]]>
	</select>

	<!-- 학생의 출퇴근 Id MAX값 가져오기 -->
	<select id="getLastWlogId" resultType="string">
	<![CDATA[
		select 'WLOG'||LPAD((max(cast(substr(wlog_id,5) as number(6)))),6,'0')
		from wlog
		where stdt_id = #{stdtId} and clss_id = #{clssId} and delete_yn ='N'
	]]>
	</select>

	<!-- 마지막 출퇴근 값 가져오기 -->
	<select id="getLastWlogVO"
		resultType="com.finalprj.kess.model.WorklogVO">
	<![CDATA[
		select *
		from wlog
		where wlog_id = #{lastWlogId} and delete_yn ='N'
	]]>
	</select>

	<!-- 출퇴근 Id MAX값 가져오기 -->
	<select id="getMaxWlogId" resultType="string">
	<![CDATA[
		select 'WLOG'||LPAD((max(cast(substr(wlog_id,5) as number(6)))+1),6,'0')
		from wlog
	]]>
	</select>

	<!-- 출근 시간 insert -->
	<insert id="insertNewWlog">
	<![CDATA[
		INSERT into wlog
		(wlog_id, stdt_id, clss_id, wlog_cd, rgster_id)
		values(#{wlogId}, #{stdtId}, #{clssId},#{wlogCd}, #{rgsterId}) 
	]]>
	</insert>

	<!-- 과거 시간 insert -->
	<insert id="insertPastWlog">
	<![CDATA[
		INSERT into wlog
		(wlog_id, stdt_id, clss_id, in_tm,wlog_cd, rgster_id)
		values(#{wlogId}, #{stdtId}, #{clssId}, #{inTm},#{wlogCd}, #{rgsterId}) 
	]]>
	</insert>


	<!-- 퇴근 시간 업데이트 -->
	<update id="getUpdateOutlog">
	<![CDATA[
		update wlog
		set 
		wlog_total_tm = #{totalTm},
			wlog_cd = #{outlogCd},
			out_tm = #{newOutTm}
		where wlog_id = #{lastWlogId}	
	]]>
	</update>

	<!-- 문의 내역 조회 -->
	<select id="searchPostList" parameterType="string"
		resultType="com.finalprj.kess.model.PostVO">
	<![CDATA[
		 select 
			post_id,
			post_title,
			post_cd,
            (select cmcd_nm from cmcd where cmcd.cmcd_id = post.post_cd) as "cmcdNm",
			rgst_dt as "rgstDd"
			FROM post
			WHERE rgster_id=#{stdtId}
			ORDER BY rgst_dt DESC
	]]>
	</select>

	<!-- 문의 내역 답변 -->
	<select id="getReply" parameterType="string"
		resultType="com.finalprj.kess.model.PostVO">
	<![CDATA[
		 select 
			post_id,
			post_title,
			post_content,
			mngr.mngr_nm,
			post.rgst_dt as "rgstDd"
			FROM post
			LEFT JOIN mngr on mngr.mngr_id = post.rgster_id
			WHERE master_id=#{postId}
			ORDER BY post.rgst_dt DESC
	]]>

	</select>

	<!-- 문의작성하기 -->
	<insert id="uploadInquiry">
	<![CDATA[
		insert into post
		(post_id, post_title, post_content, post_cd, file_id, rgster_id)
		values(#{postId}, #{postTitle}, #{postContent}, #{postCd}, #{fileId},#{rgsterId})
	]]>
	</insert>

	<!-- 문의 사항 postId MAX값 가져오기 -->
	<select id="getMaxPostId" resultType="string">
	<![CDATA[
		select 'INQY'||LPAD((max(cast(substr(post_id,5) as number(6)))+1),6,'0')
		from post
		where post_id like 'INQY%'
	]]>
	</select>

</mapper>