@charset "UTF-8";

.home-section {
	position: relative;
	background: #fff;
	min-height: 100vh;
	top: 0;
	left: 60px;
	width: calc(100% - 60px);
	transition: all 0.5s ease;
	z-index: 2;
}

.home-section .title {
	font-size: 1.7em;
	color: #333333;
	font-weight: bold;
	margin : 40px;
	display: inline-block;
}

.home-section .content_wrap {
	margin: 0 auto;
	width: 95%;
}

.confirm_form input[type="password"] {
	padding: 10px;
	border-style: 1px;
	font-size: 1.3em;
	font-weight: bold;
	border-radius: 5px;
	width: 40%;
}

.confirm_form input::placeholder {
	color: #0E5881;
}

.confirm_form input[type="submit"]{
	border-radius: 5px;
	width: 7em;
	background-color: #0E5881;
	margin-left : 0.3em;
	color: white;
	font-weight: bold;
	font-size: 1.3em;
	border : none;
}

.confirm_form input[type="submit"]:hover{
	cursor: pointer;
}

.confirm_form form{
	display: flex;
}

table {
	border: 1px solid #CFDEE6;
	border-collapse: collapse;
	text-align: center;
	line-height: 1.5;
	width:50%;
}

table tr {
	border-bottom: 1.5px solid #E7EFF3;
}

table th {
	border-right: 2px solid #CFDEE6;
	width: 10em;
	color: #0E5881;
	background: #E7EFF3;
	border-bottom: 1px solid #E7EFF3;
	font-size: 1.1em;
}

table td {
	padding: 10px;
	font-size: 1.1em;
	vertical-align: center;
	border-bottom: 1px solid #CFDEE6;
	text-align: left;
	margin-left: 2%;
}

table input{
/* padding: 10px; */
/* border: inset; */
	color: #0E5881;
/* border-radius: 5px; */
	padding: 10px;
	border-style: 1px;
	font-size: 1.1em;
	font-weight: bold;
	border-radius: 5px;
	width: 70%;
}

.update_btn{
	padding: 10px;
	border: 0;
	font-size: 1.3em;
	font-weight: bold;
	border-radius: 5px;
	background-color: #0E5881;
	color: white;
	margin :1em;
	width: 5em;
}