.area_test {
	border:1px black solid;
}

.content_wrap {
	margin: 18px;
	border:1px black solid;
	display: flex;
}

.home-section .title {
	display: inline-block;
	color: #333333;
	font-size: 30px;
	font-weight: bold;
	margin : 40px;
}