@charset "UTF-8";

.sideBar {
	background-color: #131313;
	border-color: #FFFFFF;
	border-width: 6 px;
	width: 30%;
	color:#FFFFFF;
}

.mainContainer {
	display:flex;
	background-color: #909090;
	border-color: #B0B0B0;
	border-width: 6 px;
	width: 70%;
	color:#FFFFFF;
}
.wrapper {
/* 	align-content: flex-start; */
	align-items: flex-start;
}