.home-section .title {
	display: inline-block;
	justify-content : center;
	color: #333333;
	font-size: 30px;
	font-weight: bold;
	margin: 40px;
}

.home-section{
	display: flex;
	justify-content: center;
}

table {
	table-layout:fixed;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5%;
}

.go_to_list_btn_wrap .go_to_list_btn {
	width: 60px;
	background-color: #0E5881;
	margin: 10px 0 10px 0;
	color: white;
	font-weight: bold;
	font-size: 20px;
}

th, td {
/* 	border: 2px solid #0E5881; */
	border-collapse: collapse;
	border: 1px solid #9FBCCD;
}

table td {
	padding: 1%;
	font-weight: bold;
}

table th {
	background-color: #E7EFF3;
	width: 12%;
}

.content_wrap {
/* 	display: flex; */
	justify-content: center;
	width:90%;
/* 	border-style: groove; */
/* 	border-color: blue; */
/* 	border-width: 5px; */
}


.class_content_wrap {
	border : 2px violet solid;
	width: 60%;
	justify-content: center;
}

.content {
	padding-top: 5%;
	flex-direction: column;
	align-items: center;
	justify-content : center;
	flex-wrap: wrap;
	width: 100%;
/* 	margin: 5% auto; */
	box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
	border-style: groove;
	border-color: black;
	border-width: 5px;
}
.image_wrap {
/* 	display: flex; */
	justify-content: center;
	margin:3px;
}
.non_image_wrap {
	display: flex;
/* 	justify-content: center; */
	align-content:center;
/* 	margin:3px; */
}
.go_to_list_btn_wrap {
	display: flex;
	justify-content: center;
}
.download_img{
	width:20px;
	height:20px;
}

.content a {
/* 	color: black; */
}

.crclTable {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.crclTable table {
	width: 80%;
	border:1px solid #9FBCCD;
}

.content h3{
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	text-align: center;
}
.content h4{
	text-align: left;
	width: 80%;
	margin: auto;
}

#class_list td a{
	text-decoration: none;
	color: #0E5881;
	font-weight: bold;
}

.classFile {
	display: flex;
	flex-direction: column;
	align-items: center;
}

ul {
	text-align: center;
	list-style-type: none;
	padding: 0;
}

.classFile li {
	padding-bottom: 2%;
}

.classFile img {
	width: 600px;
}

.btn {
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	border: 0;
}

.crclTable th {
	background-color: #E7EFF3;
}
.crclTable td {
	font-weight: bold;
}

.crclTable .fixed_length_content {
	text-align: center;
}

.crclTable .variable_length_content{
	text-align: left;
	padding-left: 1em;
}

.btn button {
	padding: 0 3%;
	border: 0;
}

.class_about{
/* 	align-items: center; */
/* 	justify-content: center; */
	display: block;
}

.content .class_detail_table{
	width:80%;
}

.content .class_detail_table .variable_length_content{
	text-align: left;
	padding-left: 1em;
}


.content .class_detail_table .fixed_length_content{
	text-align: center;
}

.content .class_detail_table td{
	font-weight: bold;
}
.content .class_detail_div{
	width: 80%;
	display:inline-block;
	justify-content: center;
}