@charset "UTF-8";

input[type="button"]:hover{
	cursor: pointer;
}

button:hover{
	cursor: pointer;
}

button{
	background: #0E5881;
	color: white;
	border: none;
	border-radius: 0.3em;
	font-weight: bold;
/* 	width: 150px; */
	width : 90%;
	margin-left : 0.3em;
	margin: 10px;
	text-align: center;
	font-size: 1.1em;
	height: 2em;
}

.delete_btn{
	background: #6E9BB3;
	color: white;
	border: none;
	border-radius: 0.3em;
	font-weight: bold;
/* 	width: 150px; */
	width : 90%;
	margin-left : 0.3em;
	margin: 10px;
	text-align: center;
	font-size: 1.1em;
	height: 2em;
}

.delete_btn img{
	width:1em;
}

.home-section {
	position: relative;
	background: #fff;
	min-height: 100vh;
	top: 0;
	left: 60px;
	width: calc(100% - 60px);
	transition: all 0.5s ease;
	z-index: 2;
}

.home-section .title {
	font-size: 1.7em;
	color: #333333;
	font-weight: bold;
	margin: 40px;
	display: inline-block;
}

.content_wrap {
	margin-left: 40px;
	width: calc(100% - 80px);
}

.search_btn_wrap {
	text-align: center;
	display: flex;
}

#search_reset_btn{
	background: #6E9BB3;
}
#search_by_name_btn{
	background: #0E5881;
}
.search_btn_wrap img{
	height: 1.2em;
}
.search_btn_wrap button{
	display:flex;
	justify-content:center;
	align-items:center;
	color: white;
	border: none;
	border-radius: 0.3em;
	font-weight: bold;
	width : 5em;
	margin-left : 0.3em;
	margin: 10px;
	text-align: center;
	font-size: 1.1em;
	height: 2em;
}

.search_filter_wrap {
/* 	display: flex; */
/* 	justify-content: space-between; */
	width: 100%;
	border-collapse: collapse;
	text-align: center;
	background: #E7EFF3;
	color: #0E5881;
	padding: 5px;
	border-top: 2px solid #0E5881;
	border-bottom: 1px solid #0E5881;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.search_filter_table {
	width: 100%;
	display: flex;
/* 	justify-content: space-between; */
}

/*========================================================================================*/
.search_filter_name {
	display:flex;
	align-items:center;
	font-weight: bold;
	font-size:1.1em;
	margin: 20px; 
}
.search_filter_input_date {
	display:flex;
	align-items:center;
	flex-direction:column;
	justify-content:center;
}
.search_filter_input {
	display:flex;
	align-items:center;
}

.search_filter_input input {
	margin-left : 0.3em;
	margin-right : 0.6em;
	color: gray;
}

.input_date{
	display: flex;
}
.input_date_radio{
	display: inline-block;
}
.search_filter_table input:focus {
	border-color: #0E5881;
/* 	border-radius: 0.3em; */
}

/*========================================================================================*/
.table_controller{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	padding-left: 1em;
	padding-right: 1em;
}

.table_controller .wlog_update_buttons{
	display: flex;
}
/*========================================================================================*/

#wlog_list_table {
	border-collapse: collapse;
	width: 100%;
}

#wlog_list_table th {
	border : 1px solid #CFDEE6;
	border-top: 2px solid #0E5881;
	color: #0E5881;
	background-color:#E7EFF3;
}
#wlog_list_table td {
	padding: 0.2em 1em;
	border : 1px solid #CFDEE6;
}

.variable_length_cell {
	text-align: left;
}
.fixed_length_cell {
	text-align: center;
}
.number_cell {
	text-align: right;
}
.resn_icon {
	width: 15px;
	height: 15px;
}

.resn_icon:hover {
	cursor: pointer;
}

.wlog_list_tbody_row .file_cell_active:hover {
	cursor: pointer;
}