@charset "UTF-8";
/* class="" */

/*-------------------------------------------------------*/
select option[value=""][disabled] {
	display: none;
}


/*-------------------------------------------------------*/

/* 공통 사항*/
.home-section {
	position: relative;
	background: #fff;
	top: 0;
	left: 60px;
	width: calc(100% - 60px);
	transition: all 0.5s ease;
	z-index: 2;
	height: auto;
}

.sidebar.open ~ .home-section {
	left: 250px;
	width: calc(100% - 250px);
}

.home-section .title_wrap{
/* 	margin-top: 40px; */
/* 	margin-left: 40px; */
}

.home-section .title {
	display: inline-block;
	color: #333333;
	font-size: 30px;
	font-weight: bold;
	margin : 40px;
}

.content_wrap {
	width: 95%;
	margin-left: 40px;
}
/* End : 공통 사항*/

/* filter_table */
.search_filter_wrap {
	padding: 5px;
	width: 100%;
	background: #ffffff;
	border-radius: 3px;
	box-shadow: 1px 1px 3px lightgray;
}

.search_filter_wrap .search_filter_table_wrap {
	width: 98%;
	margin: auto;
}

.search_filter_table {
	width: 100%;
	border-collapse: collapse;
}

.search_filter_table .search_filter_name{
	font-weight: bold;
	width: 10%;
}

.search_filter_table tr td {
	width: 100%;
	font-size: 15px;
	border: none;
	text-align: center;
}

.search_filter_table tr td input {
	color: gray;
	padding: 5px;
}

.search_filter_table tr td input:focus {
	border-color: #0E5881;
	border-radius: 3px;
}

.search_filter_btn_wrap {
	text-align: center;
}

.search_filter_btn_wrap .search_filter_btn {
	width: 60px;
	background-color: #0E5881;
	margin: 10px 0 10px 0;
	color: white;
	font-weight: bold;
	font-size: 20px;
}

/* End : filter_table */
.search_filter_table td #classId{
	width: 80%;
}

#stdt_list_table_thead th{
	background-color:#E7EFF3;
}

.search_filter_table .input_keyword{
	width: 80%;
	height: 1.8em;
}

#stdt_list_table{
	width : 100%;
}

#stdt_list_table_tbody .fixed_length_cell{
	text-align: center;
}

#stdt_list_table_tbody .number_cell{
	text-align: right;
	padding-right: 1em;
}