table {
	font-size: 1.1em;
}

.file_icon:hover{
	cursor: pointer;
}

.select_class_btn img{
	height: 1.1em;
}

.content_wrap {
	margin: 18px;
	display: flex;
}

.home-section .title {
	display: inline-block;
	color: #333333;
	font-size: 30px;
	font-weight: bold;
	margin: 40px;
}

button:hover{
	cursor: pointer;
}

.select_class_btn{
/* 조회 버튼 div*/
/* 	width: 20%; */
	display: flex;
	justify-content: center;
	align-items: center;
}
.select_class_btn button{
/* 조회버튼 */
 	width: 4em;
/*  	width: auto; */
/* 	flex:1 0 item; */
	background-color: #0E5881;
	color: white;
	border: none;
	border-radius: 0.3em;
	font-weight: bold;
	text-align: center;
	font-size: 1.1em;
	height: 2em;
	text-align: center;
}

#select_year{
/* 연도 선택 select */
	width: auto;
/* 	width:300px; */
}

#select_class{
	width: 100%;
/* 	width: 50%; */
}
.chart_controller select{
	font-size: 1.1em;
}
.chart_controller{
	display: flex;
	width: 100%;
}

.file_icon{
	height: 1.1em;
}

.latest_resn_table_wrap{
	width: 100%;
}
.pie_chart_wrap{
	height:100%;
}

.table_name{
	background-color: #0E5881;
	color: white;
	text-align: center;
	font-size: 1.3em;
	font-weight: bold; 
}

.table_wrap{
	width: 100%;
}

.latest_resn_table_wrap, .latest_wlog_table_wrap{
	font-size: 1.1em;
	text-align: center;
/* 	border: 1px solid #E7EFF3; */
	border: 2px solid #9FBCCD;
}

.latest_resn_table td, .latest_wlog_table td{
	border: 1px solid 6E9BB3;
	padding: 0 0.4em;
}

.latest_resn_table th, .latest_wlog_table th{
	background-color: #E7EFF3;
/* 	border: 1px solid #CFDEE6; */
/* 	border-collapse:collapse; */
	border: 1px solid 6E9BB3;
	color: #0E5881;
}
.variable_length_cell{
	text-align: left;
}