<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/student/header.css}" rel="stylesheet">
<link th:href="@{/css/student/main.css}" rel="stylesheet">
<link th:href="@{/css/student/class_detail.css}" rel="stylesheet">
<meta charset="UTF-8">
<title>class detail</title>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
	<div th:replace="~{/include/student_header :: header}"
		style="width: 100%;"></div>
	<div class="container" style="display: flex;">
		<div style="width: 80%">
			<div class="maintext">
				<h1 style="color: #0E5881; margin-top: 3%;">교육 과정 지원 상세</h1>
			</div>
			<div class="content">
				<table>
					<tr>
						<th>이름</th>
						<td colspan="5" th:text="${classDetail.clssNm}"></td>
						<th>교육 상태</th>
						<td style="width: 10%;" th:text="${classDetail.cmcdNm}"></td>
					</tr>
					<tr>
						<th>지원 기간</th>
						<td colspan="2"
							th:text="${classDetail.aplyStartDd} + ' ~ ' + ${classDetail.aplyEndDd}"></td>

						<th>교육 기간</th>
						<td colspan="2"
							th:text="${classDetail.clssStartDd}+ ' ~ ' + ${classDetail.clssEndDd}"></td>
						<th>업무담당자</th>
						<td th:text="${classDetail.mngrNm}"></td>
					</tr>
					<tr>
						<th>회사</th>
						<td colspan="3" th:text="${classDetail.cmpyNm}"></td>
						<th>교육 장소</th>
						<td colspan="3" th:text="${classDetail.clssAdr}"></td>

					</tr>
					<tr>
						<th>총 이수 시간</th>
						<td th:text="${classDetail.clssTotalTm} + '시간'"></td>
						<th>시작 시간</th>
						<td th:text="${classDetail.setInTime} + '시'"></td>
						<th>종료 시간</th>
						<td th:text="${classDetail.setOutTime}+ '시'"></td>
						<th>수강 정원</th>
						<td th:text="${classDetail.limitCnt}+ '명'"></td>
					</tr>
				</table>
				<div>
					<div>
						<h3>교육 주요 내용</h3>
						<h4 th:text="${classDetail.clssContent}"></h4>
					</div>
					<div>
						<h3>교육 커리큘럼</h3>
						<table class="crclTable" style="margin-bottom: 10%; width: 100%;">
							<tr>
								<th>강의명</th>
								<th style="width: 20%;">과목명</th>
								<th style="width: 24%;">강사이름</th>
								<th style="width: 15%;">이수시간</th>
							</tr>
							<tr th:each="CurriculumDetailDTO : ${curriculumlist}">
								<td style="width: 35%;" th:text="${CurriculumDetailDTO.lctrNm}"></td>
								<td th:text="${CurriculumDetailDTO.sbjtNm}"></td>
								<td th:text="${CurriculumDetailDTO.profNm}"></td>
								<td class="lctrTm" th:text="${CurriculumDetailDTO.lctrTm}"></td>
							</tr>
							<tfoot>
								<tr>
									<th colspan="3">총 이수 시간</th>
									<td class="lctrTotalTm"></td>
								</tr>
							</tfoot>
						</table>
					</div>

					<ul th:each="ClassVO : ${classDetailList}">
						<li>
							<div class="icon"
								th:if="${ClassVO.fileType == 'application' or ClassVO.fileType == 'text'}">
								<a
									th:href="@{/student/download/file/__${ClassVO.fileId}__/__${ClassVO.fileSubId}__}"
									th:title="${ClassVO.fileNm}"> <img style="width: 40px;"
									th:src="@{/img/file_icon.png}" alt="file  아이콘"> <span
									th:text="${ClassVO.fileNm}"></span>
								</a>
							</div>
							<div th:if="${ClassVO.fileType=='image'}">
								<img style="width: 500px;"
									th:src="@{/img/__${ClassVO.fileNm}__}">
							</div>
						</li>
					</ul>
					<h5>기타사항</h5>
					<h5 th:text="${classDetail.clssEtc}"></h5>
				</div>
			</div>
		</div>
		<div class="viewClass">
			<div th:if="${class2 != null or class1 != null}">
				<h2 style="font-size: 22px; color: #0E5881;">최근에 조회한 교육</h2>
				<ul style="padding: 0;">
					<li th:if="${class2 != null}">
						<div class="veiwClass1">
							<span th:text="${class2.cmcdNm}"></span>
							<h2 th:text="${class2.clssNm}"></h2>
							<div th:if="${class2.fileNm!=null}">
								<img th:src="@{/img/__${class2.fileNm}__}">
							</div>
							<div th:if="${class2.fileNm==null}">
								<img th:src="@{/img/logo.png}">
							</div>
							<a class="moveBtn"
								th:href="@{/student/class/__${class2.clssId}__}">교육보러가기</a>
						</div>
					</li>
					<li th:if="${class1 != null}">
						<div class="veiwclass2">
							<span th:text="${class1.cmcdNm}"></span>
							<h2 th:text="${class1.clssNm}"></h2>
							<div th:if="${class1.fileNm!=null}">
								<img th:src="@{/img/__${class1.fileNm}__}">
							</div>
							<div th:if="${class1.fileNm==null}">
								<img th:src="@{/img/logo.png}">
							</div>
							<a class="moveBtn"
								th:href="@{/student/class/__${class1.clssId}__}">교육보러가기</a>
						</div>
					</li>
				</ul>
			</div>
		</div>

	</div>
	<div
		style="position: fixed; display: block; right: 20px; bottom: 20px; width: 15%;">
		<div class="btn">
			<button class="back">목록으로</button>
			<button class="openModalBtn">지원하기</button>
			<button class="moveTopBtn">
				<img th:src="@{/img/up_navy.png}" style="height: 40px;">
			</button>
		</div>
	</div>
	<div class="modal">
		<div class="modalBody">
			<div class="modalHeader">
				<h2 class="modalTitle" style="margin: 0;">지원하기</h2>
			</div>
			<form th:action="@{/student/upload/__${classDetail.clssId}__}"
				method="post" id="uploadAplyForm" enctype="multipart/form-data">
				<div class="modalContent">
					<div class="upload-area">
						<p>지원서파일을 여기에 첨부하세요.</p>
						<input type="file" name="file" id="fileInput">
					</div>
				</div>
				<div class="modalFooter">
					<button type="reset" class="closeModalBtn">취소</button>
					<button type="submit" class="aplyBtn">제출</button>
				</div>
			</form>
		</div>
	</div>
	<script th:inline="javascript">
		/* 스크립트 내에서 Thymeleaf 변수를 선언하고 값 할당 */
		var clssCd = /*[[${classDetail.clssCd}]]*/'';
	</script>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			// '지원하기' 버튼 엘리먼트 가져오기
			var openModalBtn = document.querySelector('.openModalBtn');

			// '지원하기' 버튼을 표시 또는 숨깁니다.
			if (clssCd === 'CLS0000002') {
				openModalBtn.style.display = 'block'; // 버튼을 표시
			}
		});
	</script>
	<script th:inline="javascript">
		/* 스크립트 내에서 Thymeleaf 변수를 선언하고 값 할당 */
		var classId = /*[[${classDetail.clssId}]]*/'';
	</script>
	<script src="/js/student/class_detail.js"></script>
</body>
</html>