<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/student/header.css}" rel="stylesheet">
<link th:href="@{/css/student/main.css}" rel="stylesheet">
<link th:href="@{/css/student/class_list.css}" rel="stylesheet">
<meta charset="UTF-8">
<title>main page</title>
</head>
<body>
	<div th:replace="~{/include/student_header :: header}"
		style="width: 100%;"></div>
	<div class="container">
		<div class="maintext">
			<h1 style="color: #0E5881; margin-top: 3%;">교육 과정 지원</h1>
		</div>
		<div class="content" style="flex-direction: column;">
			<div class="search">
				<form th:action="@{/student/class}" style="width: 60%;">
					<input type="text" name="searchClass" value=""
						placeholder="검색어를 입력하세요." style="width: 70%;"> <input
						type="submit" class="searchBtn" th:value="검색">
				</form>
				<input type="checkbox" name="aplyclass" id="aply"><label
					for="aply">지원가능한 교육만</label>
				<div>
					<ul class="common">
						<li class="list-view"><img th:src="@{/img/list_navy.png}"></li>
						<li class="grid-view"><img th:src="@{/img/grid_navy.png}"></li>
					</ul>
				</div>
			</div>
			<div class="subsearch">
				<div>
					<h3 class="totalcnt">총 <span th:text="${#lists.size(classList)}"></span>건</h3>
				</div>
				<div>
					<span>페이지당 목록 수</span> <select id="pageList" class="w-px80">
						<option value="8">8개씩</option>
						<option value="16">16개씩</option>
						<option value="32">32개씩</option>
					</select>
				</div>
			</div>
			<table>
				<tr th:each="classVO, rowStat : ${classList}">
					<!-- 여기서 rowStat.index는 0부터 시작하는 행 번호를 나타냅니다. -->
					<td><span th:text="${classVO.clssCd}"
						style="color: red; font-size: 15px;"></span></td>
					<td class="classImg">
						<div th:if="${classVO.clssContent!=null}">
							<img th:src="@{/img/__${classVO.clssContent}__}">
						</div>
						<div th:if="${classVO.clssContent==null}">
							<img th:src="@{/img/logo.png}">
						</div>
					</td>
					<td th:text="${classVO.clssNm}"
						style="font-weight: bold; font-size: 20px;">교육과정명</td>
					<td><span>지원기간: </span><span
						th:text="${classVO.aplyStartDd} + ' ~' +${classVO.aplyEndDd}"></span></td>
					<td><span>교육기간: </span><span
						th:text="${classVO.clssStartDd} + ' ~' +${classVO.clssEndDd}"></span></td>
					<td><span>장소: </span><span th:text="${classVO.clssAdr}"></span>
						<span>정원: </span><span th:text="${classVO.limitCnt}"></span></td>
					<td><a class="applyBtn" th:href="@{/student/class/__${classVO.clssId}__}">지원하기</a></td>
					
				</tr>
			</table>
		</div>
	</div>

</body>


</html>