<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/student/header.css}" rel="stylesheet">
<link th:href="@{/css/student/main.css}" rel="stylesheet">
<link th:href="@{/css/student/class_detail.css}" rel="stylesheet">
<link rel="icon" href="/img/icon.png" />
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
	<div th:replace="~{/include/student_header :: header}"
		style="width: 100%;"></div>
	<div class="container" style="display: flex;">
		<div style="width: 80%">
			<div class="maintext">
				<h1 style="color: #0E5881;">교육 과정 지원 상세</h1>
			</div>
			<div class="content">
				<table>
					<tr>
						<th>교육명</th>
						<td colspan="5" th:text="${classDetail.clssNm}"
							style="text-align: left; padding-left: 2%;"></td>
						<th>교육 상태</th>
						<td th:if="${classDetail.clssCd} == 'CLS0000002'"
							style="width: 15%; color: blue;" th:text="${classDetail.cmcdNm}"
							)></td>
						<td th:if="${classDetail.clssCd} == 'CLS0000008'"
							style="width: 15%; color: red;" th:text="${classDetail.cmcdNm}" )></td>
						<td
							th:if="${classDetail.clssCd != 'CLS0000002' and classDetail.clssCd != 'CLS0000008'}"
							style="width: 15%;" th:text="${classDetail.cmcdNm}" )></td>
					</tr>
					<tr>
						<th>지원 기간</th>
						<td colspan="2" style="padding: 0;"><span
							th:if="${classDetail.aplyStartDt == null}"
							style="color: lightslategray;">미정</span> <span
							th:text="${#dates.format(classDetail.aplyStartDt, 'yyyy-MM-dd HH:mm')}"></span><br>
							<span
							th:text="'~ ' + ${#dates.format(classDetail.aplyEndDt, 'yyyy-MM-dd HH:mm')}"></span>
						<th>교육 기간</th>
						<td colspan="2"><span
							th:if="${classDetail.clssStartDd == null}"
							style="color: lightslategray;">미정</span> <span
							th:if="${classDetail.clssStartDd!= null}"
							th:text="${classDetail.clssStartDd} + ' ~ ' +${classDetail.clssEndDd}"></span></td>
						<th>업무담당자</th>
						<td><span th:if="${classDetail.mngrNm == null}"
							style="color: lightslategray;">미정</span><span
							th:if="${classDetail.mngrNm!= null}"
							th:text="${classDetail.mngrNm}"></span></td>
					</tr>
					<tr>
						<th>회사</th>
						<td colspan="2" style="text-align: left; padding-left: 2%;"><span
							th:if="${classDetail.cmpyNm == null}"
							style="color: lightslategray;">미정</span><span
							th:if="${classDetail.cmpyNm!= null}"
							th:text="${classDetail.cmpyNm}"></span></td>
						<th>교육 장소</th>
						<td colspan="2" style="text-align: left; padding-left: 2%;"><span
							th:if="${classDetail.clssAdr == null}"
							style="color: lightslategray;">미정</span><span
							th:if="${classDetail.clssAdr!= null}"
							th:text="${classDetail.clssAdr}"></span></td>
						<th>지원금</th>
						<td><span th:if="${classDetail.clssSubsidy == 0}"
							style="color: lightslategray;">미지급</span> <span
							th:if="${classDetail.clssSubsidy != 0}"
							th:text="${#numbers.formatInteger(classDetail.clssSubsidy, 3, 'COMMA') + '원'}"></span>
						</td>

					</tr>
					<tr>
						<th>총 이수 시간</th>
						<td><span th:if="${classDetail.clssTotalTm == 0}"
							style="color: lightslategray;">미정</span><span
							th:if="${classDetail.clssTotalTm!= 0}"
							th:text="${classDetail.clssTotalTm}+ '시간'"></span></td>
						<th>시작 시간</th>
						<td><span th:if="${classDetail.setInTime == null}"
							style="color: lightslategray;">미정</span><span
							th:if="${classDetail.setInTime!= null}"
							th:text="${classDetail.setInTime}+ '시'"></span></td>
						<th>종료 시간</th>
						<td><span th:if="${classDetail.setOutTime == null}"
							style="color: lightslategray;">미정</span><span
							th:if="${classDetail.setOutTime!= null}"
							th:text="${classDetail.setOutTime}+ '시'"></span></td>
						<th>수강 정원</th>
						<td><span th:if="${classDetail.limitCnt == 0}"
							style="color: lightslategray;">미정</span><span
							th:if="${classDetail.limitCnt!= 0}"
							th:text="${classDetail.limitCnt}+ '명'"></span></td>
					</tr>
					<tr>
						<th>관련 파일</th>
						<td colspan="7"><ul
								style="margin: 0; text-align: left; padding-left: 2%;">
								<li th:each="FileVO : ${classFileList}"><a
									style="display: flex;" th:if="${FileVO.fType == 'application'}"
									th:href="@{/download/file/__${FileVO.fileId}__/__${FileVO.fileSubId}__}"
									th:title="${FileVO.fileNm}"> <img style="height: 20px;"
										th:src="@{/img/file_icon.png}" alt="file  아이콘"> <span
										style="margin-left: 5px;" th:text="${FileVO.fileNm}"></span><br>
								</a></li>
							</ul></td>
					</tr>
				</table>
				<div style="width: 80%;">
					<div>
						<h3>교육 주요 내용</h3>
						<h4 th:text="${classDetail.clssContent}"></h4>
					</div>
					<div class="crclTable">
						<h3>교육 커리큘럼</h3>
						<table>
							<thead>
								<tr>
									<th>강의명</th>
									<th style="width: 20%;">과목명</th>
									<th style="width: 24%;">강사이름</th>
									<th style="width: 15%;">이수시간</th>
								</tr>
							</thead>
							<tr th:each="CurriculumDetailDTO : ${curriculumlist}">
								<td style="width: 35%;" th:text="${CurriculumDetailDTO.lctrNm}"></td>
								<td th:text="${CurriculumDetailDTO.sbjtNm}"></td>
								<td th:text="${CurriculumDetailDTO.profNm}"></td>
								<td class="lctrTm" th:text="${CurriculumDetailDTO.lctrTm}"></td>
							</tr>
							<tfoot>
								<tr>
									<th colspan="3">총 이수 시간</th>
									<!-- <td class="lctrTotalTm"></td> -->
									<td th:text="${classDetail.clssTotalTm}"></td>

								</tr>
							</tfoot>
						</table>
					</div>
					<div class="classFile">
						<ul>
							<li th:each="FileVO : ${classFileList}"><a
								th:if="${FileVO.fType == 'image'}"> <img
									th:src="@{/student/file/__${FileVO.fileId}__/__${FileVO.fileSubId}__}"><br>
							</a></li>
						</ul>
						<h5 th:if="${classDetail.clssEtc != null}">기타사항</h5>
						<h5 th:text="${classDetail.clssEtc}"></h5>
						<div class="btn" style="width: 100%;">
							<button class="openModalBtn1" style="padding: 1.3%; width: 20%;">지원하기</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="viewClass">
			<h2 style="font-size: 22px; color: #0E5881;">최근에 조회한 교육</h2>
			<div th:if="${class2 == null}">
				<div class="noClass">
					<p>조회 기록이 존재하지 않습니다.</p>
				</div>
			</div>
			<div th:if="${class2 != null or class1 != null}">
				<ul style="padding: 0;">
					<li th:if="${class2 != null}">
						<div class="veiwClass1">
							<span th:if="${class2.clssCd} == 'CLS0000001'"
								th:text="${class2.cmcdNm}"
								style="font-weight: bold; color: blue;"></span> <span
								th:if="${class2.clssCd} == 'CLS0000002'"
								th:text="${class2.cmcdNm}"
								style="font-weight: bold; color: red;"></span> <span
								th:if="${class2.clssCd} == 'CLS0000008'"
								th:text="${class2.cmcdNm}"
								style="font-weight: bold; color: lightslategray;"></span> <span
								th:if="${class2.clssCd != 'CLS0000001' and class2.clssCd != 'CLS0000002' and class2.clssCd != 'CLS0000008'}"
								th:text="${class2.cmcdNm}" style="color: black;"></span>
							<h2 th:text="${class2.clssNm}"></h2>
							<div th:if="${class2.fileId!=null}">
								<img
									th:src="@{/student/file/__${class2.fileId}__/__${class2.fileSubId}__}">
							</div>
							<div th:if="${class2.fileId==null}">
								<img th:src="@{/img/logo.png}">
							</div>
							<a class="moveBtn"
								th:href="@{/student/class/view/__${class2.clssId}__}">교육보러가기</a>
						</div>
					</li>
					<li th:if="${class1 != null}">
						<div class="veiwclass2">
							<span th:if="${class1.clssCd} == 'CLS0000001'"
								th:text="${class1.cmcdNm}"
								style="font-weight: bold; color: blue;"></span> <span
								th:if="${class1.clssCd} == 'CLS0000002'"
								th:text="${class1.cmcdNm}"
								style="font-weight: bold; color: red;"></span> <span
								th:if="${class1.clssCd} == 'CLS0000008'"
								th:text="${class1.cmcdNm}"
								style="font-weight: bold; color: lightslategray;"></span> <span
								th:if="${class1.clssCd != 'CLS0000001' and class1.clssCd != 'CLS0000002' and class1.clssCd != 'CLS0000008'}"
								th:text="${class1.cmcdNm}" style="color: black;"></span>
							<h2 th:text="${class1.clssNm}"></h2>
							<div th:if="${class1.fileId!=null}">
								<img
									th:src="@{/student/file/__${class1.fileId}__/__${class1.fileSubId}__}">
							</div>
							<div th:if="${class1.fileId==null}">
								<img th:src="@{/img/logo.png}">
							</div>
							<a class="moveBtn"
								th:href="@{/student/class/view/__${class1.clssId}__}">교육보러가기</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div
		style="position: fixed; display: block; right: 20px; bottom: 20px; width: 15%;">
		<div class="btn">
			<button class="openModalBtn2">지원하기</button>
			<button class="back">목록으로</button>
			<button class="moveTopBtn">
				<img th:src="@{/img/up_navy.png}" style="height: 40px;">
			</button>
		</div>
	</div>
	<div class="modal">
		<div class="modalBody">
			<div class="modalHeader">
				<h2 class="modalTitle" style="margin: 0;">지원하기</h2>
			</div>
			<form th:action="@{/student/upload/__${classDetail.clssId}__}"
				method="post" id="uploadAplyForm" enctype="multipart/form-data">
				<div class="modalContent">
					<div class="upload-area">
						<p>지원서파일을 여기에 첨부하세요.</p>
						<p style="color: red;">※ pdf형식의 파일만 첨부 가능합니다(1개) ※</p>
						<div style="width: 80%;">
							<input class="upload-name" value="선택된 첨부파일이 없습니다"
								placeholder="선택된 첨부파일이 없습니다" readonly> <label
								for="fileInput">파일찾기</label> <input type="file" name="file"
								id="fileInput" class="fileInput" accept=".pdf">
						</div>
					</div>
				</div>
				<div class="modalFooter">
					<button type="reset" class="closeModalBtn">취소</button>
					<button type="submit" class="aplyBtn">제출</button>
				</div>
				<script th:if="${message}" type="text/javascript">
					var message = /*[[${message}]]*/'';
					// 알림창을 표시
					alert(message);
					window.location.href = "redirect:/student/class/list";
				</script>
			</form>
		</div>
	</div>

	<script th:inline="javascript">
		/* 스크립트 내에서 Thymeleaf 변수를 선언하고 값 할당 */
		var clssCd = /*[[${classDetail.clssCd}]]*/'';
		var classId = /*[[${classDetail.clssId}]]*/'';
	</script>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			// '지원하기' 버튼 엘리먼트 가져오기
			var openModalBtn1 = document.querySelector('.openModalBtn1');
			var openModalBtn2 = document.querySelector('.openModalBtn2');

			// '지원하기' 버튼을 표시 또는 숨깁니다.
			if (clssCd === 'CLS0000002') {
				openModalBtn1.style.display = 'block'; // 버튼을 표시
				openModalBtn2.style.display = 'block'; // 버튼을 표시
			}
		});
		var button = document.querySelector(".aplyBtn");

		// 클릭 이벤트를 감지합니다.
		button.addEventListener("click", function(event) {
			// 버튼이 disabled 상태인 경우에만 알림을 띄웁니다.
			var x = document.getElementById("fileInput");
			var selectedFiles = x.files;
			if (selectedFiles.length < 1) {
				alert("지원서 파일을 첨부해주세요.");
				event.preventDefault();
			} else {
				alert("제출이 완료되었습니다.");
			}
		});
		$("#fileInput").on('change', function() {
			var files = $("#fileInput")[0].files;
			var fileNames = [];

			for (var i = 0; i < files.length; i++) {
				fileNames.push(files[i].name);
			}

			var fileNameString = fileNames.join(', ');
			$(".upload-name").val(fileNameString);
		});
	</script>
	<script src="/js/student/class_detail.js"></script>
</body>
</html>