<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/student/header.css}" rel="stylesheet">
<link th:href="@{/css/student/main.css}" rel="stylesheet">
<link th:href="@{/css/student/class_list.css}" rel="stylesheet">
<link rel="icon" href="/img/icon.png" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<meta charset="UTF-8">
</head>
<body>
	<div th:replace="~{/include/student_header :: header}"
		style="width: 100%;"></div>
	<div class="container">
		<div class="maintext">
			<h1 style="color: #0E5881; margin-top: 3%;">교육 과정 지원</h1>
		</div>
		<div class="content" style="flex-direction: column;">
			<div class="search">
				<div class="searchform">
					<input type="text" class="searchInput" placeholder="교육과정명을 검색하세요.">
					<input type="button" class="searchBtn" value="검색"> <input
						type="checkbox" name="aplyclass" id="aply"><label
						for="aply">지원가능한 교육만</label>
				</div>

				<div>
					<ul class="common">
						<li class="list-view"><img th:src="@{/img/list_navy.png}"></li>
						<li class="grid-view active"><img
							th:src="@{/img/grid_navy.png}"></li>
					</ul>
				</div>
			</div>
			<div class="subsearch">
				<div>
					<h3 class="totalcnt">
						총 <span class="totalRowCount" th:text="${#lists.size(classList)}"></span>건
					</h3>
				</div>
				<div>
					<span>페이지당 목록 수</span> <select id="pageList">
						<option value="10">10개씩</option>
						<option value="20">20개씩</option>
						<option value="30">30개씩</option>
					</select>
				</div>
			</div>
			<table class="list-style"
				style="display: none; width: 95%; margin: auto;">

				<thead>
					<tr class="classRow" style="border: none;">
						<td>번호</td>
						<td style="text-align: center;">교육과정명</td>
						<td>지원기간</td>
						<td>교육기간</td>
						<td>장소</td>
						<td>정원</td>
						<td>교육과정상태</td>
						<td>지원하기</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="classVO, rowStat : ${classList}" class="classRow">
						<!-- 						<td><span th:text="${rowStat.index + 1}"></span></td>
						여기서 rowStat.index는 0부터 시작하는 행 번호를 나타냅니다.
						<td><span class="className" th:text="${classVO.clssCdNm}"></span></td>
						<td th:text="${classVO.clssNm}"
							style="font-weight: bold; font-size: 18px;">교육과정명</td>
						<td><span></span><span
							th:text="${classVO.aplyStartDd} + ' ~ ' +${classVO.aplyEndDd}"></span></td>
						<td><span></span><span
							th:text="${classVO.clssStartDd} + ' ~ ' +${classVO.clssEndDd}"></span></td>
						<td><span></span> <span th:if="${classVO.clssAdr == null}">미정</span>
							<span th:if="${classVO.clssAdr != null}"
							th:text="${classVO.clssAdr}"></span>
						<td><span th:text="${classVO.limitCnt}"></span></td>
						<td><a class="applyBtn"
							th:href="@{/student/class/__${classVO.clssId}__}">지원하기</a></td>
					</tr> -->
				</tbody>
			</table>
			<table class="grid-style classTable">
				<tbody>
					<tr th:each="classVO, rowStat : ${classList}" class="classRow">
						<td><span class="className" th:text="${classVO.cmcdNm}"></span></td>
						<td class="classImg">
							<div style="width: 100%; text-align: center;"
								th:if="${classVO.fileId!=null}">
								<img
									th:src="@{/student/file/__${classVO.fileId}__/__${classVO.fileSubId}__}">
							</div>
							<div style="width: 100%; text-align: center;"
								th:if="${classVO.fileId==null}">
								<img th:src="@{/img/logo.png}">
							</div>
						</td>
						<td th:text="${classVO.clssNm}"
							style="font-weight: bold; font-size: 18px;">교육과정명</td>
						<td><span>지원기간: </span><span
							th:if="${classVO.aplyStartDd == null}">미정</span> <span
							th:if="${classVO.aplyStartDd != null}"
							th:text="${classVO.aplyStartDd} + ' ~ ' +${classVO.aplyEndDd}"></span></td>
						<!-- <td><span>교육기간: </span><span
							th:if="${classVO.clssStartDd == null}">미정</span> <span
							th:if="${classVO.clssStartDd != null}"
							th:text="${classVO.clssStartDd} + ' ~ ' +${classVO.clssEndDd}"></span></td> -->
						<!-- <td><span>장소: </span> <span
							th:if="${classVO.clssAdr == null}">미정</span> <span
							th:if="${classVO.clssAdr != null}" th:text="${classVO.clssAdr}"></span>
							<span th:text="'  /  '"></span> <span>정원: </span> <span
							th:text="${classVO.limitCnt}"></span></td>-->
						<td><a class="applyBtn"
							th:href="@{/student/class/__${classVO.clssId}__}">지원하기</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div style="position: fixed; right: 50px; bottom: 20px;">
		<div class="btn">
			<button class="moveTopBtn">
				<img th:src="@{/img/up_navy.png}" style="height: 40px;">
			</button>
		</div>
	</div>
</body>
<script src="/js/student/class_list.js"></script>
</html>