<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/student/header.css}" rel="stylesheet">
<link th:href="@{/css/student/main.css}" rel="stylesheet">
<link th:href="@{/css/student/inquiry_list.css}" rel="stylesheet">
<link rel="icon" href="/img/icon.png" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
<meta charset="UTF-8">
</head>
<body>
	<div th:replace="~{/include/student_header :: header}"
		style="width: 100%;"></div>
	<div class="container">
		<div class="maintext">
			<h1 style="color: #0E5881; margin-top: 3%;">문의사항</h1>
		</div>
		<div class="content" style="flex-direction: column;">
			<div class="search">
				<div class="searchform">
					<input type="text" class="searchInput"
						placeholder="문의사항명이나 작성자를 검색하세요."> <input type="button"
						class="searchBtn" value="검색">
				</div>
			</div>
			<table class="inquiry-table" style="width: 90%; margin: auto;">
				<thead>
					<tr class="inquiryRow" style="border: none;">
						<td>번호</td>
						<td>문의사항 제목</td>
						<td>작성자</td>
						<td>등록일자</td>
						<td>조회수</td>
						<td>상태</td>
					</tr>
				</thead>
				<tbody>
					<tr class="inquiryRow" th:each="postVO, rowStat : ${postList}">
						<td><span th:text="${rowStat.index + 1}"></span></td>
						<td><a><span class="goInquiryDetail"
								style="font-size: 17px;" th:text="${postVO.postTitle}"></span></a></td>
						<td><span th:if="${postVO.mngrNm == null}"
							th:text="${postVO.stdtNm}"></span> <span
							th:if="${postVO.stdtNm == null}" th:text="${postVO.mngrNm}"></span></td>
						<td><span th:text="${postVO.rgstDd}"></span></td>
						<td><span th:text="${postVO.postHit}"></span></td>
						<td><span th:text="${postVO.cmcdNm}"></span></td>
						<td style="display: none;"><span th:text="${postVO.postId}"></span></td>
					</tr>
				</tbody>
			</table>
			<div class="paging">
				<i class="left" id="first_page" th:src="@{/img/first_page}"></i> <i
					class="left" id="prev_page" th:src="@{/img/prev_page}"></i>
				<div class="pages"></div>
				<i class="right" id="next_page" th:src="@{/img/next_page}"></i> <i
					class="right" id="last_page" th:src="@{/img/last_page}"></i>
			</div>
		</div>
	</div>
	<script src="/js/student/inquiry_detail.js"></script>
</body>
</html>