<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/student/header.css}" rel="stylesheet">
<link th:href="@{/css/student/main.css}" rel="stylesheet">
<link th:href="@{/css/student/post_detail.css}" rel="stylesheet">
<link rel="icon" href="/img/icon.png" />
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
	<div th:replace="~{/include/student_header :: header}"
		style="width: 100%;"></div>
	<div class="container" style="display: flex;">
		<div style="width: 100%;">
			<div class="maintext">
				<h1 style="color: #0E5881;">문의사항 상세</h1>
			</div>
			<div class="content">
				<table>
					<tr>
						<th>문의사항 제목</th>
						<td colspan="3"><span th:text="${inquiryDetail.postTitle}"></span></td>
						<th>답변상태</th>
						<td><span th:text="${inquiryDetail.cmcdNm}"></span></td>
					</tr>
					<tr>
						<th>게시일자</th>
						<td><span th:text="${inquiryDetail.rgstDd}"></span></td>
						<th>조회수</th>
						<td style="width:10%;"><span th:text="${inquiryDetail.postHit}"></span></td>
						<th>글 작성자</th>
						<td><span th:if="${inquiryDetail.stdtNm == null}"
							th:text="${inquiryDetail.mngrNm}"></span> <span
							th:if="${inquiryDetail.mngrNm == null}"
							th:text="${inquiryDetail.stdtNm}"></span></td>
					</tr>
				</table>
				<div style="width: 80%;">
					<div>
						<h4 th:utext="${inquiryDetail.postContent}"></h4>
					</div>
				</div>
				<div class="postFile">
					<ul>
						<li th:each="FileVO : ${inquiryFileList}"><a
							th:if="${FileVO.fType == 'image'}"> <img
								th:src="@{/student/file/__${FileVO.fileId}__/__${FileVO.fileSubId}__}"><br>
						</a> <a th:if="${FileVO.fType == 'application'}"
							th:href="@{/download/file/__${FileVO.fileId}__/__${FileVO.fileSubId}__}"
							th:title="${FileVO.fileNm}"> <img style="width: 40px;"
								th:src="@{/img/file_icon.png}" alt="file  아이콘"> <span
								th:text="${FileVO.fileNm}"></span>><br>
						</a></li>
					</ul>
				</div>

			</div>
			<div class="content" style="padding: 0 2%;">
				<ul style="width: 80%;" >
					<li th:each="postVO : ${replyDetail}">
						<table style="margin: 1% auto;;" class="reply">
							<tr>
								<th>답변 제목</th>
								<td colspan="3"><span th:text="${postVO.postTitle}"></span></td>
							</tr>
							<tr>
								<th>답변 내용</th>
								<td colspan="3"><span th:text="${postVO.postContent}"></span></td>
							</tr>
							<tr>
								<th>답변자</th>
								<td style="width:40%;"><span th:if="${postVO.stdtNm == null}"
									th:text="${postVO.mngrNm}"></span> <span
									th:if="${postVO.mngrNm == null}" th:text="${postVO.stdtNm}"></span>
								</td>
								<th>답변 일자</th>
								<td><span th:text="${postVO.rgstDd}"></span></td>
							</tr>
						</table>
					</li>
				</ul>
			</div>
		</div>
		<div
			style="position: fixed; display: block; right: 20px; bottom: 20px; width: 15%;">
			<div class="btn">
				<button class="back">목록으로</button>
				<button class="moveTopBtn">
					<img th:src="@{/img/up_navy.png}" style="height: 40px;">
				</button>
			</div>
		</div>
	</div>
</body>
</html>