<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/student_header.css}" rel="stylesheet">
<link th:href="@{/css/student_main.css}" rel="stylesheet">
<meta charset="UTF-8">
<title>main page</title>
</head>
<body>
	<div th:replace="~{/include/student_header :: header}"
		style="width: 100%;"></div>
	<div class="container">
		<div class="maintext">
			<h1 style="color: #0E5881; margin-top: 3%;">새로운 교육을 통해서 더 나은 내일로</h1>
			<h3 style="color: #6E9BB3;">넌 해야만 해. 할 수 있어.</h3>
		</div>
		<div class="maincontent">
			<div class="con-left" style="width: 55%;">
				<div class="class con" style= "height: 85%;">
					<h2>접수중인 교육</h2>
					<hr>
					<table>
						<tr th:each="classVO : ${classList}">
							<td style="width: 73%;"><a
								th:href="@{/student/class/__${classVO.clssId}__}"
								th:text="${classVO.clssNm}"></a></td>
							<td style="width: 27%; text-align: right;"
								th:text="${classVO.aplyStartDt} + ' ~ ' + ${classVO.aplyEndDt}"></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="con-right" style="width: 40%;">
				<div class="login con"
					style="margin-bottom: 5%; text-align: center; height: 37%">
					<div th:if="${session.email==null}">
						<form th:action="@{/student/login}" method="post" class="">
							<div class="">
								<label for="email"></label> <input type="text"
									name="email" id="id" class="" placeholder="아이디(이메일)">
							</div>
							<div class="">
								<label for="pwd"></label> <input type="password"
									name="pwd" id="pwd" class=" " placeholder="비밀번호">
							</div>
							<div class="submit">
								<input type="submit" class="loginBtn" th:value="로그인">
							</div>
						</form>

					</div>
					<div th:if="${session.email!=null}">
						<div class="">
							<h2>
								<span th:text="${session.name}"></span>님 지원현황
							</h2>
							<div class="my">
								<div class="box">
									<h3>지원내역</h3>
									<a th:href="@{/student/mypage/apply}"><span th:text="${session.aplyClassCnt}"></span></a>
									<span>건</span>
								</div>
								<div class="box">
									<h3>출력 가능 이수증</h3>
									<a th:href="@{/student/mypage/complete}"><span th:text="${session.cmptClassCnt}"></span></a>
									<span>건</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="notice con" style="background: #E7EFF3; height: 38%">
					<div>
						<h2>공지사항</h2>
						<hr>
						<table>
							<tr th:each="postVO : ${postList}">
								<td style="width: 75%;"><a
									th:href="@{notice/__${postVO.postId}__}"
									th:text="${postVO.postTitle}"></a></td>
								<td style="width: 25%; text-align: right;"
									th:text="${postVO.rgstDd}"></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>