<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/student/header.css}" rel="stylesheet">
<link th:href="@{/css/student/footer.css}" rel="stylesheet">
<link th:href="@{/css/student/main.css}" rel="stylesheet">
<link th:href="@{/css/student/calendar.css}" rel="stylesheet">
<script
	src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="icon" href="/img/icon.png" />
<meta charset="UTF-8">
</head>
<body>
	<div th:replace="~{/include/student_header :: header}"
		style="width: 100%;"></div>
	<div class="banner">
		<div class="img-list">
			<div class="imgs img1">
				<div class="bannertext">
					<h2 style="font-size: 30px;">KOSA 교육 지원 시스템</h2>
					<h1 style="font-size: 40px;">새로운 교육을 통해서 더 나은 내일로</h1>
				</div>
			</div>
			<div class="imgs img2">
				<div class="bannertext">
					<h2 style="font-size: 30px;">KOSA 교육지원 시스템을 통해서 여러 교육을 만나보세요.</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="container" style="margin-top: -7%;">
		<div class="button-list">
			<button class="banner-button button-left" style="margin-right: 1%;"></button>
			<button class="banner-button button-right"></button>
		</div>
		<div class="maincontent">
			<div
				style="width: 47%; display: flex; flex-wrap: wrap; justify-content: space-between;">
				<div class="login con"
					style="margin-bottom: 8%; padding: 3%; width: 35%;">
					<div th:if="${session.userEmail==null}">
						<h2>회원가입후 이용가능</h2>
					</div>
					<div th:if="${session.userEmail!=null}" style="text-align: left;">
						<div style="width: 100%;">
							<h2 style="margin-bottom: 2%; padding: 5% 0;">
								<span th:text="${session.stdtNm}"
									style="color: #0E5881; font-size: 22px;"></span>님 환영합니다!
							</h2>
							<div class="my" style="text-align: center;">
								<div class="box aplyList">
									<span>지원내역: </span> <span
										style="color: #0E5881; font-size: 22px;"
										th:text="${aplyClassCnt}"></span> <span>건</span></a>
								</div>
								<div class="box rgstList">
									<span>출력 가능 이수증: </span> <span
										style="color: #0E5881; font-size: 22px;"
										th:text="${cmptClassCnt}"></span> <span>건</span>
								</div>
							</div>

							<div class="lastlog" style="text-align: center;">
								<h4>마지막 로그인 일시</h4>
								<h4 id="lastLog"></h4>
							</div>
						</div>
					</div>
				</div>
				<div class="login con"
					style="margin-bottom: 8%; text-align: center; padding: 5%; width: 40%;">
					<div th:if="${session.userEmail==null}">
						<h2>로그인</h2>
						<form th:action="@{/login}" method="post" class="">
							<div class="" style="display: flex; flex-direction: column;">
								<label for="email"></label> <input type="text" name="email"
									id="id" class="" placeholder="아이디(이메일)"> <label
									for="pwd"></label> <input type="password" name="pwd" id="pwd"
									class=" " placeholder="비밀번호">
							</div>
							<div class="submit" style="width: 100%; margin-top: 10px;">
								<input type="submit" class="loginBtn" th:value="로그인">
							</div>
						</form>
						<div
							style="display: flex; justify-content: space-between; font-weight: bold; margin-top: 5px;">
							<a style="cursor: pointer;">아이디/비밀번호 찾기</a> <a
								th:href="@{/student/join}">회원가입</a>
						</div>
					</div>
					<div th:if="${session.userEmail!=null}">
						<div th:if="${ingClassVO == null}">
							<h3>수강중인 교육이 없습니다.</h3>
							<div
								style="align-items: center; justify-content: center; display: flex;">
								<a th:href="@{/student/class/list}"><img
									style="height: 70px;" th:src="@{/img/hat_navy.png}">
									<h3>교육지원하러 가기</h3> </a>
							</div>
						</div>
						<div th:if="${ingClassVO != null}">
							<div class="inouttm">
								<p id="dDay"></p>
								<h3 th:text="${ingClassVO.clssNm}"
									style="margin: 0 0 2% 0; height: 55px; display: flex; justify-content: center; align-items: center; word-break: keep-all;"></h3>
								<div class="viewinout">
									<div>
										<label for="intm"></label> <input type="text"
											placeholder="출근시간" name="intm" id="intm" class="checktm"
											readonly>
									</div>
									<div>
										<label for="outtm"></label> <input placeholder="퇴근시간"
											type="text" name="outtm" id="outtm" class="checktm" readonly>
									</div>
								</div>
							</div>
							<div class="submit"
								style="margin: auto; display: grid; align-items: center;">
								<!-- 토글 버튼 -->
								<input class="wlogBtn" type="button" onclick="toggleInOut()">
							</div>
						</div>
					</div>
				</div>
				<div class="notice con"
					style="background: #E7EFF3; width: 100%; margin-bottom: 8%; padding: 4%;">
					<h2 style="margin-bottom: 0;">공지사항</h2>
					<div style="display: block; text-align: end;">
						<a class="plus" style="display: block; text-align: end;"
							th:href="@{/student/notice/list}">+</a>
					</div>
					<hr>
					<table>
						<tr th:each="postVO : ${postList}">
							<td style="width: 75%;"><a
								th:href="@{/student/notice/view/__${postVO.postId}__}"
								th:text="${postVO.postTitle}"></a></td>
							<td style="width: 25%; text-align: right;"><span
								th:if="${postVO.rgstDd == null}">미정</span> <span
								th:if="${postVO.rgstDd != null}" th:text="${postVO.rgstDd}"></span>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class=" con" style="width: 45%; margin-bottom: 4%;">
				<div>
					<div th:if="${session.userEmail == null}"
						style="margin-bottom: 2%;">
						<h2 style="margin-bottom: 0;">지원 일정</h2>
						<div
							style="display: flex; justify-content: flex-end; padding-right: 4%;">
							<span style="padding-right: 5px;">접수중</span><span
								style="background-color: #F1A77E; padding: 0 30px; border-radius: 10px; margin-right: 3%;">
							</span> <span style="padding-right: 5px;">접수예정</span><span
								style="background-color: #6E9BB3; padding: 0 30px; border-radius: 10px;">
							</span>
						</div>
					</div>
					<div th:if="${session.userEmail != null}"
						style="margin-bottom: 2%;">
						<h2 style="margin-bottom: 0;">지원 및 교육 일정</h2>
						<div
							style="display: flex; justify-content: flex-end; padding-right: 4%;">
							<span style="padding-right: 5px;">이수중</span><span
								style="background-color: #F1A77E; padding: 0 30px; border-radius: 10px; margin-right: 3%;">
							</span> <span style="padding-right: 5px;">지원완료</span><span
								style="background-color: #6E9BB3; padding: 0 30px; border-radius: 10px;">
							</span>
						</div>
					</div>
					<div style="width: 100%;">
						<div class="content">
							<div id="calendar-container"
								style="background: white; width: 700px;">
								<div id="calendar"></div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- <div class="class con" style="width: 45%; margin-bottom: 4%;">
				<h2 style="margin-bottom: 0;">접수중인 교육</h2>
				<div style="display: block; text-align: end;">
					<a class="plus" th:href="@{/student/class/list}">+</a>
				</div>
				<hr>
				<table>
					<tr th:each="classVO : ${classList}">
						<td style="width: 70%;"><a
							th:href="@{/student/class/view/__${classVO.clssId}__}"
							th:text="${classVO.clssNm}"></a></td>
						<td style="width: 30%; text-align: right;"><span
							th:if="${classVO.aplyStartDd == null}">미정</span> <span
							th:if="${classVO.aplyStartDd != null}"
							th:text="${classVO.aplyStartDd + ' ~ ' + classVO.aplyEndDd}"></span>
						</td>
					</tr>
				</table>
			</div> -->

			<div class="news con" style="background: #E7EFF3; width: 43%;">
				<h2 style="margin-bottom: 0;">협회 관련 뉴스</h2>
				<div style="display: block; text-align: end;">
					<a class="plus" th:href="@{https://search.naver.com/search.naver?where=news&sm=tab_jum&query=KOSA}" target='_blank'>+</a>
				</div>
				<hr>
			</div>
			<div class="youtube con" style="background: #E7EFF3; width: 45%;">
				<h2 style="margin-bottom: 0;">협회 유튜브</h2>
				<div style="display: block; text-align: end;">
					<a class="plus" style="display: block; text-align: end;"
						th:href="@{https://www.youtube.com/@kosa3223/featured}"
						target='_blank'>+</a>
				</div>
				<hr>
			</div>
		</div>
	</div>
	<div th:replace="~{/include/student_footer :: footer}"
		style="width: 100%;"></div>
	<script th:inline="javascript">
		/* 스크립트 내에서 Thymeleaf 변수를 선언하고 값 할당 */
		var IngclssEndDd = /*[[${ingClassVO?.clssEndDd}]]*/'';
		var clssId = /*[[${ingClassVO?.clssId}]]*/'';
		var lastVO = /*[[${lastWlogVO}]]*/'';
		var lastLogTime = /*[[${lastLogTime}]]*/'';
		console.log(lastVO);
		var lastInTm = /*[[${lastWlogVO?.inTm}]]*/'';
		var lastOutTm = /*[[${lastWlogVO?.outTm}]]*/'';

		console.log(lastInTm + lastOutTm);

		function formatTimestamp(timestamp) {
			const date = new Date(timestamp);

			const year = date.getFullYear();
			const month = String(date.getMonth() + 1).padStart(2, '0');
			const day = String(date.getDate()).padStart(2, '0');
			const hours = String(date.getHours()).padStart(2, '0');
			const minutes = String(date.getMinutes()).padStart(2, '0');
			const seconds = String(date.getSeconds()).padStart(2, '0');

			const formattedTimestamp = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;

			return formattedTimestamp;
		}

		lastLogDd = formatTimestamp(lastLogTime);

		document.getElementById("lastLog").textContent = lastLogDd;

		function subscribe() {

			$.ajax({
				type : 'POST',
				url : '/student/checkSubscription', // 서버에서 이메일을 확인하는 엔드포인트를 사용
				success : function(response) {
					if (response === "member") {
						alert("구독이 되었습니다.\n 이제 매달 협회의 소식을 메일을 통해 받으실 수 있습니다.");
						window.location.href = '/student';
					} else if (response === "non-member") {
						var result = confirm("회원이 아닙니다. 회원가입을 진행하시겠습니까?");
						if (result) {
							window.location.href = '/student/join';
						} else {
							window.location.href = '/student';
						}
					} else {
						alert("오류 발생");
					}
				},
				error : function() {
					alert("오류가 발생했습니다.");
				}
			});
		}
	</script>
	<script th:if="${session.userEmail == null}"
		src="/js/student/calendar.js"></script>
	<script th:if="${session.userEmail != null}"
		src="/js/student/calendar2.js"></script>
	<script src="/js/student/main.js"></script>

</body>
</html>