<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/student/header.css}" rel="stylesheet">
<link th:href="@{/css/student/main.css}" rel="stylesheet">
<link th:href="@{/css/student/subbar.css}" rel="stylesheet">
<link th:href="@{/css/student/mypage.css}" rel="stylesheet">
<link rel="icon" href="/img/icon.png" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet"
	href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<meta charset="UTF-8">
</head>
<body>
	<div th:replace="~{/include/student_header :: header}"
		style="width: 100%;"></div>

	<div class="container">
		<div class="maintext">
			<h1 style="color: #0E5881; margin-top: 3%;">마이페이지</h1>
		</div>
		<div class="content">
			<div th:replace="~{/include/student_subbar :: subbar}"></div>
			<div class="maincontent">
				<div class="personalData">
					<div class="listHead" style="height: 55px;">
						<h3>개인 정보 조회/수정</h3>
						<p></p>
					</div>
					<div class="passwordForm" style="text-align: center;">
						<h1 style="margin-bottom: 5%;">비밀번호 확인</h1>
						<input type="password" id="passwordInput" placeholder="비밀번호 입력">
						<button id="checkPassword">비밀번호 확인</button>
					</div>
					<div id="userInfo" style="display: none;">
						<table class="infoTable">
							<tr>
								<th>이름 <span> *</span></th>
								<td class="infoInput"><input type="text" id="userName"></td>
							</tr>
							<tr>
								<th>이메일</th>
								<td><div id="userEmail"></div></td>
							</tr>
							<tr>
								<th>변경할 비밀번호</th>
								<td><input type="password" id="userPwd"
									placeholder="영문자+숫자+특수문자(8자~20자)"
									oninput="checkPasswordValidity()"> <span id="message"></span></td>
							</tr>
							<tr>
								<th>비밀번호 확인</th>
								<td><input type="password" id="checkPwd"
									oninput="checkPasswordSame()"> <span id="sameMessage"></span></td>
							</tr>
							<tr>
								<th>성별 <span> *</span></th>
								<td class="infoInput"><select name="gender" id="userGender">
										<option th:each="gender: ${genderList}" class="genderOption"
											th:value="${gender.cmcdId}" th:text="${gender.cmcdNm}">
								</select></td>
							</tr>
							<tr>
								<th>생년월일 <span> *</span></th>
								<td class="infoInput"><input type="text" id="userBirth"
									readonly></td>
							</tr>
							<tr>
								<th>휴대전화 <span> *</span></th>
								<td class="infoInput"><select id="phonePrefix">
										<option value="010">010</option>
										<option value="011">011</option>
										<option value="016">016</option>
										<!-- 필요한 다른 앞자리 옵션을 추가할 수 있습니다. -->
								</select> <!-- 나머지 전화번호 입력 --> <input type="text" id="phoneNumber"
									maxlength="11"></td>
							</tr>
							<tr>
								<th>직업<span> *</span></th>
								<td class="infoInput"><select class="jobSelect" name="job"
									id="userJob">
										<option th:each="job : ${jobList}" th:value="${job.cmcdId}"
											th:text="${job.cmcdNm}" class="jobOption"></option>
								</select></td>
							</tr>
							<tr>
								<th>가입일</th>
								<td><div id="rgstDt"></div></td>
							</tr>
							<tr>
								<th>마지막 로그인 일시</th>
								<td><div id="lastLogin"></div></td>
							</tr>
						</table>
						<div class="infoBtn">
							<button id="updateUserInfo">수정하기</button>
							<button id="quit">탈퇴하기</button>
						</div>
					</div>
				</div>
				<div class="applyList" style="display: none;">
					<div class="listHead">
						<h3>교육 과정 지원 내역</h3>
						<p>
							총 <span class="aplyCnt"></span>건
						</p>
					</div>
					<div>
						<table class="applyTable">
							<thead>
								<tr>
									<th>번호</th>
									<th>교육과정명</th>
									<th>지원기간</th>
									<th>교육기간</th>
									<th>정원</th>
									<th>지원날짜</th>
									<th>지원상태</th>
									<th>수정/수강</th>
								</tr>
							</thead>
							<tbody>
								<tr class="aplyRow"
									th:each="ApplyDetailDTO , rowStat : ${applyList}">
									<td><span th:text="${rowStat.index + 1}"></span></td>
									<td th:text="${ApplyDetailDTO.clssNm}"></td>
									<td
										th:text="${ApplyDetailDTO.aplyStartDd} +' ~ '+ ${ApplyDetailDTO.aplyEndDd}"></td>
									<td
										th:text="${ApplyDetailDTO.clssStartDd} +' ~ '+ ${ApplyDetailDTO.clssEndDd}"></td>
									<td th:text="${ApplyDetailDTO.limitCnt}"></td>
									<td th:text="${ApplyDetailDTO.rgstDd}"></td>
									<td th:text="${ApplyDetailDTO.cmcdNm}"></td>
									<td><button class="update">수정</button>
										<button class="apply">수강</button>
										<button class="cancel">지원취소</button>
										<button class="drop">수강포기</button></td>
									<td style="display: none;"><span
										th:text="${ApplyDetailDTO.aplyId}"></span></td>
								</tr>
							</tbody>
						</table>
						<div class="paging paging1">
							<i class="left" id="first_page" th:src="@{/img/first_page}"></i>
							<i class="left" id="prev_page" th:src="@{/img/prev_page}"></i>
							<div class="pages pages1"></div>
							<i class="right" id="next_page" th:src="@{/img/next_page}"></i> <i
								class="right" id="last_page" th:src="@{/img/last_page}"></i>
						</div>
					</div>
				</div>
				<div class="completeList" style="display: none;">
					<div class="listHead">
						<h3>교육 과정 이수 내역</h3>
						<p>
							총 <span class="rgstCnt"></span>건
						</p>
					</div>
					<div>
						<table class="rgstTable">
							<thead>
								<tr>
									<th>번호</th>
									<th>교육과정명</th>
									<th>교육기간</th>
									<th>수강상태</th>
									<th>이수상태</th>
									<th>이수증</th>
								</tr>
							</thead>
							<tbody>
								<!-- <tr class="rgstRow"
									th:each="RegistrationVO , rowStat : ${rgstList}">
									<td><span th:text="${rowStat.index + 1}"></span></td>
									<td><a
										th:href="@{/student/class/view/__${RegistrationVO.clssId}__}"><span
											th:text="${RegistrationVO.clssNm}"></span></a></td>
									<td
										th:utext="${RegistrationVO.clssStartDd}+'&lt;br /&gt; ~ '+  ${RegistrationVO.clssEndDd}"></td>
									<td th:text="${RegistrationVO.rgstNm}"></td>
									<td th:text="${RegistrationVO.cmptNm}"></td>
									<td class="rgstPrint" style="display: none;"><a
										th:href="@{/download/file/__${RegistrationVO.fileId}__/__${RegistrationVO.fileSubId}__}"
										th:title="${RegistrationVO.fileNm}"> <img
											style="height: 25px;" th:src="@{/img/file_icon.png}"
											alt="file  아이콘"></a></td>
								</tr> -->
							</tbody>
						</table>
						<div class="paging paging2">
							<i class="left" id="first_page" th:src="@{/img/first_page}"></i>
							<i class="left" id="prev_page" th:src="@{/img/prev_page}"></i>
							<div class="pages pages2"></div>
							<i class="right" id="next_page" th:src="@{/img/next_page}"></i> <i
								class="right" id="last_page" th:src="@{/img/last_page}"></i>
						</div>
					</div>
				</div>
				<div class="workLog" style="display: none;">
					<div class="listHead">
						<h3>출퇴근 관리</h3>
						<p>
							총 <span class="wlogCnt"></span>건
						</p>
					</div>
					<div>
						<select name="wlogNm" id="wlogClssNm">
							<option value="">전체</option>
							<option th:each="Wlog: ${wlogList}" class="wlogOption"
								th:value="${Wlog.clssNm}" th:text="${Wlog.clssNm}">
						</select>
					</div>
					<div>
						<table class="wlogTable">
							<thead>
								<tr>
									<th>번호</th>
									<th>교육과정명</th>
									<th>출근시간</th>
									<th>퇴근시간</th>
									<th>출퇴근상태</th>
									<th>사유서제출</th>
									<th>사유서상태</th>
								</tr>
							</thead>
							<tbody>
								<!-- <tr class="wlogRow" th:each="WorklogVO , rowStat : ${wlogList}">
									<td><span th:text="${rowStat.index + 1}"></span></td>
									<td th:text="${WorklogVO.clssNm}"></td>
									<td th:text="${WorklogVO.inTm}"></td>
									<td th:text="${WorklogVO.outTm}"></td>
									<td th:text="${WorklogVO.wlogNm}"></td>
									<td><button class="submitResn">제출</button>
										<button class="updateResn">수정</button>
									</td>
									<td class="resnStstus"
										th:text="${WorklogVO.resnNm}"></td>
								</tr> -->
							</tbody>
						</table>
						<div class="paging paging3">
							<i class="left" id="first_page" th:src="@{/img/first_page}"></i>
							<i class="left" id="prev_page" th:src="@{/img/prev_page}"></i>
							<div class="pages pages3"></div>
							<i class="right" id="next_page" th:src="@{/img/next_page}"></i> <i
								class="right" id="last_page" th:src="@{/img/last_page}"></i>
						</div>
					</div>
				</div>
				<div class="inquiryList" style="display: none;">
					<div class="listHead">
						<h3>문의 내역</h3>
						<p>
							총 <span class="postCnt"></span>건
						</p>
					</div>
					<table class="postTable">
						<thead>
							<tr>
								<th>번호</th>
								<th>문의내역명</th>
								<th>문의날짜</th>
								<th>답변상태</th>
								<th>답변확인</th>
							</tr>
						</thead>
						<tbody>
							<ul style="margin: 0; list-style: none; padding: 0;">
								<li class="postRow" th:each="postVO , rowStat : ${postList}">
									<div class="body">
										<tr>
											<td><span th:text="${rowStat.index + 1}"></span></td>
											<td><a th:text="${postVO.postTitle}"
												th:href="@{/student/inquiry/view/__${postVO.postId}__}"></a></td>
											<td th:text="${postVO.rgstDd}"></td>
											<td th:text="${postVO.cmcdNm}"></td>
											<td><input type="button" class="toggleReplyButton"
												style="display: none;" value="확인하기"
												onclick="toggleReply(this)"></td>
											<td th:text="${postVO.postId}" style="display: none;"></td>
										</tr>
									</div>
									<div class="reply-container" style="display: none;">
										<p th:text="${postVO.postContent}"></p>
									</div>
								</li>
							</ul>
						</tbody>
					</table>
					<div class="paging paging4">
						<i class="left" id="first_page" th:src="@{/img/first_page}"></i> <i
							class="left" id="prev_page" th:src="@{/img/prev_page}"></i>
						<div class="pages pages4"></div>
						<i class="right" id="next_page" th:src="@{/img/next_page}"></i> <i
							class="right" id="last_page" th:src="@{/img/last_page}"></i>
					</div>
				</div>
				<div class="moneyList" style="display: none;">
					<div class="listHead">
						<h3>지원금 수령 내역</h3>
						<p>
							총 <span class="moneyCnt"></span>건
						</p>
					</div>
					<table class="moneyTable">
						<thead>
							<tr>
								<th>번호</th>
								<th>교육과정명</th>
								<th>수령날짜</th>
								<th>수령금액</th>
							</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
					<div class="paging paging4">
						<i class="left" id="first_page" th:src="@{/img/first_page}"></i> <i
							class="left" id="prev_page" th:src="@{/img/prev_page}"></i>
						<div class="pages pages4"></div>
						<i class="right" id="next_page" th:src="@{/img/next_page}"></i> <i
							class="right" id="last_page" th:src="@{/img/last_page}"></i>
					</div>
				</div>
				<div class="modal1" style="display: none;">
					<div class="modalBody">
						<div class="modalHeader">
							<h2 class="modalTitle" style="margin: 0;">지원하기</h2>
						</div>
						<div class="modalContent">
							<div class="upload-area">
								<p>지원서파일을 여기에 첨부하세요.</p>
								<p style="color: red;">※ pdf형식의 파일만 첨부 가능합니다(1개) ※</p>
								<div style="width: 80%;">
									<input class="upload-name1" value="선택된 첨부파일이 없습니다"
										placeholder="선택된 첨부파일이 없습니다" readonly> <label
										for="fileInput1">파일찾기</label> <input type="file" name="file"
										id="fileInput1" class="fileInput" accept=".pdf"
										onchange="checkCnt1()">
								</div>
							</div>
						</div>
						<div class="modalFooter">
							<button type="reset" class="closeModalBtn">취소</button>
							<button type="submit" class="aplyBtn">수정하기</button>
						</div>
					</div>
				</div>
				<div class="modal2" style="display: none;">
					<div class="modalBody" style="height: 550px;">
						<div class="modalHeader">
							<h2 class="modalTitle" style="margin: 0;">사유서 작성하기</h2>
						</div>
						<div class="modalContent">
							<div class="upload-area">
								<p>사유서파일을 첨부하세요.</p>
								<p style="color: red;">※ 파일은 3개까지만 첨부 가능합니다. ※</p>
								<div style="width: 80%;">
									<input class="upload-name2" value="선택된 첨부파일이 없습니다"
										placeholder="선택된 첨부파일이 없습니다" readonly> <label
										for="fileInput2">파일찾기</label> <input type="file" name="file"
										id="fileInput2" class="fileInput" multiple
										onchange="checkCnt2()">
								</div>

							</div>
							<div>
								<!-- <input type="text" class="resnText1"
									placeholder="사유서 내용을 작성하세요."> -->
								<textarea class="resnText1" placeholder="사유서 내용을 작성하세요."></textarea>
							</div>

							<div class="modalFooter">
								<button type="reset" class="closeBtn">취소</button>
								<button type="button" class="submitBtn">제출</button>
							</div>
						</div>
					</div>
				</div>
				<div class="modal3" style="display: none;">
					<div class="modalBody" style="height: 550px;">
						<div class="modalHeader">
							<h2 class="modalTitle" style="margin: 0;">사유서 작성하기</h2>
						</div>
						<div class="modalContent">
							<div class="upload-area">
								<p>사유서파일을 첨부하세요.</p>
								<p style="color: red;">※ 파일은 3개까지만 첨부 가능합니다. ※</p>
								<div style="width: 80%;">
									<input class="upload-name3" value="선택된 첨부파일이 없습니다"
										placeholder="선택된 첨부파일이 없습니다" readonly> <label
										for="fileInput3">파일찾기</label> <input type="file" name="file"
										id="fileInput3" class="fileInput" multiple
										onchange="checkCnt3()">
								</div>
							</div>
							<div>
								<textarea class="resnText2" placeholder="사유서 내용을 작성하세요."></textarea>
							</div>
							<div class="modalFooter">
								<button type="reset" class="closeBtn">취소</button>
								<button type="submit" class="submitBtn">수정</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$('#passwordInput').on('keyup', function(event) {
			if (event.key === "Enter") {
				$('#checkPassword').trigger('click');
			}
		});
		$("#userBirth").datepicker({
			dateFormat : "yy-mm-dd", // 날짜 형식 지정
			changeMonth : true, // 월 선택기 표시
			changeYear : true, // 연도 선택기 표시
			maxDate : 0,
			yearRange : "c-100:c+", // 100년 전부터 현재까지 허용
		});
		var phoneNumberInput = $("#phoneNumber");

		// 전화번호 입력 필드의 입력을 모니터링합니다.
		phoneNumberInput.on("input", function() {
			// 입력 내용을 가져옵니다.
			var phoneNumber = phoneNumberInput.val();

			// 숫자가 아닌 문자를 제거합니다.
			phoneNumber = phoneNumber.replace(/[^0-9]/g, "");

			// 15자리 이상 입력 방지
			if (phoneNumber.length > 15) {
				phoneNumber = phoneNumber.slice(0, 15);
			}

			// 입력 필드에 정리된 전화번호를 설정합니다.
			phoneNumberInput.val(phoneNumber);
		});
		$.datepicker.setDefaults({
			monthNames : [ '1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월',
					'9월', '10월', '11월', '12월' ],
			monthNamesShort : [ '1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월',
					'9월', '10월', '11월', '12월' ],
			dayNames : [ '일', '월', '화', '수', '목', '금', '토' ],
			dayNamesShort : [ '일', '월', '화', '수', '목', '금', '토' ],
			dayNamesMin : [ '일', '월', '화', '수', '목', '금', '토' ],
			yearSuffix : '년'
		});

		// 사용자가 선택한 직업 값 설정
		var userJobValue = $("#userJob").val();

		// 직업 선택 옵션을 설정합니다.
		var jobSelect = document.getElementById("userJob");
		var jobOptions = jobSelect.querySelectorAll(".jobOption");

		for (var i = 0; i < jobOptions.length; i++) {
			var option = jobOptions[i];
			if (option.value === userJobValue) {
				option.selected = true;
			}
		}

		// 사용자가 선택한 성별 값 설정
		var userGenderValue = $("#userGender").val();

		// 성별 선택 옵션을 설정합니다.
		var genderSelect = document.getElementById("userGender");
		var genderOptions = genderSelect.querySelectorAll(".genderOption");

		for (var j = 0; j < genderOptions.length; j++) {
			var genderOption = genderOptions[j];
			if (genderOption.value === userGenderValue) {
				genderOption.selected = true;
			}
		}

		function checkPasswordValidity() {
			const password = document.getElementById('userPwd').value;
			const message = document.getElementById('message');

			// 비밀번호가 영문자, 숫자, 특수문자를 각각 포함하고, 8자 이상 20자 이하인지 확인
			const passwordPattern = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,20}$/;

			if (passwordPattern.test(password)) {
				message.innerText = 'O';
			} else {
				message.innerText = '영문자, 숫자, 특수문자를 각각 포함하여 8자 이상 20자 이하여야 합니다.';
			}
		}

		//비밀번호 같은지 검사
		function checkPasswordSame() {
			const password = document.getElementById('userPwd').value;
			const password2 = document.getElementById('checkPwd').value;
			const message = document.getElementById('sameMessage');

			if (password == password2) {
				message.innerText = 'O';
			} else {
				message.innerText = '비밀번호가 일치하지 않습니다.';
			}

		}
		$(document).ready(function() {
			$("#checkPassword").click(function() {
				var password = $("#passwordInput").val(); // 입력란에서 비밀번호를 가져옵니다.

				// 서버로 보낼 요청 데이터를 JSON 형식으로 생성
				var requestData = {
					password : password
				};

				// 비밀번호 확인 요청을 서버로 보냅니다.
				$.ajax({
					type : "POST",
					url : "/student/check/password",
					data : JSON.stringify(requestData), // JSON 데이터 전송
					contentType : "application/json", // 데이터 타입 설정
					success : function(data) {
						if (data.success) {
							// 비밀번호가 일치하는 경우
							displayUserInfo(data.user);
							console.log(data.user);
							$("#userInfo").show();
							$(".passwordForm").hide();
						} else {
							// 비밀번호가 일치하지 않는 경우
							alert("비밀번호가 일치하지 않습니다.");
						}
					},
					error : function(error) {
						console.error("오류 발생:", error);
					}
				});
			});
		});
		// 정보 업데이트 버튼을 클릭할 때 서버로 정보 업데이트 요청을 보냅니다.
		$("#updateUserInfo")
				.click(
						function() {
							var updatedUserInfo = {
								name : $("#userName").val(),
								birth : $("#userBirth").val(),
								gender : $("#userGender").val(),
								tel : $("#phonePrefix").val()
										+ $("#phoneNumber").val(),
								pwd : $("#userPwd").val(),
								job : $("#userJob").val(),
							};

							const password = document.getElementById('userPwd').value;
							const password2 = document
									.getElementById('checkPwd').value;

							const validityMessage = document
									.getElementById("message");
							const sameMessage = document
									.getElementById("sameMessage");

							const text1 = validityMessage.textContent;
							const text2 = sameMessage.textContent;
							if ($("#userName").val() === ''
									|| $("#userBirth").val() === ''
									|| $("#userGender").val() === ''
									|| $("#phoneNumber").val() === ''
									|| $("#userJob").val() === '') {
								alert("필수값을 모두 입력해주세요.");
								return false;
							} else {
								if (((text1 == "O") && (text2 == "O"))
										|| ((password == "") && (password2 == ""))) {
									// 서버로 정보 업데이트 요청을 보냅니다.
									$
											.ajax({
												type : "POST",
												url : "/student/updateUserInfo",
												data : JSON
														.stringify(updatedUserInfo),
												contentType : "application/json",
												success : function(response) {
													if (response.success) {
														alert("정보가 업데이트되었습니다.");
														const selectParam = 1; // 이동하려는 페이지에서 원하는 select 매개변수 값을 설정하세요.
														const newUrl = '/student/mypage?select='
																+ selectParam;
														window.location.href = newUrl;
													} else {
														alert("정보 업데이트에 실패했습니다.");
													}
												},
												error : function(error) {
													console.error("오류 발생:",
															error);
												}
											});
								} else {
									event.preventDefault();
									alert("올바른 비밀번호가 아닙니다.");
									return false;
								}
							}
						});

		function displayUserInfo(userInfo) {
			document.getElementById("userName").value = userInfo.name;
			document.getElementById("userEmail").textContent = userInfo.email;
			document.getElementById("userGender").value = userInfo.gender;
			document.getElementById("userBirth").value = userInfo.birth;
			document.getElementById("userJob").value = userInfo.job;
			document.getElementById("rgstDt").textContent = userInfo.rgstDt;
			document.getElementById("lastLogin").textContent = userInfo.LastLogin;

			var phonePrefixSelect = $("#phonePrefix");
			var phoneNumberInput = $("#phoneNumber");

			// 사용자 정보에서 전화번호를 가져옵니다.
			var userTel = userInfo.tel;

			// 사용자 정보에서 전화번호를 앞자리와 나머지 부분으로 분할합니다.
			var prefix = userTel.substring(0, 3);
			var remainder = userTel.substring(3);

			// 앞자리를 선택합니다.
			phonePrefixSelect.val(prefix);

			// 나머지 전화번호를 입력합니다.
			phoneNumberInput.val(remainder);

		}
		$("#quit").click(function() {
			var result = confirm("탈퇴하시겠습니까?");

			if (result) {
				$.ajax({
					type : "POST",
					url : "/student/quit",
					success : function(response) {
						if (response = 'true')
							alert("탈퇴되었습니다.");
						if (result) {
							$.ajax({
								type : "GET",
								url : "/logout"
							});
							window.location.href = '/student'
						}
					}
				});
			}
		});

		var button = document.querySelector(".aplyBtn");

		// 클릭 이벤트를 감지합니다.
		button.addEventListener("click", function(event) {
			// 버튼이 disabled 상태인 경우에만 알림을 띄웁니다.
			var x = document.getElementById("fileInput1");
			var selectedFiles = x.files;
			if (selectedFiles.length < 1) {
				alert("지원서 파일을 첨부해주세요.");
			}
		});
		function checkCnt1() {
			var x = document.getElementById("fileInput1");
			var selectedFiles = x.files;
			if (selectedFiles.length < 1) {
				alert("지원서 파일을 첨부해주세요.");
				$(".submitBtn").attr("disabled", true);

			} else {
				var files = $("#fileInput1")[0].files;
				var fileNames = [];

				for (var i = 0; i < files.length; i++) {
					fileNames.push(files[i].name);
				}

				var fileNameString = fileNames.join(', ');
				$(".upload-name1").val(fileNameString);
				$(".submitBtn").attr("disabled", false);
			}
		}
		function checkCnt2() {
			var x = document.getElementById("fileInput2");
			var selectedFiles = x.files;
			if (selectedFiles.length > 3) {
				alert("파일은 최대 3개까지만 첨부 가능합니다.");
				$(".submitBtn").attr("disabled", true);

			} else {
				var files = $("#fileInput2")[0].files;
				var fileNames = [];

				for (var i = 0; i < files.length; i++) {
					fileNames.push(files[i].name);
				}

				var fileNameString = fileNames.join(', ');
				$(".upload-name2").val(fileNameString);
				$(".submitBtn").attr("disabled", false);
			}
		}
		function checkCnt3() {
			var x = document.getElementById("fileInput3");
			var selectedFiles = x.files;
			if (selectedFiles.length > 3) {
				alert("파일은 최대 3개까지만 첨부 가능합니다.");
				$(".submitBtn").attr("disabled", true);

			} else {
				var files = $("#fileInput3")[0].files;
				var fileNames = [];

				for (var i = 0; i < files.length; i++) {
					fileNames.push(files[i].name);
				}

				var fileNameString = fileNames.join(', ');
				$(".upload-name3").val(fileNameString);
				$(".submitBtn").attr("disabled", false);
			}
		}
	</script>
	<script src="/js/student/sidebar.js"></script>
	<script src="/js/student/mypage1.js"></script>
	<script src="/js/student/mypage2.js"></script>
	<script src="/js/student/mypage3.js"></script>
	<script src="/js/student/mypage4.js"></script>
	<script src="/js/student/mypage5.js"></script>
</body>
</html>