<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/student/header.css}" rel="stylesheet">
<link th:href="@{/css/student/main.css}" rel="stylesheet">
<link th:href="@{/css/student/post_detail.css}" rel="stylesheet">
<link rel="icon" href="/img/icon.png" />
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
	<div th:replace="~{/include/student_header :: header}"
		style="width: 100%;"></div>
	<div class="container" style="display: flex;">
		<div style="width: 100%;">
			<div class="maintext">
				<h1 style="color: #0E5881;">공지사항 상세</h1>
			</div>
			<div class="content">
				<table>
					<tr>
						<th>공지사항 제목</th>
						<td style="text-align: left;"><span
							style="margin-left: 20px;" th:text="${noticeDetail.postTitle}"></span></td>
						<th>게시일자</th>
						<td style="width: 15%;"><span th:text="${noticeDetail.rgstDd}"></span></td>
					</tr>
					<tr>
						<th>관련 파일</th>
						<td><ul
								style="margin: 0; text-align: left; padding-left: 3%;">
								<li th:each="FileVO : ${noticeFileList}"><a
									style="display: flex;"
									th:href="@{/download/file/__${FileVO.fileId}__/__${FileVO.fileSubId}__}"
									th:title="${FileVO.fileNm}"> <img style="height: 20px;"
										th:src="@{/img/file_icon.png}" alt="file  아이콘"> <span
										style="margin-left: 5px;" th:text="${FileVO.fileNm}"></span><br>
								</a></li>
							</ul></td>
						<th>조회수</th>
						<td><span th:text="${noticeDetail.postHit}"></span></td>
					</tr>
				</table>
				<div style="width: 80%;">
					<div>
						<h4 th:utext="${noticeDetail.postContent}"></h4>
					</div>
				</div>
			</div>
			<div
				style="position: fixed; display: block; right: 20px; bottom: 20px; width: 15%;">
				<div class="btn">
					<button class="back">목록으로</button>
					<button class="moveTopBtn">
						<img th:src="@{/img/up_navy.png}" style="height: 40px;">
					</button>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/student/notice_detail.js"></script>
</body>
</html>