a {
	text-decoration-line: none;
	color: #0E5881;
}

.sidebar.open ~ .home-section {
	left: 250px;
	width: calc(100% - 250px);
}

.home-section {
	position: relative;
	background: #fff;
	min-height: 100vh;
	top: 0;
	left: 60px;
	width: calc(100% - 60px);
	transition: all 0.5s ease;
	z-index: 2;
}

.home-section .content_top {
	display: flex;
	justify-content: space-between;
	margin: 40px;
}

.home-section .content_top .title {
	font-size: 20px;
	color: #333333;
	font-weight: bold;
}

.home-section .content_top .route a {
	width: 20%;
	color: #0E5881;
	text-decoration-line: none;
	font-weight: bold;
}

.content_middle .class_summary {
	border-top: 2px solid #0E5881;
	margin: 40px 40px 10px 40px;
}

.content_middle .class_summary .row {
	display: flex;
	border-bottom: 1px solid #0E5881;
	height: 30px;
}

.content_middle .class_summary .row .col {
	display: flex;
}

.content_middle .class_summary .row .col .col_title {
	background: #E7EFF3;
	text-align: center;
	width: 100px;
	font-weight: bold;
	color: #0E5881;
}

.content_middle .class_summary .row .col .col_content {
	padding-left: 10px;
}

.content_middle .class_summary .row .col .col_content a {
	text-decoration: none;
	color: #0E5881;
	font-weight: bold;
}

.content_middle .class_summary .row .col .col_content a:hover {
	color: #0E5881;
	font-weight: bold;
	text-decoration: underline;
}

.home-section .content_bottom {
	margin: 10px 40px 40px 40px;
}

.home-section .content_bottom .content_info_wrap {
	color: #333333;
	font-size: 15px;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
}

.home-section .content_bottom .content_info_wrap .class_list_cnt {
	color: #0E5881;
}

.content_info_wrap .content_info {
	padding: 5px;
}

.content_info_wrap .content_info_btn_wrap {
	display: flex;
	float: right;
}

.content_info_wrap .content_info_btn_wrap input {
	background: #0E5881;
	color: white;
	border: none;
	border-radius: 3px;
	font-weight: bold;
	display: flex;
	margin: 2px;
	padding: 5px;
	cursor: pointer;
	align-items: center;
	justify-content: space-around;
}

.content_list {
	width: 100%;
	background: #ffffff;
	border-radius: 3px;
	margin-top: 10px;
	border-top: 2px solid #0E5881;
}

.content_list .content_list_table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

.content_list_table tr {
	border-bottom: 1px solid #CFDEE6;
	height: 30px;
}

.content_list_table tr th {
	border: 1px solid #CFDEE6;
}

.content_list_table tr td {
	border: 1px solid #CFDEE6;
	padding: 5px;
}

.content_list_table tr td a {
	text-decoration: none;
	color: #0E5881;
	font-weight: bold;
}

.content_list_table tr td a:hover {
	color: #0E5881;
	font-weight: bold;
	text-decoration: underline;
}

.td_check, .td_num, .td_apply_id, .td_stdt_id, .td_stdt_nm, .td_status {
	text-align: center;
}

#excel_btn {
	border: 2px solid green;
	background: white;
	color: green;
	border-radius: 3px;
	font-weight: bold;
	display: flex;
	margin: 2px;
	padding: 5px;
	cursor: pointer;
}

#excel_btn>img {
	margin-right: 5px;
	width: 20px;
}

.blue{
	color: blue;
}

.red{
	color: red;
}