.sidebar.open ~ .home-section {
	left: 250px;
	width: calc(100% - 250px);
}

.home-section {
	position: relative;
	background: #fff;
	min-height: 100vh;
	top: 0;
	left: 60px;
	width: calc(100% - 60px);
	transition: all 0.5s ease;
	z-index: 2;
}

.home-section .content_top {
	display: flex;
	justify-content: space-between;
	margin: 40px;
}

.home-section .content_top .title {
	font-size: 20px;
	color: #333333;
	font-weight: bold;
}

.home-section .content_top .route a {
	color: #0E5881;
	text-decoration-line: none;
	font-weight: bold;
}

.content_middle {
	height: 80vh;
	display: flex;
	margin: 40px 40px 0 40px;
}

.content_middle .lecture_wrap {
	width: 100%;
}

.content_middle div div table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border-top: 2px solid #0E5881;
}

.content_middle div div table tr {
	border-bottom: 1px solid #CFDEE6;
	height: 30px;
}

.content_middle div div table tr th {
	border: 1px solid #CFDEE6;
}

.content_middle div div table tr td {
	border: 1px solid #CFDEE6;
	padding: 5px;
}

.content_list_th {
	background: #F3F6F8;
	color: #0E5881;
}

.search_wrap {
	border-top: 2px solid #0E5881;
	border-bottom: 1px solid #CFDEE6;
	background: #E7EFF3;
	display: flex;
	padding: 5px;
}

.insert div>span {
	color: #0E5881;
	font-weight: bold;
}

.table_wrap {
	margin-top: 10px;
}

.content_info_wrap {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	margin: 10px 0;
}

.content_info_wrap .cnt {
	color: #0E5881;
}

.content_info_button_wrap {
	display: flex;
}

.content_info_wrap button {
	border: none;
	border-radius: 3px;
	background: #0E5881;
	color: white;
	font-size: 15px;
	font-weight: bold;
	margin: 5px;
	padding: 5px;
	height: 30px;
	display: flex;
	align-items: center;
}

.content_info_button_wrap>button>img {
	width: 20px;
}

.insert_professor div>span {
	color: #0E5881;
	font-weight: bold;
}

.insert_btn {
	border: none;
	border-radius: 3px;
	background: #0E5881;
	color: white;
	font-weight: bold;
	padding: 5px;
	margin-left: 5px;
	display: flex;
}

.insert_btn>img {
	width: 20px;
}

.table_wrap table tr td button {
	font-weight: bold;
	color: white;
	border: none;
	border-radius: 3px;
	padding: 5px;
	background-color: #3E799A;
}

.subject_table, .professor_table {
	height: 70%;
	overflow-y: scroll;
}

.red {
	color: red;
	vertical-align: middle;
}

.td_lecture_check_box, .td_lecture_num, .td_lecture_professor {
	text-align: center;
}

.td_lecture_tm {
	text-align: right;
}

.td_professor_check_box, .td_professor_num, .td_professor_nm,
	.td_professor_tel {
	text-align: center;
}

.td_subject_check_box, .td_subject_num {
	text-align: center;
}

button {
	cursor: pointer;
}

.search_filter_wrap {
	display: flex;
}

.filter_box {
	display: flex;
	margin: 3px 20px 3px 20px;
	color: #0E5881;
	font-weight: bold;
	font-size: 15px;
}

.filter_box_title {
	margin-right: 20px;
}

.search_filter_btn_wrap {
	display: flex;
	align-items: center;
}

.search_filter_btn_wrap button {
	text-align: center;
	color: white;
	font-weight: bold;
	border: none;
	margin: 2px;
	border-radius: 3px;
	padding: 5px;
	display: flex;
	cursor: pointer;
}

.search_filter_btn_wrap button img {
	width: 20px;
}

.search_filter_btn_wrap .search_reset_btn {
	background: #9FBCCD;
}

.search_filter_btn_wrap .search_filter_btn {
	background: #0E5881;
}

.search_wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.filter_box button {
	width: 23px;
	height: 23px;
	background: #9FBCCD;
	display: flex;
	border: none;
	border-radius: 4px;
	margin: 0px 5px;
	align-items: center;
	justify-content: space-around;
}

button img {
	width: 20px;
}

.pagination {
	list-style: none;
}

.pagination li {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}

.pagination li a{
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.pagination li.active {
	background-color: #0E5881;
	color: white;
	border-radius: 5px;
}

.pagination li.active a{
	color:white;
}

.pagination li:hover:not(.active) {
	background-color: #ddd;
	border-radius: 5px;
}

nav {
	display: flex;
	justify-content: space-around;
}

#excel_btn {
	border: 2px solid green;
	background: white;
	color: green;
}

#excel_btn>img {
	margin-right: 5px;
}