body{
	overflow: hidden;
}

h2 {
	margin: 20px 10px;
}

.search_input {
	width: 100%;
	padding: 6px;
	border: 1px solid rgb(168, 166, 166);
	border-radius: 4px;
	resize: vertical;
	height: 40px;
}

.btn:hover {
	background-color: #0E5881;
}

.btn_wrap {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 20px;
}

.btn_wrap .btn {
	width: 85px;
	height: 30px;
	background-color: #0E5881;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: left;
	font-weight: bold;
	font-size: 15px;
}

.tr_lecture:hover{
	background-color: lightgray;
	cursor: pointer;
}

.select_wrap{
	background-color:#E7EFF3;
	padding: 10px;
	height: 735px;
}

.search_wrap{
	display: flex;
}

.search_btn{
	width: 100px;
	background-color: #0E5881;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-weight: bold;
	font-size: 15px;
}

.company_list_wrap{
	background-color: white;
	margin: 10px 0;
	height: 470px;
	overflow: scroll;
	overflow-x:hidden;
	border-radius:4px;
	border: 1px solid #0E5881;
}

.company_nm{
	padding: 5px;
	font-size: 15px;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border-top: 2px solid #0E5881;
}

table tr {
	border-bottom: 1px solid #CFDEE6;
	height: 30px;
}

table tr th {
	border: 1px solid #CFDEE6;
}

table tr td {
	border: 1px solid #CFDEE6;
	padding: 5px;
}

.content_list_th {
	background: #F3F6F8;
	color: #0E5881;
}

.content_info_wrap {
	display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin: 10px 0;
    align-items: center;
}

.content_info_wrap .cnt {
	color: #0E5881;
}

.content_info_button_wrap {
	display: flex;
}

.content_info_wrap button {
	border: none;
	border-radius: 3px;
	background: #0E5881;
	color: white;
	font-size: 15px;
	font-weight: bold;
	margin: 5px;
	padding: 5px;
	height: 30px;
	display: flex;
	align-items: center;
}

.content_info_button_wrap>button>img {
	width: 20px;
}

.td_lecture_check_box, .td_lecture_num, .td_lecture_professor {
	text-align: center;
}

.td_lecture_tm{
	text-align: right;
}

button{
	cursor: pointer;
}