.sidebar.open ~ .home-section {
	left: 250px;
	width: calc(100% - 250px);
}

.home-section {
	position: relative;
	background: #fff;
	min-height: 100vh;
	top: 0;
	left: 60px;
	width: calc(100% - 60px);
	transition: all 0.5s ease;
	z-index: 2;
}

.home-section .content_top {
	display: flex;
	justify-content: space-between;
	margin: 40px;
}

.home-section .content_top .title {
	font-size: 20px;
	color: #333333;
	font-weight: bold;
}

.home-section .content_top .route a {
	color: #0E5881;
	text-decoration-line: none;
	font-weight: bold;
}

.content_middle {
	margin: 40px 40px 0 40px;
}

/* filter_table */
.search_filter_wrap {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
	background: #E7EFF3;
	color: #0E5881;
	padding: 5px;
	border-top: 2px solid #0E5881;
	border-bottom: 1px solid #0E5881;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* 	margin: auto; */
}

.search_filter_name {
	font-weight: bold;
	margin-right: 5px;
}

.search_filter_table input {
	color: gray;
	padding: 5px;
}

.search_filter_table input:focus {
	border-color: #0E5881;
	border-radius: 0.3em;
}

.search_filter_btn_wrap {
	text-align: center;
}

#stdt_list_table_thead th {
	background-color: #E7EFF3;
}

.search_filter_table .input_keyword {
	width: 15em;
	height: 1.8em;
}

#stdt_list_table {
	width: 100%;
}

.fixed_length_cell {
	text-align: center;
}

.number_cell {
	text-align: right;
	padding-right: 1em;
}

.star {
	color: red;
	vertical-align: middle;
}

#stdt_list_table {
	border-collapse: collapse;
}

#stdt_list_table th {
	border: 1px solid #CFDEE6;
	border-top: 2px solid #0E5881;
	color: #0E5881;
}

#stdt_list_table td {
	padding: 0.2em;
	border: 1px solid #CFDEE6;
}

.table_controller {
	display: flex;
	font-weight: bold;
	justify-content: space-between;
    align-items: center;
}

.content_bottom {
	margin: 40px;
}

.table_controller div {
	display: flex;
	align-items: center;
}

.stdt_count_unit {
	margin-left: 1em;
}

.mony_button {
	display: flex;
	margin-left: auto;
}

.mony_button button {
	background: #0E5881;
	color: white;
	border: none;
	border-radius: 0.3em;
	font-weight: bold;
	width: 5em;
	margin-left: 0.3em;
	margin: 10px;
	text-align: center;
	font-size: 1.1em;
	height: 2em;
}

.search_filter_table {
	display: flex;
}

.search_filter_input_wrap {
	display: flex;
	align-items: center;
}

.search_filter_input_wrap span {
	margin-left: 0.6em;
	margin-right: 0.3em;
}

.search_filter_input {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
}

.search_filter_input_date {
	display: flex;
	align-items: center;
	justify-content: center;
}

.search_filter_input_radio {
	display: flex;
	align-items: center;
	justify-content: center;
}

.home-section .content_middle .search_filter_btn_wrap {
	display: flex;
	align-items: center;
}

.search_filter_btn_wrap button {
	text-align: center;
	color: white;
	font-weight: bold;
	border: none;
	margin: 2px;
	border-radius: 3px;
	padding: 5px;
	display: flex;
	cursor: pointer;
}

.search_filter_btn_wrap button img {
	width: 20px;
}

.search_filter_btn_wrap .search_reset_btn {
	background: #9FBCCD;
}

.search_filter_btn_wrap .search_filter_btn {
	background: #0E5881;
}

.sbsd_btn{
	background: #0E5881;
    color: white;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    display: flex;
    margin: 2px;
    padding: 5px;
    cursor: pointer;
    align-items: center;
}