<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/header :: header}">
<meta charset="UTF-8">
<title>Main</title>
</head>
<head>
<link th:href="@{/css/main_manager.css}" rel="stylesheet">
</head>
<body>
	<div th:replace="~{/include/subbar :: subbar}"></div>
	<div class="home-section">
		<!-- title -->
		<div class="title" th:text="${title}" >Title</div>
		
		<!-- content wrap-->
		<div class="content_wrap">
			<!-- box wrap -->
			<div class="bx_wait_wrap">
			
			
				<!-- for문으로 받은만큼 돌리기 -->
				<!-- box -->
				<div class="bx_wait" th:each="data: ${dataMap}"> 
					<!-- box sub title -->
					<div class="bx_wait_sub_title" th:text="${data.key}">subTitle</div>
					<!-- box content -->
					<div class="bx_wait_content">
						<!-- total count -->
						<div class="total_cnt">
							<a th:href="@{/admin/inquiry}" ><span class="cnt" th:text="${data.value}">count</span></a>
							<span class="cnt_txt">건</span>
						</div>
					</div>
				</div>
				
			<!-- End box wrap -->
			</div>
		<!-- End content wrap -->
		</div>
	</div>
</body>
</html>