<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/header :: header}">
<meta charset="UTF-8">
<title>Main</title>
</head>
<head>
<link th:href="@{/css/managerpostlist.css}" rel="stylesheet">
</head>
<body>
	<!-- 서브바 부분 -->
	<div th:replace="~{/include/subbar :: subbar}"></div>
	<!-- End 서브바 -->

	<!-- 컨텐츠 부분 -->
	<div class="home-section">
		<!-- title -->
		<div class="title" th:text="${title}">Title</div>

		<!-- content wrap-->
		<div class="content_wrap">

			<!-- 검색 필터 부분 -->
			<div class="search_filter_wrap">
				<!-- 아이콘 삽임 부분 -->
				<div class="search_filter_icon">
					<img class="search_filter_icon_img" th:src="@{/img/filter.png}">
				</div>
				<!-- 아이콘 삽임 부분 -->

				<!-- 검색 필터 테이블 -->
				<div class="search_filter_table_wrap">
					<table class="search_filter_table">
						<tr>
							<td>제목</td>
							<td><input type="text"></td>
							<td>등록일</td>
							<td><input type="date"> <span> ~ </span> <input
								type="date"></td>
						</tr>
						<tr>
							<td th:switch="${#strings.toString(title)}"><span
								th:case="'공지사항 관리'">내용</span> <span th:case="'문의사항 관리'">작성자</span>
								<span th:case="*">기본값</span> <!-- 이외의 값에 대한 처리 --></td>
							<td><input type="text"></td>
							<td>상태</td>
							<td><input type="radio" name="inquiry_status" value="전체"
								checked="checked"> <span>전체</span>
								<span th:switch="${#strings.toString(title)}">
									<input type="radio" name="inquiry_status" value="답변대기">
									<span th:case="'공지사항 관리'">공개</span> <span th:case="'문의사항 관리'">답변대기</span>
								</span>
								<span th:switch="${#strings.toString(title)}">
									<input type="radio" name="inquiry_status" value="답변완료">
									<span th:case="'공지사항 관리'">비공개</span> <span th:case="'문의사항 관리'">답변완료</span>
								</span></td>
						</tr>
					</table>
				</div>
				<!-- 검색 필터 테이블 -->

				<!-- 검색 버튼 -->
				<div class="search_filter_btn_wrap">
					<button class="search_filter_btn">검색</button>
				</div>
				<!-- End 검색 버튼 -->

			</div>
			<!-- End 검색 필터 부분 -->

			<!-- 문의 리스트 -->
			<div>
				<!-- 총 문의글 개수와 선택삭제 버튼 -->
				<div>
					<!-- 총 문의글 -->
					<div>
						<span>총 문의글 </span> <span th:text="${#lists.size(postVOList)}">0</span>
						<span>개</span>
					</div>

					<!-- 선택삭제 버튼 -->
					<div>
						<button>선택삭제</button>
					</div>
				</div>
				<!-- End 총 문의글 개수와 선택삭제 버튼 -->

				<!-- 문의글 리스트 -->
				<div>
					<table>
						<tr>
							<th><input type="checkbox"></th>
							<th>postId</th>
							<th>문의사항 제목</th>
							<th>작성자</th>
							<th>등록일자</th>
							<th>조회수</th>
							<th>상태</th>
						</tr>
						<tr th:each="postVO : ${postVOList}">
							<td><input type="checkbox"></td>
							<td th:text="${postVO.postId}">postId</td>
							<td><a th:text="${postVO.postTitle}"
								th:href="@{/admin/inquiry/__${postVO.postTitle}__}">문의사항 제목</a></td>
							<td th:text="${postVO.rgsterId}">작성자</td>
							<td th:text="${postVO.rgstDt}">등록일자</td>
							<td th:text="${postVO.postHit}">조회수</td>
							<td th:text="${postVO.postCd}">상태</td>
						</tr>
					</table>
				</div>
				<!-- End 문의글 리스트 -->

				<!-- 페이지당 목록 수 -->
				<div></div>
				<!-- End 페이지당 목록 수 -->

				<!-- 페이지 -->
				<div></div>
				<!-- End 페이지 -->
			</div>
			<!-- End 문의 리스트 -->

			<!-- End content wrap -->
		</div>
	</div>
	<!-- End 컨텐츠 부분 -->

	<script>
		
	</script>
</body>
</html>