<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Manager Class List</title>
<link th:href="@{/css/managerClassList.css}" rel="stylesheet" />
</head>
<body>
		<p>
		나와야 되는거<br>
		1순위 : 리스트(체크박스, 번호, 프로그램명, 교육기간, 교육 장소, 신청원/현재원, 교육상태[교육시작 전, 교육중, 교육완료, 취소, 폐강])<br>
		2순위 : 교육상태[전체, 교육 시작 전, 교육중, 교육완료, 취소, 폐강]에 따른 분류
		</p>
<!-- 	<table th:each="class:${classList}"> -->
	<table>
		<th>체크박스</th>
		<th>번호</th>
		<th>프로그램명</th>
		<th>교육기간</th>
		<th>교육 장소</th>
		<th>신청/최대</th>
		<th>교육상태</th>
<!-- 		<tr>빈칸</tr> -->
<!-- 		<tr th:text="${class.}">row number</tr> -->
<!-- 		<tr th:text="${class.}">class name</tr> -->
<!-- 		<tr th:text="${class.}">training period</tr> -->
<!-- 		<tr th:text="${class.}">class address</tr> -->
<!-- 		<tr th:text="${class.}">capabillity</tr> -->
<!-- 		<tr th:text="${class.clssCd}">status</tr> -->
	</table>
</body>
</html>