<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/student_header.css}" rel="stylesheet">
<link th:href="@{/css/student_main.css}" rel="stylesheet">
<link th:href="@{/css/student_class_list.css}" rel="stylesheet">
<meta charset="UTF-8">
<title>main page</title>
</head>
<body>
	<div th:replace="~{/include/student_header :: header}"
		style="width: 100%;"></div>
	<div class="container">
		<div class="maintext">
			<h1 style="color: #0E5881; margin-top: 3%;">교육과정지원</h1>
		</div>
		<div class="content" style="flex-direction: column;">
			<div class="search">
				<form th:action="@{/student/class}" style="width: 60%;">
					<input type="text" name="searchClass" value=""
						placeholder="검색어를 입력하세요." style="width: 70%;"> <input
						type="submit" class="searchBtn" th:value="검색">
				</form>
				<input type="checkbox" name="aplyclass" id="aply"><label
					for="aply">지원가능한 교육만</label>
				<div>
					<ul class="common">
						<li class="list-view"><img th:src="@{/img/list.png}"></li>
						<li class="grid-view"><img th:src="@{/img/grid.png}"></li>
					</ul>
				</div>
			</div>
			<div class="subsearch">
				<div>
					<h3 class="totalcnt">총 건</h3>
				</div>
				<div>
					<span>페이지당 목록 수</span> <select id="pageList" class="w-px80">
						<option value="8">8개씩</option>
						<option value="16">16개씩</option>
						<option value="32">32개씩</option>
					</select>
				</div>
			</div>
			<div class="gridlist">
				<ul th:each="classVO : ${classList}">
					<a th:href="@{/student/class/__${classVO.clssId}__}">
						<li><span th:text="${classVO.clssCd}" style="color: red;"></span></li>
						<li class="classImg">
							<div th:if="${classVO.clssLogo!=null}">
								<img th:src="@{/img/__${classVO.clssLogo}__}">
							</div>
							<div th:if="${classVO.clssLogo==null}">
								<img th:src="@{/img/logo.png}">
							</div>
					</li>
						<li th:text="${classVO.clssNm}" style="font-weight: bold;">교육과정명</li>
						<li><span>지원기간: </span><span
							th:text="${classVO.aplyStartDd} + ' ~' +${classVO.aplyEndDd}"></span></li>
						<li><span>교육기간: </span><span
							th:text="${classVO.clssStartDd} + ' ~' +${classVO.clssEndDd}"></span></li>
						<li><span>장소: </span><span th:text="${classVO.clssAdr}"></span></li>
						<li><span>정원: </span><span th:text="${classVO.limitCnt}"></span></li>
					</a>
				</ul>

			</div>
			<!-- <div>
				<table>
					<tr>
						<th>번호</th>
						<th>교육과정명</th>
						<th>지원기간</th>
						<th>교육기간</th>
						<th>교육장소</th>
						<th>정원</th>
						<th>강좌상태</th>
					</tr>
					<tr th:each="classVO : ${classList}">
						<td></td>
						<td><a th:text="${classVO.clssNm}"
							th:href="@{/class/__${classVO.clssId}__}">교육과정명</a></td>
						<td th:text="${classVO.aplyStartDd} + ' ~' +${classVO.aplyEndDd}">지원기간</td>
						<td th:text="${classVO.clssStartDd} + ' ~' +${classVO.clssEndDd}">교육기간</td>
						<td th:text="${classVO.clssAdr}">교육장소</td>
						<td th:text="${classVO.limitCnt}">정원</td>
						<td th:text="${classVO.clssCd}">상태</td>
					</tr>
				</table>
			</div> -->
		</div>
	</div>
</body>


</html>