@charset "UTF-8";

.gridlist {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

ul {
	list-style: none;
	padding: 0px auto;
}

.search {
	display: flex;
	background: #E7EFF3;
	padding: 0px 5%;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2%;
	cursor: pointer;
}

input {
	padding: 10px;
	border: 0;
	font-size: 15px;
	font-weight: bold;
	border-radius: 5px;
}

input::placeholder {
	color: #0E5881;
}

.searchBtn {
	background: #0E5881;
	color: white;
	padding: 9px 2%;
}

.searchform {
	width: 100%;
}

.searchInput {
	width: 50%;
	margin-left: 20%;
}

.subsearch {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1%;
	align-items: center;
}

.grid-style tr {
	display: grid;
	align-items: center;
	width: 16%;
	border: 2px solid #0E5881;
	padding: 1%;
	margin-bottom: 3%;
	margin-right: 1.5%;
}

.grid-style tbody {
	display: flex;
	flex-wrap: wrap;
	padding-left: 2%;
}

.grid-style img {
	height: 50px;
	width: 220px;
	margin: 5% auto;
}

.grid-style td {
	padding: 0.5%;
	font-size: 15px;
}

.grid-style a {
	text-align: center;
	text-decoration: none;
	color: #0E5881;
}

.grid-style .applyBtn {
	background: #0E5881;
	color: white;
	padding: 10px;
	margin: 5px 0;
	border: 0;
	font-size: 15px;
	font-weight: bold;
	border-radius: 10px;
	display: block;
}

.className {
	color: red;
	font-size: 15px;
}

.list-style table {
	border-style: none;
	padding: 0 2%;
}

.list-style  .classRow {
	display: flex;
	justify-content: space-between;
	border-style: none;
	width: 100%;
	align-items: center;
	height: 5%;
	border-bottom-style: solid;
	border-color: #E7EFF3;
	border-width: thin;
}

.list-style thead {
	display: flex;
	justify-content: space-between;
	border-style: none;
	background: #0E5881;
	color: white;
	padding: 0.5% 0;
}

.list-style thead td {
	font-weight: bold;
	font-size: 18px;
}

.list-style tbody {
	display: flex;
	flex-direction: column;
	border-style: none;
}

.list-style td {
	padding: 0.5%;
}

.list-style tbody tr:nth-child(even) {
	background-color: #F3F6F8;
}

.list-style a {
	text-align: center;
	text-decoration: none;
	color: #0E5881;
}

.list-style a:hover {
	text-decoration: underline;
}

.list-style td:nth-child(1) {
	width: 4%;
	text-align: center;
}

.list-style td:nth-child(2) {
	width: 40%;
	font-weight: bold;
}

.list-style td:nth-child(3) {
	width: 13%;
	text-align: center;
}

.list-style td:nth-child(4) {
	width: 13%;
	text-align: center;
}

.list-style td:nth-child(5) {
	width: 7%;
	text-align: center;
}

.list-style td:nth-child(6) {
	width: 5%;
	text-align: center;
}

.list-style td:nth-child(7) {
	width: 10%;
	text-align: center;
}

.list-style td:nth-child(8) {
	width: 10%;
	text-align: center;
}

.totalcnt {
	display: contents;
}

.common {
	display: flex;
}

.common img {
	height: 30px;
}

.list-view {
	cursor: pointer;
}

.grid-view {
	cursor: pointer;
}

.list-view.active img {
	content: url('/img/list_white.png'); /* 적절한 이미지 경로를 지정하세요 */
	background: #0E5881;
}

.grid-view.active img {
	content: url('/img/grid_white.png'); /* 적절한 이미지 경로를 지정하세요 */
	background: #0E5881;
}

#aply {
	cursor: pointer;
}

input:checked+lable::before {
	background-image: url('/img/check_navy.png');
}

.moveTopBtn {
	padding: 0;
	background: white;
	border-style: none;
	height: 60px;
}

.paging {
	width: 90%;
	margin: auto;
	margin-top: 1%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.paging i {
	font-size: 15px;
	border: black;
}

.pages span {
	margin: 5px 10px;
	font-size: 22px;
	border: black;
	padding: 5px 12px;
	font-weight: bold;
	cursor: pointer;
}

.pages {
	align-items: center;
	display: flex;
}

.paging .active {
	background: #E7EFF3;
}

a, .searchBtn, select {
	cursor: pointer;
}