@charset "UTF-8";

.gridlist {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

ul {
	list-style: none;
	padding: 0px auto;
}

.search {
	display: flex;
	background: #E7EFF3;
	padding: 0px 5%;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

input {
	padding: 10px;
	border: 0;
	font-size: 15px;
	font-weight: bold;
	border-radius: 5px;
}

input::placeholder {
	color: #0E5881;
}

.searchBtn {
	background: #0E5881;
	color: white;
	padding: 9px 2%;
}

.searchform {
	width: 100%;
}

.searchInput {
	width: 50%;
	margin-left: 20%;
}

.subsearch {
	display: flex;
	justify-content: space-between;
	margin: 2% 0;
	align-items: center;
}

.last {
	margin-right: 0 !important;
}

.grid-style tbody tr {
	display: grid;
	align-items: center;
	width: 16%;
	border: 2px solid #0E5881;
	padding: 1%;
	margin-bottom: 3%;
	margin-right: 2.14%;
}

tfoot td {
	text-align: center;
	font-size: 20px !important;
}

.grid-style tbody {
	display: flex;
	flex-wrap: wrap;
}

.grid-style img {
	height: 50px;
	width: 220px;
	margin: 5% auto;
}

.grid-style td {
	padding: 0.5%;
	font-size: 15px;
}

.grid-style a {
	text-align: center;
	text-decoration: none;
	color: #0E5881;
}

.grid-style .applyBtn {
	background: #0E5881;
	color: white;
	padding: 10px;
	margin: 5px 0;
	border: 0;
	font-size: 15px;
	font-weight: bold;
	border-radius: 10px;
	display: block;
}

.className {
	color: red;
	font-size: 15px;
}

.list-style table {
	border-style: none;
	padding: 0 2%;
}

.list-style  .classRow {
	display: flex;
	justify-content: space-between;
	border-style: none;
	width: 100%;
	align-items: center;
	height: 5%;
	border-bottom: 1.5px solid #E7EFF3;
}

.list-style thead {
	display: flex;
	justify-content: space-between;
	border-style: none;
	background: #E7EFF3;
	padding: 0.5% 0;
	color: #0E5881;
	border-bottom: 2px solid #0E5881;
}

.list-style thead td {
	font-weight: bold;
	font-size: 18px;
}

.list-style tbody {
	display: flex;
	flex-direction: column;
	border-style: none;
}

.list-style td {
	padding: 0.5%;
}

.list-style a {
	text-align: center;
	text-decoration: none;
}

.list-style a:hover {
	text-decoration: underline;
}

.list-style td:nth-child(1) {
	width: 4%;
	text-align: center;
}

.list-style td:nth-child(2) {
	width: 40%;
	font-weight: bold;
}

.list-style td:nth-child(3) {
	width: 13%;
	text-align: center;
}

.list-style td:nth-child(4) {
	width: 13%;
	text-align: center;
}

.list-style td:nth-child(5) {
	width: 7%;
	text-align: center;
}

.list-style td:nth-child(6) {
	width: 5%;
	text-align: center;
}

.list-style td:nth-child(7) {
	width: 10%;
	text-align: center;
}

.list-style td:nth-child(8) {
	width: 10%;
	text-align: center;
}

.totalcnt {
	display: contents;
}

.common {
	display: flex;
}

.common img {
	height: 30px;
}

.list-view {
	cursor: pointer;
}

.grid-view {
	cursor: pointer;
}

.list-view.active img {
	content: url('/img/list_white.png'); /* 적절한 이미지 경로를 지정하세요 */
	background: #0E5881;
}

.grid-view.active img {
	content: url('/img/grid_white.png'); /* 적절한 이미지 경로를 지정하세요 */
	background: #0E5881;
}

#aply {
	cursor: pointer;
}

input:checked+lable::before {
	background-image: url('/img/check_navy.png');
}

.moveTopBtn {
	padding: 0;
	background: white;
	border-style: none;
	height: 60px;
	cursor: pointer;
}

.paging {
	width: 90%;
	margin: auto;
	margin-top: 1%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.paging i {
	font-size: 15px;
	border: black;
}

.pages span {
	margin: 5px 10px;
	font-size: 22px;
	border: black;
	padding: 5px 12px;
	font-weight: bold;
	cursor: pointer;
}

.pages {
	align-items: center;
	display: flex;
}

.paging .active {
	background: #E7EFF3;
}

a, .searchBtn, select {
	cursor: pointer;
}

.openModalBtn {
	background: #0E5881;
	color: white;
	padding: 5% 8%;
	border: 0;
	font-size: 15px;
	font-weight: bold;
	border-radius: 10px;
	border: 0;
	cursor: pointer;
}

.moveTopBtn {
	padding: 0;
	background: white;
	border-style: none;
	height: 60px;
	cursor: pointer;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0, 0, 0, 0.4);
}

.modalBody {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 410px;
	text-align: center;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	transform: translateX(-50%) translateY(-50%);
	box-shadow: 0 5px 15px rgba(#000, .2);
}

.modalHeader {
	display: flex;
	padding: 7%;
	justify-content: center;
	background-color: #E7EFF3;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.upload-area {
	margin: 5% auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	color: black;
	font-size: 18px;
	width: 90%;
}

.upload-name {
	display: inline-block;
	padding: 3%;
	vertical-align: middle;
	border: 1px solid #dddddd;
	width: 60%;
	color: black;
}

.upload-area label {
	display: inline-block;
	padding: 3% 5%;
	color: black;
	background-color: #E7EFF3;
	cursor: pointer;
	font-size: 15px;
	border-radius: 10px;
}

.upload-area input[type="file"] {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
	border: 0;
}

.modal-footer {
	padding: 2%;
	display: flex;
	justify-content: flex-end;
}

.aplyBtn, .closeModalBtn {
	padding: 3% 7%;
	font-weight: bold;
	border-radius: 10px;
	color: #FFF;
	background-color: #0E5881;
	margin: 0 2%;
	border: 0;
	font-size: 15px;
}

#file-upload-button {
	padding: 3% 7%;
	font-weight: 500;
	border-radius: 10px;
	color: #FFF;
	background-color: #0E5881;
	margin: 0 2%;
	border: 0;
}

#fileInput {
	color: black;
	padding: 2% 0;
}