table {
	border-collapse: collapse;
	width: 95%;
	margin-bottom: 5%;
	background: white;
}

th, td {
	border: 1px solid #9FBCCD;
	border-collapse: collapse;
	padding: 2% 0;
}

/* thead tr {
	border-bottom: 2px solid #0E5881;
} */
table td {
	font-weight: bold;
	padding: 2% 0%;
	word-break: keep-all;
}

table th {
	background-color: #E7EFF3;
	width: 115px;
}

.content {
	padding: 5% 2%;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	width: 80%;
	margin: 5% auto;
	box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
	border-style: groove;
	border-color: black;
	text-align: center;
}

.content a {
	width: fit-content;
}

.crclTable {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.crclTable table {
	width: 80%;
}

.classFile {
	display: flex;
	flex-direction: column;
	align-items: center;
}

ul {
	text-align: center;
	list-style-type: none;
	padding: 0;
}

.classFile li {
	padding-bottom: 2%;
}

.classFile img {
	width: 600px;
}

.btn {
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	border: 0;
}

.crclTable th {
	background-color: #E7EFF3;
}

.btn button {
	border: 0;
}

.openModalBtn1:hover, .openModalBtn2:hover, .applyBtn:hover, .aplyBtn:hover,
	.closeModalBtn:hover, .back:hover, .moveBtn:hover {
	background-color: #F1A77E;
}

.back, .openModalBtn1, .openModalBtn2 {
	background: #0E5881;
	color: white;
	margin: 8px 0;
	font-size: 15px;
	font-weight: bold;
	border-radius: 10px;
	border: 0;
	cursor: pointer;
	width: 25%;
}

.openModalBtn1, .openModalBtn2 {
	display: none;
}

.moveTopBtn {
	padding: 0;
	background: white;
	border-style: none;
	height: 60px;
	cursor: pointer;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0, 0, 0, 0.4);
}

.modalBody {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 410px;
	text-align: center;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	transform: translateX(-50%) translateY(-50%);
	box-shadow: 0 5px 15px rgba(#000, .2);
}

.modalHeader {
	display: flex;
	padding: 7%;
	justify-content: center;
	background-color: #E7EFF3;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.upload-area {
	margin: 5% auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	color: black;
	font-size: 18px;
	width: 90%;
}

.upload-name {
	display: inline-block;
	padding: 3%;
	vertical-align: middle;
	border: 1px solid #dddddd;
	width: 60%;
	color: black;
}

.upload-area label {
	display: inline-block;
	padding: 3% 5%;
	color: black;
	background-color: #E7EFF3;
	cursor: pointer;
	font-size: 15px;
	border-radius: 10px;
}

.upload-area input[type="file"] {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
	border: 0;
}

.modal-footer {
	padding: 2%;
	display: flex;
	justify-content: flex-end;
}

.aplyBtn, .closeModalBtn {
	padding: 3% 7%;
	font-weight: bold;
	border-radius: 10px;
	color: #FFF;
	background-color: #0E5881;
	margin: 0 2%;
	border: 0;
	font-size: 15px;
}

#file-upload-button {
	padding: 3% 7%;
	font-weight: 500;
	border-radius: 10px;
	color: #FFF;
	background-color: #0E5881;
	margin: 0 2%;
	border: 0;
}

#fileInput {
	color: black;
	padding: 2% 0;
}

.noClass {
	border-style: solid;
	border-color: #0E5881;
	padding: 5%;
	font-size: 17px;
	margin-top: 16px;
}

.noClass p {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}

.viewClass {
	width: 20%;
	position: fixed;
	right: 4%;
	top: 20%;
	margin: 30px 0;
	padding: 2%;
}

.viewClass li {
	border-style: solid;
	border-color: #0E5881;
	padding: 5%;
	font-size: 17px;
	margin-bottom: 2%;
}

.viewClass a {
	background: #0E5881;
	color: white;
	padding: 4%;
	margin-top: 10px;
	font-size: 15px;
	border-radius: 10px;
	text-decoration-line: none;
	font-weight: bold;
}

.viewClass img {
	height: 50px;
	width: 220px;
	margin-bottom: 5%;
	margin-top: 3%;
}

.viewClass h2 {
	margin: 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 1% 5%;
}

.viewClass span {
	color: red;
	font-size: 15px;
}

.modal button {
	cursor: pointer;
}