.inquiry-table table {
	border-style: none;
	padding: 0 2%;
}

.inquiry-table .inquiryRow {
	display: flex;
	justify-content: space-between;
	border-style: none;
	width: 100%;
	align-items: center;
	height: 5%;
	border-bottom: 1.5px solid #E7EFF3;
}

.inquiry-table thead {
	display: flex;
	justify-content: space-between;
	border-style: none;
	background: #E7EFF3;
	padding: 0.5% 0;
	color: #0E5881;
	border-bottom: 2px solid #0E5881;
}

.inquiry-table thead td {
	font-size: 18px;
	font-weight: bold;
	padding: 0.5% 0;
}

.inquiry-table tbody td {
	padding: 1% 0;
}

.inquiry-table tbody {
	display: flex;
	flex-direction: column;
	border-style: none;
}

.inquiry-table td:nth-child(1) {
	width: 12%;
	text-align: center;
}

.inquiry-table td:nth-child(2) {
	width: 50%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.inquiry-table td:nth-child(3) {
	width: 5%;
	text-align: center;
}

.inquiry-table td:nth-child(4) {
	width: 15%;
	text-align: center;
}

.inquiry-table td:nth-child(5) {
	width: 5%;
	text-align: center;
}

.inquiry-table td:nth-child(6) {
	width: 13%;
	text-align: center;
}

a, .searchBtn, .openformBtn {
	cursor: pointer;
}

.search {
	display: flex;
	background: #E7EFF3;
	padding: 1% 5%;
	align-items: center;
	justify-content: space-between;
}

.subsearch {
	display: flex;
	justify-content: space-between;
	margin: 2% 0;
	align-items: center;
}

.subsearch h3 {
	margin: 0;
}

input {
	padding: 10px;
	border: 0;
	font-size: 15px;
	font-weight: bold;
	border-radius: 5px;
}

input::placeholder {
	color: #B5B6BA;
}

.searchBtn {
	background: #0E5881;
	color: white;
	padding: 9px 2%;
	margin-left: 2%;
}

.searchform {
	width: 100%;
	display: flex;
	justify-content: center;
}

.searchInput {
	width: 50%;
}

.paging {
	width: 90%;
	margin: auto;
	margin-top: 1%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.paging i {
	font-size: 15px;
	border: black;
}

.pages span {
	margin: 5px 10px;
	font-size: 22px;
	border: black;
	padding: 5px 12px;
	font-weight: bold;
	cursor: pointer;
}

.pages {
	align-items: center;
	display: flex;
}

.active {
	background: #E7EFF3;
}

.openformBtn {
	background: #0E5881;
	color: white;
}

select {
	cursor: pointer;
}