.maincontent {
	width: 73%;
	padding: 0 5%;
}

.maincontent>div {
	width: 100%;
}

h3 {
	margin-top: 0;
	font-size: 20px;
}

input {
	padding: 10px;
	border-style: 1px;
	font-size: 15px;
	font-weight: bold;
	border-radius: 5px;
	width: 30%;
}

input::placeholder {
	color: #0E5881;
}

.resnText1, .resnText2 {
	width: 85%;
	color: black;
	padding: 3%;
	margin-bottom: 5%;
	height: 80px;
	border: solid 2px darkgray;
	border-radius: 10px;
	font-size: 15px;
	font-weight: 500;
}

.resnText1::placeholder, .resnText2::placeholder {
	color: black;
}

#checkPassword {
	background: #0E5881;
	color: white;
	padding: 10px 2%;
	border: 0;
	font-size: 15px;
	border-radius: 5px;
}

.hidden {
	display: none;
}

.modal1, .modal2, .modal3 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0, 0, 0, 0.4);
}

.show {
	display: block;
}

.modalBody {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 520px;
	text-align: center;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	transform: translateX(-50%) translateY(-50%);
	box-shadow: 0 5px 15px rgba(#000, .2);
}

.modalHeader {
	display: flex;
	padding: 7%;
	justify-content: center;
	background-color: #E7EFF3;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.upload-area {
	margin: 5% auto;
	padding: 13% 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	color: black;
	border-style: dashed;
	border-color: darkgray;
	font-size: 18px;
	width: 90%;
	border-radius: 10px;
}

.upload-name1, .upload-name2, .upload-name3 {
	display: inline-block;
	padding: 3%;
	vertical-align: middle;
	border: 1px solid #dddddd;
	width: 60%;
	color: black;
}

.upload-area label {
	display: inline-block;
	padding: 3% 5%;
	color: black;
	background-color: #E7EFF3;
	cursor: pointer;
	font-size: 15px;
	border-radius: 10px;
}

.upload-area input[type="file"] {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
	border: 0;
}

.modal-footer {
	padding: 2%;
	display: flex;
	justify-content: flex-end;
}

.aplyBtn, .closeModalBtn, .closeBtn, .submitBtn {
	padding: 2% 5%;
	font-weight: bold;
	border-radius: 10px;
	color: #FFF;
	background-color: #0E5881;
	margin: 0 2%;
	border: 0;
}

table {
	border-collapse: collapse;
	text-align: center;
	line-height: 1.5;
}

table thead th {
	padding: 12px 0;
	font-weight: bold;
	color: #0E5881;
	border-bottom: 2px solid #0E5881;
	font-size: 18px;
}

table tbody th {
	padding: 10px;
	font-weight: bold;
	border-bottom: 1px solid #E7EFF3;
	background: #E7EFF3;
}

table thead {
	background: #E7EFF3;
}

table tr {
	border-bottom: 1.5px solid #E7EFF3;
}

table td {
	padding: 10px;
	vertical-align: center;
	border-bottom: 1px solid #CFDEE6;
}

.infoTable th {
	width: 10%;
	border-right: 2px solid #CFDEE6;
}

.infoTable td {
	text-align: left;
	width: 40%;
	margin-left: 2%;
}

.infoTable tr {
	border-bottom: 1.5px solid #CFDEE6;
}

.infoTable input {
	border: inset;
	color: #0E5881;
}

.infoBtn {
	text-align: right;
	margin: 2% 0;
}

.infoBtn button {
	padding: 10px;
	border: 0;
	font-size: 15px;
	font-weight: bold;
	border-radius: 5px;
	background-color: #0E5881;
	color: white;
}

td button {
	padding: 7px;
	border: 0;
	font-size: 13px;
	font-weight: bold;
	border-radius: 5px;
	background-color: #0E5881;
	color: white;
	margin: 0 2%;
}

.applyTable td:nth-child(1) {
	width: 7%;
}

.applyTable td:nth-child(2) {
	width: 25%;
	text-align: left;
	font-weight: bold;
}

.applyTable td:nth-child(3) {
	width: 12%;
}

.applyTable td:nth-child(4) {
	width: 12%;
}

.applyTable td:nth-child(5) {
	width: 7%;
}

.applyTable td:nth-child(6) {
	width: 12%;
}

.applyTable td:nth-child(7) {
	width: 10%;
}

.applyTable td:nth-child(8) {
	width: 15%;
}

.rgstTable td:nth-child(1) {
	width: 7%;
}

.rgstTable td:nth-child(2) {
	width: 35%;
	text-align: left;
	font-weight: bold;
}

.rgstTable td:nth-child(3) {
	width: 18%;
}

.rgstTable td:nth-child(4) {
	width: 8%;
}

.rgstTable td:nth-child(5) {
	width: 8%;
}

.rgstTable td:nth-child(6) {
	width: 14%;
}

.wlogTable td:nth-child(1) {
	width: 7%;
}

.wlogTable td:nth-child(2) {
	width: 31%;
	text-align: left;
	font-weight: bold;
}

.wlogTable td:nth-child(3) {
	width: 12%;
}

.wlogTable td:nth-child(4) {
	width: 12%;
}

.wlogTable td:nth-child(5) {
	width: 13%;
}

.wlogTable td:nth-child(6) {
	width: 11%;
}

.wlogTable td:nth-child(7) {
	width: 17%;
}