.maincontent {
	width: 73%;
	padding: 0 5%;
}

.maincontent>div {
	width: 100%;
}

.listHead {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.listHead  p {
	font-weight: 500;
}

h3 {
	margin: 0;
	font-size: 20px;
}

input {
	padding: 10px;
	border-style: 1px;
	font-size: 15px;
	font-weight: bold;
	border-radius: 5px;
	width: 30%;
}

.infoTable select {
	padding: 8px;
	font-size: 16px;
	border: inset;
	color: #0E5881;
	border-radius: 5px;
}

.infoTable span {
	color: red;
	font-weight: bold;
	font-size: 14px;
}

input::placeholder {
	color: #0E5881;
}

#userPwd::placeholder {
	color: gray;
}

.resnText1, .resnText2 {
	width: 80%;
	color: black;
	padding: 3%;
	margin-bottom: 5%;
	height: 80px;
	border: solid 2px darkgray;
	border-radius: 10px;
	font-size: 15px;
	font-weight: 500;
	resize: none;
}

.resnText1::placeholder, .resnText2::placeholder {
	color: darkgray;
}

#checkPassword {
	background: #0E5881;
	color: white;
	padding: 10px 2%;
	border: 0;
	font-size: 15px;
	border-radius: 5px;
}

.hidden {
	display: none;
}

.modal1, .modal2, .modal3 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0, 0, 0, 0.4);
}

.show {
	display: block;
}

.modalBody {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 410px;
	text-align: center;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	transform: translateX(-50%) translateY(-50%);
	box-shadow: 0 5px 15px rgba(#000, .2);
}

.modalHeader {
	display: flex;
	padding: 7%;
	justify-content: center;
	background-color: #E7EFF3;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.upload-area {
	margin: 5% auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	color: black;
	font-size: 18px;
	width: 90%;
}

.upload-name1, .upload-name2, .upload-name3 {
	display: inline-block;
	padding: 3%;
	vertical-align: middle;
	border: 1px solid #dddddd;
	width: 60%;
	color: black;
}

.upload-area label {
	display: inline-block;
	padding: 3% 5%;
	color: black;
	background-color: #E7EFF3;
	cursor: pointer;
	font-size: 15px;
	border-radius: 10px;
}

.upload-area input[type="file"] {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
	border: 0;
}

.modal-footer {
	padding: 2%;
	display: flex;
	justify-content: flex-end;
}

button {
	cursor: pointer;
}

.aplyBtn, .closeModalBtn, .closeBtn, .submitBtn {
	padding: 3% 7%;
	font-weight: bold;
	border-radius: 10px;
	color: #FFF;
	background-color: #0E5881;
	margin: 0 2%;
	border: 0;
	font-size: 15px;
	cursor: pointer;
}

table {
	border-collapse: collapse;
	text-align: center;
	line-height: 1.5;
}

table thead th {
	padding: 12px 0;
	font-weight: bold;
	color: #0E5881;
	border-bottom: 2px solid #0E5881;
	font-size: 18px;
}

table tbody th {
	padding: 10px;
	font-weight: bold;
	border-bottom: 1px solid #E7EFF3;
	background: #E7EFF3;
}

table thead {
	background: #E7EFF3;
}

table tr {
	border-bottom: 1.5px solid #E7EFF3;
}

table td {
	padding: 10px;
	vertical-align: center;
	border-bottom: 1px solid #CFDEE6;
}

.infoTable th {
	width: 9%;
	border-right: 2px solid #CFDEE6;
	text-align: left;
	padding-left: 3%;
	height: 45px;
}

.infoTable td {
	text-align: left;
	width: 40%;
	margin-left: 2%;
	padding-left: 2%;
}

.infoTable tr {
	border-bottom: 1.5px solid #CFDEE6;
}

.infoTable input {
	border: inset;
	color: #0E5881;
}

.infoBtn {
	text-align: right;
	margin: 2% 0;
}

.infoBtn button {
	padding: 10px;
	border: 0;
	font-size: 15px;
	font-weight: bold;
	border-radius: 5px;
	background-color: #0E5881;
	color: white;
}

td button {
	padding: 7px;
	border: 0;
	font-size: 13px;
	font-weight: bold;
	border-radius: 5px;
	background-color: #0E5881;
	color: white;
	margin: 0 2%;
}

.cancel, .drop {
	background-color: #F1A77E;
}

.toggleReplyButton {
	padding: 7px;
	border: 0;
	font-size: 13px;
	font-weight: bold;
	border-radius: 5px;
	background-color: #0E5881;
	color: white;
	margin: 0 2%;
	width: 60%;
	cursor: pointer;
}

.applyTable td:nth-child(1) {
	width: 7%;
}

.applyTable td:nth-child(2) {
	width: 25%;
	text-align: left;
	font-weight: bold;
}

.applyTable td:nth-child(3) {
	width: 12%;
}

.applyTable td:nth-child(4) {
	width: 12%;
}

.applyTable td:nth-child(5) {
	width: 7%;
}

.applyTable td:nth-child(6) {
	width: 12%;
}

.applyTable td:nth-child(7) {
	width: 10%;
}

.applyTable td:nth-child(8) {
	width: 15%;
}

.rgstTable td:nth-child(1) {
	width: 7%;
}

.rgstTable td:nth-child(2) {
	width: 45%;
	text-align: left;
	font-weight: bold;
}

.rgstTable td:nth-child(3) {
	width: 18%;
}

.rgstTable td:nth-child(4) {
	width: 10%;
}

.rgstTable td:nth-child(5) {
	width: 10%;
}

.rgstTable td:nth-child(6) {
	width: 10%;
}

.wlogTable td:nth-child(1) {
	width: 7%;
}

.wlogTable td:nth-child(2) {
	width: 31%;
	text-align: left;
	font-weight: bold;
}

.wlogTable td:nth-child(3) {
	width: 12%;
}

.wlogTable td:nth-child(4) {
	width: 12%;
}

.wlogTable td:nth-child(5) {
	width: 13%;
}

.wlogTable td:nth-child(6) {
	width: 11%;
}

.wlogTable td:nth-child(7) {
	width: 14%;
}

.postTable td:nth-child(1) {
	width: 7%;
}

.postTable td:nth-child(2) {
	width: 52%;
	text-align: left;
	font-weight: bold;
}

.postTable td:nth-child(3) {
	width: 15%;
}

.postTable td:nth-child(4) {
	width: 13%;
}

.postTable td:nth-child(5) {
	width: 13%;
}

.postTable th:nth-child(1) {
	width: 7%;
}

.postTable th:nth-child(2) {
	width: 52%;
	font-weight: bold;
}

.postTable th:nth-child(3) {
	width: 15%;
}

.postTable th:nth-child(4) {
	width: 13%;
}

.postTable th:nth-child(5) {
	width: 13%;
}

.reply {
	list-style: none;
	border: #0E5881;
	border-style: solid;
	background: #F3F6F8;
	padding: 0;
	text-align: left;
	padding: 1%;
	border-top: 0;
}

.reply li {
	padding: 1%;
}

.reply li:not(:first-child) {
	border-top: 1px solid black;
}

.reply span {
	padding-left: 2%;
}

.paging {
	width: 90%;
	margin: auto;
	margin-top: 1%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.paging i {
	font-size: 15px;
	border: black;
}

.pages span {
	margin: 5px 10px;
	font-size: 22px;
	border: black;
	padding: 5px 12px;
	font-weight: bold;
	cursor: pointer;
}

.pages {
	align-items: center;
	display: flex;
}

.paging .active {
	background: #E7EFF3;
}