table {
	border-collapse: collapse;
	width: 95%;
}

table a {
	width: fit-content;
}

th, td {
	/* border: 2px solid #9FBCCD; */
	border: 2px solid #9FBCCD;
	border-collapse: collapse;
	padding: 1.5% 0;
}

table tr {
	/* border-bottom: 2px solid #9FBCCD; */
	
}

table td {
	font-weight: bold;
	padding: 4px 1%;
}

table th {
	background-color: #E7EFF3;
	width: 115px;
}

.content {
	align-items: center;
	flex-wrap: wrap;
	margin: 5% auto;
	border-color: black;
	text-align: center;
	width: 90%;
}

.postFile {
	display: flex;
	flex-direction: column;
	align-items: center;
}

ul {
	text-align: center;
	list-style-type: none;
	padding: 0;
}

.postFile li {
	padding-bottom: 2%;
}

.postFile img {
	width: 600px;
}

.btn {
	text-align: center;
	display: flex;
	justify-content: space-evenly;
}

.back, .openModalBtn{
	background: #0E5881;
	color: white;
	margin: 8px 0;
	border: 0;
	font-size: 15px;
	font-weight: bold;
	border-radius: 10px;
	cursor: pointer;
	width: 25%;
}

.update, .delete {
	background: #0E5881;
	color: white;
	padding: 0.7%;
	margin: 8px 0;
	border: 0;
	font-size: 15px;
	font-weight: bold;
	border-radius: 10px;
	cursor: pointer;
}

.delete {
	background: #F1A77E;
}

.moveTopBtn {
	padding: 0;
	background: white;
	border-style: none;
	height: 60px;
	cursor: pointer;
}

.upload-area {
	margin: 5% auto;
	border: none;
	padding: 20% 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	color: darkgray;
	border-style: dashed;
	border-color: black;
	font-size: 18px;
	width: 90%;
}

.aplyBtn, .closeModalBtn {
	padding: 3% 7%;
	font-weight: 500;
	border-radius: 10px;
	color: #FFF;
	background-color: #0E5881;
	margin: 0 2%;
}

pre {
	white-space: pre-wrap;
}

.reply pre {
	display: flex;
}

.reply td {
	text-align: left;
}

.reply th, .reply td {
	border: 0;
}

.reply span {
	padding-left: 5%;
}

.replyTable li {
	border-bottom: 2px solid #9FBCCD;
	padding: 1% 0;
}

.rgstBtn {
	width: 95%;
	display: flex;
	justify-content: flex-end;
}