.home-section {
	position: relative;
	background: #ffffff;
	min-height: 100vh;
	top: 0;
	left: 60px;
	width: calc(100% - 60px);
	transition: all 0.5s ease;
	z-index: 2;
}

.sidebar.open ~ .home-section {
	left: 250px;
	width: calc(100% - 250px);
}

.home-section .title {
	display: inline-block;
	color: #11101d;
	font-size: 25px;
	font-weight: bold;
	margin: 18px
}

.content_wrap {
	margin: 18px;
}