.home-section {
	position: relative;
	background: #ffffff;
	min-height: 100vh;
	top: 0;
	left: 60px;
	width: calc(100% - 60px);
	transition: all 0.5s ease;
	z-index: 2;
}

.sidebar.open ~ .home-section {
	left: 250px;
	width: calc(100% - 250px);
}

.home-section .title {
	display: inline-block;
	color: #11101d;
	font-size: 50px;
	font-weight: bold;
	margin: 20px;
	padding: 20px;
}

.content_wrap {
	width:90%;
	margin-left: 18px;
	padding-left: 20px;
}

/* 여기까지는 공통 */

.search_filter_icon_img {
	width:30px;
}
.search_filter_wrap{
	width:100%;
}
.search_filter_wrap .search_filter_table_wrap{
	width:100%;
}

.search_filter_table{
	width: 100%;
	font-weight: bold;
	text-align : center;
	border: 1px solid;
	border-collapse: collapse;
}

.search_filter_table tr td {
	font-size: 20px;
	border: 1px solid;
}