.maintext {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
	color: #0E5881;
	text-align: center;
	font-size: 20px;
}

.maintext h3 {
	color: #6E9BB3;
	font-size: 18px;
}

body {
	margin: 0px;
}

.container {
	margin-top: 100px;
}

.content {
	display: flex;
	padding-left: 7%;
	padding-right: 7%;
	justify-content: space-around;
}

.con {
	background: #E7EFF3;
	padding: 4%;
}

h2 {
	text-align: center;
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 4%;
}

table {
	width: 100%;
}

table a {
	text-decoration: none;
	color: #0E5881;
	font-weight: bold;
}

table a:hover {
	text-decoration: underline;
}

hr {
	border: 0px;
	border-top: 5px solid #0E5881;
}

table td {
	font-size: 16px;
	padding: 2px 0px;
	font-weight: bold;
	margin: 0px;
}

.login {
	text-align: center;
}

.login a {
	color: #0E5881;
	margin: 5px 0px;
}

.login input {
	padding: 15px;
	margin: 5px 0;
	border: 0;
	width: 60%;
	font-size: 20px;
	font-weight: bold;
}

.loginBtn {
	background: #0E5881;
	margin-top: 2px;
}

.my {
	display: flex;
	justify-content: space-evenly;
}

.box {
	width: 30%;
	padding: 2%;
	border-style: solid;
}