.home-section {
	position: relative;
	background: #ECF0F5;
	min-height: 100vh;
	top: 0;
	left: 60px;
	width: calc(100% - 60px);
	transition: all 0.5s ease;
	z-index: 2;
}

.sidebar.open ~ .home-section {
	left: 250px;
	width: calc(100% - 250px);
}

.home-section .title {
	display: inline-block;
	color: #333333;
	font-size: 30px;
	font-weight: bold;
	margin: 40px;
}

.content_wrap {
	width: 95%;
	margin-left: 40px;
}

/* 여기까지는 공통 */

form {
	padding: 0 40px 0 40px;
}
table {
	background: white;
    border-collapse : collapse;
}

table tr {
	height: 40px;
	border-bottom: 1px solid gray;
}

table tr *{
	height: 40px;
}

table th {
	background: #CFDEE6;
}

textarea {
	width: 1471px;
    height: 149px;
}