<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/manager_header_2 :: header}">
	<meta charset="UTF-8">
</head>
<head>
	<link th:href="@{/css/manager/manager_class_list.css}" rel="stylesheet">
</head>
<body>
	<!-- 서브바 부분 -->
	<div th:replace="~{/include/manager_subbar_2 :: subbar}"></div>
	<!-- End 서브바 -->

	<!-- 컨텐츠 부분 -->
	<div class="home-section">
		<!-- title -->
		<div class="title" th:text="${title}">Title</div>

		<!-- content wrap-->
		<div class="content_wrap">
			<!-- 검색 필터 부분 -->
			<div class="search_filter_wrap">
				<div class="search_filter_inner_wrap">
					<div id="search_by_name_wrap">
						<span>
							<label class="search_condition_name" th:text="이름"></label>
							<input type="text" id="search_by_name">
						</span>
					</div>
					<div id="search_by_status_wrap">
						<span>
							<label class="search_condition_name">교육과정 상태</label>
						</span>
						<ul class="search_filter_list">
							<li>
								<span class="chk_all_span">
									<label th:text="전체" class="chk_all_label"></label>
									<input type="checkbox" checked="checked" id="chkAll">
								</span>
							</li>
							<li th:each="classCodeName:${classCodeNameList}">
								<label th:text="${classCodeName.cmcdNm}"></label>
								<input type="checkbox" checked="checked" th:value="${classCodeName.cmcdId}" name="chk">
							</li>
						</ul>
					</div>
					<div class="search_btn_wrap">
						<input type="button" id="search_reset_btn" value="초기화" onclick="search()">
						<input type="button" id="search_by_name_btn" value="검색" onclick="search()">
					</div>
				</div>
			</div>
			<!-- End 검색 필터 부분 -->

			<!-- 컨텐츠 리스트 부분 -->
			<div class="content_list">
				<table id="class_list_table" class="content_list_table">
					<thead class="class_list_table_thead">
						<tr class="content_list_th">
							<th>번호</th>
							<th>프로그램명</th>
							<th>
								교육 시작 ~ 교육 종료
							</th>
							<th>교육 장소</th>
							<th>수강/정원</th>
							<th>교육상태</th>
						</tr>
					</thead>
					<tbody class="class_list_table_tbody">
						<tr id="class_list" th:each="class:${classList}" class="class_list_table_row">
							<td th:text="${classStat.count}">row number</td>
							<td class="variable_length_cell"><a th:text="${class.clssNm}" th:href="@{/manager/class/__${class.clssId}__}"></a></td>
							<td th:text="|${class.clssStartDd} ~ ${class.clssEndDd}|">
							<td class="variable_length_cell" th:text="${class.clssAdr}">class address</td>
							<td><a th:text="${class.rgstCnt}" th:href="@{/manager/student?classId=__${class.clssId}__}"></a><span th:text="|/${class.limitCnt}|"></span></td>
							<td class="variable_length_cell" th:text="${class.clssCd}">status</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- END : content wrap-->
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="/js/manager/class_list.js"></script>
</body>
</html>