<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/manager_header :: header}">
	<meta charset="UTF-8">
</head>
<head>
	<link th:href="@{/css/manager/manager_class_list.css}" rel="stylesheet">
</head>
<body>
	<!-- 서브바 부분 -->
	<div th:replace="~{/include/manager_subbar_2 :: subbar}"></div>
	<!-- End 서브바 -->

	<!-- 컨텐츠 부분 -->
	<div class="home-section">
		<!-- title -->
		<div class="title" th:text="${title}">Title</div>

		<!-- content wrap-->
		<div class="content_wrap">
			<!-- 검색 필터 부분 -->
			<div class="search_filter_wrap">
				<span>교육과정 상태</span>
				<ul class="search_filter_list">
					<li><span> <label th:text="전체"></label><input
							type="checkbox" checked="checked" id="chkAll"></span></li>
					<li th:each="classCodeName:${classCodeNameList}"><label
						th:text="${classCodeName.cmcdNm}"></label> <input type="checkbox"
						checked="checked" th:value="${classCodeName.cmcdId}" name="chk">
					</li>
				</ul>
			</div>
			<!-- End 검색 필터 부분 -->

			<!-- 컨텐츠 리스트 부분 -->
			<div class="content_list">
				<table id="class_list_table" class="content_list_table">
					<thead class="class_list_table_thead">
						<tr class="content_list_th">
							<th>번호</th>
							<th>프로그램명</th>
							<th>교육기간</th>
							<th>교육 장소</th>
							<th>수강/정원</th>
							<th>교육상태</th>
						</tr>
					</thead>
					<tbody class="class_list_table_tbody">
						<tr id="class_list" th:each="class:${classList}">
							<td th:text="${classStat.count}">row number</td>
							<td><a th:text="${class.clssNm}" th:href="@{/manager/class/__${class.clssId}__}"></a></td>
							<td th:text="|${class.clssStartDd} ~ ${class.clssEndDd}|">
							<td th:text="${class.clssAdr}">class address</td>
							<td><a th:text="${class.rgstCnt}" th:href="@{/manager/student?classId=__${class.clssId}__}"></a><span th:text="|/ ${class.limitCnt}|"></span></td>
							<td th:text="${class.clssCd}">status</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- END : content wrap-->
	</div>

	<script>
		//현재 체크된 체크박스 목록을 반환
		
		//목록 >>> "전체"를 제외한 체크박스 중 하나를 선택할 때, 모든 체크박스가 선택된게 아니라면 전체를 해제
		//또는 모든 체크박스가 선택될 경우 전체를 체크
		
		$(document).ready(function () {
			const chkAll = $("#chkAll");
			const chkList = $("input[name=chk]");
			const storedValue = sessionStorage.getItem('key');
			// "전체" 체크박스의 상태에 따라 나머지 체크박스의 상태를 변경
			chkAll.on("change", function () {
				const isChecked = chkAll.prop("checked");
				chkList.prop("checked", isChecked);
			});
			//개별 체크박스가 변경될 때 "전체" 체크박스 상태 업데이트
			chkList.on("change", function () {
				const allChecked = chkList.filter(":checked").length === chkList.length;
				chkAll.prop("checked", allChecked);
			});

			const chkedList = getCheckedItems();
			
			//현재 체크된 목록을 반환
			function getCheckedItems() {
				const checkedItems = [];
				chkList.each(function () {
					if ($(this).prop("checked")) {
						checkedItems.push($(this).val());
					}
				});
				return checkedItems;
			}
			
			//체크된 목록을 받아 ajax로 class list 반환
			function fetchClassList(getCheckedItems) {
				const checkedItems = [];
				chkList.each(function () {
					if ($(this).prop("checked")) {
						checkedItems.push($(this).val());
					}
				});
				return checkedItems;
			}
			
			//체크박스가 변경되면 해당 값에 해당하는 교육 목록을 반환
			chkList.on("change", fetchClassList(getCheckedItems));
			chkAll.on("change", fetchClassList(getCheckedItems));
			
		});
		
	</script>
</body>
</html>