<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/manager_header_2 :: header}">
<meta charset="UTF-8">
</head>
<head>
<link th:href="@{/css/manager/manager_student_list.css}" rel="stylesheet" />
<link th:href="@{/css/manager/alert_box.css}" rel="stylesheet" />
</head>
<body>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/manager/alert_box.js"></script>
<script src="/js/manager/student_list.js"></script>
</body>
</html>