<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/manager_header :: header}">
<meta charset="UTF-8">
<title>Manager Student List</title>
<link th:href="@{/css/managerClassList.css}" rel="stylesheet" />
</head>
<head>
<link th:href="@{/css/manager_post_list.css}" rel="stylesheet">
</head>
<body>
	<!-- 서브바 부분 -->
	<div th:replace="~{/include/manager_subbar_2 :: subbar}"></div>
	<!-- End 서브바 -->

	<!-- 컨텐츠 부분 -->
	<div class="home-section">
		<!-- title -->
		<div class="title" th:text="|${title} : ${thisClassName}|">Title</div>

		<!-- content wrap-->
		<div class="content_wrap">
			<!-- 검색 필터 부분 -->
			<div class="search_filter_wrap">
				<!-- 아이콘 삽임 부분 -->
<!-- 				<div class="search_filter_icon"> -->
<!-- 					<img class="search_filter_icon_img" th:src="@{/img/filter.png}"> -->
<!-- 				</div> -->
				<!-- 아이콘 삽임 부분 -->
				<!-- 검색 필터 테이블 -->
				<div class="search_filter_table_wrap">
					<table class="search_filter_table" style="width: 100%;">
						<tr>
							<td style="width: 10%;">교육과정명</td>
							<td style="width: 30%;"><select id="classId"><option th:each="className:${classNameList}" th:text="${className.clssNm}" th:value="${className.clssId}"></option></select></td>
							<td style="width: 10%;">상태</td>
							<td style="width: 50%;"><span th:each="classCodeName:${classCodeNameList}"> <input type="checkbox" checked="checked" th:value="${classCodeName.cmcdId}"> <label th:text="${classCodeName.cmcdNm}"></label></span></td> <!-- regexp로 접근 -->
						</tr>
						<tr>
							<td style="width: 5%;">학생 상태</td>
							<td style="width: 30%;"><span th:each="stdtCodeName:${stdtCodeNameList}"> <input type="checkbox" checked="checked" th:value="${stdtCodeName.cmcdNm}"> <label th:text="${stdtCodeName.cmcdNm}"></label></span></td><!-- regexp로 접근 -->
							<td style="width: 10%;">기간</td>
							<td style="width: 55%;"><input type="date" id="startDate"><span>~</span><input type="date" id="endDate"></td>
						</tr>

					</table>
					<!-- 검색 버튼 -->
				</div>
				<div class="search_filter_btn_wrap">
					<button class="search_filter_btn" th:id="searchButton" onclick="search()">검색</button>
				</div>
			</div>
			<!-- End 검색 버튼 -->
			<span th:text="|${stdtCnt} 명|"></span> <span
				th:each="cmptCodeName:${cmptCodeNameList}"><button
					th:value="${cmptCodeName.cmcdId}" th:text="${cmptCodeName.cmcdNm}"></button></span>
			<table>
				<tr>
					<th><input type="checkbox"></th>
					<th>번호</th>
					<th>이름</th>
					<th th:each="wlogCodeName:${wlogCodeNameList}" th:text="${wlogCodeName.cmcdNm}"></th>
					<th>성별</th>
					<th>생년월일</th>
					<th>이메일</th>
					<th>연락처</th>
					<th>이수여부</th>
				</tr>
				<tr th:each="stdt:${stdtList}">
					<td><input type="checkbox"></td>
					<td th:text="${stdtStat.count}"></td>
					<td th:text="${stdt.stdtNm}"></td>
					<td th:each="wlogCodeName:${wlogCodeNameList}" th:text="${#strings.substring(#strings.setSplit(stdt.wlogCnt,',')[wlogCodeNameStat.count-1],10,)}">?</td>
					<td th:text="${stdt.genderCd}">성별</td>
					<td th:text="${stdt.birthDd}">생년월일</td>
					<td th:text="${stdt.userEmail}">이메일</td>
					<td th:text="|${#strings.substring(stdt.stdtTel,0,3)}-${#strings.substring(stdt.stdtTel,3,7)}-${#strings.substring(stdt.stdtTel,7,)}|">연락처</td>
					<td th:text="${stdt.jobCd}">이수여부</td>
				</tr>
			</table>
			<!-- End 검색 필터 부분 -->
		</div>
	</div>

<script>
/*숫자 값을 00 형식으로 맞춰줌*/
function leftPad(value) {if (value >= 10) {return value;}return `0${value}`;}
/*날짜 넣으면 YYYY-MM-DD로 반환해주며, 2번째 인자로 delimiter 지정 가능*/
/* 예시 >>> toStringByFormatting(new Date(2021, 0, 1)); */
function toStringByFormatting(source, delimiter = '-') {const year = source.getFullYear();const month = leftPad(source.getMonth()+1);const day = leftPad(source.getDate());return [year, month, day].join(delimiter);}

const url = window.location.search;//현재 창의 주소값
const urlParams = url.searchParams;//url에서 파라미터만 가져옴
var classId = document.getElementById("classId").value;//classId 파라미터
var startDate = document.getElementById("startDate").value;//startDate 파라미터
var endDate = document.getElementById("startDate").value;//endDate 파라미터
var date = new Date();
if (startDate == ""){
	startDate = toStringByFormatting(new Date(date.getFullYear(), date.getMonth(), 1));
}
if (endDate == ""){
	endDate = toStringByFormatting(new Date(date.getFullYear(), date.getMonth() + 1, 0));
}
var endDate = document.getElementById("endDate").value;
const searchButton = document.getElementById("searchButton");
//		window.location.href = "/manager/student?startDate=" + startDate + "&endDate=" + endDate+ "&classId=" + classId;
searchButton.addEventListener('click', ()=> {
	console.log("clicked");
	console.log("/manager/student?startDate=" + startDate + "&endDate=" + endDate+ "&classId=" + classId);
})

function search() {
	var classId = document.getElementById("classId");
	var startDate = document.getElementById("startDate");
	var endDate = document.getElementById("endDate");
	$.ajax({
		url: '/manager/student/search', // 서버의 엔드포인트 URL
		method: 'GET',
		/*data: { classId<<컨트롤러: classId<<우리가 보내는거})*/
		data: { classId: classId//,startDate:startDate,endDate:endDate
			},
		success: function(response) {
			$('#search_option').html(response);
			var studentList = response.student;
		}
	});
}

</script>

</body>
</html>