<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/manager_header :: header}">
<meta charset="UTF-8">
</head>
<head>
	<link th:href="@{/css/manager/manager_wlog_list.css}" rel="stylesheet" />
</head>
<body>
	<!-- 서브바 부분 -->
	<div th:replace="~{/include/manager_subbar_2 :: subbar}"></div>
	<!-- End 서브바 -->

	<!-- 컨텐츠 부분 -->
	<div class="home-section">
		<!-- title -->
		<div class="title_wrap">
			<span class="title" th:text="${title}"></span><br>
		</div>

		<!-- content wrap-->
		<div class="content_wrap">
			<div class="search_filter_wrap">
				<!-- 검색 필터 테이블 -->
				<div class="search_filter_table_wrap">
					<table class="search_filter_table">
						<tr class="search_filter_table_row">
							<td class="search_filter_name">교육과정명</td>
							<td class="search_filter_input">
								<select id="classId">
									<option value="" disabled selected>교육과정명을 선택하세요</option>
									<option th:each="class:${classList}" th:text="${class.clssNm}" th:value="${class}" />
								</select>
							</td>
							<td class="search_filter_name">기간</td>
							<td class="search_filter_input"><input type="date" id="startDate"><span> ~ </span><input type="date" id="endDate"></td>
						</tr>
						<tr class="search_filter_table_row">
							<td class="search_filter_name">교육생 이름</td>
							<td class="search_filter_input">
								<input type="text" id="search_stdt_name">
							</td>
							<td class="search_filter_name">출석 상태</td>
							<td class="search_filter_input">
								<span>전체</span><input type="checkbox" id="chkAll">
								<span th:each="wlogCd:${wlogCdList}"><span th:text="${wlogCd.cmcdNm}"></span><input type="checkbox" class="chkWokCd" th:value="${wlogCd.cmcdId}"></span>
								<span>삭제</span><input type="checkbox" id="isDelete">
							</td>
						</tr>
						<tr class="search_filter_table_row">
							<td class="search_filter_name"></td>
							<td class="search_filter_input">
							</td>
							<td class="search_filter_name">사유서 포함</td>
							<td class="search_filter_input">
								<input type="checkbox" id="fileContainedOnly">
							</td>
						</tr>
					</table>
				</div>

				<!-- 검색 버튼 -->
				<div class="search_filter_btn_wrap">
					<button class="search_filter_btn" th:id="searchButton" onclick="search()">검색</button>
				</div>
				<!-- End : 검색 버튼 -->
			</div>
			<!-- End : 검색 필터 테이블-->

			<!-- table 시작 -->
			<table id="wlog_list_table">
				<thead id="wlog_list_thead">
					<tr class="wlog_list_thead_row">
						<th>번호</th>
						<th>이름</th>
						<th>출근</th>
						<th>퇴근</th>
						<th>출석 인정 시간</th>
						<th>출석 상태</th>
						<th>삭제 여부</th>
						<th>사유서</th>
						<th>처리 상태</th>
					</tr>
				</thead>
				<tbody class="wlog_list_tbody">
					<tr th:each="wlog:${wlogList}" class="wlog_list_tbody_row">
						<td th:text="${wlogStat.count}">번호</td>
						<td th:text="${wlog.stdtId}">이름</td>
						<td th:text="${wlog.inTm}">출근 기록</td>
						<td th:text="${wlog.outTm}">퇴근 기록</td>
						<td th:text="${#numbers.formatDecimal(wlog.wlogTotalTm, 1, 1) + ' h'}">출석 인정 시간</td>
						<td th:text="${wlog.wlogCd}">출석 상태</td>
						<td th:text="${wlog.deleteYn}">삭제 여부</td>
						<td><img class="resn_icon" th:if="${wlog.resnId!=null}" onclick="showModal()" th:value="${wlog.resnId}" src="/img/file.png"></td>
						<td th:text="${wlog.deleteYn}">처리 상태</td>
					</tr>
				</tbody>
			</table>
			<!-- End : table 시작-->
		</div>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- <script src="/js/manager/student_list.js"></script> -->
</html>