<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/manager_header_2 :: header}">
<meta charset="UTF-8">
</head>
<head>
	<link th:href="@{/css/manager/manager_wlog_list.css}" rel="stylesheet" />
	<link th:href="@{/css/manager/alert_box.css}" rel="stylesheet" />
	<link th:href="@{/css/manager/modal_style.css}" rel="stylesheet" />
</head>
<body>

<!-- 서브바 부분 -->
<div th:replace="~{/include/manager_subbar_2 :: subbar}"></div>
<!-- End 서브바 -->

<!-- 얼럴트 -->
<div class="look_at_me">
	<span class="read_this">이봐!</span>
</div>
<!-- End : 얼럴트 -->

<!-- 컨텐츠 부분 -->
<div class="home-section">
	<!-- title -->
	<div class="title_wrap">
		<span class="title" th:text="${title}"></span>
		<br>
		<div style="display: none;">
<!-- 		<div class="검색조건저장"> -->
			<input id="class_id_save" type="text">
			<input id="start_date_save" type="text" th:value="${thisClass.clssId!=null?thisClass.clssStartDd:null}">
			<input id="end_date_save" type="text" th:value="${thisClass.clssId!=null?thisClass.clssEndDd:null}">
			<input id="keyword_save" type="text">
			<input type="checkbox" class="chk_wok_save" th:value="${wlogCd.cmcdId}" th:name="${wlogCd.cmcdId}" th:each="wlogCd:${wlogCdList}" checked="checked">
			<input type="checkbox" class="resn_only_save">
		</div>
	</div>

	<!-- content wrap-->
	<div class="content_wrap">
		<div class="search_filter_wrap">
			<!-- 검색 필터 테이블 -->
			<div class="search_filter_table">
				<div class="search_filter_name">교육과정</div>
				<div class="search_filter_input">
					<select id="select_year">
						<option th:text="전체" th:value=null/>
						<option th:each="year:${yearList}" th:text="${year}" th:value="${year}"/>
					</select>
				</div>
				<div class="search_filter_input">
					<select id="class_selector">
						<option value="" selected>교육과정을 선택하세요</option>
						<option th:each="class:${classList}" th:text="${class.clssNm}" th:value="${class}" />
					</select>
				</div>
				<div class="search_filter_name">기간</div>
				<div class="search_filter_input_date">
					<div class="input_date">
						<input type="date" id="startDate" min="1980-01-01"><span> ~ </span><input type="date" id="endDate" min="1980-01-01">
					</div>
					<div class="input_date_radio">
						<span>이번 달</span>
						<input type="radio" name="default_period" id="this_month" value="thisMonth">
						<span>이번 주</span>
						<input type="radio" name="default_period" id="this_week" value="thisWeek">
						<span>시작~종료</span>
						<input type="radio" name="default_period" id="this_class_period" value="thisClassPeriod">
					</div>
				</div>
				<div class="search_filter_name">검색어</div>
				<div class="search_filter_input">
					<input type="text" id="search_keyword" placeholder="이름 또는 이메일">
				</div>
				<div class="search_filter_name">출석 상태</div>
				<div class="search_filter_input">
					<span>전체</span>
					<input type="checkbox" id="chkAll" checked="checked">
					<div th:each="wlogCd:${wlogCdList}">
						<span th:text="${wlogCd.cmcdNm}"></span>
						<input type="checkbox" class="chkWokCd" th:value="${wlogCd.cmcdId}" checked="checked">
					</div>
				</div>
				<div class="search_filter_name">사유서</div>
				<div class="search_filter_input">
					<input type="checkbox" id="fileContainedOnly">
				</div>
			</div>
			<!-- 검색 버튼 -->
			<div class="search_btn_wrap">
				<button id="search_reset_btn" onclick="reset()"><img th:src="@{/img/reset_white.png}"><span>초기화</span></button>
				<button id="search_by_name_btn" onclick="search()"><img th:src="@{/img/search_white.png}"><span>검색</span></button>
			</div>
			<!-- End : 검색 버튼 -->
		</div>

		<!-- End : 검색 필터 테이블-->
		
		<!-- 테이블 조작 -->
		<div class="table_controller" id="tableController">
			<div class="result_count">
				<span>총&nbsp;</span>
				<span th:text="${wlogCnt}" id="wlogCnt"></span>
				<span>&nbsp;건</span>
			</div>
			<div class="wlog_update_buttons">
				<div th:each="wlogCd:${wlogCdList}" class="wlog_controller">
					<button onclick="updateWlogCode(this)" th:value="${wlogCd.cmcdId}" th:text="${wlogCd.cmcdNm}" class="wlog_btn"></button>
				</div>
				<div class="wlog_controller">
					<button onclick="deleteWlogCode()" class="delete_btn"><img src="/img/minus_white.png">선택 삭제</button>
				</div>
			</div>
		</div>
		<!-- End : 테이블 조작 -->
		
		<!-- table 시작 -->
		<table id="wlog_list_table">
			<thead id="wlog_list_thead">
				<tr class="wlog_list_thead_row">
					<th><input type="checkbox" id="chk_all_wlog"></th>
					<th>번호</th>
					<th>이름</th>
					<th>이메일</th>
					<th>교육과정</th>
					<th>출근</th>
					<th>퇴근</th>
					<th>출석 인정 시간(h)</th>
					<th>출석 상태</th><!-- 셀렉박스 -->
					<th>사유서</th>
					<th>처리 상태</th><!-- 사유서 모달에서 변경함 -->
				</tr>
			</thead>
			
			<tbody id="wlog_list_tbody">
				<tr th:each="wlog:${wlogList}" class="wlog_list_tbody_row">
					<td class="fixed_length_cell"> <input type="checkbox" class="chk_wlog" th:value="${wlog.wlogId}"> </td>
					<td class="fixed_length_cell" th:text="${wlogStat.count}">번호</td>
					<td class="fixed_length_cell" th:text="${wlog.stdtNm}">이름</td>
					<td class="variable_length_cell" th:text="${wlog.userEmail}">이메일</td>
					<td class="variable_length_cell" th:text="${wlog.clssNm}">교육과정</td>
					<td class="fixed_length_cell" th:text="${wlog.inTm!=null?#dates.format(wlog.inTm,'yyyy-MM-dd HH:mm:ss'):'-'}">출근 기록</td>
					<td class="fixed_length_cell" th:text="${wlog.outTm!=null?#dates.format(wlog.outTm,'yyyy-MM-dd HH:mm:ss'):'-'}">퇴근 기록</td>
					<td class="number_cell" th:text="${#numbers.formatDecimal(wlog.wlogTotalTm, 1, 1)}">출석 인정 시간</td>
					<td class="fixed_length_cell" th:text="${wlog.wlogCd}">출석 상태</td>
					<td class="fixed_length_cell"><img class="resn_icon" th:if="${wlog.resnId!=null}" onclick="showModal(this)" th:value="${wlog.resnId}" src="/img/file.png"></td>
					<td class="fixed_length_cell" id="prcs_cd" th:text="${wlog.prcsCd}" th:value="${wlog.resnCd}">처리 상태</td>
				</tr>
			</tbody>
		</table>
		<!-- End : table 시작-->
	</div>
</div>
<!-- 사유서 조회 모달 -->
<div class="resn_modal_wrap">
	<div class="resn_modal">
		<div class="modal_close_wrap">
			<img src="/img/x_white.png" onclick="closeModal()">
		</div>
		<div class="wlog_info">
			<table>
				<tr>
					<th>이름</th>
						<td id="modal_name">이름</td>
					<th>이메일</th>
						<td id="modal_email">이메일</td>
					<th>사유서 처리 상태</th>
						<td id="modal_prcs_name">사유서 처리 상태</td>
				</tr>
				<tr>
					<th>출근</th>
						<td id="modal_in_time">출근</td>
					<th>퇴근</th>
						<td id="modal_out_time">퇴근</td>
					<th>출석 상태</th>
						<td id="modal_wlog_cd">출석 상태</td>
				</tr>
			</table>
		</div>
		
		<div class="resn_content">
			<div class="resn_file_list_wrap">
				<ul class="resn_file_list">
					<li class="resn_file_link">
				</ul>
			</div>
			<div class="resn_text">
				사유서 내용
			</div>
		</div>
		
		<div class="resn_controller">
			<input type="button" value="버튼 영역">
		</div>
	</div>
</div>
<!-- End : 사유서 조회 모달 -->


</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/manager/alert_box.js"></script>
<script src="/js/manager/wlog_list.js"></script>
</html>